/* ============================= */
/* ! Clases para version Mobile   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {


/*Vista 1*/
.hiddenn{
	display:none;
}

.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

.barranav nav ul{
	display:block;
}


#ul-menu .on-mob{

    color: #0E97C3;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.barranav nav ul li.loginuser.ccback{
	display:none;
}

.barranav nav ul li a:hover, .select {
	background: none repeat scroll 0 0 #0E97C3;
	border-radius:0;
	color: white;
	display: block;
	font: 12px arial;
	padding: 10px 0;
	text-decoration: none;
}

.header-format{
	background: #050505;
}

.barranav nav ul li.loginuser p.usrnamefrm{
    border-radius: 0 0 0 0;
    border-right: none;
    color: #0098CA;
    display: block;
    float: right;
    font: 12px arial;
    padding: 0 10px;
}

.correo input.subm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#e57d4a 0%,
		#dc4d10);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e57d4a),
		to(#dc4d10));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ce4109;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	width: 35%;
	margin:10px auto 0;
	display:block;
}

.correo input {
	background: none repeat scroll 0 0 #F2F2F2;
	border: 1px solid #DDDDDD;
	margin: 0;
	max-width: none;
	min-width: 190px;
	padding: 5px 0;
	width: 100%;
}	

.correo label{
	color: #666666;
	display: none;
	float: left;
	font: 12px arial;
	margin: 10px 5px;
	width: 120px;
}

.tabla-precio ul li {
	font: 12px arial;
}

.compra-blq h2 {
	font-size: 13px;
}

.compra-blq h3.descripcion-prod {
	color: black;
	display: block;
	font: bold 15px arial;
	height: 55px;
	max-height: 110px;
	padding: 3px 0 0;
	width: 100%;
}

.tabla-precio ul li img {
	border: 1px solid;
	float: left;
	margin: 5px;
	padding: 1px;
	display:none;
}

.container .fila1 img {
	border: 1px solid;
	float: left;
	margin: 5px;
	padding: 1px;
	display:block;
}

.contendor-img p.titulo-tabla{
	display:none;
}

/*tabla*/	
.tabla-precio ul li.fila2 {
    width: 100%;
}

.tabla-precio ul li p.titulo-tabla {
    border: medium none;
    float: left;
    margin: 0 10px;
    text-align: right;
    width: 140px;	
	line-height: 20px;
	padding: 0 10px 0 0;
	border-right:1px solid #DDDDDD;
}

.tabla-precio ul li.fila2 input {
    border: 1px solid #CCCCCC;
    display: block;
    width: 15%;
	min-width: 60px;
	padding: 3px 5px;
	margin: 0;
}

.tabla-precio ul li p.centertext {
    text-align: left;
}

.tabla-precio ul li.fila3 {
    width: 100%;
}

.tabla-precio ul li.fila4 {
    width: 100%;
}

.fila4 p.centertext {
    color: black;
    font: bold 24px arial;
}

.ahorro-blq{
	display:none;
}

footer .bottom_nav li a {
    font-size: 11px;
}

footer .bottom_nav li {
    font: 11px arial;
}

.fila4 p.centertext span {
    font: 16px arial;
    vertical-align: middle;
}

.fila3 .centertext{
font-size: 17px;
}

.tabla-precio ul li.fila2 p.titulo-tabla{
padding-bottom: 40px;
}

/*FIN Vista 1 mobile*/

/*Vista 2 mobile*/
#vista2 .correo label{
	color: #666666;
	display: block;
	float: left;
	font: 12px arial;
	margin: 0px 5px;
	width: 150px;
}

#vista2 .correo input {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #DDDDDD;
    float: left;
    margin: 10px 5px;
    padding: 4px 10px;
    width: 90%;
}

#vista2 section .continuar{
    width: 60%;
}

#vista2 section article.checks {
    padding: 20px 0;
}

#vista2 section.sec-cheks{
	margin:0;
}

#vista2 .correo label.email{
    clear: none;
    width: 30px;
}

#vista2 .correo label {
    clear: both;
    color: #666666;
    display: block;
    float: left;
    font: 12px arial;
    margin: 0 5px;
    width: 150px;
}

#vista2 .ing-blq label.mailingresado {
    clear: none ;
    color: #414141;
    font-weight: bold ;
    margin: 0 0 20px 10px ;
    width: 50%;
}

/*FIN Vista 2 mobile*/

/*Vista 3 mobile*/
#vista3 .correo label {
    display: block;
    float: none;
    line-height: 0;
    text-align: left;
    width: 100%;
}

#vista3 .correo input {
    margin: 10px 5px;
    width: 100%;
}

#vista3 section .continuar{
    display: block;
    float: right;
    margin: 17px 0 17px 17px;
    padding: 10px 0;
    width: 40%;
}

#vista3 a.lost {
    margin: 0;
}

#vista3 p.ingresacorreo {
    font: 12px arial;
    text-align: left;
}

#vista3 .correo .emailmob {
    clear: none;
    display: inline;
    float: none;
    width: auto;
}

#vista3 .correo label.mailingresado {
    color: #414141;
    display: inline;
    float: none;
    font-weight: bold;
    margin: 11px 5px 0 6px;
    width: 235px;
}

#vista3 .correo label {
    display: block;
    float: left;
    line-height: 10px;
    text-align: left;
    width: 100%;
}

#vista3 .correo input {
    margin: 10px 0;
    width: 100%;
}

/*Vista 4*/
#vista4 .tarjetas ul li {
    color: #777777;
    float: left;
    list-style: none outside none;
    margin: 5px;
    width: 100%;
	height:auto;
}

#vista4 .tarjetas label {
    width: 300px;
}

#vista4 .tarjetas label.itm-1, #vista4 .tarjetas label.itm-2, #vista4 .tarjetas label.itm-3, #vista4 .tarjetas label.itm-4, #vista4 .tarjetas label.itm-5, #vista4 .tarjetas label.itm-6{
	width: auto;
}

#vista4 input.finalizarcompra {
    display: block;
    float: none;
    margin: 0 auto 20px;
}

}/* fin de IF */

/* ========================================== */
/* ! Clases para version iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
