body {
	font-family: Arial, sans-serif;
}
/*CLASES COMUNES*/

.back-white{
    background: none repeat scroll 0 0 white;
    margin: 10px auto 0;
}

.color-black{
color:black;
}

span{
color:#ff6400;
}
span a{/*ibazan*/
color:#ff6400;
}

.bor-r{
	background: url("../img/bg-br.jpg") repeat-y scroll right 0 transparent;
}

.bor-l{
	background: url("../img/bg-br.jpg") repeat-y scroll left 0 transparent;
}

.bor-bot{
border-bottom:1px solid #ddd;
}

/*BOTONES*/

.btn-orange, #orange_btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 20px;
        background: repeat 0 0 transparent url("/img/theme_clean/dynamic/bg_orange.gif");	
        background: -moz-linear-gradient(top,  #e57d4a 0%, #e37642 8%, #dc5014 92%, #dd5216 96%, #e57d50 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e57d4a), color-stop(8%,#e37642), color-stop(92%,#dc5014), color-stop(96%,#dd5216), color-stop(100%,#e57d50)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* W3C */
		
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ce4109;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	cursor:pointer;
}

/* FORMULARIO */
.check-st{

}

/* ============================== */
/* ! Clases para version desktop   */
/* ============================== */

body {
	background: url("/img/theme_clean/dynamic/BG.png") repeat scroll 20px 20px transparent;
}

.header-format{
background: none repeat scroll 0 0 #050505;
border-bottom: 4px solid #0E97C3;
}

.footer-format{
background: none repeat scroll 0 0 #D9D9D9;
border-top: 3px solid #A4A5A7;
height: 120px;
margin: 62px 0 0;
}

header{
color:red;
}

header .logo a{
display: block;
padding: 15px 10px 0;
}

header .row .logo{
	float: left;
}


.barranav nav ul#ul-menu{
position:relative;
}


.barranav nav ul li{
	display: block;
	float: left;
	margin: 40px 1px 0;
	min-width: 115px;
	text-align: center;
	width: 16%;
}

.barranav nav ul li.loginuser{
    float: right;
    margin: 50px 0 5px;
    width: 160px;
    /*display: inline;*/
}

.barranav nav ul li.loginuser a{
    border-radius: 0 0 0 0;
    color: #0098CA;
    display: block;
    float: right;
    padding: 0 10px;
}

.barranav nav ul li.loginuser p.usrnamefrm{
    border-radius: 0 0 0 0;
    border-right: 1px solid;
    color: #0098CA;
    display: block;
    float: right;
    font: 12px arial;
    padding: 0 10px;
}

.barranav nav ul li.loginuser a:hover{
    border-radius: 0 0 0 0;
    color: #0098CA;
    display: block;
    float: right;
    padding: 0 10px;
	background:none;
	text-decoration:underline;
}

#ul-menu .on-mob{
display:none;
}

.barranav nav ul li a{
	color: white;
	display: block;
	font: 12px arial;
	padding: 10px 0;
	text-decoration: none;
}	

.barranav nav ul li a:hover , .select{
	background: none repeat scroll 0 0 #0E97C3;
	border-radius: 5px 5px 0 0;
	color: white;
	display: block;
	font: 12px arial;
	padding: 10px 0;
	text-decoration: none;
}	

.compra-blq h2{
	background: #22292a; /* Old browsers */
background: -moz-linear-gradient(top,  #22292a 0%, #121212 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22292a), color-stop(100%,#121212)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #22292a 0%,#121212 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #22292a 0%,#121212 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #22292a 0%,#121212 100%); /* IE10+ */
background: linear-gradient(to bottom,  #22292a 0%,#121212 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22292a', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
	
	
	color: white;
	font-size: 15px;
	font-weight: normal;
	padding: 12px 15px;
}

/* tabla precios*/
.tabla-precio ul{
	padding: 20px;
}

.tabla-precio ul li{
	display: block;
	float: left;
	font: 14px arial;
	margin: 0 0;
	width: 33.3%;
}

.tabla-precio ul li p{
	color: #777777;
	height: 40px;
	line-height: normal;
}

.tabla-precio ul li p.titulo-tabla{
	border-bottom: 1px solid #DDDDDD;
	margin: 10px 0;
	text-align: center;
}	

.tabla-precio ul li img{
	border: 1px solid;
	float: left;
	margin: 5px;
	padding: 1px;
}	

/*filas*/
.tabla-precio ul li.fila1{
	width: 50%;
}

.compra-blq  h3.descripcion-prod{
	color: black;
	display: block;
	font: bold 12px arial;
	height: 75px;
	max-height: 110px;
	vertical-align: middle;
	width: 100%;
}

.tabla-precio ul li.fila2{
	width: 20%;
}

.tabla-precio ul li.fila2 input{
	border: 1px solid #CCCCCC;
	display: block;
	margin: 0;
	width: 80%;
}

.tabla-precio ul li.fila3{
	width: 40%;
}

.tabla-precio ul li.fila4{
	width: 40%;
}		
	
.tabla-precio ul li p.centertext{
	text-align:center;
}

.tabla-precio ul li p.minmax{
    float: left;
    font: 11px arial;
    height: auto;
    margin: 3px 0;
    min-width: 100px;
    text-align: left;
}
	
.correo label{
	color: #666666;
	display: block;
	float: left;
	font: 12px arial;
	margin: 10px 0px;
	width: 120px;
}

.correo input{
	background: none repeat scroll 0 0 #F2F2F2;
	border: 1px solid #DDDDDD;
	margin: 0 5px;
	padding: 4px 10px;
	width: 30%;
}

.correo input.subm{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 20px;
	background: repeat 0 0 transparent url("/img/theme_clean/dynamic/bg_orange.gif");
        background: -moz-linear-gradient(top,  #e57d4a 0%, #e37642 8%, #dc5014 92%, #dd5216 96%, #e57d50 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e57d4a), color-stop(8%,#e37642), color-stop(92%,#dc5014), color-stop(96%,#dd5216), color-stop(100%,#e57d50)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e57d4a 0%,#e37642 8%,#dc5014 92%,#dd5216 96%,#e57d50 100%); /* W3C */
                
		
		
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ce4109;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	width: 20%;
	cursor: pointer;
}

p.ingresacorreo{
	color: #666666;
	font: 17px arial;
	padding: 10px 0px;
}

p.ingresacorreo a{
	color: #FF6400;
	text-decoration: none;
}

.correo {
	display: block;
	width: 100%;
}

.container .faceb{
	background: none repeat scroll 0 0 #EEEEEE;
	margin: 5%;
	width: 90%;
}

.container .faceb p{
	color: #777777;
	font: 13px arial;
	padding: 10px;
	text-align: center;
}

.container .faceb a{
	color: #3458A2;
	text-decoration: none;
}

.ing-blq{
	margin: 5%;
	width: 90%;
}	

.ing-blq label.mailingresado{
    color: #777777;
    font-weight: bold;
    margin: 10px 0 20px 5px;
    width: 95% !important;
}	

#vista3 .correo label.mailingresado{
    color: #777777;
    float: right;
    font-weight: bold;
    margin: 11px 5px 0 6px;
    width: 235px;
    text-align:left;
}
#vista3 .correo p{
    display:inline;
}	

#vista3 .correo label.mailingresado a{
    color: #1D5CCD;
    font: 12px arial;
    margin: 0 0 0 0;
    text-align: right;
    text-decoration: none;
}

.container .fila1 img {
	border: 1px solid #ccc;
	display: block;
	float: left;
        margin: 0 10px 5px 0;
	padding: 1px;
}	

.container .fila1 .titulo-tabla{
	border-bottom: 1px solid #DDDDDD;
	color: #777777;
	font: 14px arial;
	margin:15px 0 10px;
	padding: 0 0 20px;
}

.contendor-img{
	padding: 18px;
}
	
.ahorro-blq{
	background: url("/img/theme_clean/dynamic/ahorro.png") no-repeat scroll center center transparent;
	float: right;
	height: 137px;
	margin: 20px;
	position: relative;
	width: 140px;
}

.ahorro-blq p{
	color: white;
	font: 14px arial;
	padding: 22px 0 0;
	text-align: center;
	text-shadow: 1px 1px 1px #777777;
}

.ahorro-blq span{
	bottom: 86px;
	color: white;
	font: 18px arial;
	position: absolute;
	right: 18px;
}

.ahorro-blq .precionum{
	font: bold 85px/76px arial;
	padding: 0;
	text-shadow: 1px 1px 1px black;
}

.tabla-precio ul li.fila2 p.titulo-tabla{
	text-align:left;
}

li.fila4 p.titulo-tabla{
	font: bold 13px arial;
}

.js-deal-total{
	color: black;
	font: bold 34px arial!important;
        vertical-align: baseline!important;
}

.fila4 p.centertext span{
	color: black;
	font: 15px arial;
	margin: 0 5px 0 0;
	padding: 0;
	vertical-align: super;
}

.faceb a.fb-link img{
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}



/* footer*/
footer{
	padding: 10px;
}

footer .bottom_nav {
	float: left;
	width: 100%;
}

footer .bottom_nav li {
	border-right: 1px solid #000000;
	float: left;
	font: 11px arial;
	list-style: none outside none;
	margin: 5px 0;
	padding: 0 5px;
	white-space: nowrap;
	width: auto;
}

footer .bottom_nav li a{
	color: black;
	text-decoration: none;
}

#footer .bottom_nav .last{border-right:none!important;}

#footer .center{margin-bottom: 0;}

footer .cl-logo{
	float:left;
}

footer .social_actions li {
	float: left;
	list-style: none outside none;
	margin: 0 2px;
}

/*Vista 2 Desktop*/
#vista2 .correo input {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #DDDDDD;
    float: left;
    margin: 10px 5px;
    padding: 4px 10px;
    width: 50%;
}
#vista2 .correo .inputmailingresado{
	display:none;
}
#regresar-prelogin{
	float:right;
	font: 11px arial;
}

#vista2 .correo label {
    width: 40%;
}

#vista2 section article.checks{
    color: #777777;
    font: 12px arial;
    margin: 0 50px;
    padding: 20px 30px;
}

#vista2 section article.checks input{
    float: left;
    margin: 5px;
}

#vista2 section article.checks label{
    display: block;
    padding: 0 0 0 25px;
}

#vista2 section .suscripto{
    border: 1px solid #F8BD95;
    margin: 10px;
    padding: 10px;
}

#vista2 section .suscripto p{
    color: #777777;
    font: 12px arial;
}

#vista2 section .continuar{
    display: block;
    margin: 0 auto 20px;
}

#vista2 section.sec-cheks{
	margin:30px 0 0 0;
}

#vista2 em{
    color: #FF8716;
    font: 18px arial;
}

#vista2 .correo label.mailingresado a{
    color: #1D5CCD;
    font: 12px arial;
    margin: 0 0 0 0;
    text-align: right;
    text-decoration: none;

}
#vista2 .correo label.mailingresado p{
	display:inline;
        float:left;
}


/*Vista 3 Desktop*/

#vista3 p.ingresacorreo {
    font: 12px arial;
	text-align: center;
}

#vista3 .correo label {
    display: block;
    line-height: 24px;
    margin: 11px 5px 0 0;
    text-align: right;
    width: 38%;
}

#vista3 section article.checks{
    color: #777777;
    font: 12px arial;
    margin: 0 50px;
    padding: 20px 30px;
}

#vista3 section article.checks input{
    float: left;
    margin: 5px;
}

#vista3 section article.checks label{
    display: block;
    padding: 0 0 0 25px;
}

#vista3 section .suscripto{
    border: 1px solid #F8BD95;
    margin: 10px;
    padding: 10px;
}

#vista3 section .suscripto p{
    color: #777777;
    font: 12px arial;
}

#vista3 section .continuar{
    display: block;
    float: right;
    margin: 17px;
}

#vista3 section.sec-cheks{
	margin:30px 0 0 0;
}

#vista3 em{
    color: #FF8716;
    font: 18px arial;
}

#vista3 .correo input {
    margin: 10px 5px;
    width: 100px;	
}

#vista3 a.lost{
    color: #1D5CCD;
    display: block;
    font: 12px arial;
    margin: 0 20px 0 0;
    text-align: right;
    text-decoration: none;
}

/*Vista 4*/
.blocked-wallet{
	text-align: center;
    float:left;
	width:100%;
	padding:10px;
	
}
.blocked-wallet span{
	color: #FF8716;
	font: bold 12px arial;
	padding: 5px;
	border:1px solid #FF8716;
	
}
#vista4 .tarjetas{
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin: 10px;
    padding: 20px 0;
}

#vista4 .tarjetas ul{
	float:left;
}

#vista4 .tarjetas ul li{
    float: left;
    list-style: none outside none;
    margin: 10px 0;
    height: 50px;	
    width: auto;
}

#vista4 .tarjetas input{
float: left;
}

#vista4 .tarjetas label{
    display: block;
    float: left;
    font: 12px arial;
    width: 210px;
    *height:0px!important;
}

#vista4 .tarjetas label.itm-1{
	width: 60px;
}

#vista4 .tarjetas label.itm-2{
	width: 30px;
}

#vista4 .tarjetas label.itm-3{
	width: 62px;
}

#vista4 .tarjetas label.itm-4{
	width: 48px;
}

#vista4 .tarjetas label.itm-5{
	width: 80px;
}

#vista4 .tarjetas label.itm-6{
	width: 120px;
}

#vista4 .tarjetas img{
    float: left;
    margin: 0 5px 13px;
}

#vista4 .tarjetas .paymentOptionSelect {
    display:none;
}

#vista4 p.medios{
    color: #FF6400;
    font: 20px arial;
    margin: 10px 0 0;
    padding: 16px;
}

#vista4 input.finalizarcompra{
    float: right;
    margin: 10px;
}

#vista4 a.regala{
	background: url("/img/theme_clean/dynamic/regala.jpg") no-repeat scroll 0 2px transparent;
    color: #399ECC;
    display: block;
    font: 14px arial;
    margin: 10px;
    padding: 8px 5px 8px 35px;
    text-decoration: none;
    width: 210px;
}
#msgerroremail{
	float: left !important;
}
.error-message{
	float: right !important;
	padding-right: 10px !important;
}
.error{
	background:none !important;
}


#cboxboton_cierre{
    position:absolute;
    top:0;
    right:0;
    background:url("/img/theme_clean/err-b.png") no-repeat;
    height:25px;
    width:25px;
    z-index:5;
    cursor:pointer;
    }
    
    #wallet-bonification-amount{color:#333; font-weight: bold;}