<div class="header-bg">
    <div class="container">
        <div class="row">
            <!-- <div class="logo pull-left"> -->
                <?php
	                    
                        //$logo_url =  $is_corporate_city && $is_deal_view ? 'theme_clean/exclusive/':'theme_clean/';
                        
                        // if (Configure::read ('Actual.city_is_group') == 0 && !$is_corporate_city)
                        // {
                        //    echo $html->link ($html->image ($logo_url.'logo.png', array ('alt' => '--CLUB CUPÓN.')), array ('controller' => 'deals', 'action' => 'index', 'admin' => false, 'plugin' => ''), array ('escape' => false, 'title' => 'CLUB CUPÓN.'));
                        //}
                        //else
                        //{
                        //    echo $html->link ($html->image ($logo_url.'logo.png', array ('alt' => '**CLUB CUPÓN.')), array ('controller' => 'deals', 'action' => 'index', 'admin' => false, 'city' => 'ciudad-de-buenos-aires', 'plugin' => ''), array ('escape' => false, 'title' => 'CLUB CUPÓN.'));
                        //}
                    ?>
            <!--</div>-->
            
            <div class="pull-right">
                <ul  id="login" style="margin-top: 20px;">
                    <?php if ($auth->sessionValid ()){ ?>
                        <li>
                               <a class="item-salir"><?php echo $auth->user('username');?></a>
                        </li> 
                    <?php }else{} ?>
                    	<li>
                        <?php
                            if (!empty($deal['City']['City']['slug'])){
                              $city_slug = $deal['City']['City']['slug']; //BuyPending
                            } else {
                              $city_slug = $city['City']['slug']; // Others
                            }
                            $cSlug = $this->params['named']['city'];
                            ?>
                            <a class="item-salir" href="/<?php echo $cSlug;?>">Volver a página principal</a>  
                    	</li>
                </ul>
            </div>
        </div>

    </div><!-- /CONTAINER -->
</div>


<script type="text/javascript">
    var ClickTaleSSL=1;
    if(typeof ClickTale=='function') ClickTale(162,0.12,"www14");
    $(document).ready(function() {

    });  //fin doc ready
</script>