<!-- TRANSACTION PAGE CODE -->
<!-- insert at top of page above <html> tag -->
<!-- Note: Replace $thm_org_id value with value from portal. -->
<?php
	Debugger::log('Desde el header, session id enviado a threat_metrix: '.$thm_session_id);
	$thm_org_id = 'vy1vlqeg';
	$thm_session_id = session_id();
	$_SESSION['thm_session'] = $thm_session_id;
	$_SESSION['thm_org_id'] = $thm_org_id; 
?>
<!-- Insert immediately after <head> tag -->

<?php $thm_params = "org_id=".$thm_org_id."&session_id=".$thm_session_id; //echo $thm_params; ?>

<p style="background:url(http://h.online-metrix.net/fp/clear.png?<?php echo $thm_params; ?>&m=1)"></p>
<img src="https://h.online-metrix.net/fp/clear.png?<?php echo $thm_params; ?>&m=2" width="1" height="1" alt="">

<script src="https://h.online-metrix.net/fp/check.js?<?php echo $thm_params; ?>" type="text/javascript"></script>

<object 
  type="application/x-shockwave-flash" 
  data="https://h.online-metrix.net/fp/fp.swf?<?php echo $thm_params; ?>" 
  width="1" 
  height="1"
  id="obj_id">
	<param name="movie" value="https://h.online-metrix.net/fp/fp.swf?<?php echo $thm_params; ?>" />
<div></div>
</object>