<script type="text/javascript">
    $(document).ready(function() {
           $(function() {
             setTimeout("$('#bac-form').submit();", 2000);
             //submitForm();
             //function submitForm(){
             //   $('#bac-form').submit();
             //} 
           });
    });
</script>
<form action="<?php echo Configure::read('BAC.crearPagoSeguro'); ?>" method="post" id="bac-form">
    <input type = "hidden" name = "ID_GATEWAY"        id="ID_GATEWAY"   value="<?php echo $bacInfo[0]['id_gateway']; ?>" />
    <input type = "hidden" name = "ID_PAGO"    id="ID_PAGO"  value = "<?php echo $bacInfo[0]['token']; ?>" />
    <input type = "hidden" name = "ID_PORTAL"      id="ID_PORTAL"   value = "<?php echo $bacInfo[0]['id_portal']; ?>" />
    <input type = "hidden" name = "SECURE_HASH" id="SECURE_HASH" value = "<?php echo $bacInfo[0]['secure_hash']; ?>" />
    <noscript>
    <input type="submit" value="Enviar" />
    </noscript>
</form>