<div class="companies form clearfix">
	<?php
		echo $form->create('Company', array('url' => array('action' => 'aprove')));
	?>
<div id="content" class="box">
  <div id="register">
    <div class="deal-side1">
      <div class="content-r clearfix">
   
       <?php echo $this->element('company_candidate_fields'); ?>

        
        <div class="submit-block">
			<input type="submit" name="SaveOption" value="Aprobar" class="form-submit" />
        </div>
        
        <?php echo $form->end(); ?>
</div>
</div>
</div>
</div>
	   
	   
    
        
</div>