	<section id="content">
			<h2 class="title_principal_bg">P&aacute;gina no encontrada <a href="/">Volver al inicio</a></h2>
			<section id="content">
				<div id="title_naranja">
					<p><span>Descubr&iacute;</span>las ofertas disponibles</p>
					<form action="/">
    					<input type="submit" value="Ver ofertas">	
					</form>
				</div>
				<img src="/img/web/clubcupon/pag_no_encontrada.jpg" alt="pagina no encontrada">
			</section>
	</section>