/**************************************************************************/
/*formato generico*/
/**************************************************************************/
a{
    color: #0098CA;
    font: 14px arial;
    text-decoration: none;
}

p{
    font: 14px arial;
}

h1{
    font: bold 19px arial;
    margin: 0 0 10px 10px;
}

h1 a {
    font: bold 17px arial;
    margin: 0 0 0 10px;
}

h1.h1-format{
    font: bold 30px arial;
}

h1.h1-format a{
    font: bold 30px arial;
    color: black;	
}

h2{
    font: 23px arial;
    margin: 10px 0;
    color: gray;	
}

h2 a{
    font: 23px arial;
    margin: 10px 0;
    color: gray;		
}

body{	font-family: arial,sans-serif;
        color:#333;
        font-size: 12px;
		background-color:#cccccc;
}



/***LISTADO PARA FACEBOOK***/

.columnaDerecha {
	background: white;
    padding:10px;
}

.headerListado {
	border-bottom:solid 3px #45a4d0;
	margin-bottom:10px;
}

.contentListFacebook {
	width:630px;
	margin:0 auto;
}

.bloqueOfertas {
	overflow:hidden;
	margin-bottom:10px;
	padding:5px;
	background-color:#E9E9E9;
	border:solid 1px #cfcfcf;
	border-radius:0 10px 0 0;
	-moz-border-radius:0 10px 0 0;
	-webkit-border-radius:0 10px 0 0;
	-html-border-radius:0 10px 0 0;
	-o-border-radius:0 10px 0 0;
}

.imgContent {
	border:solid 1px #cfcfcf;
	float:left;
	margin-right:5px;
}

.compraContent {
	float:left;
	width:200px;
	text-align:center;
	padding:20px 0;
	margin-right:5px;
	border-right:solid 1px #cfcfcf;
	overflow:hidden;
}


.beneficio {
	float:left;
	border-right:solid 1px #cfcfcf;
	text-align:center;
	padding:10px;
	width:80px;
}

.precio {
	padding:10px;
	float:left;
	width:60px;
}

.beneficio .precio, p {
	font-weight:bold;
}

.detalleContent {
	float:left;
	width:200px;
	padding:5px 0 0 5px;
}

.detalleContent p {
	font-size:12px;
	line-height:16px;
}

.textoDetalle {
	font-weight:normal;
	margin-top:10px;
	color:#3b3b3b;
	font-size:12px;
}

.detalleContent span {
	color:#54b7d7;
	text-shadow:1px 1px #ffffff;
	-moz-text-shadow:1px 1px #ffffff;
	-webkit-text-shadow:1px 1px #ffffff;
	-html-text-shadow:1px 1px #ffffff;
}

.botonComprar {
	color:#FFFFFF;
	font-weight:bold;
	background-color:#31a8d2;
	padding:5px 10px;
	clear:both;
	display:block;
	*margin:10px 0 0 0 !important;
	margin:60px auto 0 auto;
	width:80px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-html-border-radius:5px;
	-o-border-radius:5px;
	text-shadow:1px 2px #247a98;
	-moz-text-shadow:1px 2px #247a98;
	-webkit-text-shadow:1px 2px #247a98;
	-html-text-shadow:1px 2px #247a98;
}

.botonComprar:hover {
	background-color:#1ba1d0;
}

/***LISTADO PARA FACEBOOK***/

