                                                <tr>
                                                    <td colspan="2" bgcolor="#f2f2f2" style="padding:10px; border:solid 1px #cfcfcf;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="31%">
                                                                    <a target="_blank" href= "<?php echo $deal ['DEAL_LINK']; ?>">
                                                                        <img src = "<?php echo $deal ['DEAL_IMAGE']; ?>"  width = "201"  height = "130"  border = "0"  style="display:block"/>
                                                                    </a>
                                                                </td>

                                                                <td width="35%" style="border-right:solid 1px #cfcfcf; padding:10px;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <?php $cell_width = ($deal ['HIDE_PRICE'] || $deal ['ONLY_PRICE'] ? '100' : '50'); ?>
                                                                            <?php if ($deal ['ONLY_PRICE'] == 0) { ?>
                                                                                <td width="50%">
                                                                                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center; padding:0; margin:0; color:#3a3a3a;">
                                                                                        Beneficio <span style="font-size:16px; font-weight:bold; display:block"><?php echo $deal ['DISCOUNT']; ?></span>
                                                                                    </p>
                                                                                </td>
                                                                            <?php } ?>


                                                                            <td width="<?php echo $cell_width; ?>%" style=" border-left:solid 1px #cfcfcf;">
                                                                                <?php if ($deal ['HIDE_PRICE'] == 0) { ?>
                                                                                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center; padding:0; margin:0; color:#3a3a3a;">
                                                                                        Precio <span style="font-size:16px; font-weight:bold; display:block"><?php echo $deal ['BUY_PRICE']; ?></span>
                                                                                    </p>
                                                                                <?php } ?>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2" style="padding-top:10px;" align="center">
                                                                                <a target="_blank" href="<?php echo $deal ['DEAL_LINK']; ?>">
                                                                                    <img src="<?php echo $image_dir; ?>buttom.jpg" alt="" border="0" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="34%" style="vertical-align:top; padding:10px 5px 0 10px;">
                                                                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left; padding:0; margin:0; color:#3a3a3a;">
                                                                        
                                                                        <?php if ($deal ['HIDE_PRICE'] == 0) { ?>


                                                                            <?php if ($deal ['ONLY_PRICE'] == 0) { ?>

                                                                                <span style="color:#54b7d7; display:block; font-weight:bold;"><?php echo $deal ['BUY_PRICE']; ?> en vez de <?php echo $deal ['ORIGINAL_PRICE']; ?></span>

                                                                            <?php } else { ?>

                                                                                <span style="color:#54b7d7; display:block; font-weight:bold;">Pag&aacute; s&oacute;lo <?php echo $deal ['BUY_PRICE']; ?></span>

                                                                            <?php } ?>


                                                                        <?php } else {?>
                                                                                
                                                                                <span style="color:#54b7d7; display:block; font-weight:bold;">Beneficio del <?php echo $deal ['Deal']['discount_percentage'];?>% </span>

                                                                        <?php } ?>
                                                                                
                                                                        <br />por <?php echo myTruncate2($deal ['DEAL_NAME'],
                                                                        120); ?>
                                                                    </p>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
