/* 
    Document   : club-cupon
    Created on : 05/03/2013, 16:47:29
    Author     : jgarberi
    Description:
        Default CC Stylesheet
*/

html, body{
/*     background: url("/img/theme_clean/BG.png") repeat scroll 20px 20px transparent; */
    font-family: arial,sans-serif;
    color: #333;
    font-size: 12px;
    }

    a:hover{color:inherit!important; text-decoration:none!important;}
    
    .header-bg{
        background: #050505;
        border-bottom: 4px solid #45a4d0;
        height: 95px;
        width: 100%;
        margin-bottom: 10px;
        color:#fff;
        }
        .header-bg a{text-decoration: none!important; color:#45a4d0;}
        .header-bg a:hover{color:#45a4d0;}
        
        /* Logo */
        .header-bg .logo{ padding:20px 20px 0 20px; }
            
        /* Menu ppal */
        .header-bg .nav{ 
            margin-bottom:0;
            margin-top: -3px;
            margin-left: 3px;
            }
            
        .header-bg .nav-pills>.active>a, .header-bg .nav-pills>.active>a:hover{ background: #45a4d0; color:#fff!important;}
        .header-bg .nav-pills a:hover{ color:#45a4d0!important; height:16px;}
        .header-bg .nav-pills>li>a{border-radius:5px 5px 0 0; color:#fff;}
    
        /* Selector ciudades */
        .header-bg .select-city{ width:300px;}
            .header-bg .select-city p{
                color: gray;
                padding: 10px 0 0 10px;
                font: normal 14px Arial;
                margin:0;
                }
            .header-bg .select-city a{
                color: #FFFFFF;
                display: block;
                float: left;
                font: bold 18px Arial;
                margin: 1px 14px 0 4px;
                padding: 5px 34px 5px 5px;
                background: url("/img/theme_clean/arrow.png") no-repeat scroll right center transparent;
                border: 1px solid #222;
                }
            .header-bg .select-city a:hover{
                background-color: #444;
                border:1px solid #666;
                }
                
        /* suscribe linke */
        .header-bg .suscribe-link{ width:195px; padding-top: 35px;}
            .header-bg .suscribe-link .text{
                background: url("/img/theme_clean/mas.png") no-repeat scroll right center;
                font: 15px/19px Arial;
                padding-right: 25px;
                display: block;
                }
                
        /* User menu */
        .header-bg .user-menu{ width:280px; padding-top: 33px; color:#45a4d0; font-size:12px;}
            .header-bg .user-menu .nav {margin:0;}
                .header-bg .user-menu .nav-pills > li > a{ padding-top:2px; color:#45a4d0;}
                .header-bg .user-menu .nav li > a:hover{background:none;}
                .header-bg .user-menu .nav-tabs .open .dropdown-toggle, .header-bg .user-menu .nav-pills .open .dropdown-toggle, .header-bg .user-menu .nav>li.dropdown.open.active>a:hover{background:none;}
                .header-bg .user-menu .dropdown-menu{
                    color:#7A7676;
                    font-weight: bold;
                    width:200px;
                    text-align:right;
                    background: #fff;
                    border: 3px solid #0E97C3;
                    border-radius: 5px 5px 5px 5px;
                    box-shadow: 0 3px 8px #666666;
                    -webkit-box-shadow: 0 3px 8px #666666;
                    }
                    .header-bg .user-menu .dropdown-menu .balance{padding:3px 20px 3px 5px;}
                    .header-bg .user-menu .dropdown-menu li a {padding:10px;}
                        .header-bg .user-menu .nav li > a:hover{background: none;}
                        .header-bg .user-menu .dropdown-menu li > a{color:#45a4d0!important;}
                        .header-bg .user-menu .dropdown-menu li > a:hover{color:#7A7676!important; background: #EDEDED;}
                        .header-bg .user-menu .dropdown-menu li > .closeMenu:hover, .header-bg .user-menu .dropdown-menu li > .item-salir:hover{color:#fff!important; background: #0E97C3;}
/*                         .item-salir { */
/*                             background: none repeat scroll 0 0 white; */
/*                             border-bottom: 1px dashed #CCCCCC; */
/*                             } */
                            .header-bg .user-menu .nav li:first-child a {
                                color: gray!important;
                                font: bold 14px Arial;
                                text-align: right;
                            }
                            
                             a.menu-js {
                                background: url("/img/now/mas.png") no-repeat scroll right -1px transparent!important;
                                color: #0098CA;
                                display: block;
                                float: left;
                                font: 13px Arial!important;
                                margin: 37px 0 0;
                                padding-right: 25px!important;
                            }
                            
        /* Header widgets */
        .ingresa-tu-correo{
            background: #fff;
            border: 3px solid #da7d30;
            border-radius: 5px 5px 5px 5px;
            height: 90px;
            width: 490px;
            display: none;
            position: absolute;
            top: 57px;
            right: -154px;
            z-index: 1;
            }
                
            .ingresa-tu-correo span.sprite-mas{
                background: url("/img/theme_clean/sprite.png") no-repeat -2px -379px;
                display: block;
                height: 30px;
                position: absolute;
                right: 146px;
                top: -30px;
                width: 30px;
                cursor: pointer;
                }
                
                .ingresa-tu-correo form p {
                    color: gray;
                    float: left;
                    font: bold 14px arial;
                    margin: 8px 0;
                    text-align: center;
                    width: 100%;
                    }

                .ingresa-tu-correo form label {
                    display: block;
                    text-align: center;
                    }

                .ingresa-tu-correo form input.text {
                    border: 1px solid #CCC;
                    border-radius: 5px 0 0 5px;
                    -moz-border-radius: 5px 0 0 5px;
                    -webkit-border-radius: 5px 0 0 5px;
                    color: #656565;
                    font: bold 14px/33px arial;
                    height: 26px;
                    width: 250px;
                    background: none!important;
                    padding-right:0!important;
                    display:inline!important;
                    }

                .ingresa-tu-correo form input.submit {
                    background: url("/img/theme_clean/btn-bg4.png") repeat-x scroll 0 0 #00A2CF;
                    border: 1px solid #007DA0;
                    color: white;
                    cursor: pointer;
                    font: bold 14px arial;
                    padding: 8px 27px;
                    border: 1px solid #007DA0;
                    border-radius: 0 5px 5px 0;
                    margin-top:-10px;
                    }
                    
        /* slider atencion al cliente */            
        .jscontentmenu {
            background: none;
            display: block;
            height: 32px;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 30px;
            width: 245px;
            z-index: 1;
            }
            
            .item-desplegable {
                background: url("/img/theme_clean/ico-centro.png") no-repeat 15px 0 #DDD;
                border-radius: 5px 0 0 5px;
                position: absolute;
                right: -194px;
                top: 2px;
                width: 240px;
                height: 26px;
                }
                
                .item-desplegable span {
                    color: #777;
                    float: left;
                    margin: 2px 0px;
                    }
                    
                .item-desplegable a, .item-desplegable a:hover {
                    color: #666;
                    display: block;
                    font: bold 12px arial;
                    padding: 5px 5px 5px 50px;
                    text-decoration:none;
                    }
                    
        /* Desplegable ciudades */
        .desplegable {
            background: url("/img/theme_clean/menu-bg.png") repeat-x #dfdfdf;
            border: 1px solid #AEAEAE;
            display: none;
            position: relative;
            -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
            }
            
            .desplegable ul {
                color: #C1C1C1;
                font: bold 15px Arial;
                }
                
                .desplegable ul li {
                    margin: 20px 0;
                    text-align: center;
                    list-style: none;
                    }
                    
                    .desplegable ul li a {
                        font: bold 18px arial;
                        margin: 0 10px;
                        }
                        
                        .desplegable a.btn-cerrar {
                            display: block;
                            float: right;
                            font: 12px arial;
                            position: absolute;
                            right: 15px;
                            bottom: 10px;
                            }
                            
    /* Footer */
    .footer-bg{
        background:#D9D9D9;
        border-top: 3px solid #A4A5A7;
        margin: 80px 0 0;
        padding: 20px 0 0 0;
        }
    .footer-bg li{list-style: none;}
        .footer-bg .logo{ width:190px;}
        .footer-bg .logo-gc{ width:50px;}
        .footer-bg .menu{ width:480px;}
            .footer-bg .menu li{
                border-right: 1px solid #000;
                float: left;
                margin: 5px 0;
                padding: 0 5px;
                width: auto;
                font: 11px arial;
                }
                .footer-bg .menu li a{color:#333; text-decoration: none;}
        .footer-bg .afip{ width:62px;}
        .footer-bg .social{ width:160px;}
            .footer-bg .social li{ float: left; margin: 0 2px; }
        

            
        /* Recibi alertas */
        .recibi-alertas {
            background: #E9E9E9;
            border: 1px solid #9EC781;
            height: 45px;
            padding: 7px 0 0 0;
            margin:5px 0;
            }
            .recibi-alertas form {
                width: 600px;
                margin: 0 auto;
                }
                .recibi-alertas form p {
                    color: #7BB433;
                    float: left;
                    font: bold 17px arial;
                    text-align: center;
                    width: 210px;
                    }
                    .recibi-alertas form p span {
                        display: block;
                        font: bold 12px arial;
                        text-align: center;
                        }
                    .recibi-alertas form input.text {
                        color: gray;
                        font: bold 14px/33px arial;
                        height: 23px;
                        width: 250px;
                        text-indent: 10px;
                        }
                    .recibi-alertas form input.submit {
                        background: none repeat scroll 0 0 #2CA7D0;
                        border: 1px solid #2CA7D0;
                        border-radius: 5px 5px 5px 5px;
                        color: white;
                        cursor: pointer;
                        font: bold 14px arial;
                        padding: 5px;
                        width: 110px;
                        }

    /* Upper and lower secondary */
    /* refactor cuando sea posible*/
        .bloque-horizontal{
            margin: 0 0 10px 10px;
            }

        .bloque-horizontal h2{
            background: none repeat scroll 0 0 #F5F5F5;
            margin: 0;
            padding: 5px;
            }

        .bloque-horizontal h2 p{
            font: bold 20px arial;
            margin: 0;
            padding: 5px;
            display:inline;
            float:left;
            color: gray;
            }

         .bloque-horizontal h2 a{
            color: #0098CA;
            float: right;
            font: 14px arial;
            margin: 7px 0 0;
            padding: 5px;
            }

        .bloque-horizontal-contenido{
            background: none repeat scroll 0 0 white;
            padding: 15px 0 15px 5px;
            }

        .bloque-horizontal-contenido .bloque-h-interior{
            background: none repeat scroll 0 0 #E2E2E2;
            border: 1px solid #D6D6D6;
            box-shadow: 1px 3px 3px #DDDDDD;
            float: left;
            margin: 0 5px 13px;
            padding: 9px;
            width: 280px;
            }

        .bloque-horizontal-contenido .bloque-h-interior p.titulo, .bloque-h-interior a{
            color: #322525;
            font: bold 15px arial;
            margin: 5px 0;
            }

        .imagen-js {
            height: 183px;
            }

        .bloque_nombre_oferta {
            height: 55px;
            overflow: hidden;
            }


        .bloque-h-interior .modal {
            height: 182px;
            left: 0;
            margin: 10px 0;
            position: absolute;
            top: -193px;
            width: 278px;
            }

        .bloque-h-interior  .modal .titulo {
            color: #FFFFFF;
            font: bold 21px Arial;
            margin: 21px 0 10px 14px;
            }

        .bloque-h-interior  .modal .descripcion {
            color: #0098CA;
            font: bold 19px Arial;
            margin: 0 0 10px 10px;
            }

        .bloque-h-interior  .modal .btnVerMas {
            background-color: #0098CA;
            border-radius: 5px 5px 5px 5px;
            color: #FFFFFF;
            cursor: pointer;
            float: left;
            font: bold 16px/36px Arial;
            height: 37px;
            margin: 16px 0 0 14px;
            text-align: center;
            width: 136px;
            }

        .bloque-h-interior  .modal .btnVerMas a {
            color:#fff;
            font: bold 16px/36px Arial;
            }

        .bloque-h-interior  span {
            color: black!important;
            }

        .porcentaje {
            background: url("/img/theme_clean/fdobtnmas.png") no-repeat scroll 0 0 transparent;
            bottom: 5px;
            display: block;
            float: right;
            height: 85px;
            margin: 0 15px 0 0;
            position: absolute;
            right: 0;
            text-align: center;
            width: 84px;
            }

        .bloque-h-interior .modalFondo{
            background-color: #000000;
            height: 183px;
            left: 0;
            margin: 10px 0;
            opacity: 0.8;
            position: absolute;
            top: -193px;
            width: 277px;
            }
            
.detail{cursor:pointer;}
.pagination{text-align: center;}

.user-menu .dropdown-menu li > a{line-height:16px;}
.user-menu .dropdown-menu {padding: 0;}


/* Paging links not bootstrapped */
    #pagingLinks{
        margin:10px 0;
        }
        #pagingLinks li{
            list-style: none;
            display: inline;
            padding:5px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            }
            #pagingLinks li.prev, #pagingLinks li.next{
                border-left:1px solid #ccc;
                border-right:1px solid #ccc;
                }
            #pagingLinks li.prev{
                border-radius: 5px 0 0 5px;
                box-shadow: 0 1px 1px #DDD;
                }
            #pagingLinks li.next{
                border-radius: 0 5px 5px 0;
                box-shadow:1px 1px 1px #DDD;
                margin-left: -4px;
                }
            #pagingLinks li.numbers{
                padding:5px 0;
                box-shadow:0 1px 0 #DDD;
                
                }
                #pagingLinks li.numbers span a, #pagingLinks li.numbers span.current{
                    padding:5px 8px;
                    border-right: 1px solid #ccc;
                    }
                    
/* compatibildad con horrores anteriores de codigo */
.company-fixed-header .submit-block {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.btn-azul-d {
    background: url("/img/theme_clean/btn-bg-blue.jpg") repeat scroll 0 0;
    display: block;
    float: left;
/*     width: 87px; */
	margin: 0 0 20px;
    padding: 6px 15px;
	font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    opacity: 1;
    border: none;
}
.btn-azul-d:HOVER {
	opacity: 0.9;	
}
                    