/* 
    Document   : panel-vendedores
    Created on : 09/04/2013, 12:42:34
    Author     : jgarberi
    Description:
        Estilos especificos para el panel de vendedores
        
    modificacion: no turning back  
*/

/* LOADING...*/
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spin {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
    height: 28px;
    margin: -24px 0 0 108px;
    position: absolute;
    width: 28px;
    display: none;
}

/* Spin track (outer circle) */
.loading .track {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.3);
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid #5D85A0;
}

/* Spinning circle mask */
.loading .mask {  
  width: 12px;
  height: 12px;
  overflow: hidden;
}

/* Spinner */
.loading .spinner {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 26px;
  height: 26px;
  -webkit-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
/* END LOADING...*/

.cuerpo {
    background: #fff;
    padding: 16px 5px 5px 5px;
    min-height: 600px;
}

/* ::: ELEMENTS ::: */
.encabezado-empresa {
    background: #E7E7E7;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    margin-bottom: 5px;
}

.encabezado-empresa .logo {
    
}

.encabezado-empresa .validacion {
    padding-top: 20px;
}

.encabezado-empresa .datos {
    padding-top: 5px;
}

.nowLayoutBodyContour {
    border: 1px solid #DDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #DDD;
    margin: 0 5px 5px 5px;
    padding: 0 10px;
    font-size: 12px;
}

.nowLayoutBodyContour table {
    
}

.nowLayoutBodyContour table th {
    color: #777;
    font-weight: normal;
}

.nowLayoutBodyContour table td {
    background: #E8E6E7;
}

.cuerpo .table-hover tbody tr.detail:hover td {
    background: #FFEFBF !important;
}

/*            .detail tr:hover, td:hover {
                background:#B1CBDB;
            }*/
tr.detRow td#detCel {
    background: #628FAD !important;
}

.cuerpo .table-hover tbody tr.detRow td#detCelSub {
    background: #A1BDD1 !important;
}

/*.cuerpo .table-hover tbody tr.detRow:hover td,  .cuerpo .table-hover tbody tr.detRow:hover th {
                background:#FFF;
            }*/
.cuerpoBlank .table-hover tbody tr:hover td,.cuerpoBlank .table-hover tbody tr:hover th
    { /*background:#d1e4eb!important;*/
    
}

.detRow #detCel,.detRow #detCelSub {
    padding: 5px 50px 0px;
}

#detCel .nowLayoutBodyContour {
    margin: 0;
    background-color: #FFF;
}

#detCel .nowLayoutBodyContour .table,.detRow #detCel .nowLayoutBodyContour .table .th,.detRow #detCel .nowLayoutBodyContour .table .td
    { /*background-color: #FFF;*/
    
}

.table-hover tbody tr:hover td {
    background-color: #E8E6E7 !important;
}

.table-hover tbody tr:hover tr:nth-child(2n+1) td {
    background-color: #F9F9F9 !important;
}

.table-hover tbody tr:hover th {
    background-color: #FFF !important;
}

#liquidationsAlternativeMenu .nav {
    margin-bottom: 0;
    border-bottom: none;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 18px;
}

#liquidationsAlternativeMenu .nav .active a {
    font-weight: bold;
    color: #000 !important;
}

.company_liquidation_details .nav {
    margin: 10px 0 0 0;
}

.company_liquidation_details .nav-tabs {
    border-bottom: none;
}

.company_liquidation_details table {
    border-top: 1px solid #ccc;
}

.disabled {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: medium medium 0;
    color: #DDDDDD !important;
    display: block;
    font-weight: bold;
    padding: 9px 6px;
}

.dateColumn {
    width: 75px;
}

.closeButton {
    background: url('/img/icon-close2.png') no-repeat; 
    height: 27px;
    width: 28px;
    position: relative;
    float: right;
    right: -50px;
}

#list_liquidations .dealspaginador .prev, #list_liquidations .dealspaginador .next {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font: 12px arial;
    margin: 0 5px;
    padding: 7px 13px;
}

#list_liquidations .dealspaginador span {
    font: bold 13px arial;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font: 12px arial;
    margin: 0 5px;
    padding: 7px 13px;
}

#list_liquidations .dealspaginador {
    margin: 10px 0;
}

#list_liquidations .dealspaginador .pagborder{
    margin: 0 auto;
    width: 300px;
}
#list_liquidations .dealspaginador .current{
	border: medium none;
    font: bold 14px arial;
    padding: 6px 10px;
}
#list_liquidations .dealspaginador p{
    clear: both;
    color: gray;
    display: block;
    float: left;
    margin: 10px auto 15px;
    text-align: center;
    width: 100%;
}

#list_liquidations .dealspaginador p span{
    font: bold 13px arial;
	border: none;
	float: none;
	font: bold 13px arial;
	margin: 0;
	padding: 0;
}

/* rediseño abril 2014*/

#header {
    background: none repeat scroll 0 0 #050505;
/*     float: left; */
    height: 120px;
    width: 100%;
 /*   height: auto;*/
    padding: 6px 0 0;
}
    
#menu_top {
  background-color:#343535;
  clear:both;
  height:62px;
  /*margin-bottom:30px;*/
  /*margin-top: 45px;*/
  width:100%;
}
#menu_top > ul {
  margin:0 auto;
  position:relative;
  width:940px;
}
#menu_top > ul > li:first-child {
	/*border-left: medium none;*/
    padding-left: 0;
}


#menu_top > ul > li {
  border-left-color:#4D4E50;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#000000;
  border-right-style:solid;
  border-right-width:1px;
  display:inline-block;
  font-weight:lighter;
  margin:0 -2px;
  padding:20px 18px;
  text-align: center;
  width: 202px;
}
#menu_top > ul > li > a {
  color:#F2F2F2;
  text-decoration:none;
  	font-family: 'Roboto',sans-serif;
  	font-size: 16px;
}
#menu_top > ul > li a:hover,
#menu_top > ul > lu a.select {
	color: #fb921f !important;
}


ul.mi-cuenta{
    background: none repeat scroll 0 0 white;
    border:1px solid #C7C7C7;
    /*border: 3px solid #fb921f;*/
    border-radius: 5px 5px 5px 5px;
    /*left: 55px;*/
    position: absolute;
    /*top: 60px;*/
    z-index: 3;
    box-shadow: 0 3px 8px #666666;
    -webkit-box-shadow: 0 3px 8px #666666;
    -moz-box-shadow: 0 3px 8px #666666;
    display: none;	
    left: -25px;
    top: 40px;
    width: 190px;
}

ul.mi-cuenta li a, ul.mi-cuenta .balance{
    display: block;
    float: right;
    font: 12px arial;
    padding: 10px;
    text-align: right;
    width: 170px;
    COLOR:#454545;
    }

ul.mi-cuenta .balance{
	color: #7A7676;
	font-weight:bold;
}

ul.mi-cuenta li a:hover{
    background: none repeat scroll 0 0 #fb921f;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
}


ul.mi-cuenta li:first-child a{
    color: gray;
    font: bold 14px Arial;
    text-align: right;	
}

/*- salir -*/
ul.mi-cuenta a.item-salir{
    background: none repeat scroll 0 0 white;
    border-bottom: 1px dashed #CCCCCC;	
}

ul.mi-cuenta a.item-salir:hover{
    background: none repeat scroll 0 0 #0E97C3;
    color: white;	
}


.dropdown-toggle{
  color:#F2F2F2 !important;
  text-decoration:none;
}
.dropdown-toggle:hover,
{
	color: #fb921f !important;
}




ul#login {
	float: right;
/* 	margin-top: 23px; */
	display: inline-block;
	vertical-align: middle;
/* 	margin-top: 20px; */
	width: 230px;
	padding: 15px 0;
	margin: 0;
	text-align: right;
	font-size: 16px;
	font-family: 'Roboto',​sans-serif;
}
ul#login li{
	display: inline-block;
	font-size: 13px;
	color: #f2f2f2;
}
ul#login li a {
	text-decoration: none;
	color: #f2f2f2;
	vertical-align: middle;
}
ul#login li a:HOVER {
	color: #fb921f;
}

/* #login.logged { */
/* 	margin-top: 0; */
/* } */
ul#login.logged li {
	text-transform: none;
}
ul#login.logged li .loginEmail {
	display: inline-block;
	overflow: hidden;
	width: 180px;
	padding-right: 17px;
	text-align: right;
	line-height: 16px;
	vertical-align: middle;
}

.parent .flecha {
	position: absolute;
	display: none;
/* 	top: -24px; */
	padding: 0;
	border: medium none;
}
.flecha.top {
	right: -3%;
	bottom: -4px;
	z-index: 10;
}
.flecha.menu {
	right: 70%;
	bottom: 2px;
	z-index: 8;
}

.desplegable {
	background-color: #FFF;
    position: absolute;
	display: none;
	width: 882px;
	height: auto;
	padding: 25px;
    margin-left: auto;
    margin-right: auto;
	cursor: default;
	border: 1px solid #c7c7c7;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.desplegable.top {
    right: -97%;
    top: 36px;
    z-index: 9;
	height: 207px;
}

.desplegable.menu {
	top: 55px;
	left: 0;
	z-index: 7;
	height: 207px;
	text-align: left;
}

.desplegable .menu_final {
	margin-top: 22px;
}

.desplegable p {
	clear: both;
	margin-bottom: 10px;
	padding: 0 15px;
	font-size: 12px;
	color: #9b9b9b;
}
/* .desplegable ul { */
/* 	border-right: 1px solid #c7c7c7; */
/* } */
.desplegable.top ul {
	float: left;	
	width: 650px;
}
.desplegable.menu ul {
	width: 50%;	
}

.desplegable ul li {
	display: block;
	float: left;
	width: 190px;
	padding: 2px 0;
}
.desplegable.top ul li {
	width: 180px;	
}

.desplegable ul li a {
	color: #454545;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 6px 15px;
}
.desplegable ul li a:hover {
	background-color: #cd7b20;
	color: #FFF;
}

.desplegable.menu .ad {
    float: right;
    margin-right: 10px;
}
.desplegable.menu .ad.right { padding: 0 0 0 10px; /*height: 207px;*/}
.desplegable.menu .ad.left { border-left: 1px solid #C7C7C7; padding: 0 0 0 20px; /*height: 207px;*/}

.desplegable.top .banner {
    border-left: 1px solid #C7C7C7;
    float: right;
    margin-right: 10px;
    padding: 0 0 0 20px;
}

.desplegable .cerrar {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #454545;
}


/* temp */
.desplegable.menu .ad img {
	/*width: 212px*/;
	/*height: 168px;*/	
}

/*desplegable login */
#desplegable_login {
	background-color: #FFF;
	width: 156px;
/* 	height: 191px; */
	border: 1px solid #c7c7c7;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
	padding: 0;
	display: none;
    left: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 60px;
    right: -782px;
    z-index: 10;
}

#desplegable_login .cerrar {
    color: #454545;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;
    margin: -5px 6px 6px 135px;
    padding: 0;
    width: 20px;
}

#desplegable_login div {
	width: 157px;
	margin-top: -20px;
}

#desplegable_login div .str {
	margin-top: 0px;
	color: #DB7413;
    display: block;
    font-size: 14px;
    padding: 5px 10px;
}

#desplegable_login .menu_final {
/* 	margin-top: 0px; */
/* 	position: absolute; */
/* 	top: 0; */
}

#desplegable_login div p {
	color: #9b9b9b;
	font-size: 12px;
	margin-bottom: 10px;
}

#desplegable_login ul li {
	padding: 4px 0;
}

#desplegable_login ul li a:hover {
	color: #FFF;
	background: transparent url(/img/web/clubcupon/bg_ver_mas_hover.png) repeat-x;
}

#desplegable_login ul li a {
	color: #454545;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}

header #desplegable_login img {
	position: relative;
	top: -24px;
	left: 55px;
	float: none;
}

.opciones_login {
	background: url(/img/web/clubcupon/combo_login.jpg) no-repeat right;
	cursor: pointer;
}

.opciones_login.open {
	background: url(/img/web/clubcupon/combo_login_open.png) no-repeat right;
}
#desplegable_login .flecha {
	position: relative;
	top: -24px;
	left: 55px;
	float: none;
}

#desplegable_login ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#header .top {
	height: 58px;
	margin: 0 auto;
	width: 940px;
}


/* ------------------------------  FOOTER ----------------------------------------- */
footer {
	background-color: #343434;
	overflow: hidden;
	width: 100%;
/* 	height: 60px; */
}

footer #negro{
	background-color: #0c0c0c;
	height: 113px;
}

footer #negro div {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

footer #negro div > img{
	left: 830px;
	position: relative;
	top: -21px;
}

footer #negro div a{
	position: absolute;
	display: inline-block;
	top: -21px;
	right: 0;
/* 	float: right; */
}

footer #negro div a img{
	width: 45px;
	max-width: 45px !important;
}

footer #gris{
	background-color: #2c2c2c;
	height: 75px;
	border-top: 2px solid #d47820;
}

footer #gris div{
	width: 940px;
	margin: 0 auto; 
}

footer #gris div img{
	padding: 10px 0;
	float: left;
}

footer #gris div ul{
	padding: 20px;
	float: left;
	width: auto;
}

footer #gris div .redes{
	padding: 6px 0;
	float: right;
}

footer #negro ul{
	position: relative;
	left: -10px;
	top: 3px;
}

footer p{
	width: 940px;
	margin: 3px auto;
	color: #545454;
	font-size: 12px;
}

footer ul{
	width: 940px;
	margin: 0 auto;
}

footer li{
	color: #a0a0a0;
	display: inline-block;
	margin: 7px 0;
	*width: auto; /* ie7 */
	*float: left; /* ie7 */
}

footer li a{
	color: #a0a0a0;
	font-size: 12px;
	margin: 8px;
	text-decoration: none;
}

footer li .first{
	margin-left: 0;
}

footer li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.icon_facebook { background: transparent url(/img/web/clubcupon/redes.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter { background: transparent url(/img/web/clubcupon/redes.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss { background: transparent url(/img/web/clubcupon/redes.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo { background: transparent url(/img/web/clubcupon/redes.png) -132px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google { background: transparent url(/img/web/clubcupon/redes.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }

.icon_facebook:HOVER { background: transparent url(/img/web/clubcupon/redes_hover.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) -132px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }

.icon_facebook:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -132px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }




.valida-cupon h2 {
	font: bold 19px arial;
}


