<div id="wrapper-<?php echo $idName ?>">
    <div id="<?php echo $idName ?>-date">
        <div class="calendarTop" >
            <?php echo !empty($title) ? '<h3>' . $title . '</h3>' : ''; ?>
            <?php if($textfield) { ?>
            <input type="text" id="preview-<?php echo $idName ?>" size="15" />
            <?php } ?>
        </div>
    </div>
</div>