<div class="grid_16 bloque-horizontal">
    <div class="bloque-horizontal-contenido clearfix">
        <?php
            if( $deal['Deal']['is_tourism'] ) {
                $mainDealIsTourism = 'si';
            } else {
                $mainDealIsTourism = 'no';
            }
        ?>        
        <!-- Codigos de nuevos espacios de publicidad -->

        <div class="bloque-promo-grandes">
            <?php if(false): ?>
            <!-- e-planning v3 - Comienzo espacio ClubCupon _ Corporate _ BottomLeft -->
            <script type="text/javascript" language="JavaScript1.1">
            <!--
            var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
            var cs = document.charset || document.characterSet;
            document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/Corporate/BottomLeft?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>"></scr' + 'ipt>'); 
            //-->
            </script>
            <noscript><a href="http://ads.e-planning.net/ei/3/9b30/Corporate/BottomLeft?it=i&rnd=$RANDOM" target="_blank"><img alt="Club Cupón" src="http://ads.e-planning.net/eb/3/9b30/Corporate/BottomLeft?o=i&rnd=$RANDOM&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>" border=0></a></noscript>
            <!-- e-planning v3 - Fin espacio ClubCupon _ Corporate _ BottomLeft -->
            <?php endif; ?>


        </div>
        
        <div class="bloque-promo-grandes">
            <?php if(false): ?>
            <!-- e-planning v3 - Comienzo espacio ClubCupon _ Corporate _ BottomRight -->
            <script type="text/javascript" language="JavaScript1.1">
            <!--
            var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
            var cs = document.charset || document.characterSet;
            document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/Corporate/BottomRight?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>"></scr' + 'ipt>'); 
            //-->
            </script>
            <noscript><a href="http://ads.e-planning.net/ei/3/9b30/Corporate/BottomRight?it=i&rnd=$RANDOM" target="_blank"><img alt="Club Cupón" src="http://ads.e-planning.net/eb/3/9b30/Corporate/BottomRight?o=i&rnd=$RANDOM&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>" border=0></a></noscript>
            <!-- e-planning v3 - Fin espacio ClubCupon _ Corporate _ BottomRight -->
            <?php endif; ?>

        </div>
        
        <!-- FIN Codigos de nuevos espacios de publicidad -->
        
    </div>					
</div>