<!--

Borrar las declaraciones inline
Recomendar - popup!

-->
<?php 
    //Footers:
    //app/plugins/now/views/elements/theme_clean/footer.ctp
    //app/views/elements/theme_clean/dynamic/footer.ctp
    //app/views/elements/theme_clean/footer.ctp
?>


<?php /*  compatibilidad plugin web - se quita
<?php if( $is_corporate_city ){ ?>
    <style>
        .bottom_nav li { border-right: 1px solid #ccc!important; }
    </style>
<?php } ?>

<div id="footer">
    <div  class="container_16 center clearfix">
        <div class="grid_3">
            <?php
                $img_url =  $is_corporate_city && $is_deal_view ? 'theme_clean/exclusive/':'/img/web/clubcupon/';
                echo $html->link($html->image($img_url . 'logo_footer.png', array('alt' => 'CLUB CUP&Oacute;N.')), array('controller' => 'deals', 'action' => 'index', 'admin' => false), array('class' => 'floatLeft', 'escape' => false));
            ?>
        </div>
        <?php
            if(!$is_corporate_city){
        ?>
        <div class="grid_1">
            <?php echo $html->image($img_url . 'logo_clarin.png', array('alt' => 'Grupo Clarin')); ?>
        </div>
        <?php
            }
        ?>
        <div class="grid_8">
            <ul class="bottom_nav">
                <li><?php echo $html->link('Qui&eacute;nes Somos', array('controller' => 'pages', 'action' => 'who', 'admin' => false), array('escape' => false)); ?></li>
                <li><a title="Centro de Atenci&oacute;n al Cliente" href="http://soporte.clubcupon.com.ar/" target="_blank">Centro de Atenci&oacute;n al Cliente</a></li>
                <?php if($hideSubscription) { ?>
                <li><a href="<?php echo FULL_BASE_URL.'/exclusive';?>">Exclusive</a></li>
                <li><?php echo $html->link('Concursos', array('controller'=>'pages','action'=>'concurso', 'admin'=> false), array('escape'=>false)); ?> </li>
                <?php } ?>
                <li><?php echo $html->link('T&eacute;rminos y Condiciones', array('controller' => 'pages', 'action' => 'terms', 'admin' => false), array('escape' => false)); ?></li>
                <li><?php echo $html->link('Pol&iacute;ticas de Privacidad', array('controller' => 'pages', 'action' => 'policy', 'admin' => false), array('escape' => false)); ?> </li>
                <li><?php echo $html->link('Protecci&oacute;n de Datos Personales', array('controller' => 'pages', 'action' => 'protection'), array('escape' => false, 'class'=>'email')); ?></li>
                <li><a target="_blank" rel="nofollow" href="http://www.buenosaires.gob.ar/" title="Dirección General de Defensa y Protección al Consumidor - Consultas y/o denuncias" class="txtl">Dirección General de Defensa y Protección al Consumidor</a></li>
                <?php
                    if(!$hideSubscription) {
                        //echo '<li><span class="when-no-subscription">Atenci&oacute;n al cliente: '.$whenSuscriptionIsHidden .'</span></li>'; 
                    }
                ?>
                <li class="last">Copyright &copy; 2012 Derechos Reservados.</li>

            </ul>
        </div>

        <div class="grid_2"  style="text-align:center; margin-left:-12px; width:62px;">
            <?php
                if( time() < Configure::read('tec_dia.start_date') ) {
                    echo '<a href="https://servicios1.afip.gov.ar/clavefiscal/qr/mobilePublicInfo.aspx?req=e1ttZXRob2Q9Z2V0UHVibGljSW5mb11bcGVyc29uYT0zMDcwOTE4NjI5NV1bdGlwb2RvbWljaWxpbz0wXVtzZWN1ZW5jaWE9MF1bdXJsPWh0dHA6Ly93d3cuY2x1YmN1cG9uLmNvbS5hci9dfQ==" target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="62"></a>';
                } else  {
                    echo '<a href="http://qr.afip.gob.ar/?qr=aaBUq_tGRAX3UzK3EQuMmg,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="62"></a>';
                }
            ?>
        </div>
        
        
        <div class="grid_3">
            <ul class="social_actions">
                <?php if ($is_corporate_city && !in_array($corporateCity['City']['slug'], Configure::read('corporate_exceptions.city_name'))){ ?>
                
                    <li style="float:right; padding-top:15px;">
                        <?php 
                            if($corporateCity['City']['image']) { 
                                $cityLogoURL = $corporateCity['City']['image'];
                            } else if(file_exists("img/theme_clean/exclusive/logo-".$corporateCity['City']['slug'].".png")) {
                                $cityLogoURL = "/img/theme_clean/exclusive/logo-". $corporateCity['City']['slug'].".png";
                            }
                        ?>
                        <img src="<?php echo $cityLogoURL; ?>" title="<?php echo $corporateCity['City']['name']; ?>"/>
                    </li>
                
                <?php } ?>
                <?php
                    if (preg_match ('/recent/s', $this->params['url']['url'])) {
                        echo '<li>' . $html->link($html->image('social_actions/rss.png'), $rss_feed_url_for_city . '/recent', array( 'escape' => false, 'style' => 'padding: 0px;')) . '</li>';
                    }elseif(isset($rss_feed_url_for_city)){
                        echo '<li>' . $html->link($html->image('social_actions/rss.png'), $rss_feed_url_for_city, array( 'escape' => false, 'style' => 'padding: 0px;')) . '</li>';
                    }
                ?>
                <?php if($hideSubscription) { ?>
                    <li><?php echo $html->link($html->image('social_actions/facebook.png'), $city_facebook_url, array('target' => '_blank', 'escape' => false)); ?></li>
                    <li><?php echo $html->link($html->image('social_actions/twitter.png'),  $city_twitter_url,  array('target' => '_blank', 'escape' => false)); ?></li>
                <?php } ?>
            </ul>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<div id="shadow"></div>
*/?>

<footer>
	<div id="gris">
		<div>
			<img src="/img/web/clubcupon/logo_footer.png" alt="logo ClubCupón">
			<ul class="menu_footer">
                <li><a href="/pages/who">Quiénes Somos</a></li>
				<li>|</li>
				<li><a href="http://soporte.clubcupon.com.ar/">Centro de Atención al Cliente</a></li>
				<li>|</li>
				<li><a href="/exclusive">Exclusive</a></li>
				<li>|</li>
                <li><a href="/pages/concurso">Concursos</a></li>
			</ul>
			<ul class="redes">
				<li><a href="http://www.facebook.com/ClubCupon" class="icon_facebook" target="_blank" rel="nofollow">Facebook</a></li>
				<li><a href="http://twitter.com/ClubCupon" class="icon_twitter" target="_blank" rel="nofollow">Twitter</a></li>
				<li><a href="https://plus.google.com/u/0/105273446517623181990/posts" class="icon_google" target="_blank" rel="nofollow">google</a></li>
				<li><a href="/xmldeals/rss/<?php echo $slug; ?>" class="icon_rss" target="_blank" rel="nofollow">rss</a></li>
			</ul>
		</div>
	</div>
	<div id="negro">
		<ul>
            <li><a href="/pages/terms">Términos y Condiciones</a></li>
			<li>|</li>
            <li><a href="/pages/policy">Políticas de Privacidad</a></li>
			<li>|</li>
            <li><a href="/pages/protection">Protección de Datos Personales</a></li>
			<li>|</li>
            <li><a href="http://www.buenosaires.gob.ar/defensaconsumidor">Dirección General de Defensa y Protección al Consumidor</a></li>
		</ul>

		<div>
			<p>Copyright © <?php echo date("Y");?> Derechos Reservados.</p>
			<img src="/img/web/clubcupon/logo_clarin.png" alt="logo Grupo Clarin"> 
			<a target="_F960AFIPInfo" href="http://qr.afip.gob.ar/?qr=aaBUq_tGRAX3UzK3EQuMmg,,">
				<img width="62" border="0" src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg">
			</a>
		</div>
	</div>

</footer>

<?php 
    //FACEBOOK  
    if (
        $this->params['plugin'] == 'order' &&
        $this->params['controller'] == 'order_processings' &&
        $this->params['action'] == 'buy'
    ) {
?>
<div id="fb-root"></div>

<?php echo $javascript->codeBlock('var cfg = ' . $javascript->object($js_vars_for_layout), array('inline' => true)); ?>
<script>/* la usa facebook*/
    function __cfg(c) { return(cfg && cfg.cfg && cfg.cfg[c]) ? cfg.cfg[c]: false;}
</script>
<?php echo $this->element(Configure::read('theme.theme_name') . 'facebookConnection'); ?>
<?php 
    }
?>

