<?php
    if($logged_in) {
        
        echo '<div class="bloque-promo-ofertas">';
        echo '<p>Cuenta Club Cup&oacute;n:<br />' . $user_balance . '</p>';
        echo '</div>';
    }
    
    echo $html->link($html->image('banner_gift.png', array ('style' => 'padding-left: 3px; margin-top: 10px;')), '#', array('escape' => false, 'id' => 'buy_form_gift_button'));    
    
?>
