<?php if($is_corporate_city){ ?>
        <style>
            #main .bloque-promo-no-padding {
                background: none!important;
            }
        </style>
    <!--[if IE]>
        <style>
            .bloque-horizontal-contenido .imagen-js .div-modal{margin-top:0!important;}
        </style>
    <![endif]--> 
<?php } ?>
<?php

  if( $deal['Deal']['is_tourism'] ) {
            $mainDealIsTourism = 'si';
        } else {
            $mainDealIsTourism = 'no';
        }

    ?>
<div class="grid_4 col_derecha">

    <!-- Banner -->
    <?php
        //echo $this->requestAction(array('controller' => 'banners', 'action' => 'front'), array('return'));
    ?>
    <?php if($is_corporate_city){  ?>
    
    
        <?php if(false): ?>
        <!-- e-planning v3 - Comienzo espacio ClubCupon _ Corporate _ Right2x231x179 -->
        <script type="text/javascript" language="JavaScript1.1">
        <!--
        var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
        var cs = document.charset || document.characterSet;
        document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/Corporate/Right2x231x179?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>"></scr' + 'ipt>'); 
        //-->
        </script>
        <noscript><a href="http://ads.e-planning.net/ei/3/9b30/Corporate/Right2x231x179?it=i&rnd=$RANDOM" target="_blank"><img alt="Club Cupón" src="http://ads.e-planning.net/eb/3/9b30/Corporate/Right2x231x179?o=i&rnd=$RANDOM&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>" border=0></a></noscript>
        <!-- e-planning v3 - Fin espacio ClubCupon _ Corporate _ Right2x231x179 -->
        <?php endif; ?>
    
    <?php } else { ?>
        <?php if(false): ?>
        <!-- e-planning v3 - Comienzo espacio ClubCupon _ Ficha _ Right2x231x179 -->
        <div class="box_banner" style="height:auto">
        <script type="text/javascript" language="JavaScript1.1">
        <!--
        var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
        var cs = document.charset || document.characterSet;
        document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/b50611b798a32dea?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo Configure::read ('Actual.city_slug').'&kw_turismo='.$mainDealIsTourism.'&kw_idaviso='.$deal['Deal']['id']; ?>"></scr' + 'ipt>');
        //-->
        </script>
        <noscript><a href="http://ads.e-planning.net/ei/3/9b30/b50611b798a32dea?it=i&rnd=$RANDOM" target="_blank"><img width="231" height="179"  alt="Club Cupón" src="http://ads.e-planning.net/eb/3/9b30/b50611b798a32dea?o=i&rnd=$RANDOM&kw_ciudades=<?php echo Configure::read ('Actual.city_slug').'&kw_turismo='.$mainDealIsTourism.'&kw_idaviso='.$deal['Deal']['id']; ?>" border=0></a></noscript>
        </div>
        <!-- e-planning v3 - Fin espacio ClubCupon _ Ficha _ Right2x231x179 -->
        <?php endif; ?>
    <?php } ?>
    
    
    <!-- Publicidad de e-planning -->
    <div class="bloque-promo-no-padding" >
        <?php if (Configure::read ('Actual.city_slug') == 'ciudad-de-buenos-aires'){ ?>
            <?php if(false): ?>
            <!-- e-planning v3 - Comienzo espacio ClubCupon _ Ficha _ Right -->
            <script type="text/javascript" language="JavaScript1.1">
            <!--
            var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
            var cs = document.charset || document.characterSet;
            document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/Ficha/Right?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo Configure::read ('Actual.city_slug').'&kw_turismo='.$mainDealIsTourism.'&kw_idaviso='.$deal['Deal']['id']; ?>"></scr' + 'ipt>');
            //-->
            </script>
            <noscript><a href="http://ads.e-planning.net/ei/3/9b30/Ficha/Right?it=i&rnd=$RANDOM" target="_blank"><img alt="e-planning.net ad" src="http://ads.e-planning.net/eb/3/9b30/Ficha/Right?o=i&rnd=$RANDOM&kw_ciudades=<?php echo Configure::read ('Actual.city_slug').'&kw_turismo='.$mainDealIsTourism.'&kw_idaviso='.$deal['Deal']['id']; ?>" border=0></a></noscript>
            <!-- e-planning v3 - Fin espacio ClubCupon _ Ficha _ Right -->
            <?php endif; ?>
        <?php }else if($is_corporate_city){ ?>
            <?php if(false): ?>
            <!-- e-planning v3 - Comienzo espacio ClubCupon _ Corporate _ Right -->
            <script type="text/javascript" language="JavaScript1.1">
            <!--
            var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
            var cs = document.charset || document.characterSet;
            document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/Corporate/Right?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>"></scr' + 'ipt>'); 
            //-->
            </script>
            <noscript><a href="http://ads.e-planning.net/ei/3/9b30/Corporate/Right?it=i&rnd=$RANDOM" target="_blank"><img alt="Club Cupón" src="http://ads.e-planning.net/eb/3/9b30/Corporate/Right?o=i&rnd=$RANDOM&kw_ciudades=<?php echo Configure::read ('Actual.city_slug'); ?>&kw_turismo=<?php echo $mainDealIsTourism; ?>&kw_idaviso=<?php echo $deal['Deal']['id']; ?>" border=0></a></noscript>
            <!-- e-planning v3 - Fin espacio ClubCupon _ Corporate _ Right -->
            <?php endif; ?>
        <?php }else{ ?>
            <?php if(false): ?>
            <!-- e-planning v3 - Comienzo espacio ClubCupon _ Ficha _ Right -->
            <script type="text/javascript" language="JavaScript1.1">
            <!--
            var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
            var cs = document.charset || document.characterSet;
            document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/Ficha/Right?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo Configure::read ('Actual.city_slug').'&kw_turismo='.$mainDealIsTourism.'&kw_idaviso='.$deal['Deal']['id']; ?>"></scr' + 'ipt>');
            //-->
            </script>
            <noscript><a href="http://ads.e-planning.net/ei/3/9b30/Ficha/Right?it=i&rnd=$RANDOM" target="_blank"><img alt="e-planning.net ad" src="http://ads.e-planning.net/eb/3/9b30/Ficha/Right?o=i&rnd=$RANDOM&kw_ciudades=<?php echo Configure::read ('Actual.city_slug').'&kw_turismo='.$mainDealIsTourism.'&kw_idaviso='.$deal['Deal']['id']; ?>" border=0></a></noscript>
            <!-- e-planning v3 - Fin espacio ClubCupon _ Ficha _ Right -->
            <?php endif; ?>
        <?php } ?>
    </div>
    <!-- FIN Publicidad de e-planning -->


    <?php

    $side_deals = $clubcupon->sideDeals ();
    
    $this_deal = null;
    
    
    //Estamos viendo una oferta directamente, evitamos que esta aparezca
    if(isset ($deal) && isset ($deal ['Deal'])){
        
        $side_deals=$clubcupon->ordenaOfertas();
        $this_deal = $deal ['Deal']['id'];
        
        //Eliminamos el deal ppal
        foreach($side_deals as $idx => $side_deal){
            if ($side_deal ['Deal']['id'] === $this_deal) {
                unset($side_deals[$idx]);
            }
        }
        
        
    }
    
    //este, lo dividimos en dos arreglos, independientes.
    $right_deals = array_slice($side_deals, 0, 2);
    $lower_deals = array_slice($side_deals, 2, count($side_deals));
    
    //Iteramos para los dos deals del costado
    if (count($right_deals)) {

        foreach($right_deals as $idx => $side_deal){
            
            //No es necesario, queda por precaucion - Escapamos si es el deal activo
            if ($side_deal ['Deal']['id'] === $this_deal) continue;
                        
            $side_deal_name = $clubcupon->shorten_strings_with_html_entities($side_deal['Deal']['name'], 25);
            
            //Inicio bloque de la oferta
            echo '<div  class="bloque-promo promo-firts">';
            
                //Titulo
                echo '<p class="promo-precio">';

                    if (!$side_deal['Deal']['hide_price']) { 
                        if (!$side_deal ['Deal']['only_price']){    
                            $texto = $side_deal_name . '<br /> ' . Configure::read('site.currency') . floor($side_deal['Deal']['discounted_price']) . ' en vez de ' . Configure::read('site.currency') . floor($side_deal['Deal']['original_price']);
                        }else{
                            $texto = $side_deal_name . '<br /> ' . Configure::read('site.currency') . floor($side_deal['Deal']['discounted_price']);
                        }
                    }else{
                        $texto = $side_deal['Deal']['discount_percentage'] . '% de descuento por ' . $side_deal_name;
                    }

                    echo $html->link($texto, array('controller' => 'deals', 'action' => 'view', $side_deal['Deal']['slug']), array('title' => sprintf(__l('%s'), $side_deal['Deal']['name'])), null, false);
                        
                echo '</p>';
                
                //Imagen
                echo '<div class="imagen-js">';
                    
                    echo $html->link($html->showImage('Deal', $side_deal['Attachment'], array('dimension' => 'small_big_thumb', 'alt' => $html->cText($side_deal['Company']['name'] . ' ' .$side_deal['Deal']['name'], false), 'title' => $html->cText($side_deal['Company']['name'] . ' ' .$side_deal['Deal']['name'], false))), array('controller' => 'deals', 'action' => 'view', $side_deal['Deal']['slug']), array('title' => sprintf(__l('%s'), $side_deal['Deal']['name'])), null, false); 
                
                    //descripcion
                    echo '<div class="precio clearfix">';
                
                        
                        if (!$side_deal['Deal']['hide_price'])
                        {
                            
                            $leyenda  = 'Paga s&oacute;lo '. Configure::read('site.currency') . floor($side_deal['Deal']['discounted_price']);
                            $leyenda  = '<p class="inicial">$'. floor($side_deal['Deal']['original_price']) .'</p><p class="descuento">$' . floor($side_deal['Deal']['discounted_price']) . '</p>';

                            $sOferta=$side_deal['Deal']['slug'];
                            $sUrl='/'.$city_slug .'/deal/'.$sOferta;

                        }
                        
                        if($side_deal['Deal']['only_price'])
                        {
                            $leyenda  = '<p class="inicialClean">'. '&nbsp;&nbsp;&nbsp;&nbsp; ' .'</p><p class="descuento">$' . floor($side_deal['Deal']['discounted_price']) . '</p>';
                        }
                        
                        echo $leyenda;
                        
                        echo $html->link('detalles', array('controller' => 'deals', 'action' => 'view', $side_deal['Deal']['slug']), array('escape'=>false, 'title' => $html->cText($side_deal['Deal']['name'], false)));

                    echo '</div>';
                    
                echo '</div>';
                    
            echo '</div>';
            
            //Cleanup!
            unset($texto);
            unset($leyenda);
        }
    }
     
?>

</div>
    
<?php

    //Si tenemos ofertas para mostrar debajo (ver $lower_deals #62)

    if (count($lower_deals)) {

        foreach($lower_deals as $idx => $side_deal){

            //Seteamos las variables en cada  oferta
            //$side_deal_title     = $text->truncate($side_deal['Deal']['name'], 25, '...', false);
            
            $sidebar_lower_side_deal_title    = $clubcupon->shorten_strings_with_html_entities($side_deal['Deal']['name'], 105);
            $sidebar_lower_side_deal_subtitle = $clubcupon->shorten_strings_with_html_entities($side_deal['Deal']['subtitle'], 25);
            $titulo_oferta       = 'Paga s&oacute;lo $' . $html->cCurrency ($side_deal['Deal']['discounted_price'], 'small') . ' y obten&eacute; un descuento de $' . $html->cCurrency ($side_deal['Deal']['discount_amount'] , 'small').' <span>' . $side_deal_title . '</span>';
            $hover_titulo_oferta = $clubcupon->shorten_strings_with_html_entities($side_deal['Deal']['name'], 14);
            
            if($side_deal['Deal']['only_price'] == 0 && $side_deal['Deal']['hide_price'] == 0)
            {
                $hover_desc_oferta   = 'Pag&aacute; $' . $html->cCurrency ($side_deal['Deal']['discounted_price'] , 'small') . ' en vez de ' . $html->cCurrency ($side_deal['Deal']['original_price'] , 'small');
            }
            
            if($side_deal['Deal']['only_price'] == 1 && $side_deal['Deal']['hide_price'] == 0)
            {
                $hover_desc_oferta   = 'Pag&aacute; $' . $html->cCurrency ($side_deal['Deal']['discounted_price'] , 'small');
            }
            
            if($side_deal['Deal']['only_price'] == 0 && $side_deal['Deal']['hide_price'] == 1)
            {
                $hover_desc_oferta   = 'Pag&aacute; s&oacute;lo el ' . $side_deal['Deal']['discount_percentage'] . '%';
            }

            //Hack horrible para el formato de imagenes, a remover en el segundo release. Ver notas de Juan, implica tocar el método Attachment
            $image_tag           = $html->showImage('Deal', $side_deal['Attachment'], array('dimension' => 'medium_big_thumb', 'alt' => $html->cText($side_deal['Company']['name'] . ' ' . $hover_titulo_oferta , false), 'title' => $html->cText($side_deal['Company']['name'] . ' ' .$side_deal['Deal']['name'], false)));
            $image_tag           = str_replace('width="440"',  'width="277"',  $image_tag);
            $image_tag           = str_replace('height="292"', 'height="183"', $image_tag);

            $sOferta             = $side_deal['Deal']['slug'];
            $sUrl                = '/'.$city_slug .'/deal/'.$sOferta;
            $nombreModal         = 'modal-side'.$idx;
                
            //Abre el bloque de 16 columnas
            if($idx == 0)
            {
                $group_name = $side_deal['City']['name'];
                echo '<div class="grid_16 bloque-horizontal">';
                echo '<h2 class="clearfix"><p>M&aacute;s ofertas en '. $group_name .'</p>';
                if(!$is_corporate_city) {
                    echo $html->link('Ver todas las ofertas >', array('controller' => 'deals', 'action' => 'landingofertas'), array('title' => 'Ver todas las ofertas > ', 'escape' => false));
                }
                echo '</h2>';
                echo '<div class="bloque-horizontal-contenido clearfix">';
            }
                
                    echo '<div class="bloque-h-interior">';
                        echo '<div class="imagen-js">';
                            echo $html->link($image_tag, array('controller' => 'deals', 'action' => 'view', $side_deal['Deal']['slug']), array('title' => sprintf(__l('%s'), $hover_titulo_oferta)), null, false);
                            //Div modal
                            echo '<div style="display: none; position:relative" class="div-modal">';
                                echo '<div class="modalFondo"></div> ';
                                echo '<div class="modal" id="' . $nombreModal . '">';
                                    echo '<div class="titulo">&nbsp;</div>';
                                    echo '<div class="descripcion">'     . $hover_desc_oferta   . '</div>';
                                    echo '<div class="btnVerMas">'       . $html->link('Ver m&aacute;s', array('controller' => 'deals', 'action' => 'view', $side_deal['Deal']['slug']), array('title' => $html->cText($side_deal['Deal']['name'], false), 'escape' => false)).'</div>';
                                    if(!$side_deal['Deal']['only_price'])
                                    {
                                        echo '<div class="porcentaje"><span>'. $side_deal['Deal']['discount_percentage'].'%</span></div>';
                                    }
                                echo '</div>';
                            echo '</div>';
                            //FIN Div modal
                        echo '</div>';
                        echo '<div class="bloque_nombre_oferta">';
                            echo $html->link($sidebar_lower_side_deal_title, array('controller' => 'deals', 'action' => 'view', $side_deal['Deal']['slug']), array('title' => $html->cText($side_deal['Deal']['name'], false), 'escape' => false));
                        echo '</div>';
                        echo '<p>' . $sidebar_lower_side_deal_subtitle . '&nbsp;</p>';
                    echo '</div>';
                     ?>
                <script type="text/javascript">

                $(document).ready(function () {

                    $("#<?php echo $nombreModal;?>").click(function () {
                    	window.location = "<?php echo $sUrl;?>"
                    });
                });
                </script>
                <?php
                    
                


        }//cierre foreach
        
        echo '</div>';
        echo '</div>';

        
    }

?>
