.width100 {
  width:100% !important;
}

.width50 {
  width:50% !important;
}

.floatLeft {
  float:left !important;
}

.floatRight {
  float:right !important;
}

.noFloat {
  float:none !important;
}

.clear {
  clear:both !important;
}

.noBorder, .border0 {
  border:0 !important;
}

.padding10 {
  padding:10px !important
}

.padding15 {
  padding:15px !important
}

.margin10 {
  margin:10px !important
}

.margin15 {
  margin:15px !important
}

.noPadding, .padding0 {
  padding:0 !important;
}

.noMargin, .margin0 {
  margin:0 !important;
}

.displayInline {
  display:inline !important;
}

.displayBlock {
  display:block !important;
}

.noBackground {
  background:none transparent !important;
}

.alignCenter {
  text-align:center !important;
}

.alignRight {
  text-align:right !important;
}

.alignLeft {
  text-align:left !important;
}

.cursorPointer {
  cursor:pointer !important;
}

.bold {
  font-weight:bold !important;
}

.hidden, .hide {
  display:none !important;
}

.softHidden, .softHide {
  display:none;
}

.invisible {
  visibility:hidden !important;
  height:0 !important;
  padding:0 !important;
  margin:0 !important;
  border:0 !important;
}