.admin-sideone {
  background:#fff;
  float:left;
  margin:10px 0 0 0;
  padding:1%;
  width:10%;
}

.admin-sidetwo {
  background:#fff;
  float:left;
  margin:10px 0 0 10px;
  padding:0;
  width:auto;
/*  position:absolute;*/
/*  left:12%;*/
  position:relative;
  display:block;
  width:85.5%;
}

.titleInsideContent,h2.title, h2.titleBig, #wrap.admin h2,h1.titleBig {
    padding:10px;
}

ul.admin-links li.active>a,ul.admin-links li>a:hover {
  color:#161616;
}

ul.admin-links li.active>a {
  font-weight:bold;
}

ul.admin-links li ul {
  background:#FBFDFE;
  border-bottom:1px dashed #999;
  margin-left:0;
  padding:0 0 5px 6px;
  margin:0 0 5px 0;
}

ul.admin-links>li {
  border-bottom:1px dashed #999;
  margin:0 0 10px 0;
  padding:3px 0 3px 10px;
}

ul.admin-links>li.no-bor {
  background:none;
  border:0;
  padding:0;
  margin:0;
}

ul.admin-links li h4 {
  padding:3px 5px 10px;
  font-size:14px;
  font-weight:bold;
}

table.list {
  width:100%;
  margin:15px 0 0;
  float:left;
  border-spacing:0;
  border-collapse:collapse;
  font-size:11px;
}

table.list td,
table.list th {
  margin:0;
  padding:4px;
  border-bottom:1px solid #fff;
  background:#fff;
  vertical-align:middle;
  text-align:center;
  font-size:11px;
}

table.list th {
  color:#fff;
  background:#F25607;
  font-size:12px;
}

table.list th a {
  color:#fff;
}

table.list tr.altrow td {
  background:#F7FBFE;
}

table.list tr:hover td {
  background:#eaeaea;
}

table.list tr th.dl,
table.list tr td.dl {
  text-align:left;
}

table.list tr th.dc,
table.list tr td.dc {
  text-align:center;
}

table.list tr th.dr,
table.list tr td.dr {
  text-align:right;
}

table.list tr.total-block td {
  background:#f0f8fe;
  font-weight:bold;
}

table.list tr td.deal-name,
table.list tr th.deal-name {
  width:220px;
}

table.list tr:hover td .actions {
  display:block;
}

table.list tr td.notice {
  background:url(../img/icon-list-warning.png) no-repeat left center;
}

table.list div.select select {
  margin:0;
  width:200px;
}

table.list tr td div.checkbox input {
  margin:0;
}

table.list td div.checkbox input {
  margin:0;
}

table.list tr td.notice {
  text-align:left;
  padding-left:25px;
}

table.list,
table.list td,
table.list th {
  border-color:#F25607;
  border-style:solid;
}

table.list th div.hidden {
  width:100px;
  float:left;
  margin:0 0 -20px -100px;
  position:relative;
  left:105px;
  top:-15px;
  display:none;
  color:#333;
  font-weight:normal;
  background:#fff;
}

table.list th:hover div.hidden {
  display:block;
}

table.list td .input, table.list td .checkbox, table.list td .radio , table.list td .select {
  margin:0;
}

table.list td input {
  float:none;
}

.users .ui-tabs-nav {
  width:100%;
  float:left;
}

.js-pagination {
  width:50%;
  float:left;
  padding:15px 0;
}

.paging {
  text-align:right;
}

.paging a,
.paging span {
  background:#fefefe;
  color:#666;
  text-decoration:none;
}

.paging a,
.paging span.prev,
.paging span.next,
.paging span.current {
  border:1px solid #333;
  margin:2px;
  padding:3px 5px;
}

.paging span.skip {
  border:0;
}

.paging a:hover,
.paging span.current {
  background:#F25607;
  color:#fff;
}

.actions-block {
  position: absolute;
  margin:-40px 0 0 300px;
  height:1px;
}

.actions-block span, .actions-block a {
  padding:0 0 5px;
  display:block;
}

.actions-block .actions {
  position:absolute;
  right:-250px;
  padding:10px;
  display:none;
  border:1px solid #000;
  background:#eaeaea;
  top:0;
  -moz-border-radius:0 10px 10px 10px;
  -webkit-border-radius:0 10px 10px 10px;
  -khtml-border-radius:0 10px 10px 10px;
  border-radius:0 10px 10px 10px;
}

div.admin-content .actions-block .actions {
  text-align:left;
  top:-5px;
}

.actions-block .actions a {
  text-align:left;
  padding:1px 0 2px 20px;
}

.add-block1 {
  width:50%;
  padding:15px 0;
  float:right;
  text-align:right;
}

.add-block1 a {
  padding:1px 0 2px 16px;
  margin:0 5px;
}

.admin-select-block {
  width:50%;
  float:left;
  padding:15px 0;
}

.admin-select-block div {
  width:150px;
  float:left;
}

.admin-select-block div.hide {
  display:none;
}

.admin-select-block .select {
  width:120px;
  margin:0;
}

.admin-select-block .select select {
  width:180px;
  margin:0;
}

.search-form {
  width:50%;
  float:left;
}

.search-form .input {
  width:auto;
  padding:0 15px;
}

.search-form .submit {
  width:100px;
}

.search-form .date-time-block {
  width:315px;
}

.form-block .date-time-block .input, .form-block .date-time-block  .checkbox, .form-block .date-time-block  .radio, .form-block .date-time-block  .select, .form-block .date-time-block  .submit {
  width:100%;
}

.search-form .date-time {
  width:150px;
  margin:0;
}

.search-form .submit input {
  margin:0;
}

.search-form .date-time label, .search-form .date-time div.datepicker-container {
  width:auto;
}

.outer-image-settings .input {
  width:auto !important;
}

.date-time-block, .input-block {
  width:100%;
  float:left;
}

.date-time-block label {
  clear:both;
  margin:15px 0 0;
}

.add_deal {
  width:100%;
  float:left;
}

.add_deal label {
  width:200px;
  float:left;
  text-align:right;
}

.add_deal .checkbox label {
  width:auto;
}

.add_deal .checkbox input {
  margin:3px 5px 0 215px;
}

.add_deal fieldset.form-block {
  width:100%;
  padding:15px 0;
}

.add_deal .info {
  margin:0 0 0 10px;
  display:inline;
}

.add_deal h4.subtitle {
  width:98%;
  padding:10px 1%;
}

.add_deal fieldset.form-block legend {
  margin:0 0 0 15px;
}

.add_deal .mceLayout {
  width:650px !important;
}

.add_deal .submit {
  width:auto;
  margin:15px;
}

.add_deal small {
  width:100%;
  padding:15px 0;
  float:left;
  font-size:11px;
}

.add_deal dl.result-list {
  width:270px;
  float:left;
  margin:15px 0 0 215px;
}

 div.datepicker-content {
  position:absolute;
  left:5px;
  top:25px;
  border:1px solid #ddd;
  z-index:99999;
  width:250px;
}

.picker-img {
  float:left;
  margin:3px 3px 0 0;
  cursor:pointer;
}

div.datepicker-content a.close {
  width:28px;
  height:28px;
  margin:0 5px 5px 0;
  right:-15px;
  position:absolute;
  bottom:-15px;
  background:url(../img/icon-close.png) 0 0 no-repeat;
  text-indent:-9999em;
}

form.normal .ui-datepicker select.ui-datepicker-month,
form.normal .ui-datepicker select.ui-datepicker-year,
form.normal div.thick-box .ui-datepicker select.ui-datepicker-month,
form.normal div.thick-box .ui-datepicker select.ui-datepicker-year {
  width:49% !important;
  margin:0 !important;
}

div.datepicker-container {
  width:500px;
  float:left;
  /*margin:15px 0 0;*/
}

div.timepicker,div.datepicker-container,.date-time {
  position:relative;
}

div.timepicker {
  float:left;
  position:relative;
}

div.timepicker label {
  width:100px;
  margin:0 5px 0 0;
  overflow:hidden;
}

.date-time label {
  width:200px;
  left:0;
}

.displaydate {
  padding:1px 5px;
  border-color:#AAADB2 #DCDFE6 #E2E9EF #E2E2EC;
  border-style:solid;
  border-width:1px;
  float:left;
  margin:3px 2px 0;
  font-size:11px;
}

div.displaydate a {
  margin-left:3px;
}

.timepickr {
  background:#FFF;
  border:1px solid #F25607;
  font-size:11px;
  margin:0 0;
  padding:3px 5px;
}

.sep-or {
  margin:15px 0 0 250px;
  float:left;
  display:inline;
}

.currencySeparator {
  margin:0 9px 0 3px;
  float:left;
  display:inline;
  font-size:16px;
  font-weight:bold;
}

input.currencyInteger, input.currencyDecimal {
  width:60px;
}

dl.result-list {
  margin:10px;
  border:1px dashed #333;
  padding:10px;
  background:#eaeaea;
}

dl.result-list dt,dl.result-list dd {
  float:left;
  width:45%;
  min-height:20px;
  padding:5px 0;
}

dl.result-list dt {
  font-weight:bold;
  width:55%;
}

.calculator-block {
  width:100%;
  float:left;
  padding:15px 0;
  margin:15px 0;
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
}

a.recent-activation {
  background:url(../img/recent-active.png) no-repeat left center;
}

a.delete {
  background:url(../img/icon-delete.png) no-repeat left center;
}

a.edit {
  background:url(../img/icon-edit.png) no-repeat left center;
}

a.export {
  background:url(../img/icon-export.png) no-repeat left center;
}

a.update-status {
  background:url(../img/icon-update.png) no-repeat left center;
}

a.approve {
  background:url(../img/icon-approve.png) no-repeat left center;
}

a.pending {
  background:url(../img/icon-pending.png) no-repeat left center;
}

a.manage {
  background:url(../img/icon-manage.png) no-repeat left center;
}

a.people-find {
  background:url(../img/icon-people.png) no-repeat left center;
}

a.view {
  background:url(../img/icon-view.png) no-repeat left center;
}

a.add-wallet {
  background:url(../img/icon-add-amount.png) no-repeat left center;
}

a.add-friend {
  background:url(../img/icon-user-add.png) no-repeat left center;
}

a.remove-friend {
  background:url(../img/icon-user-add.png) no-repeat left center;
}

a.user-pending {
  background:url(../img/icon-user-add.png) no-repeat left center;
}

a.resend {
  background:url(../img/icon-resend.png) no-repeat left center;
}

a.add {
  background:url(../img/icon-add.gif) no-repeat left center;
}

a.network-ip {
  background:url(../img/icon-network.png) no-repeat left center;
}

a.password {
  background:url(../img/icon-password.png) no-repeat left center;
}

a.homepage {
  background:url(../img/icon-homepage.png) no-repeat left center;
}

a.transaction {
  background:url(../img/icon-transaction.png) no-repeat left center;
}

a.not-used {
  background:url(../img/icon-used.png) no-repeat left center;
}

a.used {
  background:url(../img/icon-not-used.png) no-repeat left center;
}

a.gift {
  background:url(../img/icon-gift.png) no-repeat left center;
}

.redeem-gift {
  background:url(../img/icon-couponcard.png) no-repeat left center;
}

.reject-user {
  background:url(../img/icon-user-remove.png) no-repeat left center;
}

.pending-user {
  background:url(../img/icon-user-pending.png) no-repeat left center;
}

.accept-user {
  background:url(../img/icon-user-accept.png) no-repeat left center;
}

a.view-icon {
  background:url(../img/view.png) no-repeat left center;
}

a.print-icon {
  background:url(../img/print.png) no-repeat left center;
}

#wrap.admin .ui-accordion {
  width:100%;
  float:left;
}

#wrap.admin .ui-accordion .ui-accordion-header {
  width:100%;
  float:left;
  padding:0;
  margin:0;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  border-color:#ccc;
  border-style:solid;
  border-width:1px 1px 0;
}

#wrap.admin .ui-accordion .ui-accordion-header:hover a {
  color:#F60;
}

#wrap.admin .ui-accordion .ui-accordion-content {
  width:96%;
  padding:2%;
  margin:-5px 0 0;
  float:left;
  border-color:#CAC9C7;
}

#wrap.admin .ui-accordion .ui-accordion-content label {
  width:250px;
  text-align:right;
}

#wrap.admin .ui-accordion .ui-accordion-content .checkbox label {
  text-align:left;
}

#wrap.admin .ui-accordion .ui-accordion-content .help {
  float:left;
  margin:5px 0 0;
  padding:0 0 0 5px;
}

#wrap.admin .ui-accordion .ui-accordion-content .info {
  padding:5px 0 0 5px;
}

#wrap.admin .radio label {
  width:auto !important;
}

#wrap.admin .radio input {
  margin:5px 0 0;
}

textarea.email-content {
  width:650px;
  height:300px;
}

td.notice {
  float:none !important;
}

#UserAddForm label {
  width:110px;
  text-align:right;
}

#UserAddForm input {
  width:200px;
}

#UserAddForm select {
  width:207px;
}

#UserAddForm #cityPermsContainer {
  width:700px;
  float:left;
  padding:0 0 0 125px;
}

#UserAddForm #cityPermsContainer strong {
  width:100%;
  padding:5px 0;
  float:left;
}

#UserAddForm #cityPermsContainer .input {
  width:30%;
  margin:5px 0 0;
}

#UserAddForm #cityPermsContainer label {
  width:auto;
  text-align:left;
}

#UserAddForm .submit input {
  width:auto;
  margin:0 0 0 125px;
}

#CityAddForm label, #CityEditForm label {
  width:70px;
  text-align:right;
}

#CityAddForm .checkbox input, #CityEditForm .checkbox input{
  margin:3px 0 0 85px
}

#CityAddForm .checkbox label, #CityEditForm .checkbox label{
  width:500px;
  text-align:left;
}

#CityAddForm input, #CityEditForm input {
  width:200px;
}

#CityAddForm select, #CityEditForm select {
  width:207px;
}

#CityAddForm .submit input, #CityEditForm .submit input {
  width:auto;
  margin:10px;
}

.admin-sidetwo .admin-sidetwo {
  width:100% !important;
  border:0 !important;
  padding:0 !important;
  margin:0 !important;
}

#DealEditForm label  {
  width:200px;
  text-align:right;
}

#DealEditForm .seo label, #DealEditForm .seo textarea label {
  width:200px !important;
  text-align:right !important;
}

#DealEditForm .checkbox label, #DealEditForm .file label {
  width:auto;
  text-align:left;
}

#DealEditForm .textarea label, #DealAddForm .textarea label {
  width:auto;
  clear:both;
  text-align:left;
}

#DealAddForm .textarea label {
     float:none!important;
}

#DealEditForm .commision-form-block .textarea label {
  width:200px;
  text-align:right;
}

#DealEditForm .mceEditor {
  clear:both;
  float:left;
}
#DealEditForm .checkbox input {
  margin:3px 5px 0 5px;
  }

#DealEditForm .datepicker-container {
  margin:0;
}

#DealEditForm .timepicker {
  margin:-2px 0 0 5px;
}

#DealEditForm .info, #DealAddForm .info {
  clear:both;
  margin:5px 0 0 215px;
  display:inline;
  font-style:italic;
}

#DealEditForm .checkbox .info {
  clear:none;
  margin:0;
}

#DealEditForm .submit {
  width:auto;
}

#DealEditForm .cancel-button, .externalservices .cancel-button, .link-button-generic {
  width:auto;
  float:left;
  margin:25px 0 0 10px;
  padding:3px 15px;
  background:#eee;
  border:1px solid #9D9D9D;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  font-weight:bold;
  font-size:11px;
}
.link-button-generic {
  margin:5px 0 0 10px;
}

#DealEditForm a.cancel-button, .externalservices .cancel-button, a.link-button-generic {
  text-decoration: none;
}

#DealEditForm .calculator-block dl.result-list {
  width:345px;
  float:left;
  margin-top:15px;
  padding-top:15px;
}

#DealEditForm .calculator-block dl.result-list dt {
  width:185px;
  padding-right:5px;
  text-align:right;
}

#DealEditForm .calculator-block dl.result-list dd {
  width:145px;
  padding-left:10px;
}

table.company-list, .admin table.list {
  width:1300px !important;
}

.admin table.list th {
  white-space:normal !important;
}

.campo_fechas .error-message{
    float:left!important;
    margin:10px 0 0 211px;
}

.campo_fechas label{
    margin:-2px 0 0 0;
}

.companies #my-profile .error-message {
  
  margin:-2px 0 0 0;
}

div.payment-setting-group-selector {
  display: none;
  margin-left: 213px;
}
.payment-setting-group-selector h4 {
  margin-bottom: 8px;
  margin-top: 10px;
  font-weight: bold;
}
div.actions-payment {
  margin-top: 10px;
}
.payment-setting-group-selector {
  width:400px;
}

.payment-setting-group-selector input {
  float:none;
}
div.payment-settings-container div.input {
  margin-bottom: 10px;
}

.paymentError {
  margin: auto;
  color: red;
  border: 1px solid red;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.red { color: red; }
.rule {
  clear: both;
}
.preview-result-rules {
  margin-top: 10px;
}
.preview-result-rules,.preview-result-rules td,.preview-result-rules th {
  border: 1px solid #000;
  text-align: center;
  padding: 3px;
}
.preview-result-rules th {
  border: 1px solid #000;
  font-weight: bold;
}
.js-preview-result-rules .info {
  font-family: monospace;
  margin: 25px;
  border: 1px solid #333;
  padding: 5px;
}
.js-preview-result-rules .info pre {
  color: green;
}
.tableDefinitionContainer .buttonActions {
  margin: 25px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  display: block;
}
select.ui-datepicker-year {
  width: 57px!important;
}
.losBuenosMuchachosFiles {
  clear: both;
  float: left;
  margin-left: 137px;
}
.js-add-other-images {
  clear: both;
  float: left;
  margin-left: 137px;
}

.adminGallery li {
  float: left;
  width: 500px;
  border: 1px solid #DDD;
  margin: 2px;
}

/*Div feedback al dar de alta un deal y seleccionar un medio de pago*/
#medios_pago_alerta{
    float:left;
    margin:10px;
    padding:5px;
    background:#ccc;
    font-weight:bold;
    }

 /* Links paginacion */   
 .current{ color:orange !important; font-weight: bold;}
 .disabled{color:#CAC9C7;}
 .pagLink{text-decoration: none!important;}
    
    
/*Deal tabs revamp*/
#deals_commands{
    clear:both;
    text-align:right;
    background:#ff6a00;
    padding:5px 20px;
    color:#fff;
    font-weight:bold;
    }
    
    #deals_commands .add{
        padding-left:20px;
    }
    
    #deals_commands a{
        color:#fff;    
        text-decoration:none;
        
        }

.tabs ul{
    height:36px;
   background: url("../../img/th_bg.gif") repeat-x scroll center bottom transparent;
   
}
.tabs ul li{
    float: left;
    border-right:1px groove orange;
    }
    
    .tabs ul li a {
        padding:10px;
        display:block;
        text-decoration: none;
        font-weight: bold;
        color:#777;
        }
        
        .tabs .active,
        .tabs ul li a:hover{color:orange;}
     
        #buscador, #pie_deals{padding:0 20px;}
            
            #buscador .izq{float:left;}
            #buscador .der{float:right;}
            #buscador .ancho{width:350px;}
            
            
            /*Override del default ya declarado*/
            #buscador form, #buscador .input, #buscador .checkbox, #buscador .radio, #buscador .select, #buscador .submit, #buscador  input, #buscador  select, #buscador textarea {
                float:none!important;
                }
            #buscador .submit input{margin:0 0 0 10px;}
        
      #pie_deals{ width:300px!important;}  
      
/* Estilos para el tip de helper usado en el admin */
p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size: 1em; background-color: white; border: 1px solid orange; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 15px }

/*Ajuste para la vista de liquidaciones*/
#liquidacion {color:#555;}
    #liquidacion #columna1, #columna3{width:400px;}
    #liquidacion #columna1{float:left; margin: 0 0 7px 7px;}
    #liquidacion #columna3{float:right;}
    #liquidacion #columna2{margin:0 440px 0 447px;}
    #liquidacion input, .form select, .form textarea {float:none; padding: 0; border:none;}
    #liquidacion .clearFloats {clear:both;} /*Utilizado como separador horizontal de flotantes*/
    #liquidacion fieldset { padding: 15px; margin-top:0;}
    #liquidacion p{padding:0 10px;}
        #liquidacion p strong {color:#555;}
            #liquidacion strong, .form a {color:#F25607;}
    #liquidacion .boton_liquidar {background:#F25607; padding: 15px; font-size:20px; color:#fff; width: 98%; margin: 0;}
    
    /* Calendario de fecha nuevo */
    #liquidacion .date_selector, .date_selector * {
        width: auto;
        height: auto;
        border: none;
        background: none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        }
    #liquidacion .date_selector {
        background: #F2F2F2;
        border: 1px solid #bbb;
        padding: 5px;
        margin: -1px 0 0 0;
        position: absolute;
        z-index: 100000;
        display: none;
        }
    #liquidacion .date_selector_ieframe {
        position: absolute;
        z-index: 99999;
        display: none;
        }
    #liquidacion .date_selector .nav {
        width: 17.5em; /* 7 * 2.5em */
        }
        
        #liquidacion .date_selector .month_nav, .date_selector .year_nav {
            margin: 0 0 3px 0;
            padding: 0;
            display: block;
            position: relative;
            text-align: center;
            }
        #liquidacion .date_selector .month_nav {
            float: left;
            width: 55%;
            }
          #liquidacion .date_selector .year_nav {
            float: right;
            width: 35%;
            margin-right: -8px; /* Compensates for cell borders */
            }
          #liquidacion .date_selector .month_name, #liquidacion .date_selector .year_name {
                font-weight: bold;
                line-height: 20px;
                }
          #liquidacion .date_selector .button {
                display: block;
                position: absolute;
                top: 0;
                width: 18px;
                height: 18px;
                line-height: 17px;
                font-weight: bold;
                color: #003C78;
                text-align: center;
                font-size: 120%;
                overflow: hidden;
                border: 1px solid #F2F2F2;
                }
            #liquidacion .date_selector .button:hover, #liquidacion .date_selector .button.hover {
                background: none;
                color: #003C78;
                cursor: pointer;
                border-color: #ccc;
                }
            #liquidacion .date_selector .prev {
                left: 0;
                }
            #liquidacion .date_selector .next {
                right: 0;
                }
            #liquidacion .date_selector table {
                border-spacing: 0;
                border-collapse: collapse;
                clear: both;
                }
            #liquidacion .date_selector th, #liquidacion .date_selector td {
                width: 2.5em;
                height: 2em;
                padding: 0;
                text-align: center;
                color: black;
                }
            #liquidacion .date_selector td {
                border: 1px solid #ccc;
                line-height: 2em;
                text-align: center;
                white-space: nowrap;
                color: #003C78;
                background: white;
                }
            #liquidacion .date_selector td.today {
                background: #FFFEB3;
                }
            #liquidacion .date_selector td.unselected_month {
                color: #ccc;
                }
            #liquidacion .date_selector td.selectable_day {
                cursor: pointer;
                }
            #liquidacion .date_selector td.selected {
                background: #D8DFE5;
                font-weight: bold;
                }
            #liquidacion .date_selector td.selectable_day:hover, #liquidacion .date_selector td.selectable_day.hover {
                background: #003C78;
                color: white;
                }

                
/*Ajustes para la vista de edicion de deals*/

.edit_deal fieldset{
    width:800px!important;
    }
                
    
    .checkbox{background:#eee;}
    
    
.fibertel_block{
    border:2px solid #0a294f;
    margin: 25px 0;
    padding: 0 0 0 20px;
    }
    
    .fibertel_block img{
        margin:-25px 0 0 15px;
        }
        
    .fibertel_block .checkbox {
        background:none;
        }

        .fibertel_block .checkbox input{
            float: left;
        }

    
        .ticketportal_block{
            border:2px solid #0a294f;
            margin: 25px 0;
            padding: 0 0 0 20px;
        }

        .ticketportal_block img{
            margin:-25px 0 0 15px;
        }


        .ticketportal_block .checkbox {
            background: none repeat scroll 0 0 transparent;
        }

        .ticketportal_block .checkbox input{
            float: left;
        }

        .ticketportal_block .checkbox label {
            width: auto;
        }


        .ticketportal_block .error-message {
            float: none;
            margin-left: 455px;
        }

        .clarin365_block{
            border:2px solid #0a294f;
            margin: 25px 0;
            padding: 0 0 0 20px;
        }

        .clarin365_block img{
            margin:-25px 0 0 15px;
        }

        .clarin365_block .checkbox {
            background: none repeat scroll 0 0 transparent;
        }

        .clarin365_block .checkbox input{
            float: left;
        }

        .clarin365_block .checkbox label {
            width: auto;
        }

        .clarin365_block .error-message {
            float: none;
            margin-left: 455px;
        }


/************** MY STUFF - MIS COSAS  ********************/

#my_stuff_tabs li{
    float: left;
    margin: 12px 0 0;
    padding: 10px;
    border-right: 2px solid #F25607;
    }
    
    
#my_stuff_tabs li a:hover{
    color:#F25607;
    }
    
    
    
    .dataUpdate{    
    background-color: #EEEEEE;
    float: left;
    font-size: 12px;
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 144px;
    width: 200px;
    }
/**************       GENERICOS       ********************/

a, a:hover{
    text-decoration: none;
    }

.form-submit {
    margin: 5px;
    width: 200px !important;
}

.textarea-editor {
    clear: both;
    float: left !important;
    width: 654px;
    height: 416px;
}


.notification{
    clear:both;
    padding:15px 0;
    text-align: center;
}

.notification p{
    background:#ccc;
    font-size: 14px;
    padding:6px;
    clear:both;
    color: #666;
    font-weight:bold;
}

/**** slots ****/
.formWrapper {
	float: right;
/* 	display: table; */
	width: 660px;
}

.formWrapper > form {
    display: inline-block;
    width: 210px;
}

.formWrapper > form label,
.formWrapper > form input,
.formWrapper > form select {
	display: inline-block;
	float: none;
	width: 180px;
}

.formWrapper > .input {
    display: inline-block;
    float: none;
    width: 100px;
    margin-top: 45px;
    margin-left: 100px;
    text-align: right;
}
.formWrapper > .input a {
	background: url("../img/icon-add.gif") no-repeat scroll left center rgba(0, 0, 0, 0);	
	display: inline-block;
 	width: 90px;
 	padding: 1px 0 2px 16px;
}
#LinksIndexForm {
	margin-top: 25px;
}

#LinksIndexForm table {
	width: 100%;
}

#LinksIndexForm thead td {
	background: #f9c667; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5YzY2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNzk2MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
/* 	background: -moz-linear-gradient(top,  #f9c667 0%, #f79621 100%); */
/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621)); */
/* 	background: -webkit-linear-gradient(top,  #f9c667 0%,#f79621 100%); */
/* 	background: -o-linear-gradient(top,  #f9c667 0%,#f79621 100%); */
/* 	background: -ms-linear-gradient(top,  #f9c667 0%,#f79621 100%); */
/* 	background: linear-gradient(to bottom,  #f9c667 0%,#f79621 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); */
	
	padding: 5px !important;
	min-height: 25px;

	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
#LinksIndexForm tbody td {
	padding: 5px;
}
.deleteIcon, .editIcon, .approveIcon, .rejectIcon{
    color:#fff;
    font-weight:bold;
    padding:2px 5px;
    font-size: 12px;
    margin:0 3px;
    width:80px;
    display:block;
    float:left;
}

.deleteIcon{
    background-color: #E31948;
}

#LinksIndexForm .submit {
	margin: 10px 25px 20px;
	
}
.slotsCopy {
	padding: 10px;	
}

.slotsCopy .input {
	width: 215px;
	padding: 5px;
}
.slotsCopy .input label {
	display: inline-block;
	width: 150px;
}
.slotsCopy .input input,
.slotsCopy .input select {
	float: none;
	display: inline-block;
/* 	width: 150px; */
}
.slotsCopy .submit {
	padding: 0 20px 10px;
}



