body{
		background: url(/img/backend/topnav_bg.gif) repeat-x #333; 
		color:#fff;
		font-family: Arial,Helvetica,sans-serif;
		font-size:12px!important;
		}
	
	#fullscreen
	{
		background: #000;
		margin: 0 auto;
		position:absolute;
		z-index:9999999;
		padding-bottom: 6px;
		width: 100%;
		height: 100%
		}
	
	
	#wrapper{

		}
		
		#header{
			/*width:1250px;*/	
			margin:0 auto;
			height:36px;
			border-bottom:1px solid orange; 
			}
			
			#header #botonera_ppal img{ margin: 2px 0 0 5px;}
		
			#botonera_secundaria input{
					font-size:10px;
					color:#555;
					border:none;
					padding:1px;
				}
		
			#botonera_secundaria select{
					font-size:10px;
					width:150px;
					color:#555;
					border:none;
					padding:0;
				}
		
			#botonera_ppal{
				}
			
				ul.topnav {
					list-style: none;
					padding: 0 20px;
					margin: 0;
					float: left;
					/*width: 920px;*/
					font-size: 12px;
					
				}
				ul.topnav li {
					float: left;
					margin: 0;
					padding: 0 15px 0 0;
					position: relative; /*--Declare X and Y axis base for sub navigation--*/
				}
				ul.topnav li a{
					padding: 10px 5px;
					color: #fff;
					display: block;
					text-decoration: none;
					float: left;
				}
				ul.topnav li a:hover{
					background: url(/img/backend/topnav_hover.gif) no-repeat center top;
				}
				ul.topnav li span { /*--Drop down trigger styles--*/
					width: 17px;
					height: 35px;
					float: left;
					background: url(/img/backend/subnav_btn.gif) no-repeat center top;
				}
				ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
				ul.topnav li ul.subnav {
					list-style: none;
					position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
					left: 0; top: 35px;
					background: #333;
					margin: 0; padding: 0;
					display: none;
					float: left;
					width: 180px;
					border: 1px solid #111;
				}
				ul.topnav li ul.subnav li{
					margin: 0; padding: 0;
					border-top: 1px solid #252525; /*--Create bevel effect--*/
					border-bottom: 1px solid #444; /*--Create bevel effect--*/
					clear: both;
					width: 180px;
				}
				html ul.topnav li ul.subnav li a {
					float: left;
					width: 145px;
					background: #333 url(/img/backend/dropdown_linkbg.gif) no-repeat 10px center;
					padding-left: 20px;
				}
				html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
					background: #222 url(/img/backend/dropdown_linkbg.gif) no-repeat 10px center;
				}
		
			#botonera_secundaria{
				float:right;
				padding:7px  0;
			}
			
		#cuerpo{
			background:#fff;
			min-height:500px;
			color:#333;
			
			
			}
			
			#data{
				width:100%;
				margin:0 auto;
				color:#333;
			}
			
				#data table{
					font-size:10px;
					}
					
					.generales, .precio, .usuarios, .vendidos, .comision, .acc{background:#333; color:#fff;}
					.generales{}
					.precio   {}
					.usuarios {}
					.vendidos {}
					.comision {}
					.acc{}
					
					
					/*Estilos para scroll de tabla*/
					.tablescroll
					{ font: 12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; background-color:#fff; }
					 
					.tablescroll td, 
					.tablescroll_wrapper,
					.tablescroll_head,
					.tablescroll_foot
					{ }
					 
					 
					.tablescroll_wrapper
					{ border-left:0; }
					 
					.tablescroll_head
					{ font-size:11px; font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-bottom:3px; }
					 
					.tablescroll thead td
					{ border-right:0; border-bottom:0; }
					 
					.tablescroll tbody td
					{ border-right:0; border-bottom:0; }
					 
					.tablescroll tbody tr.first td
					{ border-top:0; }
					 
					.tablescroll_foot
					{ font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-top:3px; }
					 
					.tablescroll tfoot td
					{ border-right:0; border-bottom:0; }
					
					
					#data table .alt0{
						background:#fcfcfc;
						}
					
					#data table tr th{
						font-weight:bold;
						padding:2px 0;
						font-size:10px;
						}
					
					#data .key{
						padding:5px 0;
						}
					
					#data .acciones{
						text-align:right;
						font-size:10px;
						padding:0 10px 0 0;	
						}
					
					#data table tr td{
						text-align:center;
						padding:5px 0;
						
						}
		
		#navegacion_inferior, #navegacion_inferior_izq{
			margin:10px;
			color:#888;
			}
		
		#navegacion_inferior_izq{
			float:left;
			}
		
		#navegacion_inferior{
			float:right;
			font-weight:bold;
			}
		
		#footer{
			border-top:1px solid orange;
		}
		
		#footer a {
				color:#d67533;
				}
				
				
				
	form{}
	
	form input, form select{
		border:none;
		font-size:10px;
		color:#333;
		background:#eee;
		margin:2px 10px;
		padding:5px;
		}
		
		
	/* css timepicker */
	.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
	.ui-timepicker-div dl{ text-align: left; }
	.ui-timepicker-div dl dt{ height: 25px; }
	.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }
		
/*genericas, pasar a reset*/

a{
	color:inherit;
	text-decoration:none;
}

#data h2{
	color:orange;
	font-size:25px;
	padding:15px 15px 0 15px ;
}

#data p{
	padding:15px;
}

#data strong{
	color:orange;
	font-weight:bold;
}

#data .textos td{
padding:0;
}

h3 a{
font-weight:bold!important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited  {color:orange!important;}

