#buying-form, #buying-form form {
  width:698px;
  float:left;
}

#buying-form table.buy {
  width:585px;
  float:left;
}

#buying-form table.buy th {
  padding:10px;
  background:#fff2ac;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  text-align:left;
}

#buying-form table.buy td {
  padding:10px;
  font-size:14px;
  font-weight:bold;
}

#buying-form table.buy td.description {
  width:250px;
}

#buying-form table.buy td.quantity {
  font-weight:normal;
}

#buying-form table.buy td.quantity .input {
  float:none;
  width:auto;
  margin:0;
  display:inline;
}

#buying-form table.buy td.quantity input {
  width:30px;
}

#buying-form table.buy td.quantity .info {
  clear:both;
  white-space:nowrap;
}

#buying-form table.buy td.total {
  font-size:16px;
}

#buy_form_badge {
  width:210px;
  height:121px;
  padding:0 14px 0 0;
  margin:0 0 -121px -224px;
  float:right;
  position:relative;
  left:0;
  top:-50px;
  background:url(../img/buy_form_badge.png) no-repeat;
  line-height:140px;
  text-align:right;
  font-size:36px;
  font-weight:bold;
  color:#d75500;
}

#buying-form .ajax-login {
  width:698px;
  height:250px;
  border-top:1px solid #d7d6d4;
  /*border-bottom:1px solid #d7d6d4;*/
  margin:0 0 25px;
  /*float:left;*/
  position:relative;
  /*top:114px;*/
}

#buying-form .ajax-login #fb_balloon {
  position:absolute !important;
  right:30px;
  top:95px;
}

#buying-form #login_pusher {
  width:698px;
  height:0px;
  float:left;
}

#buying-form .ajax-login label {
  width:110px;
  float:left;
  text-align:right;
}

#buying-form .ajax-login input {
  width:300px;
}

#buying-form .ajax-login .checkbox {
  padding:0 0 0 125px;
}

#buying-form .ajax-login .checkbox label {
  width:200px;
  text-align:left;
}

#buying-form .ajax-login .links {
  width:300px;
  padding:5px 0 0 115px;
  float:left;
}

#buying-form .ajax-login .links a {
  margin:0 5px;
  color:#F25607;
  font-weight:bold;
}

#buying-form .ajax-login .submit {
  margin:10px 0 0;
}

#buying-form .ajax-login #bt_login {
  margin:0 0 0 340px;
}

#buying-form .ajax-login .error-message {
  margin:-5px 265px -15px 0;
}

#buying-form .register {
  width:698px;
  padding:0 0 25px;
  border-bottom:1px solid #D7D6D4;
  float:left;
}

#buying-form .register p {
  width:698px;
  float:left;
}

#buying-form .register small {
  width:698px;
  padding:5px 0 10px;
  float:left;
  font-size:11px;
}

#buying-form .register small sup {
  color:#F25607;
}

#buying-form .register label {
  width:150px;
  text-align:right;
}

#buying-form .register .error-message {
  float:left;
  margin:0 0 0 5px;
}

#buying-form .payment {
  width:698px;
  float:left;
}

#buying-form .payment .radio {
  width:680px;
  padding:0 0 0 18px;
  margin:0;
}

#buying-form .payment .radio label {
  margin-bottom:5px;
}

#buying-form .submit #bt_pagar {
  margin:0 0 0 -75px;
  position:relative;
  left:50%;
}

.gift {
  width:508px;
  height:280px;
  float:left;
}

.gift h2 {
  width:96%;
  float:left;
  padding:15px 2%;
}

.gift label {
  width:130px;
  margin:0 5px 0 15px;
  text-align:right;
}

.gift input, .gift textarea {
  width:280px;
}

.gift textarea {
  height:80px;
}

.gift input, .gift textarea {

    border: 1px solid #CCCCCC;

    border-radius: 0 0 0 0;

    width: 180px;

}

#give-as-gift-form td div {
  font-size: 12px;
  /* background: url(../img/give-as-gift-edit-form.png) no-repeat; */
  background: #ffd8b7;
  padding:5px;
  line-height: 20px;
  text-align: center;
  color: #3d3e40;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  font-weight: normal;
}

#give-as-gift-form td div a {
  font-weight: bold;
  color: #fb631a;
}

#give-as-gift-form td div span.js-give-as-gift-to {
  font-weight: bold;
}

#give-as-gift-form {
  display: none;
}

/* CARD LOGOS */
.cardLogo {
  width:130px;
  height:22px;
  margin:0 5px 0 0;
  float:left;
  background-repeat:no-repeat;
  background-position:25% 50%;
}

.american_express {
  background-image:url(../img/card_logos/american_express.gif);
}

.argencard {
  background-image:url(../img/card_logos/argencard.gif);
}

.cabal {
  background-image:url(../img/card_logos/cabal.gif);
}

.diners {
  background-image:url(../img/card_logos/diners.gif);
}

.italcred {
  background-image:url(../img/card_logos/italcred.gif);
}

.master_card {
  background-image:url(../img/card_logos/master_card.gif);
}

.mastercard {
  background-image:url(../img/card_logos/master_card.gif);
}

.master_card_citi_argentina {
  background-image:url(../img/card_logos/master_card.gif);
}

.mastercard_citi_argentina {
  background-image:url(../img/card_logos/master_card.gif);
}

.naranja {
  background-image:url(../img/card_logos/naranja.gif);
}

.shopping {
  background-image:url(../img/card_logos/shopping.gif);
}

.visa {
  background-image:url(../img/card_logos/visa.gif);
}

.visa_citi_argentina {
  background-image:url(../img/card_logos/visa.gif);
}

.otras_tarjetas {
}

#noDni {
  width:100%;
  padding:10px 0 20px;
  margin:20px 0;
  float:left;
  border-top:1px solid #D7D6D4;
  border-bottom:1px solid #D7D6D4;
}

#noDni h4 span {
  display:block;
  font-size:14px;
  padding:5px 0;
}

#noDni h4 small {
  display:block;
  color:#000;
  font-size:12px;
}

#noDni h3 strong {
  font-size:18px;
  font-weight:bold;
}

#noDni .error-message {
  float:left;
  margin-left:5px;
}

#buying-form .select span.info {
  padding-left:5px;
  padding-top:7px;
}

#dialog_ticketportal {
width:300px; height:250px; background-image:url(/img/carlin365_dialog_bg.jpg); background-repeat:repeat-x; border-radius:10px; border: 1px solid #dc6e41; margin:0 auto;}

.ticketportal_logo {
    float: left;
    height: 45px;
    margin-left: 12px;
    margin-top: 10px;
    width: 45px;
}

.ticketportal_relleno {height:31px; width:230px; border:1px solid #b8bab8; padding-left:7px; font-size:11px; background-color:#e7e7e7; font-weight: bold;}

.ticketportal_descripcion {width:288px; height:23px; margin-top:13px; float:left; line-height:23px; border-top: 1px solid #dc6e41; border-bottom: 1px solid #dc6e41; padding-left:12px; font-size:13px; color:#000}

.ticketportal_info {float:left; font-size:11px; color:#F60; width:250px; margin-top:10px; margin-left:12px;}

#ticketportal_pin_div {width:230px; height:31px; float:left; margin-left:12px; margin-top:12px;}

.ticketportal-messages {float:left; font-size:11px; color:#F60; width:220px; margin-top:5px; margin-left:12px;}

#bt_go_ticketportal {width:95px; height:46px; float:right; margin-right:10px; margin-top:13px; background-image:url(/img/clarin365_comprar.png)}

#dialog_clarin365 {
    width:300px; 
    height:250px;
    background-image:url(/img/clarin365_dialog_bg.jpg);
    background-repeat:repeat-x;
    border-radius:10px;
    border: 1px solid #dc6e41;
    margin:0 auto;
}

#clarint365_logo {
    float: left;
    height: 45px;
    margin-left: 12px;
    margin-top: 10px;
    width: 45px;
}

.clarin365_form {
    margin-top: -5px;
}
.clarin365_ingresa { 
    border-bottom: 1px solid #DC6E41;
    border-top: 1px solid #DC6E41;
    color: #000000;
    float: left;
    font-size: 13px;
    height: 23px;
    line-height: 23px;
    margin-top: 13px;
    width: 288px;
}

.clarin365_texto1 {
    margin-top:17px;
    float:left;
    font-size:13px;
    color:#000;
    width:100px
}


#clarin365_ingresa {
    border-bottom: 1px solid #DC6E41;
    border-top: 1px solid #DC6E41;
    color: #000000;
    float: left;
    font-size: 13px;
    height: 23px;
    line-height: 23px;
    margin-top: 13px;
    padding-left: 12px;
    width: 288px;
}

.clarin365_relleno {
    height:31px;
    width:230px;
    border:1px solid #b8bab8;
    padding-left:7px;
    font-size:13px;
    background-color:#e7e7e7;
    margin-top:12px;
    font-weight: bold;
}

.clarin365_tarjeta {
 width:68px;
 height:50px;
 margin-top:-50px;
 padding-right:10px;
 float:right;
 z-index:100;
}

.clarin365_tarjeta img {
 height:125%;
}

.clarin365-state-success {color:#2fa550;}
.clarin365-state-error {color:#F00;}

.clarin365-messages-success {float:left; padding-left:12px;font-size:11px; color:#2fa550; width:220px; margin-top:5px}
.clarin365-messages-error {float:left; padding-left:12px;font-size:11px; color:#F00; width:220px; margin-top:5px}
.clarin365-messages {float:left; padding-left:12px;font-size:11px; width:220px; margin-top:5px}


#boton_clarin365_cancelar {width:70px; height:34px; float:right; margin-top:25px; margin-right:5px; background-image:url(/img/clarin365_cancelar.png)}
#boton_clarin365_comprar {width:95px; height:46px; float:right; margin-right:10px; margin-top:30px; background-image:url(/img/clarin365_comprar.png)}

