#content {
  width:740px;
  float:left;
}

#content.box {
  width:698px;
}

#content_full {
  width:980px;
  float:left;
}

#content_full.box {
  width:938px;
}
#content_full.prePopup {
  width:896px;
}
#content_full.bannerTop {
  width:950px;
  padding: 13px;
}

#content.box .left {
  width:238px;
  float:left;
}

.preBox .txt {
  width:100%;
  margin:20px 0;
  float:left;
  text-align:center;
}
.prePopup .header {
  background: #303030 url(../img/pre_ingreso_header.jpg) top repeat-x;
  width:100%;
  height: 93px;
  margin: 0px;
  text-align:center;
/*  padding: 12px 0;*/
}
.prePopup .header img {
  margin-top: 8px;
  width: 188px;
}
.prePopup {
  padding:0;
  margin: 0;
  border: none;
}

.preBox .subs_box {
  width:635px;
  height:73px;
  margin:20px 0 20px 44px;
  padding:50px 0 0 215px;
  float:left;
  display:inline;
  background:url(../img/pre/box_bg.png) no-repeat;
}
.prePopup .subs_box {
  margin: 20px 0 20px 28px;
}

.preBox .subs_box input {
  width:190px;
  float:left;
  color:#3c3227;
  font-size:14px;
}

.preBox .subs_box select.orange {
  width:190px;
  color:#f25607;
  font-size:12px;
  font-weight:bold;
  margin:0 0 0 95px;
}

.preBox .subs_box input.submit {
  width:113px;
  height:40px;
  border:0;
  margin:-7px 0 0 15px;
  background:url(../img/pre/btn.png) no-repeat top;
  cursor:pointer;
}

.preBox .subs_box input.submit:hover {
  background:url(../img/pre/btn.png) no-repeat bottom;
}

.preBox select.orange {
  color:#f25607;
  font-size:12px;
  font-weight:bold;
}

.preBox input.submitNew {
  width:149px;
  height:49px;
  border:0;
  margin:-3px 0px 0px 0px;
  background:url(../img/pre/new/boton.png) no-repeat;
  cursor:pointer;
}

.preBox input.submitNew:hover {
  background:url(../img/pre/new/boton2.png) no-repeat;
}

.preBox .imgs {
  width:850px;
  margin:8px 0 20px 44px;
  float:left;
  display:inline;
}

.preBox .imgs img {
  margin:0 24px 0 0;
}

#deal_tag {
  width:238px;
  height:369px;
  padding:60px 0 0;
  margin:0 0 -30px;
  float:left;
  position:relative;
  top:-30px;
  background:url(../img/deal_tag.png) no-repeat;
  
  
}

#deal_tag h2 {
  width:232px;
  height:70px;
  padding:5px 6px 0 0;
  float:left;
  text-align:center;
  font-size:60px;
  font-weight:bold;
}

#deal_tag .bt_buy {
  width:190px;
  height:64px;
  margin:10px 0 0 21px;
  float:left;
  background:url(../img/bt_buy.png) no-repeat top;
  cursor:pointer;
}

#deal_tag .bt_buy:hover {
  background-position:bottom !important;
}

#deal_tag h3 {
  width:232px;
  padding:15px 6px 0 0;
  float:left;
  text-align:center;
  font-size:12px;
  font-weight:bold;
}

#deal_tag h4 {
  width:232px;
  padding:10px 6px 0 0;
  float:left;
  text-align:center;
  font-size:12px;
  font-weight:bold;
}

#deal_tag h4.blackTitleSmallCentered {
  height:20px;
}

#deal_tag .social_actions {
  margin:5px 0 0 60px;
}

#deal_tag .not_available {
  width:236px;
  height:168px;
  margin:-10px 0 -10px -2px;
  float:left;
  background:url(../img/not_available_tag.png) no-repeat;
}

#recommend {
  width:100%;
  padding:20px 0;
  float:left;
  border-bottom:1px solid #ccc;
}

#recommend h4 {
  width:100%;
  padding:0 0 10px;
  float:left;
}

#recommend p {
  width:120px;
  padding:0 20px 0 0;
  float:left;
}

#recommend img {
  float:left;
}

#company_data {
  width:100%;
  padding:20px 0;
  float:left;
}

#company_data h2 {
  width:100%;
  padding:0 0 20px;
  float:left;
  font-size:20px;
  font-weight:bold;
}

#company_data p {
  width:100%;
  padding:0 0 20px;
  float:left;
}

#company_data p a {
  font-weight:bold;
  word-wrap:break-word;
}

#content.box .right {
  width:440px;
  padding:0 0 0 20px;
  float:left;
}

#right_title {
  /* width:100%; */
  padding:10px 0 0;
  float:left;
  /* font-size:50px; */
  /* font-size:30px; */
  font-size: 24px;
  color:#F25607;
  font-weight:bold;
}

#deal_title {
  /* width:100%; */
  padding:0 0 20px;
  /* float:left; */
  font-size:24px;
  font-weight: normal;
}

#deal_countdown {
  width:162px;
  margin:15px 0 0 10px;
  padding:0 0 0 45px;
  float:left;
  background:url(../img/countdown_clock.png) no-repeat;
}

#deal_countdown .countdown_row {
  width:100%;
  float:left;
}

#deal_countdown .countdown_row .countdown_section {
  width:54px;
  float:left;
  text-align:center;
}

#deal_countdown .countdown_row .countdown_section_separator {
  width:0;
  float:left;
  color:#f25607;
  font-size:36px;
  font-weight:bold;
  position:relative;
  left:-6px;
}

#deal_countdown .countdown_row .countdown_section .countdown_amount {
  width:54px;
  float:left;
  color:#f25607;
  font-size:36px;
  letter-spacing:-1px;
  font-weight:bold;
  text-align:center;
}

#deal_countdown .countdown_row .countdown_section .labels {
  width:53px;
  float:left;
  font-size:10px;
  letter-spacing:-1px;
  text-align:center;
}

#deal_countdown .countdown_row .countdown_section_label_separator {
  width:1px;
  height:10px;
  border-left:1px solid #F25607;
  float:left;
  position:relative;
  left:4px;
  top:2px;
}

#deal_data {
  width:440px;
  padding:10px 0;
  float:left;
}

#deal_data .prices {
  width:280px;
  height:63px;
  margin:0 10px 0 0;
  float:left;
  background:url(../img/deal_data_prices_bg.png) no-repeat bottom;
}

#deal_data .prices div {
  width:75px;
  float:left;
  text-align:center;
}

#deal_data .prices div span {
  width:100%;
  float:left;
  margin:10px 0 0;
  font-size:10px;
  letter-spacing:-1px;
}

#price_only .first span{
    padding: 5px 0 0 0;
    margin:0!important;
    font-size: 20px!important;
    text-align: center;
}

#price_only{
    width: 280px!important;
    font-size: 36px!important;
    color:#5f5f5f;
}

#price_only small{
    font-weight: 700;
}

#price_only_small small{
    font-weight: bold;
    font-size: 16px!important;
    margin-top: 10px;
    
}

#deal_data .prices div strong {
  width:100%;
  height:34px;
  padding:4px 0 0;
  line-height:38px;
  vertical-align:middle;
  float:left;
  color:#5f5f5f;
  font-size:15px;
}

#deal_data .prices div.middle {
  width:130px;
}

#deal_data .prices div.middle strong {
  border-left:1px solid #e2e2e2;
  border-right:1px solid #e2e2e2;
  color:#f25607;
  font-weight:bold;
  font-size:20px;
  text-indent:7px;
}

#deal_data .prices .last strong {
  font-size:18px;
}

#deal_data .prices div object {
  margin:2px 0 0;
  float:left;
}

#deal_data .prices div.middle object {
  margin:0;
}

#deal_data .prices div.middle #arrow_curve {
  width:39px;
  height:39px;
  margin:0 0 -39px -39px;
  float:left;
  position:relative;
  top:40px;
  left:25px;
  background:url(../img/arrow_curve.png) no-repeat;
}

#deal_like {
  width:440px;
  padding:10px 0;
  float:left;
}

#deal_description {
  width:100%;
  float:left;
}

#deal_description h2 {
  width:100%;
  padding:10px 0 5px;
  float:left;
  font-size:20px;
  font-weight:bold;
  color:#F25607;
}

#deal_description .full {
  width:440px;
  float:left;
}

#deal_description .half {
  width:220px;
  padding:0 0 15px;
  float:left;
}

#deal_description .content {
  width:100%;
  float:left;
}

#deal_description .half .content {
  width:95%;
}

#deal_description .content .faq_inner_link {
  width:100%;
  float:left;
  padding:15px 0;
}
#deal_description ul {
  list-style-image: url(/img/bullet-deal.gif);
  margin-left: 15px;
}
#deal_description li {
  margin-top: 3px;
}

.login {
  width:100%;
  float:left;
}

.login form {
  width:450px;
  margin:0 0 0 50px;
}

.login label {
  width:110px;
  float:left;
  text-align:right;
}

.login input {
  width:318px;
}

.login .checkbox {
  padding:0 0 0 125px;
}

.login .checkbox label {
  width:200px;
  text-align:left;
}

.login #fb_balloon {
  /*left:200px;*/
  /*top:15px;*/
  top:125px;
  right: 260px;
}

.login .links {
  width:300px;
  padding:15px 0 0 115px;
  float:left;
}

.login .links a {
  margin:0 5px;
  color:#F25607;
  font-weight:bold;
}

.login #bt_login {
  margin:0 0 0 340px;
}

#register {
  width:100%;
  float:left;
}

#register .input {
  width:472px;
}

#register label {
  width:150px;
  text-align:right;
}

#register input {
  width:300px;
}

#register .info {
  width:305px;
  margin:0 0 0 165px;
}

#register .checkbox {
  width:100%;
}

#register .checkbox label {
  width:500px;
  text-align:left;
  background:none;
}

#register #fb_balloon {
 /* top:71px;*/
}

#register .submit input#bt_enviar {
  margin:15px 0 0 -33px !important;
  position:relative !important;
  left:50% !important;
}

#recent_deals {
  width:100%;
  float:left;
}

#recent_deals li {
  width:317px;
  height:215px;
  margin:0 15px 30px;
  border:1px solid #d2d2d2;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  float:left;
  position:relative;
  background:#efefef;
}

#recent_deals li h3 {
  width:297px;
  height:30px;
  padding:10px;
  float:left;
  overflow:hidden;
  font-size:16px;
  font-weight:bold;
}

#recent_deals li .mini_tag {
  width:115px;
  height:139px;
  padding:30px 0 0;
  float:left;
  position:absolute;
  left:-20px;
  bottom:-20px;
  background:url(../img/deal_tag_mini.png) no-repeat;
}

#recent_deals li .mini_tag small {
  width:100%;
  padding:5px 0 0;
  float:left;
  text-align:center;
  font-size:11px;
  text-transform:uppercase;
}

#recent_deals li .mini_tag strong {
  width:100%;
  float:left;
  text-align:center;
  font-size:18px;
  text-indent:-3px;
}

#recent_deals li .mini_tag strong.orange {
  font-size:20px;
  font-weight:bold;
  color:#F25607;
}


#recent_deals li img {
  float:right;
  position:absolute;
  bottom:10px;
  right:10px;
}

#recent_deals li:hover {
  border-color:#999;
}

#recent_deals li:hover h3 {
  color:#F25607;
}

.subscribe input, .subscribe select {
  width:300px;
  float:left;
  clear:both;
  margin:0 0 0 5px;
}

.subscribe label {
  width:auto;
  margin:0 400px 0 0;
}

.subscribe .error-message {
  width:346px;
  text-align:left;
  float:left;
  margin:0 0 0 20px;
  display:inline;
}

.subscribe small {
  float:left;
  margin:5px 0 0 5px;
  font-size:11px;
}

.subscribe .bt_suscribirme {
  width:100px;
  border:0;
  margin:0 0 0 205px;
  background:url(../img/bt_suscribirme.png) no-repeat top;
}

.subscribe .bt_suscribirme:hover {
  background-position:bottom !important;
}

.companies label {
  width:130px;
  text-align:right;
}

.companies .checkbox label {
  width:250px;
  text-align:left;
}

.companies .info {
  width:500px;
  padding:5px 0 0 5px;
  font-size:10px;
}

.companies .input input {
  width:170px;
}

.buyOk, .buyCanceled {
  position:relative;
  min-height:305px;
}

.buyOk .tag, .buyCanceled .tag {
  width:175px;
  height:314px;
  float:right;
  position:absolute;
  right:15px;
  top:15px;
  background:url(../img/popup_recommend/tag.png) no-repeat;
}

.buyOk h6, .buyCanceled h6 {
  width:510px;
  float:left;
  font-size:24px;
  font-weight:bold;
}

.buyOk p, .buyCanceled p {
  width:510px;
  padding:15px 0;
  float:left;
}

.buyOk table {
  width:510px;
  float:left;
}

.buyOk table th {
  padding:15px 10px;
  border:3px solid #fff;
  background:#fff2ac;
  font-size:11px;
  font-weight:bold;
  text-align:left;
}

.buyOk table td {
  border:3px solid #fff;
  padding:5px 10px;
}

.buyOk table td.desc strong {
  padding:5px 0 0;
  float:left;
  font-size:14px;
}

.buyOk table td.gray {
  background:#f2f2f2;
}

.buyOk .links, .buyCanceled .links {
  width:100%;
  padding:15px 0;
  float:left;
}

.buyOk .links a, .buyCanceled .links a {
  margin:0 15px;
  display:inline;
}

.buyOk .links .bt_volver, .buyCanceled .links .bt_volver {
  width:67px;
  height:28px;
  border:0;
  float:left;
  background:url(../img/bt_volver.png) no-repeat top;
}

.buyOk .links .bt_ir_a_mis_cupones, .buyCanceled .links .bt_ir_a_mis_cupones {
  width:126px;
  height:28px;
  border:0;
  float:left;
  background:url(../img/bt_ir_a_mis_cupones.png) no-repeat top;
}

.buyOk .links .bt_volver:hover, .buyOk .links .bt_ir_a_mis_cupones:hover,
.buyCanceled .links .bt_volver:hover {
  background-position:bottom !important;
}

.forgotPass label {
  width:155px;
  text-align:right;
}

.forgotPass input {
  width:250px;
}

.forgotPass .submit input {
  margin:0 0 0 360px;
}

#buying-form .terms, #register .terms {
  width:638px;
  height:105px;
  margin:15px 0 0;
  padding:15px 30px 0;
  float:left;
  background:url(../img/buy_form_terms_bg.png) no-repeat bottom center;
}

#buying-form .terms .checkbox, #register .terms .checkbox {
  margin:20px 0 0;
}

.yellowBox {
  width:668px;
  height:104px;
  padding:15px;
  margin:15px 0 0;
  float:left;
  background:url(../img/yellow_box.gif) no-repeat;
}

.yellowBox h4 {
  height:30px;
  padding:0;
}

.yellowBox p {
  width:100%;
  /*padding:10px 0 0;*/
  float:left;
  font-size:13px;
  line-height:20px;
}

.faq h3 {
  width:100%;
  padding:0 0 5px;
  float:left;
  font-size:12px;
  font-weight:bold;
}

.faq p {
  width:100%;
  float:left;
}

.faq a {
  color:#F25607;
}

.changePassword {
  width:100%;
  float:left;
}

.changePassword label {
  width:180px;
  text-align:right;
}

.changePassword .submit input#btCambiarContrasenia {
  width:155px !important;
  height:28px !important;
  margin:10px 0 0 195px !important;
  padding:0 !important;
  border:0 !important;
  background:url(../img/bt_cambiar_contrasenia.png) no-repeat left top !important;
}

.changePassword .submit input#btCambiarContrasenia:hover {
  border:0 !important;
  background:url(../img/bt_cambiar_contrasenia.png) no-repeat left bottom !important;
}

.recent_deals .paging {
  width:100%;
  float:left;
  clear:both;
}

#DealUserUpdateForm table.list th.actions {
  width:80px;
}

#DealUserUpdateForm table.list td.status-0 a,
#DealUserUpdateForm table.list td.status-1 a {
  width:16px;
  height:16px;
  float:left;
  display:inline;
  margin:0 2px;
}

#DealUserIndexForCompanyForm .input, #DealUserIndexForCompanyForm .submit {
  width:215px !important;
}

#DealUserIndexForCompanyForm .submit input {
  margin:22px 0 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  display:none;
}

#UserProfileEditForm .ui-datepicker-title {
  float:left;
  margin:0;
  width:100%;
}

#my-account #UserProfileEditForm .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-datepicker-calendar .ui-state-active,
#my-account #UserProfileEditForm .ui-widget-content .ui-datepicker-calendar .ui-state-active {
  border-right:0 !important;
  border:0 !important;
  background:#F25607 !important;
  color:#fff !important;
}

#my-account #UserProfileEditForm .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-datepicker-calendar .ui-state-highlight,
#my-account #UserProfileEditForm .ui-widget-content .ui-datepicker-calendar .ui-state-highlight {
  border-right:1px solid #D7D7D7 !important;
  border-top:0 !important;
  border-left:0 !important;
  border-bottom:0 !important;
  background:none transparent !important;
  color:#333 !important;
  font-weight:bold !important;
}

.quantityShow span {
  color:#F25607;

}

div.quantityShow {
  width:100%;
  padding:10px 0 0;
  float:left;
  text-align:center;
  font-size:12px;
  font-weight:bold;
}

#quantityBar {
  width:238px;
  float:left;
  height:30px;
  position:relative;
  overflow:hidden;
  text-indent:-9999px;
}

#quantityBar .overlay {
  width:238px;
  float:left;
  height:30px;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  background:url(../img/deal_quantity_overlay.png) no-repeat;
}

#quantityBar .bar {
  width:0;
  height:30px;
  float:left;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  background:url(../img/deal_quantity_bar.png) repeat-x;
}

    /*Fix de ajsute del ancho de las cajas en los formularios, para la vista de mi cuenta->mis datos*/
    #my-account .input, #my-account .checkbox, #my-account .radio, #my-account .select, #my-account .submit {
        width:100%!important;        
    }
