#footer {
  width:100%;
  float:left;
  height:115px;
  background:#d9d9d9;
}

#footer_pre {
  width:100%;
  float:left;
  height:60px;
  position:fixed;
  bottom:0;
  left:0;
  line-height:60px;
  text-align:center;
  background:#d9d9d9;
  font-size:11px;
}

#footer_pre a {
  color:#f25607;
}

#footer_push {
  width:100%;
  height:60px;
  margin:20px 0 0;
  float:left;
  clear:both;
}

#footer .center {
  width:980px;
  height:95px;
  margin:20px auto 0;
}

#logo_footer {
  float:left;
}

#bottom_nav {
  width:640px;
  padding:10px 0 0 20px;
  float:left;
}

#bottom_nav li {
  width:auto;
  float:left;
  padding:0 5px;
  margin:5px 0;
  border-right:1px solid #000;
  white-space:nowrap;
}

#bottom_nav li.small {
  font-size:11px;
}

#footer .social_actions {
  margin:20px 0 0;
  float:right;
}