#header .right_frame form input {
  padding-top:2px !important;
  padding-bottom:2px !important;
}

#header .right_frame form input.submit {
  padding-top:0 !important;
  padding-bottom:0 !important;
  height:23px !important;
  line-height:23px !important;
}

.recent_deals .paging {
  padding:20px 0 5px !important;
}

#DealUserUpdateForm .js-pagination, #DealUpdateForm .js-pagination {
 float:none !important;
 text-align:center !important;
 margin:0 auto !important;
}

#UserProfileEditForm .ui-datepicker .ui-datepicker-header {
  float:left;
}