.jcarousel-skin-clubcupon .jcarousel-container {
  margin: auto;
  margin-top: 5px;
}

.jcarousel-skin-clubcupon .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-clubcupon .jcarousel-container-horizontal {
    width: 437px;
}


.jcarousel-skin-clubcupon .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-clubcupon .jcarousel-clip-horizontal {
    width:  437px;
    height: 100px;
}


.jcarousel-skin-clubcupon .jcarousel-item {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.jcarousel-skin-clubcupon .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-clubcupon .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
  margin-right: 0;
}


.jcarousel-skin-clubcupon .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-clubcupon .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: -25px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-clubcupon .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../img/prev-horizontal.png);
}

.jcarousel-skin-clubcupon .jcarousel-next-horizontal:hover,
.jcarousel-skin-clubcupon .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-clubcupon .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-clubcupon .jcarousel-next-disabled-horizontal,
.jcarousel-skin-clubcupon .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-clubcupon .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-clubcupon .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-clubcupon .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: -25px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-clubcupon .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../img/next-horizontal.png);
}

.jcarousel-skin-clubcupon .jcarousel-prev-horizontal:hover,
.jcarousel-skin-clubcupon .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-clubcupon .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-clubcupon .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-clubcupon .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-clubcupon .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-clubcupon .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-clubcupon li img {
  height: 100px;
  width: 100px;
}