@charset "UTF-8";
/* CSS Document */
body { margin:0; padding:0; }
#wrapper_top { width: 100%; height: 90px; float:left; background:url(../img/landing-full/degrade_top.png) repeat-x; margin: 0; padding:0; }
#wrapper_all { margin: 0; padding: 0; width: 950px; height: 100%; z-index: 999; }
#wrapper_content { margin: 0; padding: 0; width: 950px; height: 100%; float:left; }
#content_all { width: 662px; height:411px; margin: 40px 0 0 50px; float:left; }
.tit { font-family:Arial, Helvetica, sans-serif; font-size: 36px; font-weight:bold; text-align:left; text-transform:uppercase; color: #2d2d2d; }
.formulario { width: 644px; height: 170px; background:url(../img/landing-full/bg_form.png) no-repeat; float: left; margin-top: 10px; }
.form { width: 570px; margin: 90px 0 0 40px; float:left; }
.call { float:left; }
.campo_email { background: url(../img/landing-full/bg_email.png) no-repeat; width: 366px; height: 42px; float: left; }
.input_text_required { float:left; }
#SubscriptionEmail { width: 350px; height: 20px; margin: 10px 0 0 10px; border: none;background-color: #e7e2e2; float:left }
.bt_suscribirme { background:url(../img/landing-full/btn_quiero_ahorrar.png) no-repeat; width: 174px; height: 42px; float:right; cursor:pointer; margin:0; padding: 0; border: none; }
.call { width: 100%; height: 20px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #CCC; padding: 10px 0 0 10px; }
#SubscriptionEmail { font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: #666; }
/* FONDOS */
.bg_transparente { width: 741px; height: 501px; background:url(../img/landing-full/fondo_transparente.png) no-repeat; margin: 10px 0 0 20px; }
#bg2 { z-index: -999; position:fixed; top: 0%; left: 0%; width:100%; height:100%; }
#bg2 img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; min-width:100%; min-height:100%;	}

.regis {
    float: right;
    height: 20px;
    margin: -20px 0 0 35px;
    width: 170px;
}

.regis a{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #FFF;
	text-decoration:none;
}

.regis a:hover{
	color: #F60;
}