#menu {
  width:480px;
  height:60px;
  padding:15px 0 0 20px;
  float:left;
  font-size:13px;
}

#menu li {
  width:146px;
  height:42px;
  line-height:42px;
  float:left;
  margin:0 0 0 10px;
  display:inline;
  border:1px solid #575757;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  text-align:center;
}

#menu li a {
  width:146px;
  height:42px;
  display:block;
  text-decoration:none;
  color:#fff;
  font-weight:bold;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
}

#menu li a img {
  margin:0 0 0 5px;
}

#menu li a:hover {
  background:#F57F24;
}

#menu li:hover {
  margin:1px 1px 0 11px;
  border-width:0 0 1px;
  border-color:#F25607;
}

#menu li.highlight {
  width:146px;
  height:57px;
  line-height:43px;
  border:0;
  background:url(../img/menu_highlight.png) no-repeat;
  font-weight:bold;
}

#menu li.highlight:hover {
  background-position:bottom !important;
  margin:0 0 0 10px;
}

#menu li.highlight a {
  height:57px;
  color:#000;
  background:none transparent;
}

#menu li.highlight:hover a {
  color:#fff;
}
