/* flash messages */
.message {
  width:840px;
  padding:30px 70px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  margin:0 0 0 -490px;
  position:absolute;
  left:50%;
  top:25px;
  z-index:500;
  background-color:#fff;
  background-repeat:no-repeat;
  background-position:10px 10px;
  -moz-box-shadow:0 2px 15px #000;
  -webkit-box-shadow:0 2px 15px #000;
  -khtml-box-shadow:0 2px 15px #000;
  box-shadow:0 2px 15px #000;
  font-size:14px;
  font-weight:bold;
  color:#333;
  -moz-opacity:.90;
  filter:alpha(opacity=90);
  opacity:0.9;
}

#errorMessage, #authMessage {
  background-image:url(../img/icon-error.png);
}

#successMessage {
  background-image:url(../img/icon-success.png);
}

#flashMessage {
  background-image:url(../img/icon-warning.png);
}

.success-msg {
  padding:30px 0 30px 70px;
  margin:0 30px;
  font-weight:bold;
  background-image:url(../img/icon-success.png);
}

/* inline messages */
.notice {
  float:left;
  color:#F00;
  background:url(../img/icon-list-warning.png) no-repeat left center;
  padding:2px 2px 2px 25px;
}

.page-info {
  border:1px dashed #ccc;
  color:#666;
  margin:15px;
  padding:20px 10px 20px 75px;
  position:relative;
  vertical-align:middle;
}

.page-info:hover {
  color:#333;
}
