.popup .message {
  width:700px !important;
  margin:0 0 0 -425px !important;
}

#popup_recommend {
  padding:0;
  position:relative;
}

#popup_recommend .left, #popup_recommend .right {
  float:left;
  margin: 0 0 15px 0;
}

#popup_recommend .left{
    width:350px;
    padding: 10px 0 0 40px;
}

#popup_recommend .right {
    width:370px;
    margin: 10px 0 0 80px;
}

#popup_recommend img.title {
  float:left;
}

#popup_recommend small {
  padding:5px 0 0 0;
  float:left;
}

#popup_recommend form {
  width:100%;
  float:left;
}

#popup_recommend form label,
#popup_recommend form input,
#popup_recommend form textarea {
  width:290px;
  float:left;
}

#popup_recommend form label {
  padding:8px 0 5px;
}

#popup_recommend form select {
  width:290px;
  float:left;
}

#popup_recommend form textarea {
  height:64px;
}

#popup_recommend form select.multiple {
  width:500px;
  height:200px;
  font-size:11px;
}

#popup_recommend .submit {
  margin:2px 0 0;
  width:300px;
}

#popup_recommend form input.submit {
  width:91px;
  height:28px;
  border:0;
  float:right;
  background:url(../img/popup_recommend/bt_continuar.png) no-repeat top;
  cursor:pointer;
}

#popup_recommend form input.submit:hover {
  background-position:bottom !important;
}

#popup_recommend .tag {
  width:175px;
  height:314px;
  float:right;
  position:absolute;
  right:-40px;
  top:10px;
  background:url(../img/popup_recommend/tag.png) no-repeat;
}

#popup_recommend #selectAll {
  width:auto;
  margin:2px 5px 0;
  border:0;
  padding:0;
}

#popup_recommend .bt_enviar {
  width:68px;
  height:28px;
  border:0;
  float:left;
  clear:both;
  margin:15px 0 0;
  background:url(../img/popup_recommend/bt_enviar.png) no-repeat top;
  cursor:pointer;
}

#popup_recommend .bt_enviar:hover {
  background-position:bottom !important;
}

#popup_recommend h2 {
  width:100%;
  float:left;
  padding:10px 0;
}
#popup_recommend h2.subtitle2 {
  width:100%;
  float:left;
  padding:10px 0;
  color: #F25607;
  font-size: 16px;
  font-weight: bold;
  
}