#sidebar {
  width:230px;
  float:right;
  margin:0 0 0 10px;
  display:inline;
}

#sidebar .box {
  width:188px;
  padding:20px;
  float:left;
}

.side_offer {
  width:100%;
  border-top: 1px solid #C4C4C4;
  padding:10px 0 20px;
  float:left;
}
.side_offer.first {
  padding-top: 0!important;
  border: 0!important;
}

.side_offer .titleDeal {
  width:100%;
  float:left;
  padding:0 0 10px;
  font-size:14px;
}

.side_offer .titleDeal a {
  font-weight:bold;
}

.side_offer .prices {
  width:188px;
  height:56px;
  margin:0 0 -5px;
  float:left;
  position:relative;
  top:-5px;
  background:url(../img/side_offer_bg.png) no-repeat;
}

.side_offer .single_price {
    background:url(../img/single_offer_bg.png) no-repeat!important;
    margin-top: 5px;
    }
.side_offer .prices div {
  width:63px;
  padding:10px 0 0;
  float:left;
  color:#3e3e3e;
}

.side_offer  .single_price div.middle {
    padding:0;
    width:188px!important;
}

.side_offer  .single_price div.middle span{
  font-size: 12px!important;
}

.side_offer  .single_price div.middle strong{
    font-size: 18px!important;
}
.side_offer .prices div.middle {
  width:72px;
  color:#fff;
}

.side_offer .prices div.middle strong {
  font-weight:bold;
  font-size:14px;
  line-height:20px;
}

.side_offer .prices div.last {
  width:53px;
}

.side_offer .prices div span {
  width:100%;
  padding:0 0 2px;
  float:left;
  font-size:10px;
  letter-spacing:-1px;
  text-align:center;
}

.side_offer .prices div strong {
  width:100%;
  float:left;
  font-size:12px;
  font-weight:normal;
  text-align:center;
}

.side_offer .prices div object {
  margin:2px 0 0;
  float:left;
}

.side_offer .prices div.middle object {
  margin:0;
}

.side_offer p {
  width:100%;
  float:left;
  padding:10px 0 5px;
}

.side_offer .mas_informacion {
  width:87px;
  height:27px;
  float:right;
  background:url(../img/bt_mas_informacion.png) no-repeat top;
}

.side_offer .mas_informacion:hover {
  background-position:bottom !important;
}

#suscribe {
  width:168px;
  margin:20px 0 0;
  padding:10px;
  float:left;
  background:url(../img/suscribe_bg.png) repeat-x;
}

#suscribe img {
  float:left;
}

#suscribe h1 {
  width:100%;
  padding:10px 0;
  float:left;
  color:#fff;
  font-weight:bold;
}

#suscribe input {
  width:163px;
  padding:3px 0 3px 5px;
  border:1px solid #9d9d9d;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  float:left;
  color:#9d9d9d;
}

#suscribe label {
  display:none;
}

#suscribe .input {
  margin:0;
}

#suscribe .submit {
  text-align:center;
}

#suscribe .submit input {
  float:none;
  border:0;
  margin:0 !important;
}

#facebook_sidebox {
  width:100%;
  margin:0;
  float:left;
}

#twitter_sidebox {
  width:100%;
  margin:20px 0 0;
  float:left;
}

/*
#twitter_sidebox #twtr-widget-1 .twtr-doc,
#twitter_sidebox #twtr-widget-1 .twtr-hd a,
#twitter_sidebox #twtr-widget-1 h4,
#twitter_sidebox #twtr-widget-1 .twtr-popular {
  background:none transparent !important;
  color:#000 !important;
}

#twitter_sidebox #twtr-widget-1 h3 {
  width:119px;
  height:20px;
  display:block;
  background:url(../img/twitter_logo.png) no-repeat !important;
  text-indent:-99999px;
}

#twitter_sidebox #twtr-widget-1 h4 {
  padding:10px 0 5px !important;
  border-bottom:1px dotted #ddd;
  font-size:14px !important;
  font-weight:bold;
}

#twitter_sidebox .twtr-ft {
  display:none;
}
*/

#costumer_service {
  width:100%;
  float:left;
}

#costumer_service h1 {
  width:100%;
  float:left;
}

#costumer_service p {
  width:100%;
  padding:10px 0;
  float:left;
}

.box_banner {
  width:230px;
  margin:10px 0 0;
  float:left;
}

.box_banner a {
  display:block;
}

.box_banner img {
  vertical-align:middle;
  border:0;
}
