.fix-custom-display-milio {
  display:inline!important;
}


.recentread-side1 h2 {
  color:#990325;
  padding-left:14px;
}

.date-end-closed-deal span.c {
  font-size:12px;
  padding-left:15px;
}
dl.progress-list {
  margin:5px 0 0 10px;
}
.no-available-milio {
  font-size:10px !important;
  margin:2px 8px 0 0!important;
}

#missed_deal_announcement .announcement_inner {
  height:67px!important;
}

.price-sount-list-milio-d2 {
  height:50px;
}

.price-sount-list-milio-d1 {
  height:20px;
}

.title-recent-deals{
  color:#990325;
}

.price-block-recent-deals {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(../img/price_block_bg_recent_deals.png) no-repeat scroll 0 0;
  position:relative;
  z-index:800;
  width:154px;
  height:87px;
  left:-13px;
}
.price-sount-list-milio-d2  .value-price {
  padding:6px 0  0 15px;
  color:#FFF;
  font-weight:bold;
  font-size:11px;
}

.price-sount-list-milio-d2   .value-original-price {
  padding:7px 0  0 15px;
  color:#ea879d;
  font-size:10px;
}

.price-sount-list-milio-d2  .value-discount {
  padding:1px 0  0 15px;
  color:#ea879d;
  font-size:10px;
}

.recent-deals-item {
  background:url(../img/recent-deals-item-bg.png) repeat-x;
  height:216px;
  border:1px solid #c6c3b9;
  width:390px !important;
  margin:20px 10px 0 10px !important;
}

.recent-deals-item .deals-time {
  color:#555450;
  font-weight:bold;
  font-size:9px;
  margin:8px 0 0 15px;
}

.recent-deals-item h3,.recent-deals-item h3 a {
  font-size:16px;
  font-weight:normal;
  color:#0099fa;
  margin:10px 0 11px 7px;
}

.recent-deals-item  .bought-count {
  border:0;
  color:#555450;
  font-size:14px;
  margin-bottom:5px;
  padding:0 5px;
}
.recent-deals-item  .bought-count span {
  color:#555450;
}

.recent-deals-item .bought-details {
  border:0;
  margin-top:0px;
  width:101px;
}
.recent-deals-item  .price-block-recent-deals  {
  width:115px;
}
.recent-deals-item  .bought-content {
  width:96px;
  margin-top:15px;
}
.recent-deals-item   .product-image {
  padding-top:15px;
  margin-right:10px;
  float:right;
}

div.subscription-box-milio {
  background:#FFF;
}

.subscription-box-milio h2 {
  width:100%;
  float:left;
  display:inline;
  color:#990325;
  font-size:24px;
  margin-left:35px;
}
.subscription-box-milio p {
  width:620px;
  float:left;
  display:inline;
  color:#292929;
  font-size:14px;
  margin-top:10px;
  margin-left:35px;
  font-weight:bold;
}

.box-header-milio {
  background:url(../img/header-content-subscription.png) no-repeat left top;
  width:100%;
  float:left;
  margin:30px 20px 0 35px;
  padding-top:30px;
}
.box-header-milio p {
  width:825px;
  float:left;
  display:inline;
  color:#990325;
  font-weight:bold;
  margin:20px 0 0;
}

p.subcription-info-note {
  margin:0 0 0 190px;
  padding:0;
  color:#9d9d9d;
  font-size:10px;
  clear:both;
  font-weight:normal;
}

.subscription-box-deals-milio {
  background:url(../img/subscription-box.png) no-repeat center center;
  width:243px;
  height:121px;
  float:right;
  position:relative;
  left:-20px;
  top:-190px;
}

.subscription-box-deals-milio p {
  width:215px;
  margin-left:15px;
  margin-top:5px;
  color:#353535;
  font-size:11px;
  font-weight:normal;
  line-height:16px;
}
.subscription-box-deals-milio h3 {
  margin-left:15px;
  margin-top:10px;
  color:#286777;
  font-size:14px;
}

#SubscriptionAddForm .submit input {
  margin:0 0 0 180px;
}


form.subscription div.input label {
  color:#FFF;
}

#subscribeLitleButton input {
  margin-left:120px!important;
}
.coupon-milio-header {
  background:url(../img/clubcupon-logo.png) no-repeat center center;
  height:95px;
  background-color:#000;
  width:100%;
}
.coupon-special-instructions {
  margin-top:10px;
  padding-top:15px;
  border-top:1px solid #E4E1D5;
}
.coupon-special-instructions h3 {
  color:#990325;
}

h2.coupon-milio-deal-title {
  color:#990325;
  font-size:20px;
}
.coupon-milio-header h2 {
  text-indent:-99999px;
}

.gift-milio-header {
  background:#000 url(../img/clubcupon-logo.png) no-repeat 15px 50%;
  height:95px;
  width:100%;
  float:left;
}
.gift-milio-header h2 {
  float:right;
  height:95px;
  line-height:95px;
  color:#fff !important;
  text-align:right;
}

.gift-milio-box1 {
  margin-top:10px;
  float:left;
  width:315px;
  background-color:#E4E1D5;
  padding:10px;
  margin-right:20px;
}
.gift-milio-box2 {
  margin-top:10px;
  float:right;
  width:250px;
}

.gift-milio-box1 .card-amount {
  color:#990325;
}

#js-gift-to {
  font-weight:bold;
}
.js-gift-to {
  font-weight:bold;
}

.reedeem-block-milio {
  text-align:center;
  margin:auto;
  margin-top:10px;
  padding:10px;
  width:100px;
}
.code-info {
  font-weight:bold;
}
div.remeber-block {
  line-height:17px;
}

.micro-thumb-milio-container {
  margin-left:11px;
  float:left;
}

.background-milio-header-body {
  background:transparent url(../img/comments/background-header-body.gif) no-repeat scroll 0 0;
  margin-left:83px;
  padding: 20px 5px 0 52px;
  min-height:26px;
  width:550px;
  color: #181818;
}

ol.commment-list li .data {
  border: none;
  padding-right:43px;
  text-align:justify;
  width:459px;
}

ol.commment-list li .avatar {
  background:none repeat scroll 0 0 transparent;
  float:left;
  height:63px;
  padding:0;
  position:relative;
  width:76px;
  margin-top:3px;
}
.comment-milio-footer {
  background:url("../img/comments/comments-footer.png") no-repeat scroll 0 0 transparent;
  width:550px;
  height:42px;
  margin-left: 83px;
}
.avatar a {
  color: #000000;
  text-decoration: none;
  font-size:11px;
  font-weight:bold;
}
.avatar {
  color: #494949;
}
.avatar p  {
  margin-top:15px;  
  float:left;
  text-align:right;
  width:76px;
}
.avatar a img {
  float: right;
}
.comment-milio-footer {
  text-align: right;
  padding: 5px 5px 0 0px;
}
.comment-milio-footer p {
  margin-right:14px;
  margin-top:10px;
}

div.paging {
  clear:both;
  text-align:center;
  width:100%;
  margin-top:10px;
}

ol.commment-list li {
  margin-left:19px;
}

div.paging a:hover,div.paging a, div.paging span.prev, div.paging span.next, div.paging span.current {
  border: 1px solid #DDDCDB;
  padding: 4px 7px;
  background: #FFF;
  margin: 0px;
}
div.paging a.next,div.paging a.prev {
  border:none;
}

div.paging span.current  {
  border: none;
  background: #FFF;
  color: #000;
}

div.paging a, div.paging span {
  color: #0099fa;
}
div.paging a, div.paging span {
  color: #0099fa;
}
div.ui-tabs h2 {
  color:#636363;
  font-size:13px;
  margin:0;
  padding:0;
}


input.currencyInteger {
  width: 75px!important;
  background:url("../img/currency-background.gif") no-repeat scroll 5px 50% transparent !important;
  padding-left: 15px!important;
}
input.currencyDecimal {
  width: 25px!important;
}
input.currencyError {
  border: solid 1px  #FF0000!important;
}
.currencySeparator {
  color:#9C0023;
  float:left;
  font-size:23px;
  margin-top:4px;
}

p.price span.c {
  margin-left: 9px;
}

.formError {
    border: 1px solid red!important;
}