html, body {
  height:100%;
}

body {
  font:12px Arial, Helvetica, sans;
  color:#000;
  background:#fff url(../img/body_bg.png) repeat-x top;
}

#wrap {
  width:980px;
  float:left;
  position:relative;
  left:50%;
  margin:0 0 0 -490px;
  min-height:100%;
  height:auto !important;
  height:100%;
}

#wrap.admin {
  width:96%;
  margin:0 2% 20px;
  left:0 !important;
}

#wrap.landingpre {
  min-height:inherit !important;
}

p.fullText {
  width:100%;
  float:left;
  padding:15px 0;
}

a {
  color:#000;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a.separated {
  background:url(../img/link_separator.png) no-repeat left center;
  padding-left:10px !important;
  margin-left:5px !important;
}

strong {
  font-weight:bold;
}

.box {
  margin:10px 0 0;
  padding:20px;
  background:#fff;
  border:1px solid #c4c4c4;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
}

.social_actions {
  width:auto;
  float:left;
}

.social_actions li {
  float:left;
  margin:0 2px;
}

.fb_connect {
  display:block;
  cursor:pointer;
}

form {
  width:100%;
  float:left;
}

form .info {
  float:left;
  padding:5px 0 0;
  font-size:11px;
}

.cancel-block {
  width:100%;
  float:left;
}

label {
  padding:4px 5px;
  margin:0 5px 0 0;
  float:left;
  font-size:12px;
  min-width: 100px;
}

.required label {
  background:url(../img/required_label_bg.png) no-repeat top right;
}

.input, .checkbox, .radio, .select, .submit {
  width:80%;
  float:left;
  margin:15px 0 0;
}

input, select, textarea {
  float:left;
  padding:3px 0 3px 5px;
  border:1px solid #9d9d9d;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  background:#eee;
}

input:hover, input:focus,
select:hover, select:focus,
textarea:hover, textarea:focus {
  background:#fcfcfc;
  border-color:#eee #ccc #ccc #eee;
}

.submit input {
  margin:10px 0 0;
  padding:3px 15px;
  font-size:11px;
  font-weight:bold;
  cursor:pointer;
}

.checkbox input, .radio input {
  width:auto !important;
  padding: 0 !important;
  border:0 !important;
  background:none transparent !important;
  vertical-align:middle;
  margin:3px 5px 0 0;
  float:left;
}

.captcha-block {
  width:205px;
  margin:15px 0 0 165px;
  border:1px solid #9D9D9D;
  float:left;
}

.captcha-block .captcha-right {
  width:20px;
  height:45px;
  padding:0 5px;
  float:left;
  background:#f8f8f8;
  text-align:center;
  line-height:20px;
}

.captcha-block .captcha-right img {
  margin:3px;
}

.titleInsideContent,h2.title, h2.titleBig, #wrap.admin h2,h1.titleBig, h2.titlenosifr {
  width:100%;
  padding:10px 0;
  float:left;
  color:#F25607;
  font-size:26px;
  text-transform:uppercase;
}

h2.titleBig,h1.titleBig {
  font-size:40px;
}

h2.title object, #wrap.admin h2 object {
  float:left;
}

h4.subtitle {
  width:100%;
  padding:10px 0;
  float:left;
  color:#F25607;
  font-size:26px;
}

.blackTitleBig {
  width:100%;
  /*padding:10px 0;*/
  float:left;
  color:#000;
  font-size:22px;
  font-weight:bold;
}

h4.blackTitleSmall {
  width:100%;
  padding:10px 0;
  float:left;
  color:#000;
  font-size:14px;
  font-weight:bold;
}

p.text {
  width:100%;
  padding:10px 0 15px;
  float:left;
  font-size:14px;
  line-height:20px;
}

#wrap.admin h3 {
  width:100%;
  padding:15px 0 5px;
  float:left;
  color:#000;
  font-size:14px;
  text-transform:uppercase;
  font-weight:bold;
}

#bt_login {
  width:91px !important;
  height:28px !important;
  padding:0 !important;
  border:0 !important;
  background:url(../img/bt_login.png) no-repeat top !important;
}

#bt_login:hover {
  background-position:bottom !important;
}

#bt_volver {
  width:67px !important;
  height:28px !important;
  display:block;
  cursor:pointer;
  padding:0 !important;
  border:0 !important;
  background:url(../img/bt_volver.png) no-repeat top !important;
}

#bt_volver:hover {
  background-position:bottom !important;
}

#bt_volver_big {
  width:113px !important;
  height:40px !important;
  display:block;
  float:left;
  cursor:pointer;
  padding:0 !important;
  border:0 !important;
  background:url(../img/bt_volver_big.png) no-repeat top !important;
  position:relative;
  left:50%;
  margin:0 0 0 -56px;
}

#bt_volver_big:hover {
  background-position:bottom !important;
}

#bt_enviar {
  width:67px !important;
  height:28px !important;
  padding:0 !important;
  border:0 !important;
  background:url(../img/bt_enviar.png) no-repeat top !important;
}

#bt_enviar:hover {
  background-position:bottom !important;
}

#fb_balloon {
  width:176px;
  height:124px;
  /*margin:0 0 -124px -176px;*/
  /*float:right;*/
  display:block;
  position:relative;
  background:url(../img/fb_balloon_bg.png) no-repeat;
  text-align:center;
  margin:0;
  position:absolute;
}

#fb_balloon h3 {
  width:100%;
  padding:15px 0 5px;
  float:left;
  font-weight:bold;
  font-size:14px;
}

#fb_balloon p {
  font-size:11px;
  padding:0 0 10px;
}

.formError {
  border: 1px solid red!important;
}

.clearfix {
  display:block;
}

.clearfix:after {
  clear:both;
  content:'.';
  display:block;
  visibility:hidden;
  height:0;
}

.error-message {
  padding:5px 0 5px 20px;
  float:right;
  color:red;
  background:url(../img/icon-form-error.png) no-repeat left center;
}

.shadow {
  width:100%;
  float:left;
  text-align:center;
}

#side_balance {
  height:73px;
  background:#fff url(../img/side_balance_bg.png) no-repeat center;
}

#side_balance small {
  width:110px;
  height:40px;
  margin:30px 0 0 75px;
  float:left;
  display:inline;
  text-align:center;
  line-height:40px;
  color:#404040;
  font-weight:bold;
  font-size:24px;
}

#bt_gift {
  width:232px;
  height:73px;
  float:left;
  background:url(../img/bt_gift.png) no-repeat top;
  margin-top: 10px;
}

#bt_comprar_small {
  width:67px;
  height:30px;
  float:left;
  background:url(../img/clarin-widget-btn.png) no-repeat top;
}

.bt_comprar_small {
  width:67px;
  height:30px;
  float:left;
  background:url(../img/clarin-widget-btn.png) no-repeat top;
}

.bt_agotado_small {
  width:67px;
  height:30px;
  float:left;
  background:url(../img/clarin-widget-btn-agotado.png) no-repeat top;
}

#bt_comprar {
  width:150px;
  height:63px;
  float:left;
  background:url(../img/bt_comprar.png) no-repeat top;
}

#bt_comprar:hover {
  background-position:bottom !important;
}

#bt_pagar {
  width:150px;
  height:63px;
  float:left;
  background:url(../img/bt_pagar.png) no-repeat top;
}

#bt_pagar:hover {
  background-position:bottom !important;
}

.bt_suscribirme {
  width:100px !important;
  height:28px !important;
  margin:10px 0 0;
  float:right;
  background:url(../img/bt_suscribirme.png) no-repeat top !important;
}

.bt_suscribirme:hover {
  background-position:bottom !important;
}

fieldset.form-block {
  width:90%;
  float:left;
  padding:1% 5%;
  margin:15px 0 0;
  border:1px solid #ddd;
}

fieldset.form-block legend {
  background:#fff;
  border:1px solid #ddd;
  color:#F25607;
  font-weight:bold;
  padding:3px 30px;
}

.companies .show-map, .companies .show-map #js-map {
  width:100%;
  height:230px;
  float:left;
}

.companies dl.statistics-list {
  margin:0 0 10px 10px;
  float:left;
}

.companies dl.statistics-list dt, .companies dl.statistics-list dd {
  width:auto;
  border:0;
  clear:right;
  font-size:11px;
  font-weight:normal;
  padding:5px 1px;
}

.companies dl.statistics-list dd {
  font-weight:bold;
  margin-right:10px;
  color:#F25607;
}

.companies .company-list-image {
  float:left;
  width:60px;
}

.companies .js-pagination {
  width:100%;
}

.companies .user-avatar {
  float:left;
  width:200px;
}

.companies .user-view-content {
  float:left;
  width:430px;
}

.companies .viewpage-content {
  width:100%;
  float:left;
  padding:15px 0;
}

dl.list {
  margin:2em 0;
  padding:0;
}

dl.list dt {
  float:left;
  margin:0 0 0 0;
  padding:.5em;
  font-weight:bold;
  width:28%;
}

dl.list dt {
  clear:both;
}

dl.list dd {
  float:left;
  margin:0 0 0 0;
  padding:.5em;
  width:65%;
}

ol.list li {
  border:3px solid #eee;
  margin:5px;
  margin:2px;
  float:left;
}

ol.list li:hover {
  border:3px solid #f06;
}

ol.list li p {
  margin:0 0 0 5px;
}

ul.list {
  padding:0 5px;
}

ul.list li {
  float:left;
  padding:2px 5px;
}

ol.deal-user-list {
  width:100%;
  float:left;
}

ol.deal-user-list li {
  margin:5px 0;
  padding:5px;
  background:#eaeaea;
  border:1px solid #F25607;
}

ol.deal-user-list li:hover {
  background:#FAC599;
}

ol.deal-user-list dl.list {
  margin:5px 0;
}

hr {
  width:100%;
  height:1px;
  float:left;
  border:0;
  padding:0;
  margin:15px 0;
  line-height:1px;
  font-size:1px;
  color:#ccc;
  background:#ccc;
}


a.subtitle1 {
  color:#F25607;
  font-weight: bold;
}

h2.subtitle2 {
  width:100%;
  float:left;
  padding:10px 0;
  color: #F25607;
  font-size: 16px;
  font-weight: bold;

}

#DealPaymentTypeIdDummy, #PaymentTypeIdDummy {
  display: none;
}

.whoWeAre h2, .policy h3 {
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
}
.whoWeAre h3 {
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
}

.terms h3.text {
  width: 100%;
  padding: 10px 0 15px;
  float: left;
  font-size: 14px;
  line-height: 20px;
}

#buy_form_gift div.datepicker-container {
  /*float: none;*/
  margin:-30px 0 0 170px;
  width:330px;
}

    #fScreenDiv .centrar-imagen {text-align: center;}
    #fScreenDiv form{float:none;}
    #fScreenDiv .central{}

    /* fondo */
    #fScreenDiv #fd {width:99%; height:99%;}

    /* popup */
    #fScreenDiv #fdpopup {
        width:945px;
        height:536px;
        background-image:url(../img/agosto_1.png); background-repeat:no-repeat; border:none;}

    /*info*/
    #fScreenDiv .bt_suscribirme {
        width: 240px!important;
        height: 51px!important;
        background-image:url(../img/agosto_btn.png)!important;
        background-repeat: no-repeat;
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: none;
        }

    #fScreenDiv .bt_info {width:380px; height:49px; background-image:url(../img/agosto_cuadro-form.png); background-repeat: no-repeat; margin: 0; border: none; font-family:Verdana, Geneva, sans-serif; font-size:20px; color:#999; line-height:20px;}

    /*pie*/
    #fScreenDiv #pie {width:945px; height:30px; float:left; margin-top:130px;}
    #fScreenDiv #registrado {padding-left:20px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:11px;}
    #fScreenDiv #legales {padding-right:40px; float:right; font-family:Verdana, Geneva, sans-serif; font-size:11px;}


    /*FULLSCREEN DIV*/

    #fScreenDiv
    {
        display: none;
        background: url('../img/agosto_fd.png') #e8e8e8 repeat-x;
        margin: 0 auto;
        position:absolute;
        z-index:99999;
        padding-bottom: 6px;
        width: 100%;
        height: 100%
    }

    /* fix para checkboxes */
    .checkbox{width:auto!important; margin:5px!important;}

    .checkbox label{float:left;}

    .checkbox input{float:right;}

    /* Ajuste para el registro de usuarios */
    #registro #fb_balloon{
        /*float:right;
        margin:15px 0 0 0;*/
        position:absolute;
        top:150!important;
        right:270px;
        
    }

    #UserRegisterForm{
        width:500px;
    }
    /* fin */
    
    /*Elimino las flechas del datePicker*/
    
    #UserProfileEditForm .ui-datepicker-prev, #UserProfileEditForm .ui-datepicker-next { visibility: hidden;}
    
#form_adm_change_pass label{
	min-width:180px;
	text-align:right;
}