#my-account {
  width:100%;
  float:left;
}

#my-account h1 {
  width:170px;
  float:left;
  font-family:Arial;
  color:#f25607;
  font-size:30px;
}

#my-account .datepicker-container {
  margin:0;
}

#my-account #my-account-data .ui-tabs .ui-tabs-nav {
  background:none !important;
}

#my-account .my-account-data {
  width:750px;
  margin-left:200px;
}

#my-account #mainTabs {
  width:600px;
  float:left;
  margin:12px 0 0;
}

#my-account .dataUpdate {
  background-color:#EEEEEE;
  float:left;
  right:20px;
  padding:20px;
  position:absolute;
  top:144px;
  width:200px;
  font-size:12px;
}

#my-account #my-profile form {
  float:left;
  width:600px;
  display:inline;
  margin:0 0 0 50px;
}

#my-account .header-table {
  width:100% !important;
}

#my-account .js-pagination {
  text-transform:uppercase;
  padding:15px;
  width:100%;
  text-align: center;
}

#my-account #my-profile input, #my-account #my-profile textarea , #my-account #my-profile select {
  width:220px;
}


#my-account #my-profile label {
  float:left;
  font-size:12px;
  margin:0 5px 0 0;
  padding:4px 5px;
  text-align:right;
  width:250px;
}

#my-account #my-profile .marginTop {
  margin:15px 0 0 !important;
}

#my-account #my-profile label.marginTop {
  margin:15px 5px 0 0 !important;
}

#my-account .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-widget .ui-widget-content .ui-corner-all .ui-tabs .ui-tabs-nav .ui-state-default .ui-corner-top .ui-tabs-selected .ui-state-active {
  border:none !important;
  background:none !important;
  border-right:2px solid #f25607 !important;
}

#my-account .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-widget .ui-widget-content .ui-state-active a, #my-account .ui-state-active a:link, #my-account .ui-state-active a:visited {
  border:none !important;
  background:none !important;
}

#my-account .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-tabs-nav .ui-state-default,
#my-account #mainTabs .ui-state-default {
  border-right:2px solid #f25607 !important;
}

#my-account .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-tabs-nav {
  border-bottom:none !important;
  background:none !important;
}

#my-account .ui-tabs .ui-tabs-nav {
  border-bottom:none !important;
  background:none !important;
}

#my-account .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-active {
  border-right:2px solid #f25607 !important;
}

#my-account .my-account-data .ui-tabs .ui-tabs .ui-tabs-panel {
  padding-left:0px !important;
  padding-right:0px !important;
}

#my-account .ui-tabs-panel {
  width:100%;
  float:left;
}

#my-account .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-state-active, #my-account .ui-widget-content .ui-state-active {
  border-right:2px solid #f25607 !important;
  font-weight:bold;
}

#my-account h2 {
  width:200px !important;
}

#my-account .my-account-data .my-stuff-menu .js-mystuff-tabs .ui-tabs .ui-tabs-nav li a {
  font-size:14px !important;
}

#my-account .my-account-data .ui-tabs .ui-tabs-nav li a {
  font-size:12px !important;
  padding:5px !important;
}

#my-account  .transactions table.list th {
  background-color:#fff2ac !important;
}

#my-account  .transactions table.list th a {
  color:#000;
  font-weight:bold;
  padding-left:10px;
}

#my-account  .transactions table.list th {
  border:none !important;
}

#my-account  .transactions table.list td {
  border:none !important;
}

#my-account .transactions table.list tr {
  height:40px;
}

#my-account .dealUsers table.list tr {
  height:40px;
}

#my-account .giftUsers table.list tr {
  height:40px;
}

#my-account .transactions .ui-helper-clearfix {
  display:inline !important;
}

#my-account .transactions #TransactionIndexForm .ui-helper-clearfix {
  display:block !important;
}

#my-account .giftUsers .ui-helper-clearfix {
  display:inline !important;
}

#my-account .dealUsers .ui-helper-clearfix {
  display:inline !important;
}

#my-account .giftUsers .ui-helper-clearfix {
  display:inline !important;
}

#my-account .giftUsers .date-time-block {
  width:400px !important;
  float:left;
}

#my-account .dealUsers .date-time-block {
  width:400px !important;
  float:left;
}

#my-account .transactions div.datepicker-container,
#my-account .giftUsers div.datepicker-container,
#my-account .dealUsers div.datepicker-container {
  width:145px !important;
}


#my-account .dealUsers table.list th {
  background-color:#fff2ac;
  color:#000;
  font-weight:bold;
}

#my-account .giftUsers table.list th {
  background-color:#fff2ac;
  color:#000;
  font-weight:bold;
}

#my-account .dealUsers table.list th a {
  color:#000;
}

#my-account .giftUsers table.list th a {
  color:#000;
}

#my-account .transactions .date-time label {
  width:20px !important;
}

#my-account .giftUsers .date-time label {
  width:20px !important;
}

#my-account .dealUsers .date-time label {
  width:20px !important;
}

#my-account .giftUsers .date-time {
  width:200px !important;
}

#my-account .dealUsers .date-time {
  width:200px !important;
}

#my-account .transactions .submit input, #my-account .giftUsers .submit input {
  width:100px;
  background:url("../img/bg-btn-filtro.png") no-repeat top center !important;
  border:0 none !important;
  height:28px !important;
  padding:0 !important;
  width:91px !important;
}

#my-account .transactions .submit {
  width:200px;
}

#my-account .giftUsers .submit {
  width:200px;
}

#my-account .dealForms .submit {
  width:200px;
}

#my-account .transactions .displaydate {
  background-color:#FFFFFF;
  border-width:0;
  float:none;
  margin-bottom:5px;
  margin-left:25px;
  padding:4px;
  width:100px;
  height:13px;
}

#UserProfileEditForm .datepicker-container {
  width:200px !important;
}

#my-account  .transactions .datepicker-container {
  margin:15px 0 0;
}

#my-account  .transactions .date-time-block {
  width:350px;
  float:left;
  padding:0 0 10px;
}

#my-account .transactions .date-time {
  width:175px !important;
}

#my-account .dealForms .displaydate {
  background-color:#FFFFFF;
  border-width:0;
  float:none;
  margin-bottom:5px;
  margin-left:25px;
  padding:4px;
  width:100px;
}

#my-account .transactions form {
  background-color:#eeeeee;
  border-top:1px solid #d51603;
  float:left;
  width:100%;
}

#my-account .dealUsers form {
  background-color:#eeeeee;
  border-top:1px solid #d51603;
  float:left;
  width:100%;
}

#my-account .transactions table.list {
  margin:0px !important;
  border-top:2px solid #fff;
}

#my-account .dealUsers table.list {
  margin:0px !important;
  border-top:2px solid #fff;
}

#my-account .giftUsers table.list {
  margin:0px !important;
  border-top:2px solid #fff;
}

#my-account .transactions table.list th {
  border-right:2px solid #FFFFFF;
}

#my-account .dealUsers table.list th {
  border-right:2px solid #FFFFFF;
}

#my-account .giftUsers table.list th {
  border-right:2px solid #FFFFFF;
  font-size:12px;
  text-align:left;
}

#my-account .giftUsers .ui-tabs .ui-tabs .ui-tabs-nav {
  height:32px !important;
}

#my-account .transactions .input, #my-account .transactions .checkbox, #my-account .transactions .radio, #my-account .transactions.select, #my-account .transactions .submit {
  margin:0px !important;
}

#my-account .dealUsers .input, #my-account .transactions .checkbox, #my-account .transactions .radio, #my-account .transactions.select, #my-account .transactions .submit {
  margin:0px !important;
}

#my-account #Mis_Transacciones .ui-tabs .ui-tabs-nav .ui-tabs-nav li.ui-state-active a {
  background-image:url("../img/bg-tabs.png") !important;
}

#my-account #Mis_Transacciones .ui-tabs .ui-tabs-nav .ui-tabs-nav li.ui-state-active a {
  color:#fff;
  font-family:Arial;
}

#my-account .altrow {
  background-color:#f2f2f2;
}

#my-account .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-active {
  -moz-border-radius:7px 7px 0 0;
  -webkit-border-radius:7px 7px 0 0;
  -khtml-border-radius:7px 7px 0 0;
  border-radius:7px 7px 0 0;
  background-image:url("../img/bg-tabs.png") !important;
  border-color:#999999;
  height:30px;
}

#my-account .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-active a {
  color:#fff;
}

#my-account .ui-tabs .ui-tabs .ui-tabs-nav li a {
  padding:8px 10px 0;
}

#my-account .ui-tabs .ui-tabs .ui-tabs-nav li {
  -moz-border-radius:7px 7px 0 0 !important;
  -webkit-border-radius:7px 7px 0 0 !important;
  -khtml-border-radius:7px 7px 0 0 !important;
  border-radius:7px 7px 0 0 !important;
  background-color:#f2f2f2;
  background-image:url("../img/bg-tabs-grey.png") !important;
  border:1px solid #CCCCCC;
  height:30px;
}

#my-account .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-active li.ui-state-hover {
  -moz-border-radius:7px 7px 0 0;
  -webkit-border-radius:7px 7px 0 0;
  -khtml-border-radius:7px 7px 0 0;
  border-radius:7px 7px 0 0;
  background-image:url("../img/bg-tabs.png") !important;
  border:1px solid #f92702;
  height:30px;
}

#my-account .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-active li.ui-state-hover a {
  padding:10px;
  color:#fff;
  height:30px;
}

#my-account .header-table {
  font-size:12px;
  color:#000;
  font-weight:bold;
  padding:10px;
  text-align:left;
}

.bt-actualizar {
  background:url("../img/bt-actualizar.png") no-repeat top center !important;
  border:0 none !important;
  height:60px !important;
  padding:0 !important;
  width:180px !important;
}

.bt-actualizar2 {
  background:url("../img/bt-actualizar.png") no-repeat top center !important;
  border:0 none !important;
  height:60px !important;
  padding:0 !important;
  margin-left:260px !important;
  width:180px !important;
}

.dataUpdate .checkbox {
  width:30px !important;
  padding:0px !important;
  margin:0px !important;
  float:left;
}

#my-profile .error-message {
  background:url("../img/icon-form-error.png") no-repeat scroll left center transparent;
  clear:both;
  color:red;
  float:right;
  padding:5px 0 0 20px !important;
}