/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 1136px;
}

.todas-ofertas{
    margin:10px 0 10px 10px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 1136px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .grid_1 {
	width:51px;
}

.container_16 .grid_2 {
	width:122px;
}

.container_16 .grid_3 {
	width:193px;
}

.container_16 .grid_4 {
	width:264px;
}

.container_16 .grid_5 {
	width:335px;
}

.container_16 .grid_6 {
	width:406px;
}

.container_16 .grid_7 {
	width:477px;
}

.container_16 .grid_8 {
	width:548px;
}

.container_16 .grid_9 {
	width:619px;
}

.container_16 .grid_10 {
	width:690px;
}

.container_16 .grid_11 {
	width:761px;
}

.container_16 .grid_12 {
	width:832px;
}

.container_16 .grid_13 {
	width:903px;
}

.container_16 .grid_14 {
	width:974px;
}

.container_16 .grid_15 {
	width:1045px;
}

.container_16 .grid_16 {
	width:1116px;
}




/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .prefix_1 {
	padding-left:71px;
}

.container_16 .prefix_2 {
	padding-left:142px;
}

.container_16 .prefix_3 {
	padding-left:213px;
}

.container_16 .prefix_4 {
	padding-left:284px;
}

.container_16 .prefix_5 {
	padding-left:355px;
}

.container_16 .prefix_6 {
	padding-left:426px;
}

.container_16 .prefix_7 {
	padding-left:497px;
}

.container_16 .prefix_8 {
	padding-left:568px;
}

.container_16 .prefix_9 {
	padding-left:639px;
}

.container_16 .prefix_10 {
	padding-left:710px;
}

.container_16 .prefix_11 {
	padding-left:781px;
}

.container_16 .prefix_12 {
	padding-left:852px;
}

.container_16 .prefix_13 {
	padding-left:923px;
}

.container_16 .prefix_14 {
	padding-left:994px;
}

.container_16 .prefix_15 {
	padding-left:1065px;
}



/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .suffix_1 {
	padding-right:71px;
}

.container_16 .suffix_2 {
	padding-right:142px;
}

.container_16 .suffix_3 {
	padding-right:213px;
}

.container_16 .suffix_4 {
	padding-right:284px;
}

.container_16 .suffix_5 {
	padding-right:355px;
}

.container_16 .suffix_6 {
	padding-right:426px;
}

.container_16 .suffix_7 {
	padding-right:497px;
}

.container_16 .suffix_8 {
	padding-right:568px;
}

.container_16 .suffix_9 {
	padding-right:639px;
}

.container_16 .suffix_10 {
	padding-right:710px;
}

.container_16 .suffix_11 {
	padding-right:781px;
}

.container_16 .suffix_12 {
	padding-right:852px;
}

.container_16 .suffix_13 {
	padding-right:923px;
}

.container_16 .suffix_14 {
	padding-right:994px;
}

.container_16 .suffix_15 {
	padding-right:1065px;
}



/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .push_1 {
	left:71px;
}

.container_16 .push_2 {
	left:142px;
}

.container_16 .push_3 {
	left:213px;
}

.container_16 .push_4 {
	left:284px;
}

.container_16 .push_5 {
	left:355px;
}

.container_16 .push_6 {
	left:426px;
}

.container_16 .push_7 {
	left:497px;
}

.container_16 .push_8 {
	left:568px;
}

.container_16 .push_9 {
	left:639px;
}

.container_16 .push_10 {
	left:710px;
}

.container_16 .push_11 {
	left:781px;
}

.container_16 .push_12 {
	left:852px;
}

.container_16 .push_13 {
	left:923px;
}

.container_16 .push_14 {
	left:994px;
}

.container_16 .push_15 {
	left:1065px;
}



/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .pull_1 {
	left:-71px;
}

.container_16 .pull_2 {
	left:-142px;
}

.container_16 .pull_3 {
	left:-213px;
}

.container_16 .pull_4 {
	left:-284px;
}

.container_16 .pull_5 {
	left:-355px;
}

.container_16 .pull_6 {
	left:-426px;
}

.container_16 .pull_7 {
	left:-497px;
}

.container_16 .pull_8 {
	left:-568px;
}

.container_16 .pull_9 {
	left:-639px;
}

.container_16 .pull_10 {
	left:-710px;
}

.container_16 .pull_11 {
	left:-781px;
}

.container_16 .pull_12 {
	left:-852px;
}

.container_16 .pull_13 {
	left:-923px;
}

.container_16 .pull_14 {
	left:-994px;
}

.container_16 .pull_15 {
	left:-1065px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}