/* 
    Document   : exclusive
    Created on : 25/06/2012, 15:17:43
    Author     : jgarberi
    Description:
        Excepciones de estilo para CCExclusive
        Usar de referencia para futuras excepciopnes
*/

/* 
   TODO 
   1- Ajustes al Sidebar
   2- 
*/



/* EXCLUSIVE */

body {
    background: none repeat scroll 0 0 #181818;
}

 #header {
    background: url("/img/theme_clean/exclusive/head.png") repeat-x fixed center 0 transparent;
    border-bottom: 4px solid #E5E29F;
}

 #footer {
    background: none repeat scroll 0 0 #0e0e0e;
	border-top:none;
	margin: 0;
}

  #main .bloque-promo p.promo-precio span {
    color: #ede4ab;
    font: bold 20px arial;
}

  #main .bloque-promo p.promo-precio {
    color: white;
	background: #0E0E0E;
}

 #main .bloque-promo {
    background: none repeat scroll 0 0 #404040;
}

 .bloque-promo p span {
    color: #EDE4AB;
    font: 12px/15px arial;
}

.bloque-promo p .nombre_oferta{
    color:#C6C6C6;
}

 #main div.bloque-home {
    background: none repeat scroll 0 0 #1B1B1B;
    border: 1px solid #545454;
    padding: 0;
    width: 700px;
}


#header .nav_bar li a:hover, #header .nav_bar li .select  {
    background-color: #E5E29F;
    font:normal 14px Arial;
    padding: 8px 13px;
    border-bottom:2px solid #E5E29F;
	*margin-top:0;
    color: black!important;
}

/*
 #header .nav_bar li a:hover, .select{
    background-color: #E5E29F;
    border-bottom: 2px solid #E5E29F;
    color: black;
    padding:8px 13px;
    margin-top:-8px;
}
*/
#header .select a{
    background-color:#E5E29F;
    color: black!important;
    
    border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-bottom:2px solid #E5E29F;
    
}

.col-der{
    margin-left:219px;
}


 .col-der .content-der div {
    color: white;
    font: 14px/16px arial;
    /*margin: 30px 0;
    padding: 0 0 0 20px;
    width: 210px;*/
}

 .col-der .content-der .contenidos-l{
    color: white;
    font: 14px/16px arial;
    margin: 30px 0;
    padding: 0 0 0 10px;
    width: 210px;
}

 .col-der .content-der .descricion-prod-img{
    border-bottom: 1px solid;
    bottom: 7px;
    left: 85px;
    padding: 0 0 10px;
    position: absolute;
    width: 420px;
}

 .col-der .content-der .descricion-prod-img p{
    color: white;
    font: 25px arial;
    max-width: 430px;
    overflow: hidden;
}

 .col-der .content-der .descricion-prod-img p.subt-ima{
    color: #B0AC6D;
}

 .bloque-p-exc {
    background: none repeat scroll 0 0 #151515;
    max-height: 150px;
    padding: 60px 10px 20px;
    width: 680px;
}

 .bloque-p-exc p{
    color: #C6C6C6;
    font: bold 13px arial;
    height: 160px;
    overflow: hidden;
}

 .bloque-p-exc img{
    float: left;
    margin: 10px;
}

 .col-izq-exc{
    background: none repeat scroll 0 0 #151515;
    border: 1px solid #777157;
    box-shadow: 9px 10px 25px black;
    left: -196px;
    position: absolute;
    top: -13px;
    width: 260px;
    z-index: 10;
}

.col-izq {
    background: url("/img/theme_clean/exclusive/logoexcnav.png") no-repeat scroll 10px 16px #151515;
    border: 1px solid #777157;
    box-shadow: 15px 15px 20px black;
    /*margin: -97px 0 0 -28px;*/
    /**margin: -107px 0 0 -28px;*/
    padding: 100px 0 25px;
    position: absolute;
    width: 240px !important;
    top:-9px;
    left:-25px;
    
}

 .bloque-conten{
	text-indent: -9999px;
}

 a{
	color:#EDE4AB;
}

 .imagen-js a.detalleprod{
    display: block;
    font: bold 16px arial;
    margin: 5px 0;	
}

 .col-der .content-der {
	padding: 0;
}

 .col-izq .modulos-compra .tiempo-cupon {
    background: url("/img/theme_clean/exclusive/bg-light.png") no-repeat scroll 0 -1px transparent;
    border: 1px solid #2D2C27;
    border-radius: 5px 5px 5px 5px;
    color: #7F7F75;
    font: 12px arial;
    margin: 10px 15px;
    padding: 5px 0;
    text-align: center;
}

  #footer .bottom_nav {
	color:#EDE4AB;
}

  #footer .bottom_nav a{
	color: #C6C6C6;
}

  #footer .bottom_nav li {
    font: 11px arial;
    margin: 0 0;
}

  #footer .bottom_nav li a{
    font: 11px arial;
}

  .logo-exc-nav{
	background: url("/img/theme_clean/exclusive/bg-light.png") no-repeat scroll 0 -2px transparent;
}

  .logo-exc-nav img{
	margin: 17px;
}

  .col-izq .boton-comprar-bg {
	background: url("/img/theme_clean/exclusive/bg-light.png") no-repeat scroll 0 1px transparent;
    height: 129px;
    margin: 0;
    padding: 0 5px;
	height: auto;
    position: relative;
}

  .col-izq .boton-comprar-bg ul{
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #262626;
    border-radius: 4px 4px 4px 4px;
    color: #C6C6C6;
    font: 15px/25px arial;
    margin: 10px auto 0;
    text-align: center;
    width: 220px;
}

  .col-izq .boton-comprar-bg ul li{
    background: url("/img/theme_clean/exclusive/bg-black.jpg") repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    width: 110px;
}

 .col-izq .boton-comprar-bg ul li.format-li-exc{
    background: none repeat scroll 0 0 #0F0F0F;
    border-top: 1px solid #1C1C1C;
    font: 23px/27px arial;
    padding: 9px 0;
}

 .col-izq .boton-comprar-bg ul li.format-li-color{
    border-left: 1px solid #3D3D3D;
    color: #B0AC6D;
    width: 109px;
}

 .col-izq .boton-comprar-bg ul li.format-li-exc-line1{
    border-left: 1px solid #3D3D3D;
    width: 109px;
}

  .col-izq .comprar, .comprar {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    text-align: center;
	width: 230px;
}

  .col-izq .comprar a, .col-izq .comprar-out {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
	padding: 10px 20px;
	background:#b0ac6d;
	background: -moz-linear-gradient(
		top,
		#d3d1a0 0%,
		#a7a268 50%,
		#756f3c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d3d1a0),
		color-stop(0.50, #a7a268),
		to(#756f3c));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #0e0f13;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px 1px 0px rgba(51,51,51,1),
		1px 0px 7px rgba(48,48,48,1);

		width: 120px;
		margin: 0 auto 20px;
}

.col-izq .comprar-out{
    height:18px;
    
    background:#CCC;
    background: -moz-linear-gradient(
            top,
            #CCC 0%,
            #DDD 50%,
            #333);
    background: -webkit-gradient(
            linear, left top, left bottom, 
            from(#CCC),
            color-stop(0.50, #DDD),
            to(#333));
    
}

.col-izq .comprar-out p{
    font-size:15px!important;
    color:#fff!important;
    font-weight:bold!important;
    padding:0!important;
}

.modulos-compra .ya-compraron {
    color: white;
    margin: 10px 0;
    text-align: center;
}

 .modulos-compra .ya-compraron p{
    color: #C6C6C6;
    font: 14px arial;
}

 .modulos-compra .ya-compraron .recomendar{
	margin: 20px 0 0;
}

 .modulos-compra .ya-compraron .recomendar p{
    line-height: 30px;
    margin: 0 10px 0 38px;
}

 .modulos-compra .ya-compraron p span{
    color: white;
    font: 20px arial;
}

  .tiempo-cupon ul {
    background: url("/img/theme_clean/exclusive/clock.png") no-repeat scroll 0 1px transparent;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin: 7px;
    padding: 3px 3px 4px 60px;
}

  #main .tiempo-cupon ul li.horas-num {
    font: 26px arial;
}

  #main .tiempo-cupon ul li.horas-txt span {
    color: white;
    font: 13px arial;
    margin: 0 7px;
}

 .col-izq .modulos-compra ul.precio{
    background: url("/img/theme_clean/exclusive/gb-grad1.jpg") repeat scroll 3px 0 transparent;
    border: 1px solid #262626;
    border-radius: 5px 5px 5px 5px;
    height: 65px;
    line-height: 27px;
    margin: 0 auto 56px;
    position: relative;
    width: 205px;
}

 .modulos-compra{
    background: url("/img/theme_clean/exclusive/line-bottom.jpg") no-repeat scroll 0 120px transparent;
    padding: 10px 0;
}


a.regala-exc{
    background: url("/img/theme_clean/exclusive/ico-regalo.png") no-repeat scroll 0 0 transparent;
    display: block;
    margin: 10px auto 0;
    padding: 5px 0 5px 30px;
    text-align: center;
    width: 127px;
}

 .col-izq .boton-comprar-bg p {
    color: #B0AC6D;
    font: 25px arial;
}

.col-izq .boton-comprar-bg p span {
    font: bold 60px arial;
}


.bloque-promo .modalFondo {
    background-color: #000000;
    height: 142px;
    left: 5px;
    margin: 10px 0;
    opacity: 0.8;
    position: absolute;
    top: 19px;
    width: 221px;
}

 .bloque-promo .modal {
    left: 35px;
    position: absolute;
    top: 75px;
}

 .bloque-promo .modal .btnVerMas {
    background-color: #A7A268 ;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font: bold 16px/36px Arial;
    height: 37px;
    margin: 16px 0 0 14px;
    text-align: center;
    width: 136px;
}

.modulos-compra .recomendar {
    bottom: 0;
    left: 10px;
    position: absolute;
}

 .modulos-compra .recomendar li a.fb {
    background: url("/img/theme_clean/exclusive/ico-fb.png") no-repeat scroll 0px 0 transparent;
	width: 30px;
}

 .modulos-compra .recomendar li a.tw{
    background: url("/img/theme_clean/exclusive/ico-tw.png") no-repeat scroll 0 0 transparent;
	width: 30px;
	margin: 0 5px;
}

 .modulos-compra .recomendar li a.email{
    background: url("/img/theme_clean/exclusive/ico-mail.png") no-repeat scroll 0px 0 transparent;
	width: 30px;
}



h1.h1-format a {
    color: #B0AC6D;
    display: block;
    font: 25px arial;
    margin: 0 0 0 240px;
}

h2 a {
    color: #BEBEBE;
    font: 23px arial;
    margin: 10px 0 10px 240px;
}

.bloque-home .mas-info img{
    float: left;
    margin: 0 0 0 10px;
}

.bloque-home .mas-info ul {
    color: white;
    display: block;
    float: left;
    font: 12px arial;
    margin: 0 0 0 10px;
    padding: 0;
    width: 290px;
}

.bloque-home .mas-info p {
    color: white;
    margin: 0 0 10px 10px;
}

.col-izq .modulos-compra ul.precio li.li-first a, .regala_buy a {
    background: url("/img/theme_clean/exclusive/ico-regalo.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    font: 14px arial;
    height: 18px;
    margin: 0 auto;
    padding: 5px 0 5px 30px;
    text-align: left;
    width: 124px;
}

.modulos-compra .cupon-activo {
    background: url("/img/theme_clean/exclusive/cupon-act.png") no-repeat scroll 13px 0 transparent;
    color: #8AC142;
    margin: 10px 0 0;
    padding: 10px 0 10px 20px;
    text-indent: -9999px;
}

.col-izq .modulos-compra ul.precio li.li-first, .regala_buy {
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    font: bold 22px arial;
    padding-bottom: 10px;
    position: absolute;
    top: 72px;
    width: 207px;
}

.col-izq .modulos-compra ul.precio li {
    border: medium none;
    color: white;
    display: block;
    float: left;
    font-weight: normal;
    padding: 5px;
    width: 91px;
}

.col-der .content-der img {
    margin: 0 -5px 10px 20px;
}

.modulos-compra .recomendar {
    bottom: 0;
    position: absolute;
}

.modulos-compra .recomendar p {
    float: left;
    font: 13px/39px arial;
    height: 32px;
    margin: 0 0 0 25px;
    text-align: center;
}

.bloque-home .mas-info {
    background: none repeat scroll 0 0 #151515;
	border:none;
    margin: 10px 0 0;
    padding: 10px 0;
    width: 700px;
}

.bloque-home .mas-info li.li-desc {
    color: #C6C6C6;
    font: bold 12px arial;
    margin: 30px 0 0;
    width: 480px;
}

.bg-img{visibility: hidden;}

#main .bloque-promo a.promo-precio {
    background: none repeat scroll 0 0 transparent;
    color: #EDE4AB;
    display: block;
    font: 16px arial;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    }

    #main .bloque-promo-ofertas{
        margin: 11px 0 0!important;
    }
    
#main .bloque-promo-ofertas p {
    display: none;
    height: auto;
    }
    
#main .fmt-4 {
    margin-left: 0;
    margin-right: 10px;
    width: 200px;
    }

p.fmt-titulo2 {
    color: #EDE4AB;
    font: 12px arial;
    margin: 10px 10px 0;
    }

 .bloque-home #oferta-descripcion {
    margin: 10px;
    color:white;
    }

    #oferta-descripcion a{
        color:#EDE4AB;
    }
    
/*menu desplegable*/

ul.mi-cuenta {
    background: none repeat scroll 0 0 #181818;
    border: 3px solid #B0AC6D;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 8px #666666;
    display: none;
    left: 55px;
    position: absolute;
    top: 60px;
    z-index: 9999;
    }

ul.mi-cuenta a.item-salir:hover {
    background: none repeat scroll 0 0 #B0AC6D;
    color: white;
    }

ul.mi-cuenta li a:hover {
    background: none repeat scroll 0 0 #EDE4AB;
    color: black;
    padding: 10px;
    text-decoration: none;
    }

ul.mi-cuenta li:first-child a {
    color: #FFF;
    font: bold 14px Arial;
    text-align: right;
    }

ul.mi-cuenta a.item-salir {
    background: none repeat scroll 0 0 #B0AC6D;
    border-top: 1px dashed #CCCCCC;
    }

    
#header .ingresa span {
    color: #B0AC6D;
    margin: 0;
    padding: 3px;
    }
    
#header a.text, .menu-js {
    background: url("/img/theme_clean/exclusive/mas.png") no-repeat scroll right center transparent!important;
    color: #0098CA;
    display: block;
    float: left;
    font: 15px/19px Arial;
    margin: 37px 0 0;
    padding-right: 25px;
    }
    
#header .menu-js {
    color: #B0AC6D;
    font-size: 12px;
    margin: 0;
    }

    
.bloque-horizontal-contenido .imagen-js .div-modal{
    margin-top:0px!important;
}
/*
*>.bloque-horizontal-contenido .imagen-js .div-modal{
	margin-top:-6px!important;
}
*/
#home-v2-exclusive .cboxClose{
    color:#333;
}
#home-v2-exclusive #cboxClose{top:-15px!important;}

/* FIN EXCLUSIVE */

#cboxboton_cierre{
    position:absolute;
    top:0;
    right:0;
    background:url("/img/theme_clean/err-b.png") no-repeat;
    height:25px;
    width:25px;
    z-index:5;
    cursor:pointer;
    }

    
    .when-no-subscription{
        color: #C6C6C6!important;
    }
    
    
    #home-v2-exclusive #main .bloque-promo-grandes {
        background: none repeat scroll 0 0 #333;
        border: 1px solid #777157;
    }
    #home-v2-exclusive #main .bloque-promo-grandes img{
        border:none;
    }