body {
	background: #fff !important;
	overflow: hidden;
}

a{
    color: #0098CA;
    font: 14px arial;
    text-decoration: none;
}

.bloque-pop{
    width: 620px;
    height: 670px;
}




/* ----------------------------------------- POPUP ----------------------------------------- */

#follow {
    margin-left: 20px !important;
    width: 250px !important;
}

#cc-popup {
	background-color: #FFF;
	width: 620px;
	height: 670px;
	
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

#cc-popup img{
	border: 0;
}

#cc-popup form {
	background-color: #E4E4E4;
	/*height: 75px;*/
	height: 32px;
	padding: 18px;
	/* width: 584px; */ 
	position: relative;
	top: -2px;
	padding-top: 3px;
}

#cc-popup form a{
	width: 100%;
	clear: both;
	display: block;
	color: #315D7F;
	font-size: 11px;
	padding: 8px 0;
	text-decoration: none;
	padding-top: 0px;
}

#cc-popup form input.suscription {
	background-color: #3a3a3a;
	background-image: none;
	border: none;
	width: 124px;
	height: 37px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #FFF;
	font-weight: lighter;
	position: relative;
	top: 2px;
/* 	vertical-align: middle; */
}
#cc-popup form input.suscription.compraroff {
	background-color: #00000;
	opacity: 0.5;
}

#cc-popup form input.mail {
	background-color: #FFFFFF;
	border: 1px solid #BDBDBD;
	height: 34px;
	margin-right: 10px;
	padding: 8px 10px;
	width: 190px;
}

#cc-popup form .select {
	background: url("/img/web/clubcupon/pick2.png") no-repeat scroll 7px center #FFFFFF;
	border: 1px solid #BDBDBD;
	margin-right: 10px;
	padding: 5px 0 5px 25px;
	height: 23px;
	width: 203px;
}

#cc-popup form select {
	background: transparent;
	border: 0px solid #ffffff;
	padding: 0px 9px 8px 0;
	width: 200px;
	
	display: inline;
	vertical-align: middle;
/* 	height: 34px; */
}

#cc-popup .suscribirme {
	background: url("/img/web/clubcupon/facebook.jpg") no-repeat scroll 13px center #475995;
	border-radius: 3px;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 41px;
	line-height: 42px;
	margin: 8px 0 0 10px;
	text-decoration: none;
	/* width: 183px; */
	padding: 0 10px 0 45px;
	float: left;
}

#cc-popup p {
	float: left;
	line-height: 57px;
	margin-left: 70px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

#cc-popup .redes{
	   float: right;
	   margin-right: 0px;
	   margin-top: 0px;
	   width: 115px !important;
	}

#cc-popup .redes li{
    display: inline-block;
    display:-moz-inline-stack;
    zoom:1;
    *display:inline;
	margin: 15px 2px 0;
	}
		
/* extra styles */		
.icon_facebook { background: transparent url(/img/web/clubcupon/redes.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter { background: transparent url(/img/web/clubcupon/redes.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss { background: transparent url(/img/web/clubcupon/redes.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo { background: transparent url(/img/web/clubcupon/redes.png) -132px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google { background: transparent url(/img/web/clubcupon/redes.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }

.icon_facebook:HOVER { background: transparent url(/img/web/clubcupon/redes_hover.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) -132px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google:HOVER  { background: transparent url(/img/web/clubcupon/redes_hover.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }

.icon_facebook:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -132px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google:ACTIVE { background: transparent url(/img/web/clubcupon/redes_pressed.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }


#SubscriptionAddForm {
    /* width: 620px !important; */
}


/* hacks asquerosos por mal maquetado... */
#SubscriptionAddForm div.input {
	display: inline-block;
    vertical-align: middle;

	zoom:1;
    *display:inline;
/*     *padding-top: 5px; */
    *height: 34px;
}

#SubscriptionAddForm div.input.text {
	width: 200px;
}
#cc-popup form input.suscription {
	*vertical-align: middle;	
}