.grid_9.navigation{
    margin: 23px 0 0;
}

.grid_9.navigation input{
    background: url("/img/theme_clean/lupa.png") no-repeat scroll 13px center #EDEDED;
    border: medium none;
    float: left;
    padding: 10px 10px 10px 40px;
    width: 250px;
    border-right: 1px solid #BEBEBE;
    border-radius: 3px 0 0 3px;
    margin: 0;

}

#header .grid_9.navigation a.city{
    background: none;
    border: medium none;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 10px 5px 10px 30px;
    width: 180px;

}

span.posimg{
    background: url("/img/theme_clean/posarrow.jpg") no-repeat #FFFFFF;
    float: left;
    border-radius: 0 3px 3px 0;
}
#q{
    margin-top: 0;
    padding: 10px 10px 9px 40px;
    height: 17px;
}
.placeholderIE {
    color: #999999;
}