/* RESET */
* { margin: 0px; padding: 0px; border: none }
BODY { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #777; background-image:url(images/estetica2back.jpg); padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
A {text-decoration: none}
UL, LI { list-style: none}

/*TOP*/
#Top { width:946px; height:265px; margin:0 auto; margin-bottom:5px;}

/*CAJA MADRE*/
#MainBox { background-color:#fff;margin: 0 auto; overflow: auto; border: solid 1px #f50f31; overflow:hidden; width:946px;}

#Header { height: 125px; width: 100%; float: left}
#Header H1 { width: 169px; height: 86px; margin-top: 19px; margin-left: 20px; float: left}
#Header H1 A { background-image: url(images/logo.png); background-repeat: no-repeat; display: block; width: 169px; height: 86px; text-indent: -5000px}
#NavLateral { float: right; margin-right: 13px; margin-top: 31px; width: 300px}
#Lang { float: right; padding-bottom: 7px}
#Lang  IMG { margin-left: 7px}

#SubNav { float: right; width: 100%;}
#SubNav P { float: right}
#SubNav A { background-color: #0055a5; color: #FFF; font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; border: 1px solid #b9c7d0; width: 99px; height: 20px; display: block; text-align: center; line-height: 20px; float: right; margin-left: 7px }

#Tel { text-align: right; width: 100%; font-family: Arial, "Times New Roman", Times, serif; font-size: 11px; color: #424242; margin-top: 5px; float: left }


#Nav { height: 30px; background-color:#b7daf0; width: 918px; margin-left: 10px; margin-bottom: 10px; float: left; margin-top:10px }
#Nav LI { float: right; line-height: 30px; font-family: Arial, "Times New Roman", Times, serif; font-size: 13px; color: #FFFFFF; }
#Nav LI A { color: #FFF; display: block; padding-right: 16px; padding-left: 16px; border-right-width: 1px; border-right-style: solid; border-right-color: #fff;text-decoration:none }
#Nav LI A:hover { background-color:#06C; text-decoration:none}
#Nav LI A:active { background-color:#06C; text-decoration:none}
#Nav LI:first-child A { border: none; padding-left: 29px;}

/*HOME*/
#Slider { height: 200px; width: 939px; float: left; position: relative; padding-top:2px; padding-bottom:10px; text-align:left;  background-repeat:no-repeat; background-image:url(images/picturefondo.jpg); margin-top:10px; margin-left:5px;}
#Slider .scrollable {height: 172px; width: 915px; margin:0 auto; overflow: hidden; position: relative}
#Slider .scrollable .items { position: absolute; width: 2000em; float: left}
#Slider .scrollable .items DIV { width: 918px; height: 172px; float: left}
#Slider .prev { position: absolute; width: 20px; height: 20px; z-index: 100; left: 10px; top: 60px; cursor: pointer}
#Slider .next { position: absolute; width: 20px; height: 20px; z-index: 100; right: 35px; top: 55px; cursor: pointer}
#Slider .mira { position: absolute; width: 282px; height: 65px; z-index: 100; right: 20px; top: 105px; cursor: pointer}
#Slider .navi { position: absolute; top: 183px; left: 450px; z-index: 100; height: 20px; width: 150px; margin-top:15px; }
#Slider .navi A { background-color:#06C; width: 6px; height: 6px; display: block; float:left; margin-right: 5px}
#Slider .disabled {display: none}
#Slider .navi A.active { background-color: #b7daf0}


#Boxes {padding-bottom: 3px; float: left; width: 939px; padding-left: 0px;  padding-top:5px;}
#Boxes .Box { width: 226px; height:280px; float: left; margin-left: 8px; text-align:left;}
#Boxes H3 { height: 30px; font-family: Arial, "Times New Roman", Times, serif; font-size: 12px; color: #ff6000; font-weight: normal; padding-top: 15px;}
#Boxes H3 A{ height: 30px; font-family: Arial, "Times New Roman", Times, serif; font-size: 12px; color: #ff6000; font-weight: normal; padding-top: 15px; }
#Boxes H3 A:hover{ height: 30px; font-family: Arial, "Times New Roman", Times, serif; font-size: 12px; color: #ff6000; font-weight: normal; padding-top: 15px; text-decoration:underline}
#Boxes DIV { margin-bottom: 5px}
#Boxes P { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 16px; color: #ff6000; margin-bottom: 10px }

#Botones { border-bottom-width: 1px; border-bottom-style:dashed; border-bottom-color:#2c231e; padding-bottom: 3px; float: left; width: 935px; padding-left: 4px; }
#Botones .Box1 { width: 298px; float: left; margin-left: 10px; text-align:left}

#Footer {float: left; width: 928px; margin-left:5px; margin-top:10px; margin-bottom:10px}
#Footer P {font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #999;margin: 0px;padding: 5px;border: 2px dotted #CCC; text-align:left}
