<div id="ccnow">
<div class="container_16 main_frt" id="main">
	<div class="contenedor-cambiopass">
		<div class="grid_16 mb10px">
			<div class="logonewccnow clearfix">
				<img src="/img/theme_clean/logoYA.png" class="logoya">
				<h2 class="potencialesc">La nueva forma de publicar ofertas instant&#225;neas  y ganar nuevos clientes.</h2>
				<ul class="pasos clearfix">
					<li class="li1">1</li>
					<li class="li2 select">2</li>
					<li class="li3">3</li>
				</ul>
			</div>
		</div>	
		<div class="grid_16">
			<div class="paso2">
				<h3>Te enviamos un mail a tu cuenta de correo.</h3>				
				<p>Ingres&#225; al link que recibas para seguir completando la carga de tus datos y activar tu cuenta.</p>				
			</div>

			<ul class="mailsocial clearfix">
				<li><a class="gm" href="http://www.gmail.com">GMail</a></li>
				<li><a class="ht" href="http://www.hotmail.com">Hotmail</a></li>
				<li><a class="yh" href="http://mail.yahoo.com">Yahoo</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
	