<?php if(isset($this->data['Company'])){
		echo "Bloack ALL!!!";
	}
?>

<div class="companies form clearfix">
	<h2><?php echo __l('AddCompany');?></h2>
	<?php
		echo $form->create('CompanyCandidate', array('url' => array('controller' => 'users', 'action' => 'register_company')));
	?>
<div id="content" class="box">
  <div id="register">
    <div class="deal-side1">
      <div class="content-r clearfix">
	  <?php if(isset($this->data['Company'])){ ?>
            <h1>Tu Empresa ya esta aprobada, no se puede modificar!</h1>
	<?php } ?>
   
       <?php echo $this->element('company_candidate_fields'); ?>

        
        <div class="submit-block">
		<?php if(!isset($this->data['Company'])){ ?>
            <?php echo $form->submit('Crear empresa'); ?>
		<?php } ?>
        </div>
        
        <?php echo $form->end(); ?>
   
   
   
   
</div>
</div>
</div>
</div>
	   
	   
    
        
</div>