    <div   style="word-wrap:break-word; ">
        &nbsp;
        <?php  if(isset($ccnow_deal_categories)):  ?>


<dl style="width:200px;">


        <?php $categories = array();?>
        <?php foreach($ccnow_deal_categories as $ccnow_category):  ?>
            <?php $categories[]=' <dd><a href="#">'.$ccnow_category.'</a></dd> ';?>


            <?php endforeach; ?>
        <?php echo join("\n\t",$categories)?>
        </dl>
       <?php  endif; ?>

    </div>