
<div id="sidebar">
    <?php echo $this->element('sidebar'); ?>
</div>

<div id="cuerpo">
    
    <div id="principal">
        
        <div class="oferta">
            <h2>
                <?php echo $main_deal[0]['name']; ?>
            </h2>
            <img src="http://www.clubcupon.com.ar/img/medium_big_thumb/Deal/8238.273a416e14d22da137c7453b2132d503.jpg" />
            <div class="boton_comprar">Comprar</div>
            <table>
                <tr>
                    <td>Original</td>
                    <td>Descuento</td>
                    <td>Precio CC</td>
                    <td>Tiempo restante</td>
                    <td rowspan="2">regalo</td>
                    <td rowspan="2">mail</td>
                    <td rowspan="2">facebook</td>
                    <td rowspan="2">twitter</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                
            </table>
            
        </div>
        
        
        
    </div>
    
    
    
<?php
    
    
    print_r($main_deal);
    
    echo '<hr >';
    
    echo '<table><tr>';
    $counter = 0;
    foreach($general_deals as $deal){
        
        

        
        echo '<td>';
        print_r($deal);
        echo '</td>';

        $counter++;
        
        if($counter >= $columnas)
        {
            echo '</tr>';    
            $counter = 0;
        }
        
    }
    
    
    echo '</table>';

?>
</div>