<a href="/cel/landing" class="btn_descarga_app">
					<img src="/img/web/clubcupon/new/images/descarga_app.png" alt="Descargar App">
					<span>Descargá nuestra App y comprá desde tu celular</span>
</a>