<?php if (Configure::read('web.ad_server') == 'eplanning') { ?>
    <!-- e-planning v3 - Comienzo espacio ClubCupon _ Home _ Logo 118x92 -->
    <script type="text/javascript" language="JavaScript1.1">
        var rnd = (new String(Math.random())).substring(2, 8) + (((new Date()).getTime()) & 262143);
        var cs = document.charset || document.characterSet;
        document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/4200ecb475eaff2d?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
    </script>
    <noscript>
    <a href="http://ads.e-planning.net/ei/3/9b30/4200ecb475eaff2d?it=i&rnd=$RANDOM" target="_blank">
        <img style="padding-top: 0px !important; padding-bottom: 0px !important ;" width="118" height="92"  alt="e-planning ad" src="http://ads.e-planning.net/eb/3/9b30/4200ecb475eaff2d?o=i&rnd=$RANDOM" border=0>
    </a>
    </noscript>
    <!-- e-planning v3 - Fin espacio ClubCupon _ Home _ Logo 118x92 -->
<?php } ?>