<?php if (Configure::read('web.ad_server') == 'eplanning') { ?>
    <!-- e-planning v3 - Comienzo espacio ClubCupon _ Home _ Home_950x50 -->
    <script type="text/javascript" language="JavaScript1.1">
    <!--
        var rnd = (new String(Math.random())).substring(2, 8) + (((new Date()).getTime()) & 262143);
        var cs = document.charset || document.characterSet;
        document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/b9cb5374b5ecb741?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
    //-->
    </script>
    <noscript>
    <a href="http://ads.e-planning.net/ei/3/9b30/b9cb5374b5ecb741?it=i&rnd=$RANDOM" target="_blank">
        <img width="950" height="50"  alt="e-planning ad" src="http://ads.e-planning.net/eb/3/9b30/b9cb5374b5ecb741?o=i&rnd=$RANDOM" border=0>
    </a>
    </noscript>
    <!-- e-planning v3 - Fin espacio ClubCupon _ Home _ Home_950x50 -->
<?php } ?>