<!-- cxenseparse_start -->
<!-- cxenseparse_end -->
<?php
App::import('Component', 'api.ApiCxsenseService');
$apiCxsenseService= & new ApiCxsenseServiceComponent(); 
$hashUser='';
if(isset($user_mail) && !empty($user_mail)){
	$hashUser=$apiCxsenseService->hash($user_mail);	
}


?>
<!-- Cxense script start-->
<script type="text/javascript">
    var cX = cX || {};
    cX.callQueue = cX.callQueue || [];

    var externalUserId = "<?php echo $auth->user ('id')?>";
    var customerPrefix = "gcc";
    if (externalUserId != "") {
        cX.callQueue.push(["addExternalId", {
            "id": externalUserId,
            "type": customerPrefix
        }]);
    }

    externalUserId = "<?php echo $hashUser?>";
    customerPrefix = "gcz";
    if (externalUserId != "") {
        cX.callQueue.push(['addExternalId', {
            'id': externalUserId,
            "type": customerPrefix
        }]);
    }

    cX.callQueue.push(['setSiteId', '9222347603835741881']);
    cX.callQueue.push(['sendPageViewEvent', {
        useAutoRefreshCheck: false
    }]);
    cX.callQueue.push(['invoke', function() {
        var segments = cX.getUserSegmentIds({
            persistedQueryId: '461bec950028dc182f12b15f813a548afc3dfa7d'
        });
        var eplanning = '';
        eplanning = segments.join('|');
        if (eplanning != '' && typeof $.cookie("cxSegmentos") == "undefined") {
            $.cookie("cxSegmentos", eplanning, {
                expires: 365,
                path: "/"
            });
        }
    }]);;
</script>
<!-- Cxense script end-->
<script type="text/javascript">
(function() { 
	try { 
		var scriptEl = document.createElement('script'); 
		scriptEl.type = 'text/javascript'; 
		scriptEl.async = 'async';
		scriptEl.src = ('https:' == location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js';
		var targetEl = document.getElementsByTagName('script')[0]; 
		targetEl.parentNode.insertBefore(scriptEl, targetEl); 
	} catch (e) {
		};
	} ());
</script>
<!-- Cxense script end -->
