<!-- e-planning v4 - Comienzo espacio ClubCupon _ Ficha _ Layer -->
<script language = "JavaScript"
type = "text/javascript" > <!--
    var eplDoc = document;
var eplLL = false;
var eS1 = 'clarin.img.e-planning.net';
var eplArgs = {
    iIF: 1,
    sV: schemeLocal() + "://ads.e-planning.net/",
    vV: "4",
    sI: "9b30",
    sec: "Ficha",
    kVs: {}
};

function eplCheckStart() {
    if (document.epl) {
        var e = document.epl;
        if (e.eplReady()) {
            return true;
        } else {
            e.eplInit(eplArgs);
            if (eplArgs.custom) {
                for (var s in eplArgs.custom) {
                    document.epl.setCustomAdShow(s, eplArgs.custom[s]);
                }
            }
            return e.eplReady();
        }
    } else {
        if (eplLL) return false;
        if (!document.body) return false;
        var eS2;
        var dc = document.cookie;
        var cookieName = ('https' === schemeLocal() ? 'EPLSERVER_S' : 'EPLSERVER') + '=';
        var ci = dc.indexOf(cookieName);
        if (ci != -1) {
            ci += cookieName.length;
            var ce = dc.indexOf(';', ci);
            if (ce == -1) ce = dc.length;
            eS2 = dc.substring(ci, ce);
        }
        var eIF = document.createElement('IFRAME');
        eIF.src = 'about:blank';
        eIF.id = 'epl4iframe';
        eIF.name = 'epl4iframe';
        eIF.width = 0;
        eIF.height = 0;
        eIF.style.width = '0px';
        eIF.style.height = '0px';
        eIF.style.display = 'none';
        document.body.appendChild(eIF);
        var eIFD = eIF.contentDocument ? eIF.contentDocument : eIF.document;
        eIFD.open();
        eIFD.write('<html><head><title>e-planning</title></head><bo' + 'dy></bo' + 'dy></html>');
        eIFD.close();
        var s = eIFD.createElement('SCRIPT');
        s.src = schemeLocal() + '://' + (eS2 ? eS2 : eS1) + '/layers/epl-41.js';
        eIFD.body.appendChild(s);
        if (!eS2) {
            var ss = eIFD.createElement('SCRIPT');
            ss.src = schemeLocal() + '://ads.e-planning.net/egc/4/41a3';
            eIFD.body.appendChild(ss);
        }
        eplLL = true;
        return false;
    }
}
eplCheckStart();

function eplSetAd(eID) {
    if (eplCheckStart()) {
        var opts = (eplArgs.sOpts && eplArgs.sOpts[eID]) ? eplArgs.sOpts[eID] : {};
        if (opts.custF) {
            document.epl.setCustomAdShow(eID, opts.custF);
        }
        document.epl.setSpace(eID, opts);
    } else {
        setTimeout('eplSetAd("' + eID + '");', 250);
    }
}

function eplAD4(eID, opts) {
    document.write('<div id="eplAdDiv' + eID + '"></div>');
    if (!opts) opts = {
        t: 1
    };
    if (!eplArgs.sOpts) {
        eplArgs.sOpts = {};
    }
    eplArgs.sOpts[eID] = opts;
    eplSetAd(eID);
}

function schemeLocal() {
        if (document.location.protocol) {
            protocol = document.location.protocol;
        } else {
            protocol = window.top.location.protocol;
        }
        if (protocol) {
            if (protocol.indexOf('https') !== -1) {
                return 'https';
            } else {
                return 'http';
            }
        }
    }
    var eplInt;
function initInterval() {
	var i, lid, intervalId, eds;
	eds = document.getElementsByTagName("div");
	for (i = 0; i < eds.length; i++) {
		if (eds[i].id.indexOf("adLayer") != -1) lid = eds[i].id;
	}
	if (lid) {
		var l = document.getElementById(lid);
		l.style.position = "fixed";
		l.style.top = "auto";
		l.style.bottom = "0";
		clearInterval(eplInt);
	}
}
    //--></script>
    <script> eplAD4("Layer", {
        t: 1,
        timeout: 0,
        ma: 1,
        custF: function(){eplInt = setInterval(initInterval,50);},
        sd: "9b30!Ficha!http://ads.e-planning.net/!!"
    }); </script>
    
<!-- e-planning v4 - Fin espacio ClubCupon _ Ficha _ Layer -->

