<!-- ABR14 -->
<!-- Tracking de Google Analytics (Conversion Subscripcion) [BEGIN] -->
<!-- Google Code for Suscripcion Conversion Page -->
<script type = "text/javascript">
  /* <![CDATA[ */
  var google_conversion_id       = 981091258;
  var google_conversion_language = "es";
  var google_conversion_format   = "3";
  var google_conversion_color    = "ffffff";
  var google_conversion_label    = "GJOPCK7qqQIQuofp0wM";
  var google_conversion_value    = 0;
  /* ]]> */
</script>
<script type = "text/javascript"  src = "http://www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
  <div style = "display: inline;">
    <img height = "1"  width = "1"  style = "border-style: none;"  alt = ""  src = "http://www.googleadservices.com/pagead/conversion/981091258/?label=GJOPCK7qqQIQuofp0wM&amp;guid=ON&amp;script=0" />
  </div>
</noscript>
<!-- Tracking de Google Analytics (Conversion Subscripcion) [END] -->

<!-- Tracking de Red CMD (Conversion Subscripcion) [BEGIN] -->
<script language = "JavaScript"  type = "text/javascript">
  <!--
    var rnd = new String (Math.random ()) + ((new Date ()).getTime ());
    document.writeln ('<scri' + 'pt language = "JavaScript1.1"  type = "text/javascript"  src = "http://ads.e-planning.net/pct/3/93b6/85889104232213c8?o=j&rnd=' + rnd + '"></scr' + 'ipt>');
  // -->
</script>
<!-- Tracking de Red CMD (Conversion Subscripcion) [END] -->

<?php if (Configure::read ('Actual.city_slug') == 'cordoba'): ?>
<!-- Google Code for Suscripcion Cordoba Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 981091258;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "IAfjCL6_igMQuofp0wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/981091258/?label=IAfjCL6_igMQuofp0wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- ANTEVENIO -->
<?php endif; ?>

<!-- Begin Adsmarket Lead Tracking code -->
<script src="http://network.adsmarket.es/cpx?script=1&programid=5641&action=lead&p1=<?php echo $_GET["subscription_id"]; ?>" type="text/javascript"></script>
<!-- End Adsmarket Lead Tracking code -->