<h1>Cities</h1>
<?php if (!empty($cities)) { ?>
    <ul>
        <?php foreach ($cities as $city) { ?>
            <li>
                <?php //var_dump($city); ?>
            </li>
        <?php } ?>
    </ul>
<?php } ?>
