.error-message {
  color: #f30;
  font-size: 12px;
  padding: 5px 0;
  float: left;
  text-align: left;
}

[class^="icon-"],[class*=" icon-"] {
  background-image: url("/img/glyphicons-halflings.png")!important;
}

.dropdown-menu {
  z-index: 1100!important;
}

.bloque-modelo.BUY_DEAL_DETAIL {
  margin-bottom: 0!important;
  min-height: 0!important;
}

.bloque-modelo {
  background: #fff;
  min-height: 220px;
  margin-bottom: 10px;
}

.navbar-inner.tucompra {
  filter: none;
}

.bloque-modelo .navbar {
  border-bottom: 1px solid #d3d3d3;
  color: #454545;
  margin: 15px 0;
}

.bloque-modelo .navbar .navbar-inner {
  border-radius: 0;
}

.bloque-modelo .navbar-inverse .navbar-inner {
  background: #fff;
  border: 0;
  box-shadow: none;
  padding: 0;
  filter: none;
}

.bloque-modelo .navbar-inverse .navbar-inner span {
  display: block;
  font-size: 32px;
  line-height: 32px;
}

.bloque-modelo .navbar-inverse .navbar-inner strong {
  color: #ff6400;
  font-weight: normal;
}

.bloque-modelo .detalle {
  padding: 10px 0;
}

.clearFloats {
  clear: both;
  padding-top: 10px;
}

.BUY_DEAL_DETAIL .clearFloats {
  clear: both;
  padding-top: 0!important;
  margin-top: 0;
}

.header-bg {
  background: #000;
  height: 70px;
}

.header-bg .logo {
  width: 125px;
  padding: 15px 20px 0 32px;
}

.userMenu {
  position: relative;
  margin-top: 40px;
  font-size: 14px;
  color: #4d7aa3;
  display: inline-block;
}

.userMenu li {
  display: block;
  height: 20px;
  right: 0;
}

.userMenu a,a:hover,a:active {
  color: #45a4d0;
}

.userMenu .username {
  color: #f2f2f2;
  width: 400px;
  text-align: right;
}

.userMenu .volver {
  white-space: nowrap;
}

.SELECT_DEAL {
  min-height: 100px;
}

.SELECT_DEAL table {
  width: 100%;
  margin-bottom: 30px;
}

.SELECT_DEAL table th {
  padding: 0 0 5px;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  color: #414141;
  border-bottom: 2px solid #888;
}

.SELECT_DEAL table td.col1,.SELECT_DEAL table td.col2,.SELECT_DEAL table td.col3 {
  height: 24px;
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}

.SELECT_DEAL table td.col3 {
  text-align: right;
}

.SELECT_DEAL a.btn-compra_azul {
  background: url('/img/web/clubcupon/bg_ver_mas.png') repeat-x scroll 0 0 #d3811e;
  display: inline-block;
  width: 90px;
  height: 23px;
  padding: 4px 0;
  font-family: 'Roboto',sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: 0;
}

.SELECT_DEAL .btn-gris-centrado.btn-agotado {
  background: none repeat scroll 0 0 #f3f3f3;
  display: inline-block;
  width: 90px;
  height: 23px;
  padding: 4px 0;
  font-family: 'Roboto',sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #676767;
  border: 0;
}

.SELECT_DEAL_DETAIL .dealImage {
  width: 209px;
  height: 139px;
  margin-right: 10px;
}

.SELECT_DEAL_DETAIL .dealImage img {
  display: block;
}

.SELECT_DEAL_DETAIL .subTitle {
  clear: both;
  color: #202020;
  font-size: 20px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.SELECT_DEAL_DETAIL .dealDescription {
  width: 470px;
  font-size: 18px;
  line-height: 21px;
  color: #666;
}

.BUY_DEAL_DETAIL .cocarda {
  background: url("/img/theme_clean/dynamic/ahorro.png") no-repeat center center;
  position: relative;
  height: 137px;
  width: 147px;
  margin-bottom: 0;
}

.BUY_DEAL_DETAIL .cocarda p {
  color: white;
  font: 14px arial;
  padding: 22px 0 0;
  text-align: center;
  text-shadow: 1px 1px 1px #777;
  margin: 0;
}

.BUY_DEAL_DETAIL .errors {
  color: #f30;
  font-size: 12px;
}

.BUY_DEAL_DETAIL .cocarda .precionum {
  font: bold 85px/76px arial;
  padding: 0;
  text-shadow: 1px 1px 1px black;
}

.BUY_DEAL_DETAIL .cocarda span {
  bottom: 86px;
  color: white;
  font: 18px arial;
  position: absolute;
  right: 18px;
}

.BUY_DEAL_DETAIL .clarin365Error {
  display: none;
}

.BUY_DEAL_DETAIL .detalle table {
  width: 757px;
}

.BUY_DEAL_DETAIL .detalle table thead th {
  text-align: left;
  margin: 15px 0 10px;
  padding: 0 0 5px;
  border-bottom: 2px solid #888;
}

.BUY_DEAL_DETAIL .detalle table thead th.col1 {
  width: 330px;
}

.BUY_DEAL_DETAIL .detalle table thead th.col2 {
  width: 140px;
}

.BUY_DEAL_DETAIL .detalle table thead th.col3 {
  width: 207px;
  text-align: center;
}

.BUY_DEAL_DETAIL .detalle table thead th.col3 strong {
  color: #ff6400;
  font-weight: normal;
}

.BUY_DEAL_DETAIL .detalle table thead th.col4 {
  width: 184px;
  color: #777;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
}

.BUY_DEAL_DETAIL .detalle table tbody td.col4 {
  text-align: center;
}

.BUY_DEAL_DETAIL .detalle table thead th.col1 span,.BUY_DEAL_DETAIL .detalle table thead th.col2 span,.BUY_DEAL_DETAIL .detalle table thead th.col3 span,.BUY_DEAL_DETAIL .detalle table thead th.col4 span {
  color: #414141;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 5px;
}

.BUY_DEAL_DETAIL .detalle table thead th.col2 span {
  width: 100%;
}

.BUY_DEAL_DETAIL .detalle table tbody td {
  padding-top: 17px;
  vertical-align: middle;
}

.BUY_DEAL_DETAIL .detalle table tbody td.col1 .dealName {
  width: 240px;
  padding: 0 0 0 5px;
  line-height: 21px;
  font-size: 15px;
  vertical-align: top;
  color: #202020;
}

.BUY_DEAL_DETAIL .detalle table tbody td.col2 {
  font: 11px arial;
  margin: 3px 0;
  color: #777;
}

.BUY_DEAL_DETAIL .detalle table tbody td.col2 input {
  display: block;
  width: 50px;
  height: 34px;
  margin: 0 0 10px 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid #d3d3d3;
  float: left;
}

.BUY_DEAL_DETAIL .detalle table tbody td.col2 .minmax {
  float: right;
  font-size: 12px;
  color: #868686;
  line-height: 18px;
}

.BUY_DEAL_DETAIL .detalle table tbody td.col3 {
  text-align: center;
  color: #202020;
  font-size: 15px;
  font-weight: normal;
}

.BUY_DEAL_DETAIL .detalle table tbody td.col4 {
  text-align: center;
  color: #202020;
  font-size: 20px;
  font-weight: normal;
}

.BUY_DEAL_DETAIL .couponCodeDialog {
  width: 100%;
}

.BUY_DEAL_DETAIL .couponCodeDialog a {
  font: 13px arial;
  text-decoration: none!important;
}

.BUY_DEAL_DETAIL .couponCodePin,.BUY_DEAL_DETAIL .clarin365 {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  clear: both;
}

.BUY_DEAL_DETAIL .couponCodePin a,.BUY_DEAL_DETAIL .clarin365 a {
  font-weight: bold;
  color: inherit!important;
}

.BUY_DEAL_DETAIL .clarin365 {
  background: #f2dede;
  color: #b94a48;
  border-color: #eed3d7;
}

.BUY_DEAL_DETAIL .clarin365 .logo {
  padding: 7px;
}

.BUY_DEAL_DETAIL .couponCodePin {
  -moz-box-sizing: border-box;
  background-color: #ededed;
  color: #343434;
  font-size: 14px;
  margin-top: 30px;
  padding: 26px 18px;
  display: none;
}

.BUY_DEAL_DETAIL .couponCodePin table,.BUY_DEAL_DETAIL .clarin365 table {
  margin: 0 auto;
}

.BUY_DEAL_DETAIL .couponCodePin label {
  display: inline-block;
  padding-bottom: 8px;
  margin-right: 20px;
}

.BUY_DEAL_DETAIL .couponCodePin .input {
  display: inline-block;
}

.BUY_DEAL_DETAIL .couponCodePin .discount_code {
  border-radius: 0;
}

.BUY_DEAL_DETAIL .couponCodePin .subm {
  margin-top: -2px;
}

.BUY_DEAL_DETAIL #UserClarinAffiliateNumber,.BUY_DEAL_DETAIL #discount_code {
  margin-bottom: 0;
}

.VERIFY_EMAIL .navbar-inverse .navbar-inner {
  padding: 0;
  filter: none;
}

.VERIFY_EMAIL .navbar-inverse .navbar-inner span {
  color: #454545;
  font-size: 20px;
}

.LOGIN,.VERIFY_EMAIL {
  height: 190px;
}

.LOGIN .facebook,.VERIFY_EMAIL .facebook {
  color: #777;
  text-align: center;
  width: 357px;
  height: 110px;
  margin-right: 25px;
}

.LOGIN .facebook p,.VERIFY_EMAIL .facebook p {
  padding: 4px;
  margin: 0;
}

.LOGIN .facebook p,.VERIFY_EMAIL .facebook p:FIRST-CHILD {
  padding-bottom: 0;
  font-size: 20px;
  color: #454545;
}

.LOGIN .facebook span,.VERIFY_EMAIL .facebook span,.LOGIN .user-login span,.VERIFY_EMAIL .user-login span {
  color: #ff6400;
}

.LOGIN .user-login,.VERIFY_EMAIL .user-login,.UPDATE_USER_PROFILE .user-login {
  color: #666;
  padding: 10px 50px 10px 0;
  margin-left: 25px;
  border-right: 1px solid #d3d3d3;
}

.LOGIN .user-login p,.VERIFY_EMAIL .user-login p,.UPDATE_USER_PROFILE .user-login p {
  padding: 10px 0;
}

.LOGIN .user-login label,.VERIFY_EMAIL .user-login label {
  display: block;
  margin: 2px 0 6px;
}

.LOGIN .user-login input,.VERIFY_EMAIL .user-login input,.UPDATE_USER_PROFILE .user-login #UserProfileDni {
  display: block;
  width: 394px;
  height: 44px;
  margin: 0 0 10px 0;
  padding: 0 15px;
  border-radius: 0;
  border: 1px solid #d3d3d3;
}

.VERIFY_EMAIL .user-login #UserEmail2check {
  height: 20px;
}

.LOGIN .user-login .subm,.VERIFY_EMAIL .user-login .subm,.REGISTER .subm,.SELECT_PAYMENT_OPTION .subm,.UPDATE_USER_PROFILE .subm {
  background: url('/img/web/clubcupon/bg_ver_mas.png') repeat-x scroll 0 0 #d3811e;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Roboto',sans-serif;
  height: 48px;
  display: block;
  width: 124px;
  padding: 0 15px;
}

.BUY_DEAL_OK>h1 {
  margin: 20px 0 23px;
  padding: 0 0 15px;
  font-size: 32px;
  color: #454545;
  border-bottom: 1px solid #d3d3d3;
}

.BUY_DEAL_OK h4,.BUY_DEAL_OK h5 {
  margin: 10px 0;
}

.BUY_DEAL_OK h4 {
  color: #e6791e;
  font-size: 18px;
  padding-bottom: 5px;
}

.BUY_DEAL_OK h5 {
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.BUY_DEAL_OK .detail {
  margin: 25px 0 6px;
}

.BUY_DEAL_OK .detail .bigImage {
  float: left;
  width: 136px;
  height: 91px;
}

.BUY_DEAL_OK .subtitle {
  clear: both;
  padding: 40px 0 10px;
  color: #202020;
  font-size: 20px;
  border-bottom: 2px solid #888;
}

.BUY_DEAL_OK .detail table {
  width: 100%;
}

.BUY_DEAL_OK .detail table th {
  border-bottom: 1px solid #d7d7d9;
  color: black;
  font: bold 14px arial;
  padding: 19px 8px 10px 8px;
  text-align: left;
}

.BUY_DEAL_OK .detail table th.col1 {
  width: 368px;
}

.BUY_DEAL_OK .detail table th.col2 {
  width: 344px;
}

.BUY_DEAL_OK .detail table th.col3 {
  width: 177px;
}

.BUY_DEAL_OK .detail table td {
  width: 50%;
  padding: 20px 8px;
  line-height: 5px;
  font-size: 15px;
  color: #202020;
  border-bottom: 1px solid #e4e4e4;
}

.BUY_DEAL_OK .detail table td.image {
  font-weight: normal;
  padding: 0 10px;
}

.BUY_DEAL_OK .detail table td.image img {
  height: 139px;
  width: 209px;
}

.BUY_DEAL_OK .detail table td.totals {
  height: 30px;
  font-size: 17px;
  font-weight: bold;
}

.BUY_DEAL_OK .buttons {
  margin: 25px 0;
}

.BUY_DEAL_OK .buttons>a {
  background: url("/img/web/clubcupon/bg_ver_mas.png") repeat-x scroll 0 0 #d3811e;
  display: block;
  float: right;
  height: 35px;
  padding: 0 35px;
  line-height: 32px;
  margin-right: 13px;
  font-family: 'Roboto',sans-serif;
  font-weight: lighter;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border: medium none;
}

.BUY_DEAL_OK .buttons>a:HOVER {
  background: url("/img/web/clubcupon/bg_ver_mas_hover.png") repeat-x scroll 0 0 #d3811e;
  text-decoration: none;
}

.whiteField {
  background: #fff!important;
  border: none!important;
  box-shadow: none!important;
}

#successMessage,#errorMessage,#authMessage,#flashMessage,#xMessage {
  height: 30px;
  padding: 4px 0 0;
  text-align: center;
  font: bold 20px arial;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}

#errorMessage,#authMessage {
  background: url("/img/thickbox-images/close_large.png") no-repeat right center #f5612d;
}

#successMessage {
  background: url("/img/thickbox-images/close_large.png") no-repeat right center #a6cc4c;
}

#flashMessage {
  background: url("/img/thickbox-images/close_large.png") no-repeat right center #f5b12d;
}

#xMessage {
  background: url("/img/thickbox-images/close_large.png") no-repeat right center #f5612d;
}

.bloque-password.bloque-modelo .navbar-inverse .navbar-inner {
  padding: 0;
  filter: none;
}

.bloque-password.bloque-modelo .navbar-inverse .navbar-inner span {
  font-size: 20px;
  color: #454545;
}

.bloque-password .user-login {
  border: 0;
}

.bloque-password .user-login .email input {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
}

.bloque-password .user-login .email a {
  display: inline-block;
  color: #315d7f;
  font-size: 11px;
}

.bloque-password .user-login .pass p {
  font-size: 13px;
  padding: 8px 0;
}

.REGISTER {
  min-height: 363px;
}

.REGISTER.bloque-modelo .navbar-inverse .navbar-inner {
  padding: 0;
  filter: none;
}

.REGISTER.bloque-modelo .navbar-inverse .navbar-inner span {
  font-size: 20px;
  color: #454545;
}

.REGISTER .user-register {
  width: 45%;
  padding: 0 30px;
  margin-bottom: 50px;
  border-right: 1px solid #d3d3d3;
}

.REGISTER .user-register input {
  border-radius: 0!important;
}

div.REGISTER div.user-register div.fields div.email p {
  padding-bottom: 5px;
}

.REGISTER .fields .email {
  font-size: 13px;
  margin-bottom: 20px;
}

.REGISTER .fields .field {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.REGISTER .fields .field p {
  font-size: 13px;
  padding-bottom: 5px;
}

.REGISTER .fields .field input {
  display: block;
  width: 93%;
  height: 34px;
  padding: 0;
  margin-bottom: 0;
}

.REGISTER .fields .field select {
  display: block;
  width: 93%;
  height: 34px;
  padding: 0;
  margin-bottom: 0;
}

.REGISTER .user-register .terms {
  padding-bottom: 30px;
}

.REGISTER .user-register .terms input {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.REGISTER .user-register .terms label {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 30px;
  color: #868686;
}

.REGISTER .condiciones {
  width: 40%;
  padding: 20px 40px;
  color: #868686;
  font-size: 13px;
  text-align: center;
}

.REGISTER .condiciones p {
  padding-bottom: 10px;
}

.REGISTER .condiciones p strong {
  font-weight: bold;
}

.REGISTER .condiciones .disclaimer strong {
  color: #ff6400!important;
  font-weight: normal;
}

.SELECT_PAYMENT_OPTION {
  min-height: 200px;
}

.SELECT_PAYMENT_OPTION.bloque-modelo .navbar-inverse .navbar-inner {
  padding: 0;
  filter: none;
}

.SELECT_PAYMENT_OPTION.bloque-modelo .navbar-inverse .navbar-inner span {
  font-size: 20px;
}

.SELECT_PAYMENT_OPTION .payment-group {
  padding: 5px 10px;
}

.SELECT_PAYMENT_OPTION h2 {
  color: #ff6400;
  font-size: 18px;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
}

.SELECT_PAYMENT_OPTION ul {
  margin: 0 0 0 5px;
  padding: 0;
}

.SELECT_PAYMENT_OPTION .payment-options ul li {
  list-style: none;
  float: left;
  padding: 10px 0;
  width: 226px;
  font-size: 12px;
  height: 55px;
}

.SELECT_PAYMENT_OPTION ul li img {
  height: 21px;
  margin: 0;
  vertical-align: middle;
}

.SELECT_PAYMENT_OPTION ul li select.paymentPlans {
  width: 150px;
  padding: 2px;
  height: 24px;
  margin: 5px 0 5px 25px;
  font-size: 12px;
  display: none;
}

.SELECT_PAYMENT_OPTION .payment-group .payments {
  border-top: 1px solid #ddd;
  padding-bottom: 25px;
}

.SELECT_PAYMENT_OPTION .payment-group .payments img {
  margin-left: 5px;
}

.SELECT_PAYMENT_OPTION .payment-group .bottom {
  clear: both;
  padding-bottom: 20px;
  height: 55px;
}

.SELECT_PAYMENT_OPTION .payment-group .bottom div.pull-right .subm {
  padding: 0 30px;
}

#home-right {
  padding: 0 30px;
}

.SELECT_PAYMENT_OPTION .payment-group .bottom a.regala {
  background: url("/img/theme_clean/dynamic/regala.jpg") no-repeat scroll 0 2px transparent;
  display: block;
  width: 210px;
  margin: 10px;
  padding: 8px 5px 8px 35px;
  text-decoration: none;
  font: 14px arial;
  color: #4d7aa3;
}

.SELECT_PAYMENT_OPTION .modal-header {
  background: #0c0c0c;
  background: linear-gradient(to bottom,#22292a 0,#121212 100%);
}

.SELECT_PAYMENT_OPTION .modal-header .close {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.SELECT_PAYMENT_OPTION .modal-header h3 {
  font-size: 18px;
  margin: 0;
  color: #fff;
  font-weight: 100;
}

.SELECT_PAYMENT_OPTION .gift-options h4 {
  font-size: 16px;
  margin: 0;
  color: #666;
}

.SELECT_PAYMENT_OPTION .gift-options .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
}

.SELECT_PAYMENT_OPTION .gift-options table {
  width: 380px;
  margin: 15px;
}

.SELECT_PAYMENT_OPTION .gift-options table.send-options {
  width: 500px;
}

.SELECT_PAYMENT_OPTION .gift-options table.send-options strong {
  padding: 0 0 10px 0;
  display: block;
  color: #666;
}

.SELECT_PAYMENT_OPTION .gift-options table tr td {
  padding-right: 5px;
  vertical-align: top;
}

.SELECT_PAYMENT_OPTION .gift-options table tr td.col1 {
  width: 150px;
}

.SELECT_PAYMENT_OPTION .gift-options table tr td.col2 {
  width: 230px;
}

.SELECT_PAYMENT_OPTION .combined-payment h2:first-child {
  padding: 0 0 0 5px;
  border-bottom: 0;
  margin: 0 0 8px 0;
}

.SELECT_PAYMENT_OPTION .combined-payment p {
  padding: 0 0 10px 5px;
}

.UPDATE_USER_PROFILE .leyenda {
  color: #666;
  font-size: 17px;
}

.UPDATE_USER_PROFILE .leyenda span {
  color: #ff6400;
}

.UPDATE_USER_PROFILE table {
  color: #666;
  font: 12px arial;
}

.UPDATE_USER_PROFILE table tr td {
  padding: 5px 10px;
}

.UPDATE_USER_PROFILE table tr td.col1 {
  width: 163px;
  text-align: right;
}

.UPDATE_USER_PROFILE table tr td.col2 {
  width: 305px;
  text-align: left;
  font-size: 14px;
}

.sidebar {
  width: 222px;
}

.sidebar h4 {
  background: #45a4d0;
  border-radius: 5px;
  color: #fff;
  font: bold 18px arial;
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: center;
}

.sidebar .dealBlock {
  background: #fff;
  padding: 5px;
  position: relative;
  margin-top: 10px;
}

.sidebar .dealBlock .title {
  background: #45a4d0;
  font-size: 16px;
  margin: 0;
  text-align: center;
  padding: 5px 0;
}

.sidebar .dealBlock .title a,.sidebar .dealBlock .title a:active,.sidebar .dealBlock .title a:hover,.sidebar .dealBlock .title a:visited,.sidebar .dealBlock .title a:default {
  color: #000!important;
}

.sidebar .dealBlock .title a span {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.sidebar .dealBlock .image img {
  width: 212px;
  height: 139px;
}

.sidebar .dealBlock .veil {
  display: none;
  background: #333;
  width: 212px;
  height: 139px;
  position: absolute;
  top: 36px;
}

.sidebar .dealBlock .veil a {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  background: #0098ca;
  color: #fff!important;
  margin: 0 auto;
  margin-top: 50px;
  padding: 9px;
  display: block;
  width: 93px;
  height: 21px;
  border-radius: 5px;
}

.sidebar .dealBlock .description {
  font-size: 13px;
}

.bottom_nav li a {
  color: #000;
  font: 11px arial;
  text-decoration: none;
}

.BUY_DEAL_OK .title_compra {
  font-size: 32px;
  color: #454545;
}

.BUY_DEAL_OK .gracias {
  color: #e6791e;
  font-size: 18px;
  font-weight: normal;
}

.gracias p {
  color: #666;
  font-size: 15px;
  font-weight: lighter;
  padding: 15px 0 30px;
}

.dealInfo>p {
  color: #666;
  float: right;
  font-size: 18px;
  height: 91px;
  line-height: 21px;
  width: 600px;
}

.detail .title_compra {
  border-bottom: 2px solid #888;
  padding: 0 0 10px;
  clear: both;
  color: #202020;
  font-size: 20px;
}

.detail .total {
  color: #202020;
  font-weight: bold;
  font-size: 18px;
}

.detail .btn_options {
  overflow: hidden;
  padding: 15px 0;
}

.detail .btn_options a {
  background: url("../../img/bg_ver_mas.png") repeat-x scroll 0 0 #d3811e;
  border: medium none;
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  font-weight: lighter;
  height: 28px;
  margin-right: 13px;
  padding: 0 35px;
  padding-top: 10px;
}

#fbShare {
  background: 0;
  float: left;
  margin-right: 13px;
  padding: 0 5px;
}

#fbShare img {
  height: 38px;
  float: left;
  padding: 0 auto;
  padding-left: 0;
}