
<style>
    .links li{margin:10px 0 0 10px;}
    h1.h1-format {display: none;}
</style>
<p class="h1-format links">Bases y Condiciones de Concursos</p>
<?php

    if (isset($pages))
    {
        
        echo '<ul class="links">';
        foreach ($pages as $page)
        {
            
            $htmlOutput  = '<li> * <a href="/pages/'.$page['Page']['slug'] .'" >'.$page['Page']['title'] .'</a></li>';
            echo $htmlOutput;
	}
        echo '<ul>';
       
    }

?>
