<div id="content" class="box whoWeAre">
    <div class="newsletter-bg clearfix">
    </div>    
    <div class="about-content" style="width:500px;">
        <h1 class="titleInsideContent sIFR-replaced" style="">
            <?php echo $pageTitle ?>
        </h1>
        <div style="clear:both;"></div><!-- <- Necesario para que el h1 no altere el flow de la pagina-->
        <?php echo $pageContent; ?>
    </div>
</div>
  
