<h2>Categor&iacute;as</h2>
<?php echo $html->link('Volver a listado', array('controller' => 'deal_categories', 'action' => 'index'), array('title' => 'Categor&iacute;as de oferta', 'escape'=>false)); ?>
<h3>Nueva Categor&iacute;a</h3>
<?php
echo $form->create('DealCategory');
echo $form->input('parent_id',array('label'=>'Parent', 'style' => 'width:300px;'));
echo $form->input('name',array('label'=>'Nombre'));
echo $form->end('Add');

