#search-plugin .bloque-h-interior{
    background: none repeat scroll 0 0 #E2E2E2;
    border: 1px solid #D6D6D6;
    box-shadow: 1px 3px 3px #DDDDDD;
    float: left;
    margin: 0 0px 13px;
    padding: 9px;
}

#search-plugin .bloque-h-interior p.titulo, .bloque-h-interior a{
    color: #322525;
    font: bold 15px arial;
}

#search-plugin .filters{
	padding-bottom: 15px;
}

#search-plugin.container {
	background: none repeat scroll 0 0 white;
	width: 960px;
	min-height: 450px;
	padding-left: 15px;
	padding-right: 15px;
}

#search-plugin .cantidad, #search-plugin .ordenamiento{
	float: right;
	height: 40px;
	line-height: 30px;
}

#search-plugin .cantidad{
	margin-right: 15px;
}

#search-plugin .cantidad span{
	color: #B1B1B1;
}

#search-plugin .block-title{
	font-weight: bold;
	font-size: 12px;
	padding: 15px 0px 4px 4px;
}

#search-plugin .block-title.first{
	padding-top: 0px;
}

#search-plugin .filter-selected ul li{
	background-color: #C0C0C0;
/* 	border-radius: 5px; */
	padding: 4px 2px 4px 8px;
	margin-bottom: 4px;
	margin-right: 20px !important;
	position: relative;
}

#search-plugin .filter-selected ul li:after{
	content: " ";
	display: block; 
 	height: 0; 
 	clear: both;
}

#search-plugin .filter-selected ul li a {
/* 	float: right; */
/* 	margin-right: 8px; */
	font-weight: bold;
/* 	color: #464646; */
}

/* #search-plugin .pagination-holder{ */
/* 	text-align: center; */
/* } */

#search-plugin .over-info{
	position: absolute;
	width: 100%;
	height: 100%;

	background:#000000; /* fallback for browser that not support rgba */
	background:rgb(0,0,0); 
	background: rgba(0,0,0, .7); /* Works on all modern browsers */
	/* For IE 8*/
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000, endColorstr=#77000000)";
}

#search-plugin a.thumbnail{
	margin: 0px !important;
	padding: 0px !important;
}

#search-plugin .imagen-oferta {
	position: relative;
	width: 338px;
	height: 216px;
}

#search-plugin .bloque-h-interior .descripcion {
	color: #0098CA;
	font: bold 19px Arial;
	margin: 0 0 10px 10px;
}

#search-plugin .bloque-h-interior .btnVerMas {
	background-color: #0098CA;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font: bold 16px/36px Arial;
	height: 37px;
	margin: 16px 0 0 11px;
	text-align: center;
	width: 100px;
	position: absolute;
	top: 52px;
}

#search-plugin .bloque-h-interior .btnVerMas a {
	color: #fff;
	font: bold 16px/36px Arial;
}

#search-plugin .porcentaje {
	background: url("/img/theme_clean/fdobtnmas.png") no-repeat scroll 0 0 transparent;
	bottom: 5px;
	display: block;
	float: right;
	height: 85px;
	margin: 0 15px 0 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 84px;
}

#search-plugin .bloque-h-interior span {
	color: black!important;
}

#search-plugin .bloque-h-interior .titulo {
	color: #FFFFFF;
	font: bold 13px Arial;
	margin-left: 9px;
	margin-top: 3px;
}

#search-plugin .img-responsive{
	width:100%;
}

#search-plugin .imagen-oferta .over-info{
	display: none;
}

#search-plugin .search-input {
	float: right;
	padding-bottom: 20px;
}

#search-plugin .search-breadcrumb {
/* 	padding: 20px 0px 20px 0px; */
}

#search-plugin #searchForm{
	float: left;
	padding-right: 15px;
	margin-bottom: 0px !important;
}

#search-plugin .ordenamiento{
	margin-right: 15px;
}

#search-plugin .ofertas{
	margin-left: -35px;
}

#search-plugin #orderForm{
	margin-bottom: 0px;
}
#search-plugin #orderForm #qSort {
	border-radius: 0;
}

#search-plugin .filters span.cant{
	color: #666;
	font-size: 11px;
	font-style: normal;
}

#search-plugin .filters button{
/* 	margin-bottom: 10px; */
}

#search-plugin .filters form{
	margin-bottom: 0px;
}

#search-plugin .filters ul li{
	margin-right: 10px;
}

#search-plugin .thumbnail > img {
	width: 100%;
}

#search-plugin .bloque_nombre_oferta{
	height: 54px;
}

#search-plugin .bloque-h-interior{
	height: 235px;
}

#search-plugin .contValidateError{
    position: relative;
}

#search-plugin .validateError{
    display: block;
    position: absolute;
    top: -10px;
    width: 220px;
}

#search-plugin .validateError .error{
    background-color: #FFFFFF;
    color: #FF0000;
    font-size: 12px;
    height: 25px;
}

@media (min-width: 1200px){
	#search-plugin .bloque-h-interior{
		height: 265px;
	}
}

@media (max-width: 979px){
	#search-plugin .bloque-h-interior .descripcion{
		font-size: 15px;
	}
	#search-plugin .bloque-h-interior .btnVerMas{
		margin: 4px 0 0 11px;
	}
	#search-plugin .bloque-h-interior .titulo{
		font-size: 11px;
		margin-left: 11px;
	}
	#search-plugin .porcentaje {
		background-size: 50px;
		width: 48px;
		height: 48px;
	}
	#search-plugin .bloque-h-interior .btnVerMas{
		margin: 4px 0 0 11px;
		height: 30px;
		width: 66px;
	}
	#search-plugin .bloque-h-interior .btnVerMas a{
		font-size: 12px;
		line-height: 30px;
	}
	#search-plugin .bloque-h-interior span{
		font-size: 16px;
		line-height: 50px;
	}
	#search-plugin .bloque-h-interior{
		height: 194px;
	}
	#search-plugin #searchForm{
		float: right;
	}
}
/* .headerInputQuery { */
/*     margin: 0 0 2px; */
/* } */

.messages #flashMessage {
    background: none repeat scroll 0 0 #ffe1ab;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: lighter; 
    text-align: center;
    color: #333333;
}
.messages #flashMessage h1 {
	font-size: 25px;
}

#q{
    margin-top: 2px;
    padding: 8px 10px 8px 40px;
    height: 20px;
}

.maybe {
    font-size: 14px;
}

.maybe {
    font-size: 14px;
    float:left;
    margin-left: 250px;
    margin-bottom: 10px;
}






