<div id="main" class="container_16 main_frt">
    <div class="grid_12">
        <div class="bloque-home clearfix">
        <!--
        <h1 class="h1-format">Titulo H1</h1>
        <h2>Titulo H2</h2>
        -->
        
            
            <!-- Contenidos -->
            
            <?php if(!empty($company_deals)){ ?>
                <ol class="deal-user-list">
                    <?php foreach($company_deals as $company_deal){ ?>
                        <li class="clearfix">
                            <div class="company-list-image">
                                <?php echo $html->showImage('Deal', $company_deal['Attachment'], array('dimension' => 'medium_thumb', 'alt' => sprintf(__l('[Image: %s]'), $html->cText($company_deal['Deal']['name'], false)), 'title' => $html->cText($company_deal['Deal']['name'], false)));?>
                            </div>
                            <div class="company-list-content">
                                <h3>
                                    <?php echo $html->link($company_deal['Deal']['name'], array('controller' => 'deal', 'action' => 'view', $company_deal['Deal']['slug']),array('title' => sprintf(__l('%s'),$company_deal['Deal']['name'])));?>
                                </h3>
                                <dl class="list statistics-list">
                                    <dt>Creado en: </dt>
                                    <dd><?php echo $html->cDateTime($company_deal['Deal']['created']);?></dd>
                                    <dt>Estado:</dt>
                                    <dd><?php echo $html->cText($company_deal['DealStatus']['name']);?></dd>
                                </dl>
                            </div>
                        </li>
                    <?php } ?>
                </ol>
                <div class="js-pagination"> <?php echo $this->element('paging_links'); ?> </div>
            <?php }else{ ?>
                <p class="notice ">No hay ofertas</p>
            <?php } ?>
            
            <!-- / Contenidos -->

        </div>
    </div>
    <?php echo $this->element('theme_clean/sidebar'); ?>
</div>