<div id="main" class="container_16 main_frt">
    <div class="grid_16">
        <div class="bloque-home clearfix">
        <!--
            <h1 class="h1-format"><a href="">Titulo H1</a></h1>
            <h2><a href="">Titulo H2</a></h2>
        -->
            <!-- Contenidos -->
            <div id="content_full" class="box">
                No hay ofertas disponibles.
            </div>            
            <!-- / Contenidos -->

        </div>
    </div>
</div>

