<div style="width:750px;" class="error-compra">
    <h1>Atenci&oacute;n</h1>
    <p>No se pudo realizar la transacci&oacute;n</p>
    <div class="separateit"></div>
    <div class="clear"></div>
    <span class="inside-m">
        <h2>Puede deberse a:</h2>
        <div class="clear"></div>
        <ul>
            <li>La tarjeta no es v&aacute;lida</li>
            <li>Superaste el l&iacute;mite de compra de tu tarjeta</li>
            <li>Ha ocurrido un error en el sistema.</li>
        </ul>
    </span>
    <hr />
    <div class="btn-volver">
        <!-- inline js es caca, pero veo que se estila... -->
        <input name="" type="button" class="btn-collectfriends" value="Volver" onclick="history.back();" />
    </div>
</div>
