<center>
  <table width = "600"  border = "0"  align = "center"  cellpadding = "0"  cellspacing = "0">
    <tr>
      <td>
        <a href = "http://www.clubcupon.com.ar/ciudad-de-buenos-aires?utm_source=CC&utm_medium=NL&utm_campaign=regalos&utm_term=Landing-page"  target = "_blank">
          <img src = "http://imagenes.clubcupon.com.ar/2011/07/05/img/header.png"  border = "0"  alt = "Club Cup&oacute;n" />
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href = "http://www.clubcupon.com.ar/ciudad-de-buenos-aires?utm_source=CC&utm_medium=NL&utm_campaign=regalos&utm_term=Landing-page"  target = "_blank">
          <img src = "http://imagenes.clubcupon.com.ar/2011/07/05/img/imagenes.png"  border = "0"  alt = "Regalos" />
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href = "http://www.clubcupon.com.ar/ciudad-de-buenos-aires?utm_source=CC&utm_medium=NL&utm_campaign=regalos&utm_term=Landing-page"  target = "_blank">
          <img src = "http://imagenes.clubcupon.com.ar/2011/07/05/img/footer1.png"  border = "0"  alt = "Volver a Club Cup&oacute;n" />
        </a>
      </td>
    </tr>
  </table>
</center>