
body {
	background-color:#EFEFEF !important;
}

/* tab pane styling */
.panes .main {
	display:none;
	padding:15px 10px;
	height:503px;
	font-size:14px;
	background-color:#fff;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-html-border-radius:10px 10px 0 0;
	-ms-border-radius:10px 10px 0 0;
	-o-border-radius:10px 10px 0 0;
}


#contentGaleria{
	width:956px;
	height:622px;
	border:solid 1px #cecfd0;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-html-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	background:#ffffff;
	box-shadow:1px 0 10px #a4a5a7;
	-moz-box-shadow:1px 0 10px #a4a5a7;
	-webkit-box-shadow:1px 0 10px #a4a5a7;
	-html-box-shadow:1px 0 10px #a4a5a7;
	-ms-box-shadow:1px 0 10px #a4a5a7;
	-o-box-shadow:1px 0 10px #a4a5a7;
}

#ads{
    width:956px;
    margin:5px auto;
}

.bordeDer {
	border-radius:0 0 10px 0;
	-moz-border-radius:0 0 10px 0;
	-webkit-border-radius:0 0 10px 0;
	-html-border-radius:0 0 10px 0;
	-ms-border-radius:0 0 10px 0;
	-o-border-radius:0 0 10px 0;
}

.bordeIzq {
	border-radius:0 0 0 10px;
	-moz-border-radius:0 0 0 10px;
	-webkit-border-radius:0 0 0 10px;
	-html-border-radius:0 0 0 10px;
	-ms-border-radius:0 0 0 10px;
	-o-border-radius:0 0 0 10px;
}

ul.tabs {
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
}
ul.tabs li {
    float: left;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
    text-indent: 0;
	
}



ul.tabs a {
    background-image: url("/../img/mobile/landing/bkgTabs.jpg");
    background-repeat: repeat-x;
    border: 1px solid #171717;
    display: block;
    font-size: 21px;
    height: 47px;
    line-height: 54px;
    margin: 0;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px #242424;
    width: 177px;
	font-family:"Helvetica";
}

ul.tabs a:active {
    outline: medium none;
}

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: bottom;
    color: #393939 !important;
    cursor: default !important;
	text-shadow:none !important;
	border:solid 1px #fff !important;
}

.sprite {
	display:inline-block;
	width:46px;
	height:47px;
	float: left;
	background-image:url(/../img/mobile/landing/icons.png);
}

.sprIphone {
	background-position:0 -63px !important;
}

.sprAn {
	background-position:0 -180px !important;
}

.sprBb {
	background-position:0 -121px !important;
}

.titulo {
	font-family:"Helvetica";
	font-size:34px;
	display:block;
	margin-bottom:30px;
	font-weight:bold;
}

#contentGaleria {
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 50px;
}

/* 		APP MOBILE		*/

.containerCol {
	overflow:hidden;
}

.colUno {
	float:left;
	margin:70px 0 0 20px;
        width:375px;
}

.colUno p {
	color:#8c8989;
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:20px;
}

.colUno p span {
	color:#de6412;
}

.colDos {
	float:right;
	margin:80px 0 0 0;
	position:relative;
}

.contListaApp {
	margin:40px 0;
	padding:30px 0;
	border-top:solid 1px #cfcfcf;
	border-bottom:solid 1px #cfcfcf;
}

.contListaApp ul li {
	list-style:disc;
	color:#de6412;
	margin-left:20px;
	padding-bottom:5px;
}

.contListaApp ul li p {
	color:#383535;
}

/* 		IPHONE		*/

.contListaGeneral {
	margin:0 0 40px 0;
	padding:0 0 30px 0;
	border-bottom:solid 1px #cfcfcf;
}

.contListaGeneral ul li {
	list-style:none;
	color:#de6412;
	margin-left:5px;
	padding-bottom:10px;
	overflow:visible;
}

.contListaGeneral ul li p {
	color:#383535;
	width: 450px;
	*width: 400px !important;
	font-size:13px;
}

.contListaGeneral ul li span {
	float: left;
    margin: 0 10px 0 0;
    width: 36px;
}

.spriteIcon {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(/../img/mobile/landing/sprite2.jpg);
	background-repeat:no-repeat;
}

.sprOferta {
	background-position:0 4px;
}

.sprTime {
	background-position:0 -50px;
}

.sprPlace {
	background-position:0 -108px;
}

.sprCheck {
	background-position:0 -167px;
}

.padIphone {
	margin:10px 20px 0 0 !important;
}