/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
	height:100% !important;
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }


/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
	display:none !important;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.slider-wrapper { 
	width: 169px;
	height:126px;
}

.slider-wrapperA { 
	width: 177px;
	height: 289px !important;
}

.slider-wrapperI { 
	width: 164px;
	height:246px !important;
}

#wrapper { /*contenido para la galeria de bb*/
	position:absolute;
 	right: 197px;
    top: 99px;
}

#wrapperAndroid { /*contenido para la galeria de bb*/
	position:absolute;
	right: 196px;
    top: 78px;
}

#wrapperIphone { /*contenido para la galeria de bb*/
    position:absolute;
    right: 240px;
    top: 151px;
}

.qrsprite {
    bottom: 40px;
    left: -30px;
    position: absolute;
    z-index: 10 !important;
}


/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
