<div class="row-fluid ">
    <div class="span12 img-rounded encabezado-empresa">
        <div class="span2 logo">
            <img src="img/spacer.png" height="59" />
        </div>
        <div class="span6 validacion">
            <form class="form-search">
                <label>Valid&aacute; tu cup&oacute;n</label>
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Search</button>
          </form>
        </div>
    </div>
</div>
