<option value=""><?php echo '-- '.__l('Please Select').' --';?></option>
<?php
foreach($geos as $id=>$name){
?>
  <option value="<?php echo $id;?>"><?php echo $name;?></option>
<?php
}
//echo debug($this->viewVars);
?>
