/* 
    Document   : api
    Created on : 18/12/2012, 18:55:48
    Author     : jgarberi
    Description:
        Solo para LAYOUTS, NO INCORPORAR ESTILOS DE COLOR, BACKGROUNDS ETC BAJO NINGUN CONCEPTO
*/

/* Reset */
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: none repeat scroll 0 0 transparent; border: 0 none; font-size: 100%; margin: 0; outline: 0 none; padding: 0; vertical-align: baseline; }  span{ border: 0 none; font-size: 100%; margin: 0; outline: 0 none; padding: 0; vertical-align: baseline; }  body { line-height: 1; } ol, ul { list-style: none outside none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: none; } :focus { outline: 0 none; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }  .clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; } .clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; } .clearfix { display: inline-block; } * html .clearfix { height: 1%; } .clearfix { display: block; }  /*Fin reset*/

/* general */
body{
    min-width: 320px;
}

.mrgB10{
	margin:10px 0 0 0;
}

/*Botones*/
.btnNaranja{
    clear: both;
    display: block;
    margin: 10px 0 0 0;
    padding: 10px 0;
    width:100%!important;
    }

.btnNegro{
    
    
    display: block;
    clear: both;
    margin: 10px 10px 0;
    padding: 10px 0;
}


.btnExclusive{
    
    
    display: block;
    margin: 10px 10px 0;
    padding: 10px 0;
    clear: both;
}

.btnFb{
    
    
    display: block;
    margin: 10px 10px 0;
    padding: 10px 0 10px 70px;
    clear: both;
}


#header .head1sec .contenedor1{
    float: left;
    width: 100%;
    }

#header .head1sec .contenedor1 a.headerSect1{
    
    overflow: hidden;
    display: block;
    padding: 10px 20px;
    }


#header .head1sec .contenedor2 a.headerSect2{
    position:relative;	
    }

/* ESTILOS PARA HEADER DE 2 SECCIONES (volver) */

#header .head2sec .contenedor1{
    float: left;
    width: 40%;
    }

#header .head2sec .contenedor2{
    float: left;
    width: 60%;
    }

#header .head2sec .contenedor1 a.headerSect1, #header .head2sec .contenedor2 a.headerSect2{
    overflow: hidden;
    padding: 10px 20px;
    display: block;
    }

#header .head2sec .contenedor1 a.headerSect1{
    position:relative;
    }

#header .head2sec .contenedor2 a.headerSect2{
    position:relative;	
    }

/* ESTILOS PARA HEADER DE 2 SECCIONES - PERFIL LOGUEADO */

#header .head2secLog .contenedor1{
    float: left;
    width: 60%;
    }

#header .head2secLog .contenedor2{
    float: left;
    width: 40%;
    }

#header .head2secLog .contenedor1 a.headerSect1, #header .head2secLog .contenedor2 a.headerSect2{

    
    overflow: hidden;
    display: block;
    padding: 10px 0 10px 30px;
    }

#header .head2secLog .contenedor1 a.headerSect1{
    position:relative;
    }

#header .head2secLog .contenedor2 a.headerSect2{
    position:relative;	
    }

/* ESTILOS PARA HEADER DE 3 SECCIONES */


#header .head3sec .contenedor1{
    float: left;
    width: 25%;
    }

#header .head3sec .contenedor2{
    float: left;
    width: 40%;
    }

#header .head3sec .contenedor3{
    float: left;
    width: 35%;
    }

#header .head3sec .contenedor1 a.headerSect1, #header .head3sec .contenedor2 a.headerSect2, #header .head3sec .contenedor3 a.headerSect3{
    overflow: hidden;
    padding: 10px 20px;
    display: block;
    }

#header .head3sec .contenedor1 a.headerSect1{
    position:relative;
    }

#header .head3sec .contenedor2 a.headerSect2{
    overflow: hidden;
    position: relative;
    height: 20px;
    padding: 10px 0;
    }

#header .head3sec .contenedor3 a.headerSect3{
    padding:10px 5px ;
    position: relative;
    }


span.separador{
    width: 10px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    }

.lineaNaranja{
    display: block;
    height: 3px;
    }

/*UL Listado para 2 Items*/
#main .bloquePromo ul.ul2items li.liL,#main .bloquePromo ul.ul2items li.liR{
    float:left;
    }

#main .bloquePromo ul.ul2items li.liL{
    width:50%
    }

#main .bloquePromo ul.ul2items li.liR{
    width:50%
    }

#main .bloquePromo ul.ul2items li.liR p.priceA{
    float: left;
    width: auto;
    padding: 15px;
    }

#main .bloquePromo ul.ul2items li.liR p.priceB{
    float: right;
    width: auto;
    }

#main .bloquePromo p{
    padding: 11px 4px;
    }

#main .bloquePromo ul.ul2items li.liR a{
    display: block;
    padding: 16px;
    }
    
/* FIN UL Listado para 2 Items*/


/*UL Listado para 3 Items*/
#main .bloquePromo ul.ul3items li.liL,#main .bloquePromo ul.ul3items li.liC,#main .bloquePromo ul.ul3items li.liR{
    float:left;
    }

#main .bloquePromo ul.ul3items li.liL{
    width:20%
    }

#main .bloquePromo ul.ul3items li.liC{
    width:50%
    }

#main .bloquePromo ul.ul3items li.liC p.priceA{
    float: left;
    padding: 15px;
    width: auto;
    }

#main .bloquePromo ul.ul3items li.liC p.priceB{
    float: right;
    width: auto;
    }

#main .bloquePromo ul.ul3items li.liR{
    width:30%
    }

#main .bloquePromo p{
    padding: 11px 4px;
    }

#main .bloquePromo ul.ul3items li.liR a{
    padding: 16px;
    display: block;
    }

/*  CUADRO DE BUSQUEDA/MAPA */
.bloque-busquedaMapa{
    padding: 5px 0;
    }

.bloque-busquedaMapa .sect1{
    width: 70%;
    float: left;	
    }

.bloque-busquedaMapa .sect1 input{
    margin: 10px;
    padding: 7px;
    width: 95%;
    }

.bloque-busquedaMapa .sect2{
    width: 30%;
    float: left;	
    }

.bloque-busquedaMapa .sect2 input{
    float: right;
    margin: 10px;
    max-width: 70px;
    padding: 7px;
    width: 50px;
    }

/* MENU PERFIL */
ul.menuPerfil{
    border-bottom: 1px solid #323131;
    }

ul.menuPerfil li{
    float: left;
    width: 33.3%;
    }

ul.menuPerfil li a{
    display: block;
    padding: 10px;
    }

/* SUB MENU */
ul.subMenuInterno {
    padding: 10px;
    }

ul.subMenuInterno li {
    float: left;
    width: 25%;
    }

ul.subMenuInterno li.active {
    float: left;
    width: 25%;
    }

ul.subMenuInterno li a {
    display: block;
    padding: 10px 0;
    }

/* MENU DESPLEGABLE */
.desplegablemenu{
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 100%;
    }

.desplegablemenu ul.j{
    display: block;
    position: relative;
    width: 100%;
    }

.desplegablemenu ul li.lastitem{
    position:relative;
    }

.desplegablemenu span.arrowli{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    bottom: 5px;
    }

.desplegablemenu ul li a{
    display: block;
    padding: 5px 0;
    }

h1.logo{
    padding: 9px 5px;
    width: 110px;
    height:16px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA TEXTO ENTENDIDO
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .cont-imgAlpha{
    position:relative;
    }

#main .bloquePromo .alphaBox{
    position: absolute;
    width: 100%;
    padding: 0;
    bottom: 0;
    }

#main .bloquePromo .alphaBox h2.infoAlpha{
    padding: 10px;
    }

#main .bloquePromo img{
    width:100%;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA INTERNA
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-compartircupon{
    padding: 5px 30px;
    }


.bloque-compartircupon p.compartir{
    float: left;
    }

.bloque-compartircupon ul.social{
    float: right;
    }

.bloque-compartircupon ul.social li{
    float: left;
    }

.bloque-compartircupon ul.social li a{
    display: block;
    height: 30px;
    width: 30px;
    }

.bloque-condiciones{
    margin: 0 0 65px;
    padding: 10px;
    }

.bloque-condiciones h3{
    margin: 0 0 10px;
    padding: 10px 0;
    }

.bloque-condiciones p{
    margin: 0 0 5px;
    }

.bloque-tiempo{
    position: fixed;
    width: 100%;
    min-width: 300px;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    }

.bloque-tiempo .sect1,.bloque-tiempo .sect2{
    float: left;
    width: 50%;
    }

.bloque-tiempo a{
    margin-top: 0;
    }

.bloque-tiempo span{
    display: block;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	CONFIRMAR COMPRA
----------------------------------------------------------------------------------------------------------------------------------------*/
form.form-cantidad{
    padding: 10px;
    }

form.form-cantidad .col1{
    padding: 10px;
    }

form.form-cantidad .col2{
    padding: 10px;
    }

form.form-cantidad p{
    float:left;
    }

form.form-cantidad p.prec{
    float: right;
    }

form.form-cantidad select, form.form-cantidad #amount, form.form-cantidad #total_price{
    float: right;
    width: 50px;
    height: 24px;
    }

p.conexSeg{
    margin: 10px 0;
    width:100%;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	TERMINOS Y CONDICIONES
----------------------------------------------------------------------------------------------------------------------------------------*/

ul.tyc{
    margin: 10px;
    }

ul.tyc li{
    margin: 5px 0;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	COMPRA EXITOSA / ERROR
----------------------------------------------------------------------------------------------------------------------------------------*/

.bloque-msgExitoerr{
    padding: 20px 10px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	COMPARTIR
----------------------------------------------------------------------------------------------------------------------------------------*/

.contTextArea {
    padding: 0;
    width: 100%;
    }

.contTextArea textarea {
    height: 70px;
    min-height: 70px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    }

.social-compartir ul li{
    float: left;
    margin: 1%;
    width: 31%;
    }

.social-compartir ul li a img{
    width: 100%;
    }


/* ---------------------------------------------------------------------------------------------------------------------------------------
	CUPON DE DESCUENTO QR
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .qrarea {
    padding: 10px;
    }
    
#main .qrarea img {
    float: left;
    }
    
#main .qrarea h2 {
    margin: 20px 0 10px;
    padding: 0 10px;
    }
    
#main .qrarea p {
    padding: 0 10px;
    }
    
#main .qrarea .bloquetxt {
    float: left;
    width: 55%;
    }
    
#main ul.listadoitems li {
    padding: 10px;
    }
    
/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA CCYA
----------------------------------------------------------------------------------------------------------------------------------------*/

.bloque-ofertaYa .sec1-ofya{
    float: left;
    max-width: 220px;
    width: 47%;
    }

.bloque-ofertaYa .sec1-ofya img{
    max-height: 180px;
    max-width: 220px;
    width: 100%;
    }

.bloque-ofertaYa .sec2-ofya{
    float: left;
    padding: 10px 0;
    width: 53%;
    }

.bloque-ofertaYa .sec2-ofya h2{
    height: 32px;
    margin: 0 0 0 10px;
    }

.bloque-ofertaYa .sec2-ofya p{
    margin: 0 0 0 10px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	FOOTER / BARRA LEGALES
----------------------------------------------------------------------------------------------------------------------------------------*/
#footer .legales{
    margin:10px 0 0 0;
    }

#footer .legales a{
    display: block;
    padding: 10px 0;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	MEDIOS DE PAGO / MEDIOS DE PAGO PASO 2
----------------------------------------------------------------------------------------------------------------------------------------*/

#main ul.mdpago li{
    position:relative;
    }

#main ul.mdpago li a, #main ul.mdpago li a:hover{
    display: block;
    padding: 15px 10px 15px 100px;
    }

#wallet-payment-option .arrow{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 4px;
    right: 10px;
    }

#wallet-payment-option .item0 a, #main ul.mdpago li.li-item0 a{
    padding: 15px 20px;
    display:block;
    }

#main ul.mdpago li.li-item6 a{
    padding: 15px 20px;
    }

#main ul.mdpago li.li-item6 span.colorn, #main ul.mdpago li.li-item0 span.colorn2{
    position: static;
    height: auto;
    width: auto;
    }

#main .topcompra{
    margin: 10px 0 0px;
    }		

#main .pagopnt2 p{
    margin: 20px;
    }

#main .pagopnt2 span{
    float: right;
    }

#main .topcompra p{
    margin: 0 20px;
    }

#main .topcompra p.titulo{
    float: left;
    margin: 0 20px 20px;
    }

h2.formasdepago{
    padding: 10px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	MAPA
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .maparea{
    position:relative;
    }

#main .maparea img.mapa{
    width: 100%;
    }

#main .maparea .ballbig{
    position: absolute;
    height: 65px;
    width: 260px;
    left: 20%;
    top: 60%;
    }

#main .maparea .ballbig img.thumb{
    float: left;
    margin: 8px;
    }


#main .maparea .ballbig .info{
    float: left;
    padding: 5px;
    }

#main .maparea .ballbig .info a.ballink{
    position: absolute;
    display: block;
    height: 29px;
    width: 27px;
    right: 7px;
    top: 18px;
    }


#main .maparea .ballbig .info p.subt{
    margin: 3px 0 0;
    width: 130px;
    }

#main .maparea .ballbig .info span.flecha{
    position: absolute;
    height: 30px;
    width: 70px;
    bottom: -20px;
    left: 102px;
    }


#main .maparea .ballsmall{
    position: absolute;
    height: 65px;
    width: 78px;
    top: 13%;
    left: 10%;
    }

#main .maparea .ballsmall img.thumb{
    float: left;
    margin: 8px;
    }

#main .maparea .ballsmall span.flecha{
    position: absolute;
    height: 30px;
    width: 70px;
    bottom: -20px;
    left: 7px;
    }

.mappos{
    height: 20px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	PERFIL - MIS DATOS
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .perfil{
    position: relative;
    margin: 20px 10px 100px;
    }

#main .perfil p{
    padding: 10px;
    }

#main .perfil a span{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 5px;
    bottom: 42px;
    }

#main .perfil span{
    float: right;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	SELECCIONA CIUDAD
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-itemslistado{
    }

.bloque-itemslistado h2{
    padding: 10px;
    }

/*Formato para items de lista 1 */

.bloque-itemslistado ul.lista li a, .bloque-itemslistado ul.lista li a:hover{
    display: block;
    padding: 15px 10px 15px 60px;
    }

.bloque-itemslistado ul.lista li| span{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    }

/*Formato para items de lista 2 */

.bloque-itemslistado ul.listaB li a, .bloque-itemslistado ul.listaB li a:hover{
    display: block;
    padding: 15px 10px 15px 60px;
    }

.bloque-itemslistado ul.listaB li span{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	INGRESAR
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-fblogin .ingfb a.fbbtn {
    display: block;
    margin: 20px auto;
    width: 273px;
    }

.bloque-fblogin form.login {
    margin: auto;
    padding: 0;
    width: 100%;
    }

.bloque-fblogin form.login input {
    clear: both;
    float: left;
    display: block;
    padding: 13px;
    }

.bloque-fblogin a.linkpass {
    clear: both;
    float: left;
    margin: 20px 0 20px 10px;
    }

.bloque-fblogin p.noacount {
    display: block;
    clear: both;
    margin: 60px 0 10px;
    }

.bloque-fblogin .btncontent{
    margin: 10px auto;
    width: 100%;
    }

.bloque-fblogin .inputset{
    margin: 10px;
    }

/* hack input width*/
input[type="text"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	REGISTRARME
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-registrarme .inputset{
    margin: 10px;
    }

.bloque-registrarme form.login input {
    display: block;
    float: left;
    clear: both;
    padding: 13px;
    }

.bloque-registrarme .inputset input.check{
    margin: 20px 10px 10px;
    }

.bloque-registrarme .inputset p.labcheck{
    display: block;
    float: left;
    margin: 17px 0;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA YA
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-ofertaya h2{
    padding: 20px 10px;
    }

.bloque-ofertaya .bloque-tiempoMa{
    position: fixed;
    width: 100%;
    min-width: 300px;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    }

.bloque-ofertaya .bloque-tiempoMa .sect1,.bloque-tiempoMa .sect2{
    float: left;
    width: 50%;
    }

.bloque-tiempoMa .sect2 a{
    margin-top: 0;
    }

.bloque-ofertaya .contentMapa img{
    width:100%;
    }

.bloque-ofertaya .bloque-tiempoMa span:first-child{
    display: inline;
    }

.bloque-ofertaya .bloque-tiempoMa span{
    display: block;
    }

.bloque-ofertaya .bloqueContent h2 {
    margin:10px;
    }

.bloque-ofertaya .boxDescripcionUbicacion {
    margin:0 0 100px 0;
    }

.bloque-ofertaya .boxDescripcionUbicacion h2 {
    padding: 7px 10px;
    }

.bloque-ofertaya .boxDescripcionUbicacion p {
    margin-left: 10px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	HACK FOOTER BOTTOM
----------------------------------------------------------------------------------------------------------------------------------------*/

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
    overflow:auto;
    padding-bottom: 35px;
    }  /* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -35px; /* negative value of footer height */
    height: 35px;
    clear:both;
    }
    
/* ---------------------------------------------------------------------------------------------------------------------------------------
	EXCLUSIVE LOGIN
----------------------------------------------------------------------------------------------------------------------------------------*/
    
#exclusive .bloque-exclusive{
    position:relative;
    }

#exclusive .bloque-exclusive img{
    width:100%;
    }

#exclusive .bloque-exclusive .inputset {
    margin: 10px;
    }

#exclusive .exclusiveInput{
    clear: both;
    display: block;
    float: left;
    padding: 13px;
    }