html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: none repeat scroll 0 0 transparent; border: 0 none; font-size: 100%; margin: 0; outline: 0 none; padding: 0; vertical-align: baseline; }  span{ border: 0 none; font-size: 100%; margin: 0; outline: 0 none; padding: 0; vertical-align: baseline; }  body { line-height: 1; } ol, ul { list-style: none outside none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: none; } :focus { outline: 0 none; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }  .clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; } .clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; } .clearfix { display: inline-block; } * html .clearfix { height: 1%; } .clearfix { display: block; }  /*Fin reset*/
body{ min-width: 320px;}
.btnNaranja{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C6390A),color-stop(100%,#DA591D));
background: -moz-linear-gradient(center bottom , #C6390A 11%, #DA591D 56%) repeat scroll 0 0 #000000;
border-radius: 5px 5px 5px 5px;
color: #FFFFFF;
font: bold 20px arial;
text-align: center;
text-decoration: none;
text-shadow: 1px 1px #B54104;
clear: both;
display: block;
margin: 10px 0 0 0;
padding: 10px 0;
width:100%!important;
}
#main .bloquePromo p{
font: bold 23px arial;
}
#main .bloquePromo .alphaBox{
background: url("/img/mobile/theme_clean/1pxbg.png") repeat scroll 0 0 transparent;
color: white;
position: absolute;
width: 100%;
padding: 0;
bottom: 0;
}
#main .bloquePromo .alphaBox h2.infoAlpha{
font: 12px arial;
padding: 10px;
}
#main .bloquePromo h2.infoAlpha span{
color: #FFB541;
}
.bloque-tiempo{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1F1F1F),color-stop(100%,#403F3F));
background: -moz-linear-gradient(center bottom , #1F1F1F 11%, #403F3F 56%) repeat scroll 0 0 #000000;
}
.bloque-tiempo p{
color: #969696;
font: bold 13px arial;
text-align: center;
}
.bloque-tiempo span{
color: white;
font: bold 24px arial;
text-align: center;
}
form.form-cantidad{
padding: 10px;
color: #5A5A5A;
font: bold 14px arial;
}
form.form-cantidad .col1{
border: 1px solid #E5E5E5;
border-bottom:none;
padding: 7px;
}
form.form-cantidad .col2{
padding: 7px;
border: 1px solid #E5E5E5;
}
form.form-cantidad label p{
width: 80%;
}
form.form-cantidad p, form.form-cantidad p.prec{
color: #EA7733;
font: bold 18px arial;
float:left;
}
form.form-cantidad p.prec{
float: right;
}
form.form-cantidad #total_price{
background: #fff;
border:none;
-webkit-box-shadow:none;
color: #EA7733;
font: bold 18px arial;
}
p.conexSeg{
color: #5A5A5A!important;
font: bold 12px arial!important;
text-align: center!important;
margin: 10px 0;
width:100%;
}
p.conexSeg span{
color: #EA7733;
}
.bloque-msgExitoerr{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E7E7E7),color-stop(100%,#FFFFFF));
background-image: -moz-linear-gradient(center bottom , #E7E7E7 9%, #FFFFFF 57%);
border-bottom: 1px solid #CDCDCD;
color: #666666;
padding: 20px 10px;
}
.bloque-msgExitoerr p{
color: #6E6E6E;
font: bold 15px arial;
text-align: center;
}
.bloque-msgExitoerr span{
color: #F56813;
}
#main ul.mdpago li{
background: url("/img/mobile/theme_clean/bg-4.png") repeat scroll 0 bottom transparent;
position:relative;
}
#wallet-payment-option  a, #wallet-payment-option  a:hover,#main ul.mdpago li a, #main ul.mdpago li a:hover{
font: bold 13px arial;
color: #585858;
text-decoration: none;
}
#wallet-payment-option .arrow, #main ul.mdpago li span{
background: url("/img/mobile/theme_clean/sprite.png") repeat scroll 0 -912px transparent;
}
#main ul.mdpago li a{
border-top: 1px solid #787878;
}
#main ul.mdpago li a, #main ul.mdpago li a:hover{
display: block;
padding: 15px 10px 15px 100px;
}
#wallet-payment-option .item0{
background: url("/img/mobile/theme_clean/bg-8.png") repeat scroll 0 bottom transparent;
}
#wallet-payment-option .item0 a{
background: none repeat scroll 0 0 transparent;
}
#wallet-payment-option .item0 a, #main ul.mdpago li.li-item0 a{
padding: 15px 20px;
display:block;
}
/*American*/
.payment-option-1, 
.payment-option-8, 
.payment-option-13, 
.payment-option-20, 
.payment-option-25, 
.payment-option-30, 
.payment-option-31, 
.payment-option-42, 
.payment-option-49, 
.payment-option-63, 
.payment-option-65, 
.payment-option-76
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px 0px transparent;
}



/*Visa*/
.payment-option-2, 
.payment-option-7, 
.payment-option-14, 
.payment-option-19, 
.payment-option-27, 
.payment-option-37, 
.payment-option-38, 
.payment-option-43, 
.payment-option-50, 
.payment-option-58, 
.payment-option-60, 
.payment-option-62, 
.payment-option-71, 
.payment-option-82
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -84px transparent;
}

/*Mastercard*/
.payment-option-3, 
.payment-option-9, 
.payment-option-15, 
.payment-option-21, 
.payment-option-26, 
.payment-option-34, 
.payment-option-35, 
.payment-option-44, 
.payment-option-51, 
.payment-option-59, 
.payment-option-61, 
.payment-option-66, 
.payment-option-77
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -172px transparent;
}

/*Cabal*/
.payment-option-4, 
.payment-option-16, 
.payment-option-32, 
.payment-option-47, 
.payment-option-54, 
.payment-option-70, 
.payment-option-81
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -775px transparent;
}

/*Italcred*/
.payment-option-5, 
.payment-option-17, 
.payment-option-33, 
.payment-option-52
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -524px transparent;
}

/*Naranja*/
.payment-option-6, 
.payment-option-18, 
.payment-option-46, 
.payment-option-53, 
.payment-option-69, 
.payment-option-80
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -258px transparent;
}

/*pago-facil-rapipago-otros*/
.payment-option-11, 
.payment-option-23, 
.payment-option-28, 
.payment-option-39, 
.payment-option-48, 
.payment-option-56
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -1008px transparent;
}

/*Otras tarjetas (genericas)*/
.payment-option-10, 
.payment-option-22, 
.payment-option-29, 
.payment-option-40, 
.payment-option-55, 
.payment-option-64
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -607px transparent;
}

/*Shopping*/
.payment-option-67, 
.payment-option-78
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -1066px transparent;
}

/*Argencard*/
.payment-option-68, 
.payment-option-79
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -942px transparent;
}

/*Bapropagos*/
.payment-option-73, 
.payment-option-84
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -689px transparent;
}

/*RapiPago*/
.payment-option-74, 
.payment-option-85
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -432px transparent;
}

/*Pago Facil*/
.payment-option-75, 
.payment-option-86
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -344px transparent;
}

/*Banelco*/
.payment-option-87, 
.payment-option-89
{
    background: url("/img/mobile/theme_clean/2tcred.png") no-repeat scroll 2px -865px transparent;
}
#wallet-payment-option .colorn, #wallet-payment-option .item0 span.colorn2{
background: none repeat scroll 0 0 transparent;
color: #F76A22;
    }
#main .topcompra{
background: url("/img/mobile/theme_clean/bg-7.png") repeat scroll 0 bottom transparent;
margin: 10px 0 0px;
}		
#main .pagopnt2{
background: url("/img/mobile/theme_clean/bg-8.png") repeat-x scroll 0 bottom transparent;
font: bold 13px arial;
}
#main .pagopnt2 span{
color:#ea5308;
float: right;
}
#main .topcompra p{
font: 18px arial;
margin: 0 20px;
}
#main .topcompra p.titulo{
color: #A09D9D;
font: 12px arial;
float: left;
margin: 0 20px 20px;
}
h2.formasdepago{
background: url("/img/mobile/theme_clean/bg-3.png") repeat scroll 0 bottom transparent;
color: white;
font: bold 12px arial;
text-shadow: 1px 1px black;
}
.notification_error, .notification_success, .notification_loading{
position: fixed;
top:0;
z-index: 15;
width:100%;
height:100%;
background: url(/img/colorbox/overlay.png);
}
.notification_error span, .notification_success span, .notification_loading span{
color:#fff;
padding: 60px 15px 15px 15px;
border-radius: 5px 5px 5px 5px;
text-shadow: 1px 1px #333;
height: 30px;
width: 150px;
display:block;
margin: -20px auto;
text-align: center;
}
.notification_loading span{
background: url('/img/loading_circle.gif') no-repeat 50% 15px #333;
margin: 0 auto;
}
.notification_error span{
background: no-repeat 50% 15px -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf100c),color-stop(100%,#d92121));
background: no-repeat 50% 15px -moz-linear-gradient(center bottom , #cf100c 11%, #d92121 56%) repeat scroll 0 0 #000000;
}
.notification_success span{
background: no-repeat 50% 15px -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c5c1c),color-stop(100%,#2b692b));
background: no-repeat 50% 15px -moz-linear-gradient(center bottom , #1c5c1c 11%, #2b692b 56%) repeat scroll 0 0 #000000;
}
#main .cont-imgAlpha{
position:relative;
}
#main .bloquePromo img{
width:100%;
}
form.form-cantidad select, form.form-cantidad #amount, form.form-cantidad #total_price{
float: right;
width: 50px;
height: 16px;
margin-bottom: 0px!important;
}
form.form-cantidad select#amount {
float: right;
width: 55px;
height: 25px;
margin-bottom: 0px!important;
}
#wallet-payment-option .arrow{
position: absolute;
height: 30px;
width: 30px;
top: 4px;
right: 10px;
}
#main ul.mdpago li.li-item6 span.colorn, #main ul.mdpago li.li-item0 span.colorn2{
position: static;
height: auto;
width: auto;
}
#main .pagopnt2 p{
margin: 20px;
}