/* 
    Document   : grid
    Created on : 18/12/2012, 18:56:41
    Author     : jgarberi
    Description:
        SOLO ESTILOS DE COLOR, OBEDECE A UN TEMA, Y ES INDEPENDIENTE A LA GRILLA
*/


/*Botones*/
.btnNaranja{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C6390A),color-stop(100%,#DA591D));
    background: -moz-linear-gradient(center bottom , #C6390A 11%, #DA591D 56%) repeat scroll 0 0 #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font: bold 20px arial;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #B54104;
    }
    

.btnNegro{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1F1F1F),color-stop(100%,#403F3F));
    background: -moz-linear-gradient(center bottom , #1F1F1F 11%, #403F3F 56%) repeat scroll 0 0 #000000;
    font: bold 20px arial;
    color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    text-shadow: 1px 1px #B54104;
    text-align: center;
    text-decoration: none;
}


.btnExclusive{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6F6431),color-stop(100%,#BCAE69));
    background: -moz-linear-gradient(center bottom , #6F6431 11%, #BCAE69 56%) repeat scroll 0 0 #000000;
    text-shadow: 1px 1px #6F6431;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font: bold 20px arial;
    
}

.btnFb{
    background: url("/img/mobile/theme_clean/faceF.png") no-repeat scroll 20px 6px #395895;
    border-left: 1px none;
    border-radius: 5px 5px 5px 5px;
    border:1px solid #283E6A;
    color: #FFFFFF;
    font: bold 20px arial;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #41568A;
}

/* SPRITES */
.spr1{background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -4px -368px     transparent;} /* gota       */
.spr2{background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -65px -490px    transparent;} /* perfil     */
.spr3{background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -4px -330px     transparent;} /* facebook   */
.spr4{background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -34px -330px    transparent;} /* twitter    */
.spr5{background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -65px -330px    transparent;} /* mail       */
.spr6{background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -4px -368px     transparent;} /* mapa       */

/* ESTILOS PARA HEADER DE 1 SECCION (error/exito de compra) */
#header .head1sec{
    background: url("/img/mobile/theme_clean/bg-1.png") repeat scroll 0 bottom transparent;
    }

#header .head1sec .contenedor1 a.headerSect1{
    color: white;
    font: bold 13px/17px arial;
    text-decoration: none;
    }

#header .head1sec .contenedor1 a.headerSect1{
    text-align: center;
    }

#header .head1sec .contenedor2 a.headerSect2{
    font: bold 15px arial;
    }

/* ESTILOS PARA HEADER DE 2 SECCIONES (volver) */
#header .head2sec{
    background: url("/img/mobile/theme_clean/bg-1.png") repeat scroll 0 bottom transparent;
    }

#header .head2sec .contenedor1 a.headerSect1, #header .head2sec .contenedor2 a.headerSect2{
    color: white;
    font: bold 13px/17px arial;
    text-decoration: none;
    }

#header .head2sec .contenedor1 a.headerSect1{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -4px -125px transparent;
    }

#header .head2sec .contenedor2 a.headerSect2{
    font: bold 13px arial;
    }

/* ESTILOS PARA HEADER DE 2 SECCIONES - PERFIL LOGUEADO */
#header .head2secLog{
    background: url("/img/mobile/theme_clean/bg-1.png") repeat scroll 0 bottom transparent;
    }

#header .head2secLog .contenedor1 a.headerSect1, #header .head2secLog .contenedor2 a.headerSect2{
    color: white;
    text-decoration: none;
    font: bold 13px/17px arial;
    }

#header .head2secLog .contenedor1 a.headerSect1{
    font: bold 15px arial;
    }

/* ESTILOS PARA HEADER DE 3 SECCIONES */

#header .head3sec{
    background: url("/img/mobile/theme_clean/bg-1.png") repeat scroll 0 bottom transparent;
    }

#header .head3sec .contenedor1 a.headerSect1, #header .head3sec .contenedor2 a.headerSect2, #header .head3sec .contenedor3 a.headerSect3{
    color: white;
    font: bold 13px/17px arial;
    text-decoration: none;
    }

#header .head3sec .contenedor1 a.headerSect1{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -4px -125px transparent;
    }

#header .head3sec .contenedor2 a.headerSect2{
    font: bold 14px arial;
    text-align: center;
    }

#header .head3sec .contenedor3 a.headerSect3{
    font: bold 13px arial;
    text-align: right;
    }


span.separador{
    background: url("/img/mobile/theme_clean/bg-9.png") no-repeat scroll left bottom transparent !important;
    }

.lineaNaranja{
    background: none repeat scroll 0 0 #EE661A;
    border-bottom: 1px solid #313332;
    border-top: 2px solid #313332;
    }

/*UL Listado para 2 Items*/
#main .bloquePromo ul.ul2items{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D2D1D1),color-stop(100%,#FFFFFF));
    background-image: -moz-linear-gradient(center bottom , #D2D1D1 29%, #FFFFFF 84%);
    border-bottom: 2px solid #A4A4A4;
    }

#main .bloquePromo ul.ul2items li.liL p.porcentaje{
    border-right: 1px solid #A5A5A5;
    color: #EE661A;
    text-align: center;
}


#main .bloquePromo ul.ul2items li.liR p.priceA{
    color: #A5A5A5;
    font: bold 15px arial;
    text-decoration: line-through;
    }

#main .bloquePromo ul.ul2items li.liR p.priceB{
    color: #303030;
    font: bold 22px arial;
    }

#main .bloquePromo p{
    font: bold 23px arial;
    }

#main .bloquePromo ul.ul2items li.liR a{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C6390A),color-stop(100%,#DA591D));
    background-image: -moz-linear-gradient(center bottom , #C6390A 7%, #DA591D 54%);
    color: white;
    font: bold 15px arial;
    text-decoration: none;
    text-align: center;
    }
/* FIN UL Listado para 2 Items*/


/*UL Listado para 3 Items*/
#main .bloquePromo ul.ul3items{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D2D1D1),color-stop(100%,#FFFFFF));
    background-image: -moz-linear-gradient(center bottom , #D2D1D1 29%, #FFFFFF 84%);
    border-bottom: 2px solid #A4A4A4;
    }

#main .bloquePromo ul.ul3items li.liL p.porcentaje{
    border-right: 1px solid #A5A5A5;
    color: #EE661A;
    text-align: center;
    }

#main .bloquePromo ul.ul3items li.liC p.priceA{
    color: #A5A5A5;
    font: bold 15px arial;
    text-decoration: line-through;
    }

#main .bloquePromo ul.ul3items li.liC p.priceB{
    font: bold 22px arial;
    color: #303030;
    }

#main .bloquePromo p{
    font: bold 23px arial;
    }

#main .bloquePromo ul.ul3items li.liR a{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C6390A),color-stop(100%,#DA591D));
    background-image: -moz-linear-gradient(center bottom , #C6390A 7%, #DA591D 54%);
    font: bold 15px arial;
    color: white;
    text-align: center;
    text-decoration: none;
    }

/*  CUADRO DE BUSQUEDA/MAPA */
.bloque-busquedaMapa{
    background: url("/img/mobile/theme_clean/bg-5.png") repeat scroll 0 bottom transparent;
    }

.bloque-busquedaMapa .sect1 input{
    font: 12px arial;
    color: #B1B1B1;
    background: url("/img/mobile/theme_clean/bg-6.png") repeat scroll 0 top transparent;
    border: 1px solid #DEDEDE; /*PENDIENTE DEFINIR QUE PROPIEDAD VA!*/
    border: 1px solid #989898; /*PENDIENTE DEFINIR QUE PROPIEDAD VA!*/
    border-radius: 30px;
    box-shadow: 0 0 2px #585858;
    }

.bloque-busquedaMapa .sect2 input{
    background: url("/img/mobile/theme_clean/search.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    }

/* MENU PERFIL */
ul.menuPerfil{
    background:#5E5E5E;
    }

ul.menuPerfil li a{
    background: none repeat scroll 0 0 #5E5E5E;
    font: bold 13px arial;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    }

/* SUB MENU */
ul.subMenuInterno {
    background: url("/img/mobile/theme_clean/bg-7.png") repeat scroll 0 bottom transparent;
    }

ul.subMenuInterno li {
    background-color: #E7E7E7;
    border-bottom: 1px solid #D2C3C3;
    }

ul.subMenuInterno li.active {
    background-color: #7D7D7D;
    }

ul.subMenuInterno li.active a{
    color:white;
    }

ul.subMenuInterno li a {
    border-right: 1px solid #D2C3C3;
    color: #7D7D7D;
    font: bold 12px arial;
    text-align: center;
    text-decoration: none;
    }

.radL{
    border-radius:10px 0 0 10px
    }

.radR{
    border-radius:0 10px 10px 0;
    border-right:none;
    }

ul.subMenuInterno li.radR a{
    border-right:none;
    }

/* MENU DESPLEGABLE */
.desplegablemenu{
    box-shadow: 0 1px 10px #777;
    }

.desplegablemenu ul li{
    text-align: center;
    }

.desplegablemenu ul li.lastitem{
    position:relative;
    }

.desplegablemenu span.arrowli{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll 0px -609px transparent;
    cursor:pointer;
    }

.desplegablemenu ul li.lastitem a{
    color: white;
    font: bold 20px arial;
    }

.desplegablemenu ul li a{
    background: none repeat scroll 0 0 #5E5E5E;
    border-bottom: 1px solid #888888;
    border-top: 1px solid #2C2C2C;
    color: #B6B6B6;
    font: bold 15px arial;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    }

h1.logo{
    background: url("/img/mobile/theme_clean/logomini.png") no-repeat scroll center center #333333;
    border-bottom: 1px solid #444444;
    text-indent: -9999px;
    float: right;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA TEXTO ENTENDIDO
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .bloquePromo .alphaBox{
    background: url("/img/mobile/theme_clean/1pxbg.png") repeat scroll 0 0 transparent;
    color: white;
    }

#main .bloquePromo .alphaBox h2.infoAlpha{
    font: 12px arial;
    }

#main .bloquePromo h2.infoAlpha span{
    color: #FFB541;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA INTERNA
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-compartircupon{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0),color-stop(100%,#FFFFFF));
    background-image: -moz-linear-gradient(center bottom , #F0F0F0 1%, #FFFFFF 30%);
    border-bottom: 1px solid #C6C6C6;
    }


.bloque-compartircupon p.compartir{
    color: #F38E62;
    font: bold 13px/30px arial;
    text-decoration: none;
    }

.bloque-compartircupon ul.social li a{
    text-indent: -9999px;
    }

.bloque-condiciones h3{
    color: #4E4E4E;
    font: bold 17px arial;
    border-bottom: 1px solid #A3A3A3;
    }

.bloque-condiciones p{
    color: #A09C9C;
    font: bold 12px arial;
    }

.bloque-tiempo{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1F1F1F),color-stop(100%,#403F3F));
    background: -moz-linear-gradient(center bottom , #1F1F1F 11%, #403F3F 56%) repeat scroll 0 0 #000000;
    }

.bloque-tiempo p{
    color: #969696;
    font: bold 13px arial;
    text-align: center;
    }

.bloque-tiempo span{
    color: white;
    font: bold 24px arial;
    text-align: center;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	CONFIRMAR COMPRA
----------------------------------------------------------------------------------------------------------------------------------------*/
form.form-cantidad{
    color: #5A5A5A;
    font: bold 14px arial;
    }

form.form-cantidad .col1{
    border: 1px solid #E5E5E5;
    border-bottom:none;
    }

form.form-cantidad .col2{
    border: 1px solid #E5E5E5;
    }

form.form-cantidad label p{
    width: 85%;
    }
    
form.form-cantidad p, form.form-cantidad p.prec{
    color: #EA7733;
    font: bold 18px arial;
    }

form.form-cantidad #total_price{
    background: #fff;
    border:none;
    -webkit-box-shadow:none;
    color: #EA7733;
    font: bold 18px arial;
    }
    
p.conexSeg{
    color: #5A5A5A!important;
    font: bold 12px arial!important;
    text-align: center!important;
    }

p.conexSeg span{
    color: #EA7733;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	TERMINOS Y CONDICIONES
----------------------------------------------------------------------------------------------------------------------------------------*/

ul.tyc{
    font: 13px arial;
    }

ul.tyc li{
    color: #9B9B9B;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	COMPRA EXITOSA / ERROR
----------------------------------------------------------------------------------------------------------------------------------------*/

.bloque-msgExitoerr{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E7E7E7),color-stop(100%,#FFFFFF));
    background-image: -moz-linear-gradient(center bottom , #E7E7E7 9%, #FFFFFF 57%);
    border-bottom: 1px solid #CDCDCD;
    color: #666666;
    }

.bloque-msgExitoerr p{
    color: #6E6E6E;
    font: bold 15px arial;
    text-align: center;
    }

.bloque-msgExitoerr span{
    color: #F56813;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	COMPARTIR
----------------------------------------------------------------------------------------------------------------------------------------*/

.contTextArea textarea {
    border-bottom: 1px solid #CDCDCD;
    border-radius: 5px 5px 5px 5px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	CUPON DE DESCUENTO QR
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .qrarea {
    background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 2px solid #C7C7C7;
    }
    
#main .qrarea h2 {
    background: none repeat scroll 0 0 transparent;
    font: bold 18px arial;
    color: #2E2E2E;
    text-shadow: none;
    }
    
#main .qrarea p {
    color: #848181;
    font: bold 13px arial;
    }
    
#main ul.listadoitems li.libglast {
    background: url("/img/mobile/theme_clean/bg-8.png") repeat-x scroll 0 bottom transparent;
    }
    
#main ul.listadoitems li {
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #CFCFCF;
    }
    
#main ul.listadoitems li h3 {
    color: #3E3E3E;
    font: bold 13px arial;
    }
    
#main ul.listadoitems li p {
    color: #E56F28;
    font: 13px arial;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA CCYA
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-ofertaYa{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBEBEB),color-stop(100%,#FEFEFE));
    background-image: -moz-linear-gradient(center bottom , #EBEBEB 38%, #FEFEFE 69%);
    border-bottom: 1px solid #000000;
    }

a.capalink{
    color: #333333;
    }

.bloque-ofertaYa .sec2-ofya{
    font: 13px arial;
    }

.bloque-ofertaYa .sec2-ofya h2{
    font: bold 14px arial;
    }

.bloque-ofertaYa .sec2-ofya p{
    font: 12px arial;
    }

.bloque-ofertaYa .sec2-ofya span{
    color: #EA7733;
    }

.bloque-ofertaYa .sec2-ofya p.lugar{
    background-position: -8px -30px;
    color: #EA7733;
    padding: 5px 0 5px 14px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	FOOTER / BARRA LEGALES
----------------------------------------------------------------------------------------------------------------------------------------*/

#footer .legales a{
    background: url("/img/mobile/theme_clean/bg-1.png") repeat scroll 0 bottom transparent;
    color: white;
    font: bold 13px arial;
    text-align: center;
    text-decoration: none;
    }

#footer .legales a.notyc{
    text-indent:-9999px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	MEDIOS DE PAGO / MEDIOS DE PAGO PASO 2
----------------------------------------------------------------------------------------------------------------------------------------*/

#main ul.mdpago li{
    background: url("/img/mobile/theme_clean/bg-4.png") repeat scroll 0 bottom transparent;
    }

#wallet-payment-option  a, #wallet-payment-option  a:hover,#main ul.mdpago li a, #main ul.mdpago li a:hover{
    font: bold 13px arial;
    color: #585858;
    text-decoration: none;
    }

#wallet-payment-option .arrow, #main ul.mdpago li span{
    background: url("/img/mobile/theme_clean/sprite.png") repeat scroll 0 -912px transparent;
    }

#main ul.mdpago li a{
    border-top: 1px solid #787878;
    }

#wallet-payment-option .item0{
    background: url("/img/mobile/theme_clean/bg-8.png") repeat scroll 0 bottom transparent;
    }

#wallet-payment-option .item0 a{
    background: none repeat scroll 0 0 transparent;
    }

/* CASOS ESPECIFICOS DE TTCC */

/*AMEX*/
#main ul.mdpago li.li-item1 a, .payment-option-1, .payment-option-25, .payment-option-30, .payment-option-31, .payment-option-42, .payment-option-49, .payment-option-63 {
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px 0px transparent;
    }

/*VISA*/
#main ul.mdpago li.li-item2 a, .payment-option-2 , .payment-option-27, .payment-option-37, .payment-option-38, .payment-option-43, .payment-option-50, .payment-option-58, .payment-option-62{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -43px transparent;
    }

/*MASTER*/
#main ul.mdpago li.li-item3 a, .payment-option-3 , .payment-option-26, .payment-option-34, .payment-option-35, .payment-option-44, .payment-option-51, .payment-option-59{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -85px transparent;
    }

/*NARANJA*/
#main ul.mdpago li.li-item4 a, .payment-option-6, .payment-option-36, .payment-option-46, .payment-option-53{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -130px transparent;
    }

/*ITALCRED--*/
.payment-option-5, .payment-option-33, .payment-option-52{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -260px transparent;
    }
    
/*CABAL--*/
.payment-option-4, .payment-option-32, .payment-option-47, .payment-option-54{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -386px transparent;
    }
    
/*PagoFacil--*/
#main ul.mdpago li.li-item5 a, .payment-option-75{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -175px transparent;
    }
    
/*RAPIPAGO*/
.payment-option-74{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -215px transparent;
    }
    
/*MERCADOPAGO*/
.payment-option-28, .payment-option-29, .payment-option-39, .payment-option-40, .payment-option-48, .payment-option-55, .payment-option-56, .payment-option-64, .payment-option-73, .payment-option-76, .payment-option-77, .payment-option-78, .payment-option-79, .payment-option-80, .payment-option-81, .payment-option-82, .payment-option-84, .payment-option-85, .payment-option-86, .payment-option-89, .payment-option-90{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -303px transparent;
    }
    
/*RED LINK*/
.payment-option-88{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -346px transparent;
    }
    
/*BANELCO*/
.payment-option-91{
    background: url("/img/mobile/theme_clean/tcred.png") no-repeat scroll 2px -430px transparent;
    }
    
/*BLANK*/
#main ul.mdpago li.li-item6 a{
    background: none repeat scroll 0 0 transparent;
    }

#wallet-payment-option .colorn, #wallet-payment-option .item0 span.colorn2{
    background: none repeat scroll 0 0 transparent;
    color: #F76A22;
    }

#main .topcompra{
    background: url("/img/mobile/theme_clean/bg-7.png") repeat scroll 0 bottom transparent;
    }		

#main .pagopnt2{
    background: url("/img/mobile/theme_clean/bg-8.png") repeat-x scroll 0 bottom transparent;
    font: bold 13px arial;
    }

#main .pagopnt2 span{
    color:#ea5308;
    }

#main .topcompra p{
    font: 18px arial;
    }

#main .topcompra p.titulo{
    color: #A09D9D;
    font: 12px arial;
    }

h2.formasdepago{
    background: url("/img/mobile/theme_clean/bg-3.png") repeat scroll 0 bottom transparent;
    color: white;
    font: bold 12px arial;
    text-shadow: 1px 1px black;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	MAPA
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .maparea .ballbig{
    background: url("/img/mobile/theme_clean/bg-10.png") repeat-x scroll 0 0 white;
    border: 1px solid #ABA9A7;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px #777777;
    }

#main .maparea .ballbig img.thumb{
    border: 1px solid #5A5A5A;
    }


#main .maparea .ballbig .info{
    float: left;
    padding: 5px;
    }

#main .maparea .ballbig .info a.ballink{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -4px -675px transparent;
    }

#main .maparea .ballbig .info p{
    color: #5A5A5A;
    font: bold 14px arial;
    }

#main .maparea .ballbig .info p.subt{
    color: #E55109;
    font: 12px arial;
    }

#main .maparea .ballbig .info span.flecha{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll 4px -711px transparent;
    }


#main .maparea .ballsmall{
    background: url("/img/mobile/theme_clean/bg-10.png") repeat-x scroll 0 0 white;
    border: 1px solid #ABA9A7;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px #777777;
    }

#main .maparea .ballsmall img.thumb{
    border: 1px solid #5A5A5A;
    }

#main .maparea .ballsmall span.flecha{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll 4px -711px transparent;
    }

.mappos{
    background-position: center -201px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	PERFIL - MIS DATOS
----------------------------------------------------------------------------------------------------------------------------------------*/

#main .perfil{
    border: 1px solid #D7D7D7;
    border-radius: 10px 10px 10px 10px;
    font: bold 13px arial;
    }

#main .perfil p{
    border-bottom: 1px solid #D7D7D7;
    color: grey;
    font: 12px arial;
    }

#main .perfil span.mail{
    color: #302F2F;
    font: bold 13px arial;
    }

#main .perfil a{
    text-decoration: none;
    }


#main .perfil a span{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll -3px -173px transparent;
    }

#main .perfil p.lastp{
    border:none;
    }

#main .perfil span{
    color:#ea5308;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	SELECCIONA CIUDAD
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-itemslistado{
    }

.bloque-itemslistado h2{
    background: url("/img/mobile/theme_clean/bg-3.png") repeat scroll 0 bottom transparent;
    font: bold 12px arial;
    color: white;
    text-shadow: 1px 1px black;
    }

/*Formato para items de lista 1 */
.bloque-itemslistado ul.lista li{
    background: url("/img/mobile/theme_clean/bg-4.png") repeat scroll 0 0 transparent;
    }

.bloque-itemslistado ul.lista li a, .bloque-itemslistado ul.lista li a:hover{
    color: #585858;
    font: bold 12px arial;
    text-decoration: none;
    }

.bloque-itemslistado ul.lista li| span{
    background: url("/img/mobile/theme_clean/sprite.png") repeat scroll 10px -788px transparent;
    }

.bloque-itemslistado ul.lista li.li-item1 a{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll 12px -54px transparent;
    border-top: 1px solid #787878;
    }

/*Formato para items de lista 2 */
.bloque-itemslistado ul.listaB li{
    background: url("/img/mobile/theme_clean/bg-4.png") repeat scroll 0 0 transparent;
    }

.bloque-itemslistado ul.listaB li a, .bloque-itemslistado ul.listaB li a:hover{
    color: #929292;
    font: bold 12px arial;
    text-decoration: none;
    }

.bloque-itemslistado ul.listaB li span{
    background: url("/img/mobile/theme_clean/sprite.png") repeat scroll  10px -173px transparent;
    }

.bloque-itemslistado ul.listaB li.li-item1 a{
    background: url("/img/mobile/theme_clean/sprite.png") no-repeat scroll 12px -19px transparent;
    border-top: 1px solid #787878;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	INGRESAR
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-fblogin form.login input {
    background: none repeat scroll 0 0 white;
    font: 12px arial;
    color: #777777;
    border: 1px solid #DDDDDD;
    }

.bloque-fblogin form.login input.inptop, .bloque-fblogin form.formreg input.inptop {
    border-radius: 10px 10px 0 0;
    }

form.login input.inpbot, form.formreg input.inpbot{
    border-radius: 0 0 10px 10px;
    border-top: medium none;
    }

.bloque-fblogin a.linkpass {
    font: 13px arial;
    color: #F76A22;
    text-decoration: none;
    }

.bloque-fblogin p.noacount {
    font: 13px arial;
    color: #737272;
    text-align: center;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	REGISTRARME
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-registrarme form.login input.inptop, .bloque-registrarme form.formreg input.inptop {
    border-radius: 10px 10px 0 0;
    }

.bloque-registrarme form.login input {
    background: none repeat scroll 0 0 white;
    font: 12px arial;
    color: #777777;
    border: 1px solid #DDDDDD;
    }

.bloque-registrarme .inputset p.labcheck{
    font: 13px arial;
    color: #323131;
    }

.bloque-registrarme .inputset p.labcheck a{
    color: #E05005;
    text-decoration: none;
    }

.bloque-registrarme form.login input.nobord{
    border-top: none;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	OFERTA YA
----------------------------------------------------------------------------------------------------------------------------------------*/
.bloque-ofertaya h2{
    background: url("/img/mobile/theme_clean/bg-8.png") repeat-x scroll 0 bottom transparent;
    color: #323131;
    font: bold 18px arial;
    }

.bloque-ofertaya .bloque-tiempoMa{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1F1F1F),color-stop(100%,#403F3F));
    background: -moz-linear-gradient(center bottom , #1F1F1F 11%, #403F3F 56%) repeat scroll 0 0 #000000;
    }

.bloque-ofertaya .bloque-tiempoMa p{
    color: #969696;
    font: bold 12px arial;
    text-align: center;
    }

.bloque-ofertaya .bloque-tiempoMa span:first-child{
    color: #E05005;
    font: bold 12px arial;
    text-align: center;
    }

.bloque-ofertaya .bloque-tiempoMa span{
    color: white;
    font: bold 18px arial;
    text-align: center;
    }

.bloque-ofertaya .contentMapa {
    border-top:solid 1px #999999;
    border-bottom:solid 1px #999999;
    }

.bloque-ofertaya .boxDescripcionUbicacion h2 {
    background-image: none;
    color: #323131;
    }

.bloque-ofertaya .boxDescripcionUbicacion p {
    font: bold 15px arial;
    }

.bloque-ofertaya .boxDescripcionUbicacion p a {
    color: #E57432;
    text-decoration: none;
    }

.bloque-ofertaya .boxDescripcionUbicacion span {
    color:#858585;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	EXCLUSIVE OFERTA
----------------------------------------------------------------------------------------------------------------------------------------*/
#exclusive  .bloquePromo ul.ul3items {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252424),color-stop(100%,#363535));
    background-image: -moz-linear-gradient(center bottom , #252424 38%, #363535 69%);
    border-bottom: 1px solid #333333;
    }

#exclusive  .bloquePromo ul.ul3items li.liC p.priceB {
    color: white;
    }

#exclusive  .bloquePromo ul.ul3items li.liL p.porcentaje {
    color: #EAD68B;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------
	EXCLUSIVE OFERTA INTERNA
----------------------------------------------------------------------------------------------------------------------------------------*/
#exclusive  .bloquePromo ul.ul2items li.liL p.porcentaje {
    color: #EAD68B;
    border-right: 1px solid #282727;
    }

#exclusive  .bloquePromo ul.ul2items {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252424),color-stop(100%,#363535));
    background-image: -moz-linear-gradient(center bottom , #252424 38%, #363535 69%);
    border-bottom: 1px solid #333333;
    }

#exclusive  .bloquePromo ul.ul2items li.liR p.priceB {
    color: white;
    }

#exclusive .bloque-compartircupon {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252424),color-stop(100%,#363535));
    background-image: -moz-linear-gradient(center bottom , #252424 38%, #363535 69%);
    border-bottom: 1px solid #333333;
    }

#exclusive .bloque-compartircupon p.compartir {
    color: #B7B7B7;
    }

#exclusive .bloque-condiciones h3 {
    color: #BCAE69;
    }

#exclusive .bloque-condiciones {
    background: none repeat scroll 0 0 black;
    }

#exclusive .btnNaranja {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6F6431),color-stop(100%,#BCAE69));
    background: -moz-linear-gradient(center bottom , #6F6431 11%, #BCAE69 56%) repeat scroll 0 0 #000000;
    border-radius: 5px 5px 5px 5px;
    text-shadow: 1px 1px #6F6431;
    }

#exclusive .lineaNaranja {
    background: none repeat scroll 0 0 #BCAE69;
    }

    
/* ---------------------------------------------------------------------------------------------------------------------------------------
	EXCLUSIVE LOGIN
----------------------------------------------------------------------------------------------------------------------------------------*/
#exclusive  {
    background: none repeat scroll 0 0 black; /*BODY*/
    }

#exclusive .noItem{
    text-indent:-9999px;
    }

#exclusive .exclusiveInput{
    background: none repeat scroll 0 0 white;
    font: 12px arial;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    color: #777777;
    }
    
    
/* ---------------------------------------------------------------------------------------------------------------------------------------
	NOTIFICACIONES
----------------------------------------------------------------------------------------------------------------------------------------*/

.notification_error, .notification_success, .notification_loading
{
    position: fixed;
    top:0;
    z-index: 15;
    width:100%;
    height:100%;
    background: url(/img/colorbox/overlay.png);
}

.notification_error span, .notification_success span, .notification_loading span
{
    color:#fff;
    padding: 60px 15px 15px 15px;
    border-radius: 5px 5px 5px 5px;
    text-shadow: 1px 1px #333;
    height: 30px;
    width: 150px;
    display:block;
    margin: -20px auto;
    text-align: center;
}
.notification_loading span
{
    margin: 0 auto;
}

.notification_error span
{
    background: no-repeat 50% 15px -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf100c),color-stop(100%,#d92121));
    background: no-repeat 50% 15px -moz-linear-gradient(center bottom , #cf100c 11%, #d92121 56%) repeat scroll 0 0 #000000;
}

.notification_success span
{
    background: no-repeat 50% 15px -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c5c1c),color-stop(100%,#2b692b));
    background: no-repeat 50% 15px -moz-linear-gradient(center bottom , #1c5c1c 11%, #2b692b 56%) repeat scroll 0 0 #000000;
}

.notification_loading span
{
    background: url('/img/loading_circle.gif') no-repeat 50% 15px #333;
}

#payment-options
{
    min-width: 450px;
}