<div class="index">

    <style>
        form{margin-left:25px;}
    </style>

<?php if(!isset($file_name)){

     echo '<h2>Importar Archivo</h2>';
     echo $form->create('posnets', array('enctype' => 'multipart/form-data', 'action' => 'import'));
     echo $form->input('import', array('type'=>'file', 'label' => 'Seleccionar archivo'));
     echo $form->end('Subir Archivo de CAPTURA');
     echo $form->end();
     echo '<div style="margin-bottom:15px; clear:both;"></div>';

    }else{

        echo '<h2>FILE HEADER </h2>';
        echo '<ul>';
            foreach($fh as $fhk => $fhv)
            {
                echo '<li>';
                echo '<span style="font-weight:bold;">'.$fhk.': </span>' .$fhv;
                echo '</li>';
            }
        echo '</ul>';

        echo '<h2>RECORDS</h2>';
        echo "<div style='display:block;clear:both;'><br/><br/><br/>";
        echo '<table width="520" style="margin-left:50px;">
		<thead>
			<tr><th style="border:1px solid">Codigo</th><th style="border:1px solid">monto</th><th style="border:1px solid" >Importacion</th></tr>
		</thead>
                <tbody>';
        foreach($r as $reg){

		echo '<tr><td style="border:1px solid">';
                echo $reg['posnet_code'];
                echo '</td>';
                echo '<td style="border:1px solid">';
                echo $reg['monto'];
                echo '</td>';
                echo '<td style="border:1px solid">';
                echo $reg['importacion'];
                echo '</td></tr>';


        }
        echo '   </tbody>
	      </table>';
        echo "<div>";


        echo '<h2>FILE TRAILER </h2>';
        echo '<ul>';
            foreach($ft as $ftk => $ftv)
            {
                echo '<li>';
                echo '<span style="font-weight:bold;">'.$ftk.': </span>' .$ftv;
                echo '</li>';
            }
        echo '</ul>';

         }

?>

</div>