<?php
if (!isset($res))
{

    echo '<div class="index">';
    echo '<style>form{margin:25px;}</style>';
    echo '<h2>Exportar Archivo</h2>';
    if(!Configure::read('Caf.use_external_export_script')){
        echo $form->create('Posnet', array('url' => array('controller' => 'posnets', 'action' => 'export'), 'class' => 'normal', 'enctype' => 'multipart/form-data'));
    } else {
        echo $form->create('Posnet', array('url' => '/afiliados/posnet/export.php?file', 'class' => 'normal', 'enctype' => 'multipart/form-data'));
    }



    echo $form->end('Generar Archivo CAF');
    echo  "</div>";


}
else {


            if($res===TRUE)
            {
                Debugger::log("[POSNET] VISTA =>   se empieza a volcar datos de descarga");
                header("Content-Type: ".$filemime);
                header("Content-Disposition: attachment; filename=".$zip_filename);
                echo file_get_contents(TMP.$zip_filename);
                unlink(TMP.$zip_filename);
            }else
            {
                Debugger::log("[POSNET] VISTA =>   Fallo la creacion del recurso comprimido ");
                 echo 'failed, code:' . $res;
            }


}