<?php echo $this->element('dashboard/company_dashboard_menu_tabs'); ?>

<script>

    $(document).ready(function() {
    	 $("#tabs").tabs();
    	
    	// var url=cfg.path_relative+'/now/now_liquidations/index/filter:todos';
    	 //$("#tabs-1").load(url);
    });
</script>
<div id="tabs">
	<ul>
		<li>
		<?php
		  echo $html->link ('Calendarios',array ('plugin'=>'now','controller'=>'now_liquidations',  'action' => 'index',    'filter' => 'todos', ), array('escape' => false,'title' => 'Todos'));
		?>
		</li>
		<li style="display:none">
		<?php
		  echo $html->link ('Por redimido',array ('plugin'=>'now','controller'=>'now_liquidations',  'action' => 'index',    'filter' => 'redimido', ), array('escape' => false,'title' => 'Por redimido'));
		?>
		</li>
		<li style="display:none">
		<?php
		  echo $html->link ('Por vendido',array ('plugin'=>'now','controller'=>'now_liquidations',  'action' => 'index',    'filter' => 'vendido', ), array('escape' => false,'title' => 'Por vendido'));
		?>
        </li>   
        <li>
		<?php
		  echo $html->link ('Exportar',array ('plugin'=>'now','controller'=>'now_exports',  'action' => 'index' ), array('escape' => false,'title' => 'Exportar'));
		?>
        </li>                  
	</ul>
	<div id="ui-tabs-1" style="display:none">
	Cargando...
	</div>
	<div id="ui-tabs-2" style="display:none">
	Cargando...
	</div>
	<div id="ui-tabs-3" style="display:none">
	Cargando...
	</div>
	<div id="ui-tabs-4">
	Cargando...
	</div>
	
</div>