<?php if(Configure::read('web.ad_server') == 'eplanning'): ?>
<!-- Banner -->
<!-- e-planning v3 - Comienzo espacio  -->
<script type="text/javascript" language="JavaScript1.1">
<!--
var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
var cs = document.charset || document.characterSet;
document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/<?php echo $idAd; ?>?o=j&rnd=' + rnd + '&crs=' + cs + '&kw_ciudades=<?php echo $slug?>&kw_turismo=<?php echo $isTourism; ?>&kw_idaviso=<?php echo $idAviso;?>"></scr' + 'ipt>');
//-->
</script>
<noscript><a href="http://ads.e-planning.net/ei/3/9b30/<?php echo $idAd; ?>?it=i&rnd=$RANDOM" target="_blank"><img width="231" height="179"  alt="Club Cupón" src="http://ads.e-planning.net/eb/3/9b30/<?php echo $idAd; ?>?o=i&rnd=$RANDOM&kw_ciudades=<?php echo $slug; ?>&kw_turismo=<?php echo $isTourism ?>&kw_idaviso=<?php echo $idAviso; ?>" border=0></a></noscript>
<!-- e-planning v3 - Fin espacio -->
<?php endif; ?>