<div id="banner_ccya" style="display: none;">
	<ul>
		<li><a href="http://www.clubcupon.com.ar/now/now_registers/landingus" target="_blank">¿Cómo funciona?</a></li>
		<li>|</li>
		<li><a href="http://dmds-cmd.planisys.net/suscripcion2.php?id=7ced307f-069b-d94f-9a62-52f3d168e2dc" target="_blank">Suscribirme</a></li>
	</ul>
</div>

