<?php if(Configure::read('web.ad_server') == 'eplanning'): ?>
<!-- e-planning v3 - Comienzo espacio ClubCupon _ LogOut _ middle940x520 -->
<script type="text/javascript" language="JavaScript1.1">
<!--
var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
var cs = document.charset || document.characterSet;
document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.e-planning.net/eb/3/9b30/LogOut/middle940x520?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
//-->
</script>
<noscript>
	<a href="http://ads.e-planning.net/ei/3/9b30/LogOut/middle940x520?it=i&rnd=$RANDOM" target="_blank">
		<img width="940" height="520"  alt="e-planning ad" src="http://ads.e-planning.net/eb/3/9b30/LogOut/middle940x520?o=i&rnd=$RANDOM" border=0>
	</a>
</noscript>
<!-- e-planning v3 - Fin espacio ClubCupon _ LogOut _ middle940x520 -->
<?php endif; ?>