<?php
/*
 * element: socialIcons.ctp
 * @author:  
 * params: date
 */
?>
<div>
    <ul class="redes">

        <?php if (isset($shareDeal)) { ?>
            <li><a rel="nofollow" class="icon_facebook" href="javascript:void(0)" onclick="<?php echo "fbFeed_deal('$dealName', '$shortUrl', '$percent');"; ?>">Facebook</a></li>
        <?php } else { ?>
            <li><a href="http://www.facebook.com/ClubCupon" class="icon_facebook" target="_blank" rel="nofollow">Facebook</a></li>
            <?php } ?>

    </ul>
</div>

