/* body { */
/* 	font-size: 12px; */
/* } */

a{
    color: #0098CA;
/*     font: 14px arial; */
    text-decoration: none;
}

/* p{ */
/*     font: 14px arial; */
/* } */

form a {
	font-size: 12px;
}


/* super extra horrible compatibilidad con nuevo diseño... realmente 
	asqueroso pero hasta que no se elimine TODO lo viejo no hay caso */
	
/* header a { */
/* 	font-family: "Roboto"; */
/* 	font-size: 16px; */
/* 	font-weight: lighter; */
/* }	 */

/* Genericos Botones*/

.btn-naranja {
    background: #DF9707;
/*     border-radius: 7px; */
    color: white;
    display: block;
    font: bold 13px arial;
    padding: 7px 10px;
    text-align: center;
    text-shadow: 1px 1px #9F6904;
	cursor: pointer;
}

.btn-naranja2 {
    background: url("/img/now/img/theme_clean/bg-comprar.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #E3671A;
/*     border-radius: 7px 7px 7px 7px; */
    color: white;
    cursor: pointer;
    display: block;
    font: bold 20px arial;
    padding: 7px 10px;
    text-align: center;
    text-shadow: 1px 1px #9F6904;
}

.btn-gris {
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: #D2D2D2;
/*     border-radius:3px; */
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #676767;
    display: block;
    font: bold 12px arial;
    padding: 5px 8px;
    text-align: center;
    text-shadow: none;
	box-shadow: 1px 1px 1px #777777;
	cursor: pointer;	
}

.btn-azul {
    background: #057FA6;
/*     border-radius: 5px 5px 5px 5px; */
    color: white;
    display: block;
    font: bold 14px arial;
    padding: 13px 0 13px 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px #035E79;
	cursor: pointer;	
}

.btn-azul-centrado {
    background: #057FA6;
/*     border-radius: 5px 5px 5px 5px; */
    border:none;
    color: white;
    display: block;
    font: bold 14px arial;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px #035E79;
    cursor: pointer;
    margin: 5px 0;        
}


.btn-azul-d {
    background: url("/img/theme_clean/btn-bg-blue.jpg") repeat scroll 0 0;
/*     border-radius: 5px 5px 5px 5px; */
    display: block;
    float: left;
    margin: 10px 0 0;
    padding: 8px 15px;
    text-align: center;
	font-family: "Roboto" !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    color: #ffffff;
    opacity: 1;
}
.btn-azul-d:HOVER {
	opacity: 0.9;	
}
.btn-verde{
    background:#90C400;
    padding:5px 10px;
    color:#fff;
    font-weight: bold;
    border:none;
    margin:10px 0;
}




/* lightbox */
#ccnow .lightbox{
    background: none repeat scroll 0 0 white;
    border: 4px solid #BEBEBE;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;	
    height: 525px;
    position: absolute;
    width: 764px;
    z-index: 3;
    /*display: none;*/
}


#ccnow ul.s-redes{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 30px;
    padding: 0;
    width: 116px;
}

#ccnow .lightbox .lb-col2 .lb-map a{
    font: 11px arial;
    margin: 0 0 10px;
}

#ccnow .lightbox .lb-col2 .lb-map a.lb-lugar{
    font: bold 14px arial;
    margin: 0;	
}

#ccnow .lightbox .lb-col2 .lb-map p{
    color: #6B6B6B;
    float: left;
    font: 12px arial;
}

#ccnow .lightbox .lb-header a.lb-cerrar{
    display: block;
    margin: 10px;	
    float: right;
    height: 30px;
    width: 30px;
    background: url("/img/now/sprite2.png") repeat-x scroll -5px -1056px transparent;	
}

#ccnow .lightbox .lb-centro{
    height: 400px;
	margin: 0 0 20px;
    padding: 0 30px;
}

#ccnow .comprar a{
    color: white;
    display: block;
    font: bold 20px arial;
    padding: 8px 0;
}

#ccnow .comprar{
    height: 60px;
    width: 240px;
}

#ccnow ul.precio{
    margin: 5px 0 20px;
    width: 240px;
}

#ccnow ul.precio li.li-first {
    width: 230px;
}

#ccnow ul.precio li{
    width: 109px;
}

#ccnow .lightbox .lb-centro p.encabezado{
    font: bold 22px arial;
}

#ccnow .lightbox .lb-centro p.sub{
    color: #999999;
    font: 16px arial;
}

#ccnow .lightbox p.lb-descripcion{
    color: gray;
    font: 12px arial;
    margin: 10px 0 0;
}

#ccnow .lightbox p.lb-valido{
    color: gray;
    font: 12px arial;
    margin: 20px 0 0;
}

#ccnow .lightbox .lb-centro p.lb-utiliza{
    background: url("/img/now/sprite.png") no-repeat scroll -7px -1204px transparent;
    color: #DA6B0F;
    font: bold 13px arial;
    margin: 10px 0;
    padding: 10px 0 10px 25px;
}

#ccnow .lightbox .lb-centro .lb-col1{
    float: left;
    height: 400px;
    padding: 0 15px 0 0;
    width: 315px;;
}

#ccnow .lightbox .lb-centro .lb-col2{
    float: left;
    width: 370px;
}

#ccnow .lightbox .lb-social {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
	padding: 5px 0;
}

#ccnow .lightbox .lb-social ul{
    padding: 0 0 0 20px;
	width: 540px;
}

#ccnow .lightbox .lb-social ul li{
    color: #817F80;
    float: left;
    font: bold 12px/32px arial;
}

#ccnow .lightbox li a.fb{
    background: url("/img/now/sprite.png") no-repeat scroll -2px -1587px transparent;
    height: 30px;
    width: 38px;
	margin: 0;
}

#ccnow .lightbox li a.tw{
    background: url("/img/now/sprite.png") no-repeat scroll -2px -1634px  transparent;
    height: 30px;
    width: 38px;
	margin: 0;
}

#ccnow .lightbox li a.email{
    background: url("/img/now/sprite.png") no-repeat scroll -2px -1683px  transparent;
    height: 30px;
    width: 38px;
	margin: 0;
	height: 62px;
}

#ccnow a.ver-lasreglas{
   font: 11px arial;
}

#ccnow .lightbox .lb-social ul li a{
    display: block;
    float: left;
    height: 33px;
    margin: 4px 0 0 0;
    text-indent: -9999px;
}

#ccnow .lightbox .lb-map{
	margin: 40px 0 0;
}

#ccnow .lightbox .lb-map a{
    display: block;
    float: left;
}

#ccnow .lightbox .lb-map img{
    border: 1px solid red;
    float: left;
    margin: 0 10px 0 0;
}

#ccnow .lb-col1 .boton-comprar-bg{
    /*background: none repeat scroll 0 0 #138EB7;*/
    height: 129px;
    margin: 0;
    padding: 0 5px;
	position: relative;
}

#ccnow .contenedorBuscar{
    background: none repeat scroll 0 0 white;
    padding: 10px;
    width: 920px;
}

#ccnow .lb-col1 {
	position:relative;
}

#ccnow .lb-col1 .boton-comprar-bg p{
    color: white;
    font: bold 40px arial;
    padding: 10px 0 0;
    text-align: center;
	width:234px;
}

#ccnow .lb-col1 .comprar-out {
    width: 210px;
    height: 63px;
    background: url("/img/theme_clean/bg-comprar-off.jpg") repeat scroll 0 0 transparent;
    border-radius: 20px;
    text-align: center;
}
#ccnow .lb-col1 .comprar-out p {
    color: white;
    display: block;
    font: bold 22px arial;
    padding: 18px 0;
}

#ccnow .lb-col1 img.bg-img{
    left: -25px;
    position: absolute;
    top: -3px;
    width: 258px;
    z-index: 0;
}

#ccnow .lb-col1 .boton-comprar-bg span {
	font: bold 20px arial;
}

#ccnow .lb-col1 .comprar a{
    color: white;
    display: block;
    font: bold 30px arial;
    padding: 13px 0;
}

#ccnow .lb-col1 .modulos-compra ul.precio{
    background: #f5f5f5;
    border: 1px solid #CCCCCC;
    font: bold 16px arial;
    text-align: center;
	border-left:none;
    margin: 0;	
}

#ccnow .lb-col1 .modulos-compra ul.precio li{
    border-left: 1px solid #CCCCCC;
    display: block;
    float: left;
    padding: 5px;
    width: 108px;
}

#ccnow .lb-col1 .modulos-compra ul.precio li.li-first{
    background: url("/img/now/sprite.png") no-repeat scroll 7px -1528px;
    border-top: 1px solid #CCCCCC;
    font: bold 22px arial;
    width: 227px;
}

#cboxOverlay{
    background: url("http://www.clubcupon.com.ar/img/colorbox/overlay.png") repeat scroll 0 0 transparent;
    height: 100%;
    position: fixed;
    width: 100%;
	top:0;
	left:0;
	display:none;
}

/* FIN lightbox */


#ccnow .columna-izq{
	background:white;
    border-top: 1px solid white;
	position: relative;
}

/* Sprites columna Izquierda*/
#ccnow .columna-izq ul a.spr-todas           {background: url("/img/now/spriteccnow.png") no-repeat scroll 0px -389px transparent;}
#ccnow .columna-izq ul a.spr-comidas         {background: url("/img/now/spriteccnow.png") no-repeat scroll 0px  0px transparent;}
#ccnow .columna-izq ul a.spr-resto           {background: url("/img/now/spriteccnow.png") no-repeat scroll 0px -78px transparent;}
#ccnow .columna-izq ul a.spr-salybel           {background: url("/img/now/spriteccnow.png") no-repeat scroll 0px -155px transparent;}
#ccnow .columna-izq ul a.spr-turismo         {background: url("/img/now/spriteccnow.png") no-repeat scroll 0px -234px transparent;}
#ccnow .columna-izq ul a.spr-transporte      {background: url("/img/now/spriteccnow.png") no-repeat scroll 0px -314px transparent;}
/* Sprites columna Izquierda HOVER*/
#ccnow .columna-izq ul a.spr-todas:hover, #ccnow .columna-izq ul a.ccnow-selecttodas {background: url("/img/now/spriteccnow.png") no-repeat scroll 1px -426px #0E97C3;color:white;}
#ccnow .columna-izq ul a.spr-comidas:hover, #ccnow .columna-izq ul a.ccnow-selectcomidas{background: url("/img/now/spriteccnow.png") no-repeat scroll 1px -37px #0E97C3;color:white;}
#ccnow .columna-izq ul a.spr-resto:hover , #ccnow .columna-izq ul a.ccnow-selectresto{background: url("/img/now/spriteccnow.png") no-repeat scroll 1px -114px #0E97C3;color:white;}
#ccnow .columna-izq ul a.spr-salybel:hover, #ccnow .columna-izq ul a.ccnow-selectsalybel {background: url("/img/now/spriteccnow.png") no-repeat scroll 1px -192px #0E97C3;color:white;}
#ccnow .columna-izq ul a.spr-turismo:hover, #ccnow .columna-izq ul a.ccnow-select22 {background: url("/img/now/spriteccnow.png") no-repeat scroll 1px -271px #0E97C3;color:white;}
#ccnow .columna-izq ul a.spr-transporte:hover, #ccnow .columna-izq ul a.ccnow-select23 {background: url("/img/now/spriteccnow.png") no-repeat scroll 1px -351px #0E97C3;color:white;}
/* FIN Sprites columna Izquierda*/

#ccnow .columna-der{
    background: white;
    padding: 10px 0 0;
	min-height: 680px;
}

#ccnow .columna-der .bloque-ofertas{
    padding: 10px 15px;
    position: relative;
}
/*
#ccnow .columna-der .bloque-ofertas .detalles{
    width: 70px;
	color: white;
}
*/
#ccnow .columna-der .bloque-ofertas p{
    float: left;
    width: 500px;
}

#ccnow .columna-der .bloque-ofertas img{
    float: left;
}

#ccnow .columna-der .bloque-ofertas ul{
    background: none repeat scroll 0 0 #E9E9E9;
    height: 158px;
    padding: 10px 0;
}

#ccnow .columna-der .bloque-ofertas ul li{
    display: block;
    float: left;
    margin: 0;
    padding: 0 0 0 20px;
    width: 615px;
    line-height: 1.3em;
    text-align: justify;
}

#ccnow .columna-der .bloque-ofertas .description, #ccnow .columna-der .bloque-ofertas .title{
    padding-left: 11px;
     width: 595px;
}

#ccnow .columna-der .bloque-ofertas .title{
    width: 615px;
}

#ccnow .columna-der .bloque-ofertas ul li.encabezado-promo{
    background: none repeat scroll 0 0 #148bb3;
    color: white;
    font: 17px arial;
    margin: 5px 0;
    padding: 5px 0 5px 10px;
    width: 623px;
    float:left;
}

#ccnow .columna-der .bloque-ofertas ul li span{
    font: bold 14px arial;
}

#ccnow .columna-der .bloque-ofertas ul li a.btn-detalles{
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    color: #676767;
    display: block;
    float: right;
    font: bold 12px arial;
    margin: 0 5px;
    padding: 5px 8px;
    text-align: center;
    width: 80px;
    border-bottom:2px solid #d2d2d2;
    text-shadow:none;
}

#ccnow .columna-der .bloque-ofertas ul li a.btn-comprar{
    background: url("/img/now/bg-comprar.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #fdb932;
    border-radius: 10px;
    behavior:url(css/border-radius.htc); 
    color: white;
    display: block;
    float: right;
    font: bold 14px arial;
    margin: 0 3px;
    padding: 6px 7px;
    text-align: center;
    width: 80px;
    border-bottom:2px solid #a15a0a;
    text-shadow: 1px 1px gray;	
}

#ccnow .columna-der .bloque-ofertas a.ver-detal{
    color: white;
    padding: 0 0 0 30px;
	background: url("/img/now/spriteccnow.png") repeat scroll 3px -481px transparent;
}



#ccnow .columna-der .bloque-ofertas .utilice-hoy{
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #CCCCCC;
    bottom: 38px;
    color: black;
    font: bold 12px/20px arial;
    position: absolute;
    text-align: center;
    width: 269px;
}

#ccnow .columna-der .bloque-ofertas .utilice-hoy p{
    border-left: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 132px;
}

#ccnow .columna-der .bloque-ofertas ul li.subti{
	margin:0 0 30px 0;
}

#ccnow .columna-der .bloque-ofertas ul li.buy{
    bottom: 14px;
    left: 276px;
    position: absolute;
}

#ccnow .columna-der .bloque-ofertas ul li p.usarhoy{
    color: #E58D08;
    display: block;
    float: left;
    font: bold 15px arial;
    width: 380px;
}

#ccnow .btn-masinfo-azul{
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #AAAAAA;
    border-radius: 10px 10px 10px 10px;
    color: white;
    display: block;
    float: right;
    font: bold 14px arial;
    margin: 0 5px;
    padding: 6px 8px;
    text-align: center;
    text-shadow: 1px 1px gray;
    width: 90px;
}

#ccnow .columna-der .bloque-ofertas h3{
	height: 23px;
	padding:0;
}

#ccnow .columna-izq ul a{
    color: #817F80;
    display: block;
    font: 12px/35px arial;
    height: 35px;
    padding: 0 10px 0 35px;
    text-align: left;
}

#ccnow .cont-borde{
    background: none repeat scroll 0 0 white;
    border: 1px solid #BCE0EC;
	margin: 0 15px;
    padding: 1px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

#ccnow .center-image-pop{
    display: block;
}

#ccnow .columna-izq ul a:hover{
    background: none repeat scroll 0 0 #00a6d2;
    border-bottom: 2px solid #66cae2;	
    color: white;
    text-shadow: 1px 1px #737373;	
}


#ccnow .link-como-funciona a{
    color: #148BB3!important;
    font-weight: bold!important;
}

#ccnow .link-como-funciona a:hover{
    background: none!important;
    border:none!important;
    text-shadow: none!important;
}

#ccnow .columna-izq ul a span{
    color: #F4730B;
    font: 11px arial;
    padding: 0 5px;
    text-shadow:none;	
}

#ccnow #footer{
    margin: 10px 0 0
}

#ccnow .paginador{
    margin: 10px 0;
}

#ccnow .paginador p{
    clear: both;
    color: gray;
    display: block;
    float: left;
    margin: 10px auto 15px;
    text-align: center;
    width: 100%;
}

#ccnow .paginador span{
    font: bold 13px arial;
}

#ccnow .paginador ul{
    margin: 0 auto;
    /*width: 600px;*/
}

#ccnow .paginador ul li{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font: 12px arial;
    margin: 0 5px;
}

#ccnow .paginador ul li span{
    padding: 7px 13px;
	display:block;
	cursor: pointer;
	color: #0098CA;
    font: 14px arial;
}

#ccnow .paginador ul li.pag-prev-next{
    background: none repeat scroll 0 0 #F2F2F2;
    margin: 4px 0 0;
    padding: 2px 13px;
}

#ccnow .paginador ul li.pag-prev-next span{
	padding:0;
}

#ccnow .paginador ul li span.pag-selected{
    background: none repeat scroll 0 0 #CCCCCC;
    font-weight: bold;
}
#ccnow ul.mi-cuenta {
	left: -25px;
    top: 40px;
	width: 190px;
}


#ccnow .lb-col1 img.bg-img{
    left: -26px;
    position: absolute;
    top: 114px;
    width: 280px;
    z-index: 0;
}

#ccnow .columna-der ul.sinresultados{
	text-align: center;
}

#ccnow .columna-der ul.sinresultados li.sr-line1{
    color: #FA8C35;
    font: bold 49px Verdana;
}

#ccnow .columna-der ul.sinresultados li.sr-line2{
    color: #FA8C35;
    font: bold 18px arial;
    margin: 0 0 40px;
}

#ccnow .columna-der ul.sinresultados li.sr-line3{
	font: bold 19px arial;
}

#ccnow .columna-der ul.sinresultados li.sr-line3 a{
	font: bold 18px arial;
	margin: 0;
}

#ccnow .columna-der ul.sinresultados li.sr-line4 p{
    background: url("/img/now/images/lupaccnow.png") no-repeat scroll 613px 1px transparent;
    color: #FA8C35;
    font: bold 18px arial;
    height: 30px;
}



#ccnow .columna-der ul.sinresultados li{
	margin: 10px 0;
}

/**************************************************************************/
/**************************************************************************/
/* 	FIN CSS CLUB CUPON NOW ************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/

/**************************************************************************/
/* FORM - MI CUENTA */
/**************************************************************************/


#main .formulario-micuenta, .formulario-micuenta-datosu{
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    margin: 10px 0;
    padding: 20px;
}

#main .formulario-micuenta select{
    margin-top:10px;
}
#main .formulario-micuenta label{
    display: block;
    float: left;
    height: 30px;
    margin: 5px 10px;
    text-align: left;
    width: 174px;	
    padding-right: 5px;
}

#main .formulario-micuenta input{
    border: 1px solid #CCCCCC;
    float: left;
    padding: 5px;
}

.contenedor-formmicuenta{
	width: 340px;
}

#main .registro {
    padding: 20px;
}

#main .reg-emp .registro input{
    border: 1px solid #CCCCCC;
    float: left;
    padding: 5px;
    /*width:110px;*/
}

.reg-emp .registro label{
    display: block;
    float: left;
    height: 30px;
    margin: 5px 10px;
    text-align: right;
    width: 160px;	
    padding-right: 5px;
}

#main .formulario-micuenta label.acepto-celular{
    width: 300px;
}

#main .bloque-form-micuenta input{
    float: left;
}

#main .bloque-form-micuenta label{
    font: 12px arial;
    height: 20px;
}

#main .bloque-form-micuenta h3{
    margin: 15px 0;
}

#main .formulario-actualizacion{
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    margin: 10px 0;
}

#main .formulario-actualizacion h3{
    margin: 20px 0;
}

.info-actualizacion{
    padding: 20px;
}

.info-actualizacion label.si-quie{
    display: block;
    float: left;
    margin: 0 0 20px;
    width: 270px;
}

#main .datos-celu{
    background: none repeat scroll 0 0 white;
    padding: 10px;
    line-height: 25px;	
}

#main .datos-celu label{
    float: left;
    margin: 0 10px;
    width: 160px;
}

#main .datos-celu input{
    width: 40px;
    float: left;	
}

#main .formulario-micuenta label.datos-celu h2{

}

#main .datos-celu input.quince-inp{
    width: 80px;
}

#main .datos-celu label.quince-num{
    width: 30px;
}

#main .datos-celu label.proveedor{
    clear: both;
    display: block;
    float: left;
    width: 160px;
}
.datos-celu span{
    margin: 5px 0;
}

.formulario-datos-de-usuario select{
    border: 1px solid #CCCCCC;
    padding: 5px;
    display: block;	
    width: 140px;
}


.formulario-datos-de-usuario strong{
    font-weight:normal;
}

#main .formulario-micuenta label.estadocivil{
    float: left;
    width: 130px;
}

textarea{
	margin:15px 0;
}

/**************************************************************************/
/* FIN FORM - MI CUENTA */
/**************************************************************************/

/**************************************************************************/
/* GIFT */
/**************************************************************************/

div.datepicker-content {
  position:absolute;
  left:5px;
  top:25px;
  border:1px solid #ddd;
  z-index:99999;
  /*width:267px;*/
}

.picker-img {
  float:left;
  margin:3px 3px 0 0;
  cursor:pointer;
}

div.datepicker-content a.close {
  width:28px;
  height:28px;
  margin:0 5px 5px 0;
  right:-15px;
  position:absolute;
  bottom:-15px;
  background:url(/img/now/img/icon-close.png) 0 0 no-repeat;
  text-indent:-9999em;
}

form.normal .ui-datepicker select.ui-datepicker-month,
form.normal .ui-datepicker select.ui-datepicker-year,
form.normal div.thick-box .ui-datepicker select.ui-datepicker-month,
form.normal div.thick-box .ui-datepicker select.ui-datepicker-year {
  width:49% !important;
  margin:0 !important;
}

div.datepicker-container {
  /*width:500px;*/
  /*float:left;*/
  /*margin:15px 0 0;*/
  display: inline-block;
}

div.timepicker,div.datepicker-container,.date-time {
  position:relative;
}

div.timepicker {
  float:left;
  position:relative;
}

div.timepicker label {
  width:100px;
  margin:0 5px 0 0;
  overflow:hidden;
}

.date-time label {
  width:200px;
  left:0;
}

.displaydate {
  padding:1px 5px;
  border-color:#AAADB2 #DCDFE6 #E2E9EF #E2E2EC;
  border-style:solid;
  border-width:1px;
  float:left;
  margin:3px 2px 0;
  font-size:11px;
}

div.displaydate a {
  margin-left:3px;
}

.gift {
  width:508px;
  height:280px;
  float:left;
}

.gift h2 {
  width:96%;
  float:left;
  padding:15px 2%;
}

.gift label {
  width:130px;
  margin:0 5px 0 15px;
  text-align:right;
}

.gift input, .gift textarea {
  width:280px;
}

.gift textarea {
  height:80px;
}

#give-as-gift-form td div {
  font-size: 12px;
  /* background: url(/img/now/img/give-as-gift-edit-form.png) no-repeat; */
  background: #ffd8b7;
  padding:5px;
  line-height: 20px;
  text-align: center;
  color: #3d3e40;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  font-weight: normal;
}

#give-as-gift-form td div a {
  font-weight: bold;
  color: #fb631a;
}

#give-as-gift-form td div span.js-give-as-gift-to {
  font-weight: bold;
}

#give-as-gift-form {
  display: none;
}
/* SOLO FORM - Registro empresas.html*/

.reg-emp-app-sign{
	background: none repeat scroll 0% 0% #B6E026;
	padding: 0px 0px 25px 10px;
	border: 2px solid black;
	border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}

.reg-emp-app-error{
	background: none repeat scroll 0% 0% #FF3300;
	padding: 0px 0px 25px 10px;
	border: 2px solid black;
	color: white;
	border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}

.reg-emp select{
    border: 1px solid #CCCCCC;
    padding: 5px;
    display: block;	
    width: 195px;
}

.reg-emp select{
	width:212px;
	float: left;	
}

.contenedor-formmicuenta-reg{
    border-bottom: 1px solid #DDDDDD;
    margin: 0 auto;
    width: 630px;
}

.reg-emp{
    /*margin: 20px 0;*/
    /*padding: 20px;*/
}

.reg-emp  .registro input{
    border: 1px solid #CCCCCC;
    float: left;
    padding: 5px;
    width: 200px;	
}

.reg-emp .registro label {
    display: block;
    float: left;
    height: 30px;
    margin: 5px 10px;
    text-align: right;
    width: 298px;
}
/*
.reg-emp .registro .pie label{
    display: block;
    float: none;
    margin: 20px auto;
    text-align: center;
    width: 200px;
}
*/
.reg-emp .registro .submit{
	margin-top:40px;
}
.reg-emp  .registro input.btn-reg{
    margin: 0 0 0 5px;
    width: 95px;
}		

.reg-emp .registro input.btn-reg-enviado{
    clear: both;
    float: none !important;
    font: bold 22px arial;
    margin: 0 auto;
}	

h1.reg-h1{
    font: bold 30px arial;
    margin: 0 0 20px;
}

.reg-emp h2 {
    color: black;
    margin: 20px 0 0;
}

.reg-emp label.descripcion-reg{
    color: gray;
    display: inline;
    font-size: 11px;
    height: 15px;
    width: 520px;
}
/**************************************************************************/
/* FIN FORM - MI CUENTA */
/**************************************************************************/

/*******************************************************
			css registro
*********************************************************/

#reg-form p.recib-ofertas{
	margin: 0 0 50px 10px;
}

#reg-form form label{
    display: block;
    float: left;
    line-height: 40px;
    margin: 0 10px 0 0;
    text-align: right;
    width: 110px;
}

#reg-form .captcha{
    background: #CCCCCC; /*Borrar fondo despues de insertar captcha*/
    height: 33px;
    text-align: center;
    width: 370px;
	
}

#reg-form  form label{
    line-height: 17px;
    margin: 4px 10px 0 0;
}

#reg-form input.chk{
    display: block;
    float: left;
    text-align: left;
    width: 15px;
	border:none;
	padding:0;
}

#reg-form  div.terms label{
    line-height: 30px;
    margin: 0 0 0 10px;
    text-align: left;
    width: 350px;
}

#reg-form .botonIzq {
    text-align: left;
}

#reg-form .boxIngresa {
	margin: 0 0 0 120px;
}

#reg-form  ul li.last-textbox{
	margin-bottom: 20px;
}

#reg-form  .boxIngresa ul li {
    margin-top: 5px;
	clear: left;
}

#reg-form  .boxRegistro {
    background: none;
    border: none;
    margin: 10px 0;
    padding: 10px;
}

#reg-form  .buttonRegistro {
    padding: 10px 26px;
    float:right;
}

#reg-form  .contentRegistro h1 {
    font-size: 21px;
    font-weight: bold;
}

#reg-form .contentRegistro {
    border-bottom: none;
}

#reg-form .tip{
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #CCCCCC;
    color: #888888;
    display: block;
    font: 11px arial;
    height: 40px;
    padding: 5px;
    position: absolute;
    right: -12px;
    top: -43px;
    width: 260px;
	display: none;
}

#reg-form span.spr-bubble{
    background: url("/img/theme_clean/arrow-ccc.png") no-repeat scroll 0 2px transparent;
    display: block;
    height: 17px;
    position: absolute;
    right: 30px;
    top: 47px;
    width: 28px;
}

#reg-form img.tipimg{
    cursor: pointer;
    margin: 0 0 5px 5px;
    vertical-align: middle;
}

#reg-form ul{
	position:relative;
}


#reg-form  .error-message{
    color: #FF3300;
    float: left;
    padding: 0 0 0 120px;
    width: 360px;
}

.boxIngresa {
	float:left;
}

.boxIngresa ul li {
	margin-left:10px;
}

.boxIngresa ul li span a {
	color:#2ea9d2;
	font-size:11px;
}

.boxIngresa input {
	width:230px;
	height:16px;
	padding:5px 10px;
	border:1px solid #cccccc;
	margin:5px 0 5px 0;
}
.boxIngresa select{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    color: #666666;
    display: block;
    float: left;
    font: 14px arial;
    padding: 3px;
    width: 255px;
    margin: 7px 0 7px 5px;
    word-wrap: normal;
    height: 35px;
}
.boxIngresa legend, legend a{
	font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.buttonRegistro {
    background-color: #0098CA;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 5px 15px;
}
.list td{
	padding:2px;
}
.list .clsaddress {
	width:100px;
	word-wrap: break-word;
}
.list .clsaddress span{
	width:100px;
	overflow:hidden;
	display: inline-block;
}
.list .clsemail {
	width:100px;
	word-wrap: break-word;
}
.list .clsemail span{
	width:100px;
	overflow:hidden;
	display: inline-block;
}
.list .actions{
	width:50px;
	word-wrap: break-word;
}
.list .actions span{
	width:50px;
	overflow:hidden;
	display: inline-block;
}

.bgcolor {
	color:#F60;
}

.aclaraciones {
	text-align:right;
	width:300px;
	display:block;
	font-size:11px;
	margin:auto;
	padding:10px 100px 10px 0;
}

.area {
	margin:0 0 10px 0;
	width:210px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* hack de posicion para chrome y safari */
.area { margin:115px 0 0 0; }
}


#NowDealDealCategoryId option{
    overflow: visible;
    width: 182px;

}

#main .formulario-micuenta-datosu  input#NowDealDiscountPercentage,
#main .formulario-micuenta-datosu  input#NowDealOriginalPriceInteger,
#main .formulario-micuenta-datosu input#NowDealDiscountedPriceInteger,
#main .formulario-micuenta-datosu  input#NowDealDiscountAmountInteger,
#main .formulario-micuenta-datosu  input#NowDealSavingsInteger
{
    width:40px;
}

#main .formulario-micuenta-datosu  input#NowDealOriginalPriceDecimal,
#main .formulario-micuenta-datosu  input#NowDealDiscountedPriceDecimal,
#main .formulario-micuenta-datosu  input#NowDealDiscountAmountDecimal,
#main .formulario-micuenta-datosu  input#NowDealSavingsDecimal

{
    width:25px;
}

.currencySeparator
{
    line-height: 30px;
    padding:5px;
    float:left;
}
.reg-emp .registro input[type=checkbox]
{
    width:auto;

}

.error-message {
    background: url("/img/now//img/now/img/icon-form-error.png") no-repeat scroll left center transparent;
    color: red;
    float: right;
    padding: 5px 0 5px 20px;
}

/*clase para sacarle el borde al div DE VIGENCIA*/

.br-none {
	border:none;
}

.sprite {
	width:60px;
	height:30px;
    line-height:30px;
	/*margin:0 -20px 0 0;*/
	background-image:url(/img/now//img/now/img/theme_clean/sprite.png);
	background-position:0 -1471px ;
	float:left;
}

/*	este id es para sacarle ancho al los dos primeros inputs de vigencia	*/

#anchoVigencia {
	width:160px;
}

 /************************/
/* mas ccnow*/
/***********************/

.mb10px{
margin:0 0 30px 0;
}

.h150{
height: 156px;
}
/**/

#ccnow .error-message {
    background: none repeat scroll 0 0 transparent;
	color: red;
    float: left;
    padding: 5px 0;
}


#ccnow .contenedor-cambiopass{
    background: none repeat scroll 0 0 white;
    float: left;
    margin: 10px 0 0;
    padding: 0 0 10px;
	min-height: 600px;
}

#ccnow .logonewccnow{
	position:relative;
}

#ccnow .logonewccnow img.logoya{
    float: left;
    padding: 24px 34px;
}

#ccnow .logonewccnow h2.potencialesc{
    color: #DDDDDD;
    display: block;
    float: left;
    font: 22px arial;
    letter-spacing: 0.2px;
    padding: 50px 100px 30px 0;
    width: 601px;
}

#ccnow  ul.pasos{
    border-top: 1px solid #DDDDDD;
	float: left;
    height: 33px;
    margin: 0 42px;
    padding: 0 10px;
    position: relative;
    width: 840px;
}

#ccnow  ul.pasos li.select{
	background: none repeat scroll 0 0 #168BB3;
    border-radius: 70px 70px 70px 70px;
    color: white;
    display: block;
    float: left;
    font: bold 16px arial;
    padding: 5px 6px;
    position: absolute;
    text-align: center;
    width: 17px;
}

#ccnow  ul.pasos li{
	background: none repeat scroll 0 0 #ddd;
    border-radius: 70px 70px 70px 70px;
    color: #777;
    display: block;
    float: left;
    font: bold 16px arial;
    padding: 5px 6px;
    position: absolute;
    text-align: center;
    width: 17px;
}

#ccnow  ul.pasos li.li1{
    left: -5px;
    top: -13px;
}

#ccnow  ul.pasos li.li2{
    left: 420px;
    top: -13px;
}

#ccnow  ul.pasos li.li3{
    right: -17px;
    top: -13px;
}

#ccnow .logonewccnow h3{
    color: black;
    display: block;
    float: none;
    font: 19px arial;
    margin: 0 0 0 41px;
}

#ccnow .logonewccnow p.nuevaplataforma{
    color: #5c5c5c;
    display: block;
    float: none;
    font: 16px arial;
    letter-spacing: 0.2px;
    margin: 0 0 0 41px;
}

#ccnow .modulo-colizq{
	margin: 0;
}

#ccnow .modulo-colizq .texto{
    border-bottom: 1px solid #DDDDDD;
    float: left;
    margin: 32px 16px 0;
    padding: 0 0 5px;
    width: 240px;
}

#ccnow .modulo-colizq .texto p{
    color: #B0B0B0;
    font: 13px/18px arial;
    margin: 0 0 10px;
    width: 228px;
}

#ccnow .modulo-colizq .texto h4{
    font: 17px arial;
    margin: 0 0 10px;
}

#ccnow .modulo-colizq img{
    float: left;
    padding: 24px 0 0 20px;
}

/*Col Derecha*/

#ccnow .modulo-colder{
    background: none repeat scroll 0 0 #F0F0F0;
    margin: 24px 18px 18px 28px;
    padding: 20px 20px 35px;
    width: 320px;
}

#ccnow .modulo-colder label{
    margin: 16px 0 0 0;
	color: #777777;
    display: block;
    float: none;
    font: bold 12px arial;
}

#ccnow .modulo-colder input{
    border: 1px solid #DDDDDD;
    clear: both;
    display: block;
	*display:static;
    padding: 8px;
    width: 240px;
}

#ccnow .modulo-colder input.check{
    display: block;
    float: left;
    margin: 0 10px 0 0;
    width: auto;
	padding: 0;
}

#ccnow .modulo-colder input.mbinput{
	margin:0 0 30px 0;
}

#ccnow .modulo-colder input.btn-submit{
    display: block;
    float: left;
	*float:none;
    margin: 27px 0 0;
    width: 100px;
}

#ccnow .modulo-colder .captcha{
    background: none repeat scroll 0 0 #DDDDDD;
    height: 50px;
    margin: 30px 0;
    width: 256px;
}

#ccnow .modulo-colder label.tyc{
    margin: 0;
	font: 11px arial;
    width: 300px;
}

#ccnow .modulo-colder label.tyc a{
font: 11px arial;
}

#ccnow .blq-conoce{

}

#ccnow .blq-conoce p.conocermas{
    font: 21px arial;
    margin: 9px auto 0;
    text-align: center;
    width: 210px;
}

#ccnow .blq-conoce p.conocermas span{
	color:#168bb3;
}

#ccnow .blq-conoce input{
    border: 1px solid #E3671A;
    float: none;
    margin: 13px auto 0;
    width: 160px;
}

/*paso 2*/

#ccnow .paso2{
    color: black;
    margin: 0 auto;
    width: 440px;
}

#ccnow .paso2 p{
    font: 16px arial;
    letter-spacing: 0.5px;
    margin: 21px 0;
    width: 390px;
}

#ccnow .paso2 h3{
    font: 21px arial;
    letter-spacing: 0.2px;
    margin: 7px 0;
}

#ccnow ul.mailsocial{
    border-bottom: 1px solid #dddddd;
    margin: 50px auto 0;
    padding: 0 0 30px;
    width: 443px;
}

#ccnow ul.mailsocial li a{
    font: 11px arial;
    text-align: center;
}

#ccnow ul.mailsocial li{
    float: left;
    margin: 0 16px 0 0;
    width: 37px;
}

#ccnow ul.mailsocial li a.gm{
    display: block;
    padding: 32px 3px 0;
	background: url(/img/theme_clean/socialccnow.png) no-repeat;	
}

#ccnow ul.mailsocial li a.ht{
    display: block;
    padding: 32px 3px 0;
	background: url("/img/theme_clean/socialccnow.png") no-repeat scroll -52px 0px transparent
}

#ccnow ul.mailsocial li a.yh{
    display: block;
    padding: 32px 3px 0;
    width: 40px;
	background: url("/img/theme_clean/socialccnow.png") no-repeat scroll -111px 0px transparent
}

/*Paso 3*/

#ccnow .contenido-form{
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #DDDDDD;
    margin: 0 5px 20px;
    padding: 42px 45px 10px;
    /*width: 800px;*/
}

#ccnow .contenido-form h2{
    border-bottom: 1px solid #DDDDDD;
    font: 16px arial;
    margin: 0 0 27px;
    padding: 0 0 6px;
	color: black;
}

#ccnow .contenido-form .grupo-campos{
    margin: 0 auto;
    position: relative;
    width: 572px;
}

#ccnow .contenido-form .grupo-campos label{
    display: block;
    float: left;
    /*height: 45px*/;
    margin: 5px 5px 0;
    text-align: right;
    width: 160px;
}

#ccnow .contenido-form .grupo-campos input, #ccnow .contenido-form .grupo-campos select{
    border: 1px solid #DDDDDD;
    padding: 5px;
    width: 243px;
}
#ccnow .contenido-form .grupo-campos.cod-postal input{
	width: 100px;
	margin-right: 149px;
}
#ccnow .contenido-form .grupo-campos input[type="file"]{
	border: 1px solid #DDDDDD;
    padding: 5px;
    width: 243px;
}
#ccnow .contenido-form .grupo-campos select{
	width: 255px;
}

#ccnow .contenido-form .grupo-campos span{
    color: #f57e22;
/*     display: inline-block; */
/*     float: right; */
    margin: 0 0 0 3px;
    font: bold 17px arial;
    vertical-align: middle;
}

#ccnow .contenido-form span.camp-obl{
    border-bottom: 1px solid #ddd;
    color: #F57E22;
    display: block;
    font: 11px arial;
    margin: 10px 0 0 3px;
    padding: 0 0 17px;
    text-align: center;
    width: 770px;
}

#ccnow .contenido-form input.camp-obl-submit{
    display: block;
    margin: 23px auto 10px;
    padding: 7px 15px;
}

#ccnow .contenido-form .grupo-campos div.sshoww{
    color: red;
    float: left;
    font: 12px arial;
    margin: 5px 0 20px 0;
	width: 255px;
}

#ccnow .contenido-form .grupo-campos p.tooltip{
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 1px #A8CFE0;
    color: #5C5C5C;
    font: 13px arial;
    margin: 0;
    padding: 8px 27px 8px 17px;
    position: absolute;
    right: -85px;
    top: -20px;
    width: 174px;
}

  .tooltip {
    display:none;
    background:transparent url(/media/img/tooltip/black_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
  }

#ccnow .contenido-form .grupo-campos span.tooldeco{
    background: url("/img/theme_clean/toolt.png") no-repeat scroll 0 2px transparent;
    height: 20px;
    position: absolute;
    right: 208px;
    top: 21px;
    width: 20px;
}

#ccnow .contenido-form .grupo-campos input.boton{
	width: 100px;
	font: bold 14px arial;
}

#ccnow .contenido-form .grupo-campos input.inp-dat{
    display: block;
    float: left;
    margin: 0 7px 0 0;
    width: 208px;
}
#ccnow .contenido-form .cod-postal input.inp-dat{
	width: 80px;
}
#ccnow .contenido-form .grupo-campos span.info{
    color: #777777;
    display: block;
    font: 12px arial;
	margin: 6px 0 15px;
    width: 221px;
	float: left;
}

#ccnow .contenido-form .last{
	margin-bottom: 20px;
}

#ccnow .contenido-form .grupo-campos a span.jscha{
    color: #0098CA;
    float: left;
    font: 12px arial;
}

#ccnow .contenido-form .grupo-campos p.mod-dat img.img-banc{
 margin:0 10px 10px 10px;
}

/*hidden test*/
.grupo-campos p{
	display:none;
}

.grupo-campos p.sshoww{
	display:block;
}

/*paso 4*/

#ccnow .contenido-form .grupo-campos p.mod-dat{
    color: black;
    display: block;
    font: bold 12px arial;
    margin: 0 10px;
}

.ccya-error-user-form {
	color: red;
    font: 12px arial;
    margin: 3px;
}

.editable{
	float: left;
	padding: 5px;
	font: bold 12px arial;
}
.editme{
	float:left;
	padding: 5px;
}

/* TABS 1*/

#ccnow .form-fmt{
margin: 0 0 30px;
}

#ccnow .fleft{
	float:left;
}

#ccnow .w1{
	width: 248px;
}

#ccnow .w2{
    margin: 0 20px 0 0;
    width: 142px;
}

#ccnow .w3{
    margin: 0 20px 0 0;
    width: 150px;
}

#ccnow .w4{
    margin: 0 20px 0 5px;
    width: 69px;
}

#ccnow .w5{
    margin: 0 5px;
    width: 49px;
}

#ccnow .w5 input{
	width: 35px !important;
}

#ccnow .w6{
    margin: 0 0 0 5px;
    width: 100px;
}

#ccnow .w6 input{
    width: 80px !important;
}

#ccnow .w7{
    margin: 0 0 0 5px;
    width: 100%;
}

#ccnow .w8{
    float:left;
    min-height: 68px;
    width: 270px;
}

.search-cup{
	padding: 0 20px;
}

#ccnow .search-cup .form-fmt{
	margin:10px 0 0 0;
}

#ccnow p.info{
    color: #777777;
    float: left;
    font: 12px arial;
    margin: 3px 3px 10px;
    width: 295px;
}

#ccnow .mt10{
	margin-top:10px;
}

#ccnow .mt20{
	margin-top:20px;
}

#ccnow .mt30{
	margin-top:30px;
}

#ccnow .mt40{
	margin-top:40px;
}

#ccnow .mt50{
	margin-top:50px;
}

/* FIN genericas*/

#ccnow .error{
    color: red;
    display: block;
    float: left;
    font: 12px arial;
    margin: 3px;
}

#ccnow .adds-suc .contenido-form {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #DDDDDD;
    /*margin: 0 30px;*/
    padding: 0 10px;
    /*width: 860px;*/
	min-height: 400px;
}

#ccnow .adds-suc .encabezado{
padding: 30px 10px 0;
}

#ccnow .adds-suc.paso3addofertas .encabezado{
padding: 0 10px 0;
}

#ccnow .adds-suc .encabezado h3{
font: 22px arial;
}

#ccnow .adds-suc .encabezado p{
 font: 18px arial;
}

#ccnow .adds-suc .encabezado span{
	color: #148BB3;
}

#ccnow .adds-suc .encabezado p.subt{
    border-bottom: 1px solid #DDDDDD;
    font: 17px arial;
    margin: 36px 0 25px;
    padding: 0 0 4px;
}

#ccnow .adds-suc .colizq{
    float: left;
    margin: 10px;
    width: 490px;
}

#ccnow .adds-suc .colizq p.titulo{
    background: none repeat scroll 0 0 #D1ECF5;
    border: 1px solid #DCDCDC;
    clear: both;
    float: left;
    margin: 0 0 15px;
    padding: 7px;
    width: 470px;
}

#ccnow .paso3addofertas.adds-suc .colizq p.titulo{
    width: 610px;
}

#ccnow .adds-suc .colder{
    float: left;
    margin: 10px 0;
    width: 350px;

}

/* grupo inputs form*/

#ccnow .adds-suc .grupoinp label{
    clear: both;
    display: inline;
    float: left;
    margin: 5px 5px 0;
    text-align: left;
    width: auto;
    *width: 260px;
	min-height: 20px;
}

#ccnow .adds-suc .grupoinp input, #ccnow .adds-suc .grupoinp select{
    border: 1px solid #DDDDDD;
    clear: both;
    float: left;
    padding: 5px;
    text-align: left;
    width: 100%;
}

#ccnow .adds-suc .grupoinp span{
    color: #F57E22;
    display: block;
    float: right;
    font: bold 17px arial;
    margin: 0 0 0 3px;

}

#ccnow .contenido-form span.camp-obltabs {
    border-top: 1px solid #DDDDDD;
    color: #F57E22;
    display: block;
    font: 11px arial;
    margin: 20px 0 0 3px;
    padding: 10px 0 17px;
    text-align: center;
}

/* Columna Derecha*/

#ccnow .adds-suc .colder .mapa{
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 18px
}

#ccnow .adds-suc .colder .mapa h2{
    border: medium none;
    font: bold 15px arial;
    margin: 0 0 10px;
    padding: 0;
}

#ccnow .adds-suc .colder .mapa p{
    color: #666666;
    font: 12px arial;
}

#ccnow .adds-suc .colder .mapa img{
margin: 10px 0 0;
}

/* FIN grupo inputs form*/

/* Tabs 2 - agregar sucursal listado*/
#ccnow .adds-suc .encabezado .msg{
    background: none repeat scroll 0 0 #FCFBC5;
    border: 1px solid #F3842A;
    border-radius: 5px 5px 5px 5px;
    margin: 30px 0 0;
    padding: 10px;
	position: relative;
}

#ccnow .adds-suc ul.submenu{
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    display: block;
    float: none;
    height: 16px;
    margin: 0 auto;
    padding: 10px 0;
}

#ccnow .adds-suc .contenedor-sub{
    border-bottom: 1px solid #DDDDDD;
}

#ccnow .adds-suc .contenedor-sub ul.submenu{
    background: none repeat scroll 0 0 white;
    border: medium none;
    clear: both;
    display: block;
    float: none;
    height: 16px;
    margin: 0 auto;
    padding: 10px 0;
	width: 424px;;
}

#ccnow .adds-suc .contenedor-sub ul.submenu li a{
    color: #0098CA;
    display: block;
    float: left;
    font: bold 13px arial;
    padding: 0 3px;
}

#ccnow .adds-suc .contenedor-sub ul.submenu li.active a{
    color: #000;
    display: block;
    float: left;
    font: bold 13px arial;
    padding: 0 3px;
}

#ccnow .adds-suc .contenedor-sub ul.submenu li a:hover{
    background: none repeat scroll 0 0 white;
	text-decoration:underline;
}

#ccnow .adds-suc ul.submenu li{
    color: black;
    float: left;
    font: 11px arial;
    padding: 0 10px ;
}

#ccnow .adds-suc ul.submenu li.active {
	color: #000;
    display: block;
    float: left;
    font: bold 13px arial;
    padding: 0 12px;
}

#ccnow .adds-suc ul.submenu li:last-child .with-border-left {
    border-left: 2px solid #8a8a8a;
}

#ccnow .adds-suc .encabezado .msg p{
    color: #F3842A;
    font: bold 15px arial;
    text-align: center;
}

#ccnow .adds-suc .encabezado .msg a{
    color: #FAB260;
    font: bold 12px cursive;
    position: absolute;
    right: 5px;
    top: 1px;
}


#ccnow .contenido-form .listasuc .linea-item.titlelist{
    background: none repeat scroll 0 0 transparent;
    color: #777777;
    font: 12px arial;
}

#ccnow .contenido-form .listasuc .linea-item.titlelist label.lab1{
    font: 12px arial;
    padding: 0 0 0 20px;
    width: 159px;
}

#ccnow .contenido-form .listasuc .linea-item.titlelist:hover{
    background: none repeat scroll 0 0 transparent;
    color: #777777;
    font: 12px arial;
}

#ccnow .contenido-form .listasuc .selall{ 
    border-bottom: 1px solid #DDDDDD;
    display: block;
    font-weight: bold;
    margin: 0 10px;
	padding: 5px 0;
	color:#0098CA;
}

#ccnow .contenido-form .listasuc .selall select{ 
    border: 1px solid #CCCCCC;
    float: right;
    padding: 3px;
}

#ccnow .contenido-form .listasuc.listofertas .selall p{ 
    color: #777777;
    float: right;
    font: 12px arial;
}

#ccnow .contenido-form .listasuc .selall a, #ccnow .contenido-form .listasuc .selall p{  
    display: block;
    float: left;
    font-weight: bold;
    padding: 5px;
}


#ccnow .contenido-form .listasuc{
    border: 1px solid #DDDDDD;
    margin: 27px 0;
    padding: 5px;
}

/*formato labels y linea con items*/
#ccnow .contenido-form .listasuc .linea-item{
    background: none repeat scroll 0 0 #f5f5f5;
    margin: 0 7px;
    padding: 9px;
}

#ccnow .contenido-form .listasuc .linea-item{
    background: none repeat scroll 0 0 #f5f5f5;
    margin: 0 7px;
    padding: 9px;
}

#ccnow .contenido-form .listasuc .linea-item:hover{
    background: none repeat scroll 0 0 #D1E4EB !important;
    margin: 0 7px;
    padding: 9px;
}

#ccnow .contenido-form .listasuc .linea-item.select{
    background: none repeat scroll 0 0 #d1e4eb;
    margin: 0 7px;
    padding: 9px;
}

#ccnow .contenido-form .listasuc .linea-item label{
    float: left;
}

#ccnow .contenido-form .listasuc .linea-item input.inp1{
    float: left;
    margin: 0 5px 0 0;
}

#ccnow .contenido-form .listasuc .linea-item label.lab1{
    font-weight: bold;
    width: 160px;
	padding: 0 0 0 20px;
}

#ccnow .contenido-form .listasuc .linea-item label.lab2{
	width: 236px;
}

#ccnow .contenido-form .listasuc .linea-item label.lab3{
    width: 168px;
}

#ccnow .contenido-form .listasuc .linea-item label.lab4{
    width: 106px;
}

#ccnow .contenido-form .listasuc .linea-item a.link1, #ccnow .contenido-form .listasuc .linea-item a.link2{
    display: block;
    float: left;
    text-align: center;
    width: 62px;
}

#ccnow .contenido-form .listasuc .linea-item a.link1:hover {
    text-decoration: underline;
}

#ccnow .contenido-form .listasuc .linea-item a.link2:hover{
    text-decoration: underline;
}



#ccnow .contenido-form .listasuc .linea-item a.link3{
    display: block;
    float: left;
    text-align: center;
    width: 62px;
	color:red;
}

#ccnow .contenido-form .listasuc .linea-item a.link3:hover {
    text-decoration: underline;
}

#ccnow .contenido-form  input.addsbottom{
    margin: 0 auto 50px;
}

.bg-linea{
background:#e8e6e7 !important;
}

/*tabs*/
#ccnow  .nav_bar2 {
    color: #FFFFFF;
    margin-top: 5px;
    clear: both	
}

#ccnow  .modcuenta a{
    float: right;
    font: bold 13px arial;
}

#ccnow #tabs li.modcuenta:hover {
    background: none;
}

ul.tabs-suc{
background:white;
}

ul.tabs-suc li{
    display: block;
    float: left;
    margin: 0 5px;
}

ul.tabs-suc li a{
    background: none repeat scroll 0 0 transparent;
    font: bold 14px arial;
    padding: 10px;
}

ul.tabs-suc li a:hover{
    background: none repeat scroll 0 0 transparent;
    font: bold 14px arial;
    padding: 10px;
}

	#ccnow #tabs {
		list-style: none;
		margin: 0 0 0 35px;
		display:block;
		padding: 10px;
	}
	
	#ccnow #tabs li {
		display: inline;
    position: relative;
		margin: 0;
		padding: 10px;
		-moz-border-radius: 20px 20px 0 0;
	}
	
	#ccnow #tabs li:hover {
		background: #E7E7E7;
		border-radius: 5px 5px 0 0;
	}
	#ccnow #tabs li:hover a {
		color: #5B5252;
	}
	#ccnow #tabs li a {
		padding: 0 1.5em;
	}
	
	#ccnow #tabs #selected {
		background: white;
		border: 1px solid;
		border-bottom-width: 0;
		color:#000;
		border-color:#ccc;
		font-weight:bold;
		padding:10px 1.5em;
		border-radius: 5px 5px 0 0;
	}
	
	#ccnow #tabs #disabl {
		background: transparent;
		border: none;
		border-bottom-width: 0;
		color:#ddd;
		border-color:none;
		font-weight:bold;
		padding:10px 1.5em;
		border-radius:0;
	}	
	
	#content {
		/*border: 1px solid;*/
	}


#ccnow .contenido-form .listasuc..linea-item.oferlist label.lab4 {
    width: 50px;
}

/*adds-ofertas*/
#ccnow .paso3addofertas .colizq {
    float: none;
    margin: 0 auto;
    width: 610px;
}

#ccnow .paso3addofertas .colizq .grouplabel{
    display: block;
    float: left;
    padding: 7px 10px;
    width: 183px;
}

#ccnow .paso3addofertas .colizq .btn-opciones{
    float: left;
    margin: 30px 0 0;
    width: 590px;
}

#ccnow .paso3addofertas .colizq .btn-opciones .guardarborrador{
    margin: 0 0 0 30px;
}

#ccnow .paso3addofertas .colizq .btn-opciones a{
    float: left;
    font: bold 14px/29px arial;
    margin: 0 10px;
}

#ccnow .paso3addofertas .colizq .btn-opciones input{
    float: left;
    margin: 0;
}

.flr{
	float:right;
}

.fll{
	float:left;
}

#ccnow .paso3addofertas .colizq .grupoinp.precio{
    float: left;
    width: 100px
}

#ccnow .paso3addofertas .colizq .grupoinp.cupones{
    float: left;
    margin-bottom: 10px;
    width: 260px;
}

#ccnow .paso3addofertas .colizq .grupoinp.cupones input{
    margin: 0 200px 0 0;
    width: 50px;
}

#ccnow .paso3addofertas .colizq .grupoinp.cupones label{

}

#ccnow .paso3addofertas .colizq .grupoinp.cupones label{

}

#ccnow .paso3addofertas .colizq .contedor-hora{
    border: 1px solid #DDD;
    float: right;
    height: 87px;
    margin-top: 5px;
    padding: 10px;
}

#ccnow .paso3addofertas .colizq p.info2 {
    color: #8E8E8E;
    float: right;
    font: 11px arial;
    margin: 0 0 20px 5px;
    width: 300px;

}

#ccnow .paso3addofertas .colizq .grupoinp.horainicio{
    float: left;
    width: 129px;
}

#ccnow .paso3addofertas .colizq .grupoinp.horainicio select, #ccnow .paso3addofertas .colizq .grupoinp.horafin select{
    width: 120px;
}

#ccnow .paso3addofertas .colizq .grupoinp.horafin{
    float: left;
    width: 150px;
}

#ccnow .paso3addofertas .colizq .validez{
    float: left;
    width: 300px;
}

#ccnow .paso3addofertas .colizq .validez a.calend{
    background: url("/img/now/img/theme_clean/cal.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 28px;
    margin: 0 10px;
    width: 22px;
}

#ccnow .paso3addofertas .colizq .validez p{
    float: left;
    font: 12px arial;
    margin: 5px;
	color:#8e8e8e;
}

#ccnow .paso3addofertas .colizq .titulo.repetir{
    margin: 0;
}



#ccnow .paso3addofertas .colizq .contenedor-precio{
    background: none repeat scroll 0 0 #F7F7F7;
    margin: 0 0 20px;
    padding: 10px;
    width: 606px;
}

#ccnow .paso3addofertas .titulo.titulo-precio{
margin:0 !important;
}

#ccnow .paso3addofertas .colizq .grupoinp.precio.item1{
    width: 105px
}

#ccnow .paso3addofertas .colizq .grupoinp.precio.item2{
    width: 125px;
}

#ccnow .paso3addofertas .colizq .grupoinp.precio.item3{
   width: 90px;
}

#ccnow .paso3addofertas .colizq .grupoinp.precio.item4{
    width: 100px;
}

#ccnow .paso3addofertas .colizq .grupoinp.precio.item5{
    width: 92px;
}

#ccnow .paso3addofertas .colizq .grupoinp.precio.item6{
    width: 100px
}



#ccnow .paso3addofertas .colizq .grupoinp.precio input{
width: 70px;
}

#ccnow .paso3addofertas textarea{
    height: 115px;
    max-height: 115px;
    max-width: 330px;
    min-height: 115px;
    min-width: 330px;
    width: 330px;
}

#ccnow .adds-suc.paso3addofertas .grupoinp select{
    width: 232px;
}

#ccnow .adds-suc.paso3addofertas .grupoinp input{
    width: 200px;
}

/*mod cuenta*/
#ccnow .mod-cuenta{
    margin: 0 auto;
    width: 230px;
}

#ccnow .mod-cuenta label{
    color: #555555;
    display: block;
    font: 12px arial;
    margin: 10px 0;
}

#ccnow .mod-cuenta input{
    border: 1px solid #cccccc;
    padding: 7px 5px;
    width: 210px;
}

#ccnow .mod-cuenta input.submitbtn{
    margin: 20px 0 10px;
    padding: 4px 5px;
    text-align: center;
    width: 160px;
}

#ccnow h2.h2mod{
    border: medium none;
    font: bold 16px arial;
    margin: 0;
    padding: 0;
}

#ccnow .adds-suc.mod .encabezado p.subt{
    font: 13px arial;
    margin: 0;
    padding: 0 0 10px;
}

#ccnow .paso3addofertas .colizq .repetir-oferta{
    float: left;
    width: 240px;
}

#ccnow .paso3addofertas .colizq .repetir-oferta label{
    color: #777777;
    display: block;
    margin: 5px 0;
    width: 320px;
}

#ccnow .paso3addofertas .colizq .repetir-oferta select{
    border: 1px solid #DDDDDD;
    clear: both;
    float: left;
    margin: 10px 0;
    padding: 5px;
    text-align: left;
    width: 100%;
}

#ccnow .paso3addofertas .colizq .repetir-oferta p, #ccnow .paso3addofertas .colizq .validez p.info{
    font: 11px arial;
    margin: 0 0 20px 5px;

}

/*item-desplegable*/
#ccnow .jscontentmenu{
    background: none;
    display: block;
    height: 32px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 30px;
    width: 245px
}

#ccnow .item-desplegable{
    background: url("/img/theme_clean/ico-centro.png") no-repeat scroll 15px 0 #DDDDDD;
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: -194px;
    top: 2px;
    width: 240px;
     z-index: 999;
}

#ccnow .item-desplegable span{
    color: #777777;
    float: left;
    margin: 6px 2px;
}

#ccnow .item-desplegable a{
    color: #666666;
    display: block;
    font: bold 13px arial;
    padding: 5px 5px 5px 50px;
}

/* Ofertas Listado*/

#ccnow .contenido-form .listasuc.listofertas {
    border: 1px solid #DDDDDD;
    margin: 27px 0;
    padding: 5px 5px 40px;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab0{
	width: 50px;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab2{
	width: 70px; 
}

#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab3{
		width: 70px; 
}

#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab1{
   /* font-weight: bold;*/
    width: 130px;
	padding: 0 0 0 20px;
}

#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab5{
	width: 130px;
}

#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab6{
	width: 55px;
}

#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab7{
	width: 60px;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab8{
	width: 55px;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab9{
	width: 65px;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab10{
	width: 65px;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab11{
	width: 80px;
  padding-left: 10px;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item a.link2 {
    display: block;
    float: left;
    text-align: left;
    width: 100px;
}

#ccnow .contenido-form .listofertas .linea-item.titlelist {
    background: none repeat scroll 0 0 white;
    color: #777777;
    font: 12px arial;
}

#ccnow .contenido-form .listofertas .linea-item.titlelist:hover {
    background: none repeat scroll 0 0 white !important;
    color: #777777;
    font: 12px arial;
}
#ccnow .contenido-form .listasuc.listofertas .linea-item label.lab2 .categorycell {
    height: 100px;
    display: inline-block;
}
#ccnow .oflist .contenido-form .listasuc .linea-item label.lab4 {
    width: 95px;
}

#ccnow .oflist.adds-suc .encabezado {
    padding: 0px 10px 0;
}

#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label, #ccnow .contenido-form .listasuc.listacup .linea-item.data label{
    border-right: 1px solid #CCC;
    font: 12px arial;
    margin-left: 5px;
    padding: 0 5px 0 0;
    width: 85px;
	word-wrap: break-word;
	
}
#ccnow .contenido-form .listasuc.listacup .linea-item.data label{
	height: 65px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab1, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab1{
    width: 65px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab2, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab2{
    width: 70px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab3, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab3{
    width: 55px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab4, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab4{
    width: 65px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab5, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab5{
    width: 57px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab9, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab9{
    width: 60px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab6, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab6{
    width: 60px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab7, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab7{
    width: 70px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab8, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab8{
    width: 35px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab10, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab10{
    width: 52px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.titlelist label.lab11, #ccnow .contenido-form .listasuc.listacup .linea-item.data label.lab11{
	border: none;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.data a.link1{
	width: auto;
	margin:0 8px;
}
#ccnow .contenido-form .listasuc.listacup .linea-item.data a.btn-azul-d{
	font-size: 12px;
    margin: 5px;
    padding: 3px 11px;
    text-decoration: none;
    width: auto;
}

/* Tooltip*/
#ccnow #tabs li p.tooltip {outline:none; }
#ccnow #tabs li p.tooltip strong {line-height:23px;}
#ccnow #tabs li p.tooltip{
  display:inline; 
  position:absolute; 
  top: -105px;
  left: -30px;
  color:#111;
  border:1px solid #DCA; 
  background:#fffAF0;
  border-radius:4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 5px 5px 8px #CCC;
  -webkit-box-shadow: 5px 5px 8px #CCC;
  box-shadow: 5px 5px 8px #CCC;
  z-index:10;
  padding:14px 20px;
  width:240px; 
  line-height:16px;
}
p .callout {z-index:20;position:absolute;top:98px;border:0;left:65px;}


#ccnow #tabs #selected {
  background: white;
  border: 1px solid;
  border-bottom-width: 0;
  color:#000;
  border-color:#ccc;
  font-weight:bold;
  padding:10px 1.5em;
  border-radius: 5px 5px 0 0;
  position:relative;
  top: 1px;
}

#ccnow #tabs #disabl {
  background: transparent;
  border: none;
  border-bottom-width: 0;
  color:#ddd;
  border-color:none;
  font-weight:bold;
  padding:10px 1.5em;
  border-radius:0;
} 

#content {
  /*border: 1px solid;*/
}


#ccnow .contenido-form .listasuc..linea-item.oferlist label.lab4 {
  width: 50px;
}


/* landingp - contents*/
.now-content .inner-content {
	margin: 0 auto 0;
	width: 940px;	
	padding-top: 35px;
}

#ccnow.landingp {
	margin: 0 auto 40px;
	width: 940px;
}

#content.now-content,
#ccnow.landingp #main.container_16.main_frt {
	overflow: visible;
	width: 100%;
	padding-top: 0;
}

#ccnow.landingp a:hover{
	text-decoration:underline;
}

#ccnow.landingp .subhead{
/*     background: url("/img/now/landing-img/bg-subhead.jpg") repeat-x scroll 0 0 transparent; */
/*     float: left; */
    height: 360px;
    width: 100%;
	position: relative;
}

/* body.landingp{ */
/*     background: white; */
/*     color: #333333; */
/*     font-family: arial,sans-serif; */
/*     font-size: 12px; */
/* } */

#ccnow.landingp .contenedor-cambiopass {
    background: none repeat scroll 0 0 white;
    float: left;
    margin: 10px 0 0;
    min-height: 600px;
    padding: 0 0 10px;
}

#ccnow.landingp .anuncioya{
    background: url("/img/now/landing-img/bg-anuncio.png") repeat-x scroll -12px 5px white;
    border: 15px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    height: 360px;
    margin: 20px 0 0;
	position:relative;
}

#ccnow.landingp .anuncioya img{
    float: left;
    padding: 20px;
}

#ccnow.landingp .anuncioya h2{
    color: #199FC4;
    float: left;
    font: bold 14px/19px arial;
    margin: 60px 0 0;
    width: 330px;
}

#ccnow.landingp .anuncioya h3{
    color: #666666;
    float: left;
    font: bold 16px/19px arial;
    margin: 30px 50px 0;
    width: 410px;
	clear: both;
}

#ccnow.landingp .anuncioya p{
    clear: both;
    color: #666;
    float: left;
    font: 14px/19px arial;
    margin: 0 0 0 50px;
    width: 500px;
}

#ccnow.landingp .anuncioya p span{
    color: #199FC4;
	font-weight:bold;
}

#ccnow.landingp .anuncioya2 h3{
    color: #199FC4 !important;
    float: left;
    font: bold 14px/19px arial  !important;
    margin: 0;
    padding-bottom: 10px;
    width: 545px;
    text-align: center;
    /*border: 1px solid blue*/
}

#ccnow.landingp .anuncioya2 h4{
    color: #199FC4;
    float: left;
    font: bold 13px/19px arial;
    margin: 0;
/*    border: 1px solid*/
}
#ccnow.landingp .anuncioya2 a{
    color: #199FC4 !important;
    float: left;
    font: bold 13px/19px arial !important;
    margin: 0;
    text-decoration: none;
/*    border: 1px solid*/
}

/*main centro*/
#ccnow.landingp .maincentro {
	height: 400px;
    margin-bottom: 60px;
    margin-top: 100px;
}

#ccnow.landingp .maincentro p{
    color: #848484;
    font: 12px/16px arial;
}

#ccnow.landingp .maincentro h3{
    color: #666666;
    font: bold 17px arial;
    margin: 0 0 10px;
}

#ccnow.landingp .maincentro .bloque-general-a span, #ccnow.landingp .maincentro .bloque-general-b span{
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -7px transparent;
    display: block;
    height: 45px;
    left: -25px;
    position: absolute;
    top: 10px;
    width: 45px;
}

#ccnow.landingp .maincentro .bloque-general-a,#ccnow.landingp .maincentro .bloque-general-b, #ccnow.landingp  .bloque-general-c{
    height: 147px;
    border-radius: 20px 20px 20px 20px;
    float: left;	
    border: 5px solid #F2F2F2;	
    position: relative;
}

#ccnow.landingp .maincentro .bloque-general-a{
    padding: 10px 80px 10px 30px;
    width: 300px;
}

#ccnow.landingp .maincentro .bloque-general-b{
    margin: 50px 0 0;
    padding: 10px 30px;
    width: 215px;
}

#ccnow.landingp .maincentro .bloque-1{
    margin: 0 75px 0px 0;
}

#ccnow.landingp .maincentro .bloque-2 span{
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -96px transparent;
}

#ccnow.landingp .maincentro .bloque-3 p{
    width: 210px;
}

#ccnow.landingp .maincentro .bloque-3 span{
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -186px transparent;
}

#ccnow.landingp .maincentro .bloque-4{
    margin: 50px 40px 0;
}

#ccnow.landingp .maincentro .bloque-4 span{
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -276px transparent;
}

#ccnow.landingp .maincentro .bloque-5{

}

#ccnow.landingp .maincentro .bloque-5 span{
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -366px transparent;
}


#ccnow.landingp .maincentro .bloque-1 img{
    position: absolute;
    right: -57px;
    top: 0;
    z-index: 1;	
}

#ccnow.landingp .maincentro .bloque-2 img{
    position: absolute;
    right: -60px;
    top: 10px;
    z-index: 1;	
}

#ccnow.landingp .maincentro .bloque-3 img{
    position: absolute;
    right: -56px;
    top: 70px;
    z-index: 1;	
}

#ccnow.landingp .maincentro .bloque-4 img{
    bottom: -39px;
    position: absolute;
    right: -30px;
    z-index: 1;	
}

#ccnow.landingp .maincentro .bloque-5 img{
    position: absolute;
    right: -30px;
    top: 100px;
    z-index: 1;
}

#ccnow.landingp span.linea-a{
    background: url("/img/now/landing-img/line1.jpg") no-repeat scroll 0 0 transparent;
    bottom: -34px;
    display: block;
    height: 20px;
    left: -1px;
    position: absolute;
    width: 900px;
    z-index: 0;
}

#ccnow.landingp .maincentro .bloque-1 span.linea-b, #ccnow.landingp .maincentro .bloque-2 span.linea-b{
    background: url("/img/now/landing-img/line2.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    left: -30px;
    position: absolute;
    top: 172px;
    width: 490px;
    z-index: 0;
}

#ccnow.landingp .maincentro .bloque-3 span.linea-b, #ccnow.landingp .maincentro .bloque-4 span.linea-b, #ccnow.landingp .maincentro .bloque-5 span.linea-b{
    background: url("/img/now/landing-img/line3.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    left: -27px;
    position: absolute;
    top: 172px;
    width: 336px;
    z-index: 0;
}

#ccnow.landingp h4.suoferta{
    background: url("/img/now/landing-img/line4.jpg") no-repeat scroll 0 33px transparent;
    color: #4C4A4B;
    font: bold 18px arial;
    margin: 20px 0 20px;
    padding: 10px 0;
    
    clear: both;
}

#ccnow.landingp .bloque-general-c{
    float: right;
    height: auto;
    padding: 10px;
    width: 220px;
}

#ccnow.landingp .linear{
    background: url("/img/now/landing-img/line3.jpg") no-repeat scroll -50px 384px transparent;
    float: right;
    padding: 0 0 10px;
    width: 250px;
}

#ccnow.landingp .bloque-general-c ul{

}

#ccnow.landingp ul.bloque-general-c li{
    background: url("/img/now/landing-img/mnumb.png") no-repeat scroll -8px 0 transparent;
    color: black;
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 10px;
    padding: 10px 0 0 30px;
}

#ccnow.landingp ul.bloque-general-c li.refer{
    background: none repeat scroll 0 0 transparent;
    font: bold 16px arial;
    padding: 0;
}

#ccnow.landingp ul.bloque-general-c li.item1{}
#ccnow.landingp ul.bloque-general-c li.item2{background-position: -8px -80px;}
#ccnow.landingp ul.bloque-general-c li.item3{background-position: -8px -160px;}
#ccnow.landingp ul.bloque-general-c li.item4{background-position: -8px -240px;}
#ccnow.landingp ul.bloque-general-c li.item5{background-position: -8px -320px;}

#ccnow.landingp .btn-cont{
    margin: 80px auto 25px;
    width: 545px;
}
#ccnow.landingp .maincentro.list-preguntas.margin{
	margin-top: 20px;
}

#ccnow.landingp .btn-cont a {
    background: url("/img/theme_clean/btn-bg-blue.jpg") repeat scroll 0 0;
/*     border-radius: 5px 5px 5px 5px; */
    display: block;
    float: left;
    margin: 10px 5px;
    padding: 10px 15px;
    text-align: center;
	font-family: "Roboto" !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    color: #ffffff;
    opacity: 1;
}
#ccnow.landingp .btn-cont a:HOVER {
	opacity: 0.9;	
	text-decoration: none;
}

/* USUARIOS */
#ccnow.landingp ul.list-tips{

}

#ccnow.landingp ul.list-tips li{
    background: url("/img/now/landing-img/spr-ico.png") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CDCDCD;
    padding: 70px 0 30px 140px;
}

#ccnow.landingp ul.list-tips li.spr1{
    background: none;
    border-bottom: 1px solid #CDCDCD;
    padding: 0;
	    font: bold 30px arial;
	color:#666666;
}

#ccnow.landingp ul.list-tips li.spr2{background-position: -1px 1px;}
#ccnow.landingp ul.list-tips li.spr3{background-position: -1px -159px;}
#ccnow.landingp ul.list-tips li.spr4{background-position: -8px -299px;}
#ccnow.landingp ul.list-tips li.spr5{background-position: -8px -449px;}
#ccnow.landingp ul.list-tips li.spr6{background-position: -8px -595px;}

#ccnow.landingp ul.list-tips .btn-listtip{
    margin: 0 auto;
    width: 300px;
}

#ccnow.landingp ul.list-tips li.spr7{
    background: none repeat scroll 0 0 transparent;
    padding: 50px 0 20px;
}

#ccnow.landingp ul.list-tips li.spr7 p{
    color: black;
    float: left;
    margin: 10px;
}

#ccnow.landingp ul.list-tips li.spr7 a{
    color: white;
    float: left;
    font: bold 16px arial;
}

#ccnow.landingp ul.list-tips li.spr7 a:hover{
	text-decoration:none;
}

#ccnow.landingp ul.list-tips li a{
    font: bold 23px arial;
	color:#168AB1;
}

/*preguntas frecuentes*/
#ccnow.landingp .pregfrec .anuncioya {
    background: none repeat scroll 0 0 white;
    height: 110px;
}

#ccnow.landingp .pregfrec .anuncioya img {
    float: left;
    padding: 13px 25px;
}

#ccnow.landingp .subhead.pregfrec {
    height: 120px;
}

#ccnow.landingp .pregfrec .anuncioya h2 {
    color: #666666;
    float: right;
    font: bold 28px arial;
    margin: 50px 30px 0;
}

#ccnow.landingp .maincentro.list-preguntas h3 {
    color: black;
    font: bold 16px arial;
    margin: 0;
}

#ccnow.landingp .maincentro.list-preguntas ul{
    padding: 0 60px
}

#ccnow.landingp .maincentro.list-preguntas ul li{
    font: 16px/20px arial;
    margin: 0 0 20px;
}

#ccnow.landingp .maincentro.list-preguntas ul li.cust-li{
    background: none repeat scroll 0 0 transparent;
    border-top: 1px solid #CDCDCD;
    padding: 20px 0;
}

#ccnow.landingp .maincentro.list-preguntas ul li.cust-li div{
    margin: 0 auto;
    width: 115px;
}

#ccnow.landingp .maincentro.list-preguntas ul li.cust-li p{
    color: black;
    float: left;
    margin: 10px;
}

#ccnow.landingp .maincentro.list-preguntas ul li.cust-li a{
    color: white;
    float: left;
    font: bold 16px arial;
}

#ccnow.landingp .maincentro.list-preguntas ul li.cust-li a{
	text-decoration:none;
}

#ccnow.landingp .maincentro.list-preguntas h2.pfempresas{
    border-bottom: 1px solid #CDCDCD;
    color: black;
    margin: 0 0 20px;
    padding: 0 0 10px 60px;
}

#ccnow.landingp .maincentro.list-preguntas {
	overflow: hidden;
	height: auto;
    margin-bottom: 0px;
    margin-top: 80px;
}

#ccnow .dealspaginador{
    margin: 10px 0;
}

#ccnow .dealspaginador .pagborder{
    margin: 0 auto;
    width: 600px;
}

#ccnow .dealspaginador span{
    font: bold 13px arial;
	border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font: 12px arial;
    margin: 0 5px;
	padding: 7px 13px;
}

#ccnow .dealspaginador .prev,#ccnow .dealspaginador .next{
    background: none repeat scroll 0 0 #F2F2F2;
	font: bold 13px arial;
	border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font: 12px arial;
    margin: 0 5px;
	padding: 7px 13px;
}

#ccnow .dealspaginador .current{
	border: medium none;
    font: bold 14px arial;
    padding: 6px 10px;
}

#ccnow .dealspaginador p{
    clear: both;
    color: gray;
    display: block;
    float: left;
    margin: 10px auto 15px;
    text-align: center;
    width: 100%;
}

#ccnow .dealspaginador p span{
    font: bold 13px arial;
	border: none;
	float: none;
	font: bold 13px arial;
	margin: 0;
	padding: 0;
}
/*
#ccnow .dealspaginador ul{
    margin: 0 auto;
    width: 600px;
}

#ccnow .dealspaginador ul li{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font: 12px arial;
    margin: 0 5px;
}
#ccnow .dealspaginador ul li.active{
	border: medium none;
    font: bold 14px arial;
    padding: 6px 10px;
}
#ccnow .dealspaginador ul li a{
    padding: 7px 13px;
	display:block;	
}

#ccnow .dealspaginador ul li.pag-prev-next{
    background: none repeat scroll 0 0 #F2F2F2;
    margin: 0;
    padding: 7px 13px;
}

#ccnow .dealspaginador ul li.pag-prev-next a{
	padding:0;
}
*/

#ccnow .columna-der ul.sinresultados li.sr-line4 p a {
    font: bold 18px arial;
    height: 30px;
}

#ccnow .modcuenta a {
    float: right;
    font: bold 13px arial!important;
}


#colorbox .bloque-ccya-pop2 p.title{
    color: black;
    font: 23px arial;
    margin: 0 20px;
    }

#colorbox .bloque-ccya-pop2 img{
    margin: 0 20px 10px;
    }

#colorbox .bloque-ccya-pop2 p{
    font: 13px arial;
    margin: 5px 0 10px 20px;
    width: 450px;
    }

#colorbox .bloque-ccya-pop2{
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #BBBBBB;
    margin: 10px;
    padding: 10px;
    }

#colorbox .bloque-ccya-pop2 a{
    color: black;
    float: right;
    color: #666666;
    }

#colorbox .bloque-ccya-pop2 p.title span {
    color: #EF951A;
    }

#colorbox .bloque-ccya-pop2 .texto{
    border: 1px solid #C7C7C7;
    font: 12px arial;
    height: 340px;
    margin: 0 20px;
    max-height: 340px;
    max-width: 678px;
    min-height: 340px;
    min-width: 678px;
    padding: 5px;
    width: 500px;
	overflow: auto;
}

#colorbox .contenedor-popup-recib .conte-check{
    margin: 0 auto;
    width: 550px;
    }

#colorbox .contenedor-popup-recib label{
    font: 14px arial;
    margin: 0 5px;
    }

#colorbox .contenedor-popup-recib input.continuar{
    background: url("/img/theme_clean/bg-oferta.jpg") repeat scroll 0 33px transparent;
    border: medium none;
    display: block;
    font: bold 15px arial;
    margin: 10px auto;
    padding: 8px 20px;
    width: 140px;
    }
    
#cerrar_tyc{
    float:right;
    font-size:14px;
    font-weight:bold;
    color:#0098CA;
    cursor: pointer;
    padding-right:12px;
    }
#re-ccya-pop-up{margin-top:22px;}



/* CLASES PARA USUARIOS V2 */

#ccnow.landingp.usv2 .anuncioya h2 {
    clear: both;
    color: #199FC4;
    float: left;
    font: bold 18px/22px arial;
    margin: 0 50px 15px;
    width: 522px;
}

#ccnow.landingp.usv2 .anuncioya {
    background: url("/img/now/landing-img/bg-anuncio.png") repeat-x scroll -12px 5px #F2F2F2;
}

#ccnow.landingp.usv2 .anuncioya p {
    clear: both;
    color: #666666;
    float: left;
    font: 18px/23px arial;
    margin: 0 0 0 50px;
    width: 480px;
}


#ccnow.landingp .usuariosv2 h2.titulo{
    border-bottom: 1px solid #CCCCCC;
    color: #666666;
    font: bold 26px arial;
    margin: 0 0 40px;
    padding: 0 0 5px;
}

#ccnow.landingp .usuariosv2 .bloque-general-a, #ccnow.landingp .usuariosv2 .bloque-general-b {
    margin: 0;
    padding: 10px 20px;
    width: 235px;
}

#ccnow.landingp  .usuariosv2 .bloque-general-a, #ccnow.landingp  .usuariosv2 .bloque-general-b, #ccnow.landingp .usuariosv2 .bloque-general-c {
    border: 5px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    float: left;
    height: 80px;
    position: relative;
}

#ccnow.landingp .usuariosv2 .bloque-4 {
    margin: 0 40px 50px;
}


#ccnow.landingp .usuariosv2 .bloque-3 span.linea-b, #ccnow.landingp .usuariosv2 .bloque-4 span.linea-b, #ccnow.landingp .usuariosv2 .bloque-5 span.linea-b {
    background: url("/img/now/landing-img/line3.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    left: -27px;
    position: absolute;
    top: 105px;
    width: 336px;
    z-index: 0;
}

#ccnow.landingp .usuariosv2 .bloque-1 {
    margin: 0 60px 0 150px;
}

#ccnow.landingp .usuariosv2 .bloque-general-a span, #ccnow.landingp .maincentro .bloque-general-b span {
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -277px transparent;
    display: block;
    height: 45px;
    left: -25px;
    position: absolute;
    top: 10px;
    width: 45px;
}

#ccnow.landingp .usuariosv2 .bloque-3 span {
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -7px transparent;
}

#ccnow.landingp .usuariosv2 .bloque-4 span {
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -96px transparent;
}

#ccnow.landingp .usuariosv2 .bloque-5 span {
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -186px transparent;
}


#ccnow.landingp .usuariosv2 .bloque-2 span {
    background: url("/img/now/landing-img/numb.png") repeat-x scroll -8px -366px transparent;
}


#ccnow.landingp .usuariosv2 .bloque-1 span.linea-b, #ccnow.landingp .usuariosv2 .bloque-2 span.linea-b {
    background: url("/img/now/landing-img/line3.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    left: -30px;
    position: absolute;
    top: 102px;
    width: 490px;
    z-index: 0;
}

#ccnow.landingp .usuariosv2 p {
    color: black;
    font: 17px/20px arial;
    padding: 10px;
}

#ccnow.landingp .usuariosv2 .bloque-general-b.bloque-1 div.imag{
    background: url("/img/now/landing-img/spr-ico-mini.png") no-repeat scroll 0 -524px transparent;
    height: 114px;
    position: absolute;
    right: -10px;
    top: 0;
    width: 110px;
}

#ccnow.landingp .usuariosv2 .bloque-general-b.bloque-2 div.imag{
    background: url("/img/now/landing-img/spr-ico-mini.png") no-repeat scroll 0 -705px transparent;
    height: 114px;
    position: absolute;
    right: -30px;
    top: 0;
    width: 124px;

}

#ccnow.landingp .usuariosv2 .bloque-general-b.bloque-3 div.imag{
    background: url("/img/now/landing-img/spr-ico-mini.png") no-repeat scroll 0 -18px transparent;
    height: 114px;
    position: absolute;
    right: -20px;
    top: 0;
    width: 110px;
}

#ccnow.landingp .usuariosv2 .bloque-general-b.bloque-4 div.imag{
    background: url("/img/now/landing-img/spr-ico-mini.png") no-repeat scroll 0 -196px transparent;
    height: 114px;
    position: absolute;
    right: -20px;
    top: -10px;
    width: 130px;
}

#ccnow.landingp .usuariosv2 .bloque-general-b.bloque-5 div.imag{
    background: url("/img/now/landing-img/spr-ico-mini.png") no-repeat scroll -20px -348px transparent;
    height: 114px;
    position: absolute;
    right: -20px;
    top: 0;
    width: 110px;
}

#ccnow.landingp .consultasconten{
    border-top: 1px solid #CCCCCC;
    margin: 20px 0;
    padding: 20px 0 0;
}

#ccnow.landingp .btn-listtip-v2 {
    margin: 0 auto;
    width: 300px;
}

#ccnow.landingp .btn-listtip-v2 p{
    display: block;
    float: left;
    height: 29px;
    line-height: 28px;
    width: 160px;
}

#ccnow.landingp .btn-listtip-v2 a{
    display: block;
    float: left;
}

#ccnow.landingp .btn-listtip-v2 a:hover{
	text-decoration:none;
}

#ccnow h2.h2mod {
    border: medium none;
    font: bold 16px arial;
    margin: 0;
    padding: 0;
}
#ccnow .adds-suc.mod .encabezado p.subt-passw {
    font: 13px arial;
    margin: 0!important;
}
#ccnow .adds-suc .encabezado p.subt-passw {
    border-bottom: 1px solid #DDDDDD;
    font: 13px arial;
    margin: 0;
    padding: 0 0 10px;
}

#ccnow .adds-suc .encabezado {
    padding: 30px 10px 0!important;
}

#UserChangePasswordForm{margin-top:25px;}

/* Mensajes de error */
#msge-error .mensajes {
    float: left;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 10px auto;
    padding: 15px 10px 15px 50px;
    position: relative;
    width: 90%;
}

#msge-error .info3 {
       color: #00529B;
       background-color: #BDE5F8;
       background-image: url('info.png');
}
#msge-error .exito3 {
       color: #4F8A10;
       background-color: #DFF2BF;
       background-image:url('exito.png');
}
#msge-error .alerta3 {
       color: #9F6000;
       background-color: #FEEFB3;
       background-image: url('alerta.png');
}
#msge-error .error3 {
       color: #D8000C;
       background-color: #FFBABA;
       background-image: url('error.png');
}


/*bloque derecho*/
#ccnow .bloque-ccya{
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #BBBBBB;
    padding: 10px;
    margin: 10px;
    }

#ccnow .bloque-ccya img{
    }

#ccnow .bloque-ccya p.title{
    color: black;
    font: 23px arial;
    margin: 0 60px;
    }

#ccnow .bloque-ccya p{
    font: 14px arial;
    margin: 5px 0 10px 60px;
    width: 370px;
    }

#ccnow .bloque-ccya span{
    color: #EF951A;
    }

#ccnow .bloque-ccya input{
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    float: right;
    font: bold 16px arial;
    margin: 10px 0;
    padding: 5px 30px;
    cursor: pointer;
        }

#ccnow .bloque-ccya .conocemas a {
    float: left;
    font: bold 12px/30px arial;
    height: 34px;
    margin: 10px 10px 10px 63px;
}

#ccnow .bloque-ccya a{
    float: right;
    font: bold 14px/30px arial;
    height: 34px;
    margin: 10px;
}

#ccnow .eula_check input{
    float:right;
    }
#ccnow .eula_check label{
    float: right;
    margin: 10px 0;
    }

#ccnow a.eula_check {
    float: none;
    font: inherit;
    height: auto;
    margin: auto;
    }

#ccnow .bloque-ccya input.deals_btns {
    margin: 0 2px 20px 0;
    }

#ccnow .bloque-ccya h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #0E97C3;
    text-align: right;
    width: 50%;
    }
    
.index_for_company h1{
    font: bold 19px arial!important;
    margin: 10px 0 10px 0!important;
    }
    
    
    
/*Botonera unica para las vistas no ADMIN (empresas y usuarios comunes)*/

#liquidationsAlternativeMenu{
    position: relative;
    z-index: 500;
    width:100%;
    }
    
    #liquidationsAlternativeMenu .nav {
        border-bottom: medium none;
        font-size: 12px;
        margin-bottom: 0;
        margin-left: 50px;
        margin-top: 18px;
        list-style: none outside none;
        }

    #liquidationsAlternativeMenu .nav-tabs:before,
    #liquidationsAlternativeMenu .nav-pills:before, 
    #liquidationsAlternativeMenu .nav-tabs:after, 
    #liquidationsAlternativeMenu .nav-pills:after {
        content: "";
        display: table;
        line-height: 0;
        }
        
    #liquidationsAlternativeMenu .nav-tabs:after,
    #liquidationsAlternativeMenu .nav-pills:after {
        clear: both;
        }
        
    #liquidationsAlternativeMenu .nav-tabs > li, #liquidationsAlternativeMenu .nav-pills > li {
        float: left;
        margin-bottom:-1px;
        }
        
        #liquidationsAlternativeMenu .nav-tabs > li > a {
            border-radius: 4px 4px 0 0;
            line-height: 20px!important;
            padding-bottom: 8px!important;
            padding-top: 8px!important;
            }

            #liquidationsAlternativeMenu .nav-tabs > li > a:hover {
                border-color:#eee;
                border-bottom: 1px solid #eee;
                }

            #liquidationsAlternativeMenu .nav >li > a:hover {
                background-color: #eee;
                text-decoration: none;
                color:#000;
                }

            #liquidationsAlternativeMenu .nav-tabs > li > a, #liquidationsAlternativeMenu .nav-pills > li > a {
                line-height: 14px;
                margin-right: 2px;
                padding-left: 12px;
                padding-right: 12px;
                }
                
            #liquidationsAlternativeMenu .nav a {
                font-size: 12px!important;
            }
            
            #liquidationsAlternativeMenu .nav > li > a {
                display: block;
            }
            
            #liquidationsAlternativeMenu a {
                color: #0088CC;
                text-decoration: none;
                }

            #liquidationsAlternativeMenu .modcuenta{
                margin-right:15px;
                float:right!important;
                }
    #liquidationsAlternativeMenu .modcuenta a{
        display:block;
        margin-top:3px;
        }
    
    #liquidationsAlternativeMenu .nav .active a {
        color: #000000 !important;
        font-weight: bold;
        background:#fff;
        }

    #liquidationsAlternativeMenu .nav-tabs > .active > a, #liquidationsAlternativeMenu .nav-tabs > .active > a:hover {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #FFFFFF;
        border-color: #DDDDDD #DDDDDD transparent;
        border-image: none;
        border-style: solid;
        border-width: 1px;
        color: #555555;
        cursor: default;
        }

.pushBelow{
    margin-top:55px;
}

.curveBlock{
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #DDDDDD;
    min-height: 400px;
    padding: 0 10px;
}



/* LOADING...*/
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spin {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
    height: 28px;
    margin: -24px 0 0 108px;
    position: absolute;
    width: 28px;
    display: none;
}

/* Spin track (outer circle) */
.loading .track {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.3);
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid #5D85A0;
}

/* Spinning circle mask */
.loading .mask {  
  width: 12px;
  height: 12px;
  overflow: hidden;
}

/* Spinner */
.loading .spinner {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 26px;
  height: 26px;
  -webkit-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
/* END LOADING...*/

