@charset "utf-8";
* { margin-top: 0px; margin-left: 0px; }

.popup { background: url(img/fondo.png) no-repeat; height: 300px; width: 500px; margin: 0px; }
.popup.gracias { background: url(img/fondogracias.jpg) no-repeat; height: 154px; padding-top: 146px; }

#btn { background: url(img/enviar.png); width: 79px; height: 34px; border: none; float: right; margin-right: 50px; margin-top: 20px; }
#email { background: url(img/campo.png) no-repeat; width: 470px; height: 40px; border: none; margin-top: 160px; margin-left: 15px; font-family: Arial; font-size: 18pt; color: #c6c6cd; }

.popup.gracias p { color: #ffffff; font: normal 25px/30px Arial, Helvetica, sans-serif; text-align: center; }
.popup.gracias a { background: url(img/btngracias.png) no-repeat; color: #ffffff; display: block; font: normal 16px/16px Arial, Helvetica, sans-serif; height: 24px; margin-left: 367px; padding-top: 10px; text-align: center; text-decoration: none; width: 113px; }
