
<?php 
//var_dump($currentDeal);die;
?>
<div>
    <div>
        <div class="alert alert-info">
            <h2><?php echo __l('Asociar Puntos de Retiro'); ?> </h2>
            <div >  
			 <strong>Oferta:&nbsp;</strong>&nbsp;<?php echo  $currentDeal['Deal']['name']?><br>
			 <strong>Empresa:&nbsp;</strong>&nbsp;<?php echo  $currentDeal['Company']['name']?><br>
			 <strong>Ciudad:&nbsp;</strong>&nbsp;<?php echo  $currentDeal['City']['name']?><br>
			</div> 
        </div>
        <div style = "margin-left:10px;">
            <?php echo $form->create('ShippingAddressDeal',  array('action'=>'add'));?>
     
      		<?php //if(count($shipping_addresses)){ 
 				 
				 echo $form->hidden('deal_id',array('value' => $currentDeal['Deal']['id']	));
 
				 echo $form->input('shipping_address_id',
							array ('options' =>$shipping_addresses ,
                           		'type'=>'select',
                           		'multiple'=>'checkbox',
                           		'legend' => false,
                           		'div' => 'weekdays',
	                           //	'selected' =>$dias_selected,
    	                       'label' => 'Puntos de Retiro',  )
				);
				  
			 //}else{
			//	print_r($shipping_addresses);
			// }
			 ?>
        
            <?php  echo $form->end(array('label' => __l('Save'), 'class' => 'btn btn-primary btn-large', 'div' => false));?>
           
			</div>
     </div>
            
</div>
            


<script type='text/javascript'>
    

</script>