<div id="main" class="container_16 main_frt">
    <div class="grid_16">
        <div class="grid_16">
            <div class="bloque-home clearfix">
                <h2>&iquest;Tu ciudad no est&aacute; en la lista? &iexcl;No hay problema!</h2>
                
                <!-- Contenidos -->
                
                <?php echo $form->create('CitySuggestion', array('class' => 'normal'));?>
                        <fieldset>
                        <?php
                                echo $form->input('email', array('label' => 'Mail'));
                                echo $form->input('name',  array('label' => 'Nombre de la ciudad'));
                        ?>
                        </fieldset>
                <?php echo $form->end('Sugerir ciudad');?>
                
                <!-- / Contenidos -->

            </div>
        </div>
    </div>
</div>




<h2></h2>

