<div class="field  col1 clearfix">
  <label for="amount"><p>Cantidad</p></label>
  <input type="text" name="amount" id="amount" value="<%= get('amount') %>" >
</div>
<div class="field col2 clearfix">
  <label for="total_price"><p>Total: $</p></label>
  <input type="text" name="total_price" id="total_price"
         value="<%= get('total_price') %>" readonly="true" >
</div>
<div class="actions">
  <p class="conexSeg">La informaci&oacute;n se enviara por <span>conexi&oacute;n segura</span></p> 
  <input type="submit" value="Comprar" class="btnNaranja" />
</div>

