<div class="bloquePromo">
    <div class="cont-imgAlpha">
        <img id="deal-img" src="<%= deal.getImg() %>" alt="<%= deal.get('title') %>"/>
        <div id="deal-title" class="alphaBox">
            <h2 class="infoAlpha">
                <%= deal.get('title') %>
            </h2>
        </div>
    </div>
</div>