<div class="topcompra clearfix" >
    
    <p><strong>Abonar Diferencia</strong></p>
    
    <p class="titulo">
        El monto a abonar supera el estado de su cuenta ClubCup&oacute;n, debe pagar la diferencia mediante alguno de los medios de pago alternativos
    </p>

</div>

<div class="container pagopnt2 clearfix">
    <p>Monto a abonar:<span>$<%= dealExternal.get('total_price') %></span></p>
    <p>Monto a pagar con cuenta Club Cupon:<span>$<%= user.get('wallet') %></span></p>
    <p>Diferencia a pagar por medios de pago:<span>$<%= dealExternal.get('total_price') - user.get('wallet') %></span></p>
</div>

<div class="notes">
    <h2 class="formasdepago">Formas de pago para abonar la diferencia</h2>
</div>
