/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	background-color: #FFF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

    /* new clearfix */
    .clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    * html .clearfix { zoom: 1; } /* IE6 */
    *:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* ------------------------------  GENERICAS ---------------------------------------- */
.centerdiv{
	display: block;
	margin: 0 auto;
	width: 960px;
}


/* ------------------------------  HEADER ---------------------------------------- */
header{
	background: none repeat scroll 0 0 #ededed; 
	height: 113px;
}

	header .mainLogo {
	    display: inline-block;
	 	/*IE 7 hack... */   
	    *display: inline;
	    zoom: 1;
	    
	    text-align: left;
	    vertical-align: middle;
	    width: 398px;
	}

	header img.logo {
        float: right;
	}
	header img.logo.left {
		float: left;
	}
header .headcontainer{
    height: 72px;
    text-align: left;
    width: 960px;
    padding-top: 20px;
}

header .search{
	float: left;
}

	header .search form{

	}

	header .search form input{

	}

/* ------------------------------  NAV ------------------------------------------- */
#menu{
	background-color: #4b4b4b;
	/*width: 100%;*/
	height: 42px;
}

#menu ul{
	width: 940px;
	margin: 0 auto;
}

#menu ul li{
	display: inline-block;
	color: #FFF;
	font-size: 15px;
	padding: 12px;
	margin-top: 1px;
	border-left: 1px solid #666;
}
#menu ul li:FIRST-CHILD {
	padding-left: 0;
	border-left: 0;
}

#menu ul li a {
	color: #FFF;
	text-decoration: none;
}

/* ------------------------------  ASIDE ----------------------------------------- */

aside{

}

/* ------------------------------  SECTION ----------------------------------------- */

.maincontent,
#main.container_16.main_frt {
	background-color: #ffffff;
	width: 960px;
	min-height: 450px;
	margin: 1px auto;
    padding-bottom: 29px;
    padding-top: 29px;
/* 	overflow: hidden; */
}

/**** /pages compatibility styles ****/
#main.container_16.main_frt {
	overflow: hidden;
}
#main .grid_12 {
	float: left;
	width: 700px;
	margin: 0 20px 30px 10px;
}
#main .grid_4.col_derecha {
	float: right;
	margin-right: 10px;
	width: 220px;
}
#main .bloque-promo-ofertas.fmt-bloque {
	margin-left: 11px;
}

#main .bloque-promo.promo-firts {
	background-color: #ECEBEB;
    position: relative;
/*     float: left; */
    width: 216px;
    height: 256px;
    margin: 15px 11px 25px;
    border: 1px solid #E0DFDF;
/*     cursor: pointer; */
}
#main .bloque-promo.promo-firts img {
	width: 216px;
}
#main .div-modal {
	display: none;
}
#main a {
	text-decoration: none;
	color: #0098CA;
}

#main .imagen-js > a {
/* 	display: none; */
	display: inline-block;
	width: 184px;
	padding: 8px 10px 0;
	text-decoration: none;
	line-height: 17px;
	font-size: 15px;
	color: #454545;
}

#main .imagen-js .nombre_oferta {
	display: inline-block;
	width: 184px;
	padding: 5px 10px 0;
	text-decoration: none;
/* 	line-height: 19px; */
	font-size: 15px;
	color: #454545;
}

#main p.promo-precio {
	display: inline-block;
}

#main a.promo-precio {
	display: inline-block;
	text-decoration: none;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 15px 10px;
	color: #535353;
	font-size: 12px;
}

#main .promo-precio > span {
	text-align: right;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #DC143C;
}

#main .promo-precio > small {
	color: #535353;
	font-size: 18px;
	font-weight: lighter;
	margin-left: 8px;
	text-decoration: line-through;
}
/* --------------------- */


#main .promo-precio > span {
	text-align: right;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #DC143C;
}

#main .promo-precio > small {
	color: #535353;
	font-size: 18px;
	font-weight: lighter;
	margin-left: 8px;
	text-decoration: line-through;
}
/* --------------------- */


.maincontent hr{
	width: 940px;
	margin: 0 auto 30px;
	border: 1px solid #f3f2f2;
	clear: both;
}
#destacados {
	text-align: center;
}

#destacados article{
	display: inline-block;
	margin: 0 8px 35px;
	height: 326px;
	width: 460px;
	text-align: left;
}
#destacados article img {
	display: block;
}
#destacados article div {
	/*IE fix */
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
	/*********/

	background-color: rgba(0,0,0,.7);
	position: relative;
	width: 460px;
	height: 78px;
	top: -78px;
	color: #FFFFFF;
}

#destacados article div h3 {
	width: 268px;
	padding: 10px 15px 0;
	color: #FFF;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
}

#destacados article div p {
	width: 276px;
	padding: 2px 15px;
	font-size: 13px;
	color: #d6d6d6;
	overflow: hidden;
	white-space: nowrap;
}

#destacados article div .precio{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#destacados article div .precio span{
	font-size: 15px;
	margin: 0 15px 0 0;
	font-weight: lighter;
	text-decoration: line-through;
}

#destacados article div a {
/* 	background: transparent url(/img/web/exclusives/nuestrosBeneficios/bg_ver_mas.png) repeat-x; */
	color: #D6D6D6;
	display: block;
	font-size: 20px;
	height: 33px;
	width: 125px;
	line-height: 29px;
	padding: 5px;
	position: absolute;
	right: 17px;
	top: 17px;
	text-align: center;
	text-decoration: none;
}

#cupones {
	overflow: hidden;
	clear: both;
	text-align: left;
}

#cupones h2{
	width: 100%;
	clear: both;
	color: #454545;
	font-size: 24px;
	padding: 0 10px 10px;
}

#cupones h2 a{
	color: #0098ca;
	font-size: 14px;
	text-decoration: none;
}

#cupones article {
	background-color: #ecebeb;
	position: relative;
	float: left;
	width: 216px;
	height: 256px;
	margin: 15px 11px 25px;
	cursor: pointer;
	border: 1px solid #e0dfdf;
}
#cupones article a {
	text-decoration: none;
}
#cupones article a img {
	display: block;
}
#cupones article .title {
	display: inline-block;
	width: 184px;
	padding: 10px 10px 0;
	line-height: 19px;
	font-size: 15px;
	color: #454545;
	overflow: hidden;
}

#cupones article .price {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 15px 10px;
	text-align: right;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #DC143C;
}

#cupones article .oldPrice {
	color: #535353;
	font-size: 18px;
	font-weight: lighter;
	margin-right: 10px;
	text-decoration: line-through;
}

#cupones.ads-cupons {
	overflow: visible;
/* 	height: 260px; */
}

#cupones .slider {
	position: relative;
/* 	margin: 10px; */
	width: 100%;
	height: 222px;
/* 	margin-bottom: 30px; */
	background-color: #FFF;
	border: none;
}
#cupones .slider .content {
	position: relative;
	overflow: hidden;
	margin: 0 10px;
}

#cupones .slider .content ul {
	position: relative;
	white-space: nowrap;
	word-spacing: -4px;
}


#cupones .slider .content ul li {
/* 	float: left; */
	margin: 0px 0 0px 20px;
	width: 216px;
	display: inline-block;
	
	overflow: hidden;
}
#cupones .slider .content ul li:FIRST-CHILD {
	margin-left: 0;
}

#cupones .slider .nav > * {
	/*
	background: url("/img/web/exclusives/nuestrosBeneficios/nav.png") no-repeat scroll 4px 3px rgba(0, 0, 0, 0);
	*/
/*     background-image: url("/img/web/exclusives/nuestrosBeneficios/nav.png"); */
/*     background-repeat: no-repeat; */
    /*background-color: transparent;
    */
    opacity: 0.8;
    position: absolute;
    cursor: pointer;
    width: 41px;
    height: 41px;
    margin-top: -20px;
    top: 50%;
    text-indent: -9000px;
    z-index: 4;
    border:1 px solid gray;
}
#cupones .slider .nav > *:HOVER {
	opacity: 1;
}
#cupones .slider .nav .next {
/* 	background-position: 4px -17px; */
	background-image: url("/img/web/exclusives/nuestrosBeneficios/arrow_right.png");
/*     left: auto; */
    right: -20px;
}
#cupones .slider .nav .prev {
	background-image: url("/img/web/exclusives/nuestrosBeneficios/arrow_left.png");
	left: -20px;
}


/*** no deals ***/
.noDeals {
	padding: 40px 0;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}


/* ------------------------------  FOOTER ----------------------------------------- */
footer {
	width: 100%;
	height: 60px;
	background-color: #343434;
}

footer p{
	width: 940px;
	margin: 5px auto;
	color: #545454;
	font-size: 12px;
}

footer ul{
	width: 940px;
	margin: 0 auto;
}

footer li{
	color: #a0a0a0;
	display: inline-block;
	margin: 7px 0;
}

footer li a{
	color: #a0a0a0;
	font-size: 12px;
/* 	margin: 8px; */
	text-decoration: none;
}

footer li .first{
	margin-left: 0;
}

footer li a:hover{
	color: #FFF;
}

/* ------------------------------  DETALLE FICHAS ----------------------------------------- */

#detalle_fichas {
	width: 700px;
	margin: 0 20px 30px 10px;
	overflow: hidden;
	float: left;
}

#detalle_fichas h3 {
	font-size: 20px;
	color: #454545;
}

#detalle_fichas h1 {
	font-size: 30px;
	color: #202020;
	margin-bottom: 20px;
}

#comprar {
	width: 220px;
	margin-right: 20px;
	float: left;
}

#comprar h3{
	margin: 0 0 20px;
}
#comprar .precio{
	font-size: 12px;
	color: #868686;
	text-transform: uppercase;
}
#comprar h3 a{
	color: #3d729e;
	text-decoration: none;
	font-size: 11px;
}
#comprar .precio span{
	font-size: 48px;
	color: #202020;
	display: block;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	margin: 8px 0;
}
#comprar > a {
/* 	background: transparent url(/img/web/exclusives/nuestrosBeneficios/bg_comprar.png) repeat-x; */
	display: block;
	width: 100%;
	height: 60px;
	margin: 15px 0;
	text-decoration: none;
	text-align: center;
	line-height: 58px;
	font-size: 25px;
	color: #FFF;
}

#comprar .descuento_valor{
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
	overflow: hidden;
}
#comprar .descuento_valor p{
	width: 50%;
	float: left;
	overflow: hidden;
	height: 40px;
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
}
#comprar .descuento_valor p span{
	display: block;
	clear: both;
	color: #343434;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 9px;
}
#comprar #finaliza{
	margin: 0 0 15px;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
}
#comprar #finaliza p{
	color: #868686;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 12px;
}
#comprar #finaliza span{
	color: #b1101e;
	font-size: 21px;
}
#comprar #ubicacion{
	margin: 0 0 15px;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 0 15px;
	color: #868686;
}
#comprar #ubicacion .pin {
	background: transparent url(/img/web/exclusives/nuestrosBeneficios/spr.png) -8px -41px no-repeat;
	float: left;
	height: 17px;
	margin-right: 5px;
	width: 14px;
}
#comprar #ubicacion span{
	font-size: 13px;
	font-weight: normal;
}
#comprar #ubicacion p{
	font-size: 13px;
	margin-top: 12px;
	line-height: 15px;
}
#comprar #pasos_compra p{
	margin: 10px 0;
	color: #868686;
	font-size: 13px;
	line-height: 15px;
}
#comprar #pasos_compra p span{
	font-weight: bold;
	color: #414141;
}
#comprar #pasos_compra p a{
	color: #3d729e;
	text-decoration: none;
}

#ficha {
	width: 460px;
	float: right;	
	margin: 12px 0;
	color: #626262;
	font-size: 13px;
/* 	line-height: 15px; */
}
#ficha .mensaje{
	background: transparent url("/img/web/clubcupon/bg_negro.png") repeat;
	color: #FFFFFF;
	float: right;
	font-size: 40px;
	padding: 65px 10px;
	position: absolute;
	text-align: center;
	width: 440px;
}

#ficha .mensaje a{
	background: url("/img/web/clubcupon/tooltip.png") no-repeat center center transparent;
	display: block;
	left: 417px;
	position: relative;
	text-indent: -9999px;
	top: 60px;
	width: 30px;
	height: 30px;
}
#ficha .mensaje h2 {
	float: none;
}
#ficha .mensaje h3 {
	float: none;
	margin: 20px 0 0;
	width: auto;
	color: #ffffff;
}

#ficha a { 
	color: #3d729e;
	text-decoration: none;
}

#ficha h3 {
	width: 460px;
	float: right;
	margin: 18px 0 12px;
}
#ficha p {
	font-size: 13px;
	color: #626262;
	margin: 12px 0;
	line-height: 15px;
}

#ficha .vigencia {
	font-weight: bold;
}

.forma_pago img {
	float: left;
}
#ficha .forma_pago p {
	color: #6F6F6F;
	display: block;
	font-size: 12px;
	height: 21px;
	line-height: 19px;
	padding: 0 15px;
	text-align: right;
	margin: 5px 0 10px;
}
.forma_pago p a {
	font-size: 11px;
	color: #3d729e;
	text-decoration: none;
}

/* deal view sidebar - banners */
#sidebar {
	float: right;
	width: 220px;
	height: auto;
	margin-right: 10px;
}

#sidebar ul li {
	margin-bottom: 10px;
}


#sidebar .tiempo_libre {
	width: 220px;
/* 	height: 200px; */
}

#sidebar .tiempo_libre ul li {
/* 	border: 1px solid #ECEBEB; */
	margin-bottom: 15px;
}

#sidebar .tiempo_libre ul li p {
	background-color: #ECEBEB;
	color: #454545;
	display: block;
	font-size: 16px;
	font-weight: lighter;
	height: 65px;
	line-height: 20px;
	padding: 10px;
	text-align: left;
	width: 198px;
}

/* ------------------------------  LOGIN ----------------------------------------- */

#content_login {
    background: url(/img/web/exclusives/nuestrosBeneficios/bg_login_nb.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login {
	width: 800px;
	margin: 4% auto 0;
	text-align: center;
	height: auto;
}

#login img{
	margin: 0 auto -90px;
}

#login p{
	color: #323232;
	font-size: 25px;
	line-height: 30px;
	margin: 5px 0;
	text-shadow: 1px 1px 5px #FFFFFF;
}

#login form {
	/*background-color: #FFF;*/
}

#login .input-wrapper {
	position: relative;
	width: 320px;
	margin: 40px auto 0;
}

#login input[type="text"] {
	background-color: #FFF;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 10px;
	height: 19px;
	width: 186px;
/* 	top: -2px; */
/* 	*top: -40px; IE10 y anteriores */
	font-size: 15px;
	color: #333;
	border: 1px solid #999;
}

#login input[type="submit"] {
/* 	background: url(/img/web/exclusives/nuestrosBeneficios/bg_ver_mas.png) repeat-x scroll 0 0 #FF0000; */
	display: inline-block;
	vertical-align: middle;
	height: 41px;
	padding: 0 18px;
/* 	margin: 40px 0 0; */
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 17px;
	cursor: pointer;
	color: #FFFFFF;
	border: medium none;
}

#login.notBusinessUnit {
    background-image: url("/img/theme_clean/exclusive-popup-body.gif");
    background-repeat: no-repeat;
    height: 551px;
    margin: 0 auto;
    position: relative;
    width: 612px;
}

#login.notBusinessUnit .input-wrapper {
    top: 290px;
}

#content_login.notUDN {
    background: url(/img/web/exclusives/exclusive/bg_login_exclusive.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content_login.arcosCorp {
    background: url(/img/web/exclusives/exclusive/McPlusLogin.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login.arcosLogin {
    left: 50%;
    margin: -40px -400px auto;
    position: absolute;
    top: 72%;
}

/***** Validation *****/
.validetta-error {
	display: block;
	font: 12px/14px Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: #CD2E26;
	max-width: 325px;
	border-radius: 5px;
	color: white;
	padding: 5px 12px;
	top: 48px !important;
	left: 18% !important;
/* 	bottom: -40px !important; */
	
}

.validetta-error:before {
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	left: 49%;
	width: 0px;
	height: 0px;
	border-bottom: 5px solid #CD2E26;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.validetta-errorClose {
	display: block;
	cursor: pointer;
	position: absolute;
	top: -1px;
	right: 3px;
	color: white;
	font-weight: bold;
}

/***************************/

.udLink {
    color: #DDDDDD;
}
#uData {
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    margin-right: 0px;
    margin-top: 13px;
}
.contLogo {
    display: inline-block;
   	/*IE 7 hack... */   
    *display: inline;
    zoom: 1;
    
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
    width: 550px;
}

/* extras */
.botonExclusive {
	background: #c8001c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M4MDAxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhODA2MTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c8001c 0%, #a80613 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8001c), color-stop(100%,#a80613)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c8001c 0%,#a80613 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c8001c 0%,#a80613 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c8001c 0%,#a80613 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c8001c 0%,#a80613 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8001c', endColorstr='#a80613',GradientType=0 ); /* IE6-8 */
}
.botonExclusive:HOVER {
	background: #ec0122; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjMDEyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzAxMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ec0122 0%, #ec0122 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec0122), color-stop(100%,#ec0122)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ec0122 0%,#ec0122 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ec0122 0%,#ec0122 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ec0122 0%,#ec0122 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ec0122 0%,#ec0122 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec0122', endColorstr='#ec0122',GradientType=0 ); /* IE6-8 */
}

.botonExclusive:ACTIVE {
	background: #a80615; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E4MDYxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzAxMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a80615 0%, #c7011c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a80615), color-stop(100%,#c7011c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a80615 0%,#c7011c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a80615 0%,#c7011c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a80615 0%,#c7011c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a80615 0%,#c7011c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80615', endColorstr='#c7011c',GradientType=0 ); /* IE6-8 */
}




