/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
form{ width:405px; margin:auto}
input{float:left; margin:0 10px;width:369px;height:38px;*height:20px;line-height:38px;line-height:20px; padding:0 10px; background:#FFF; color:#666; border:none; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px}
select{float:left;width:190px; height:38px; line-height:40px; background:#FFF; color:#666; border:none; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;padding:10px 10px 10px 7px}
button{ background:none; border:none; margin-top:20px; cursor:pointer; width:391px}
#colorbox{margin-top: -5px}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;opacity:0.6 !important}
#cboxWrapper{ width:880px !important}
#cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px 0;}
#cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px 0;}
#cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x; width:821px !important}
#cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px -36px;}
#cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px -36px;}
#cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -36px repeat-x; width:821px !important}
#cboxMiddleLeft{width:14px; background:url(../images/controls.png) left top repeat-y;}
#cboxMiddleRight{width:14px; background:url(../images/controls.png) right top repeat-y;}
#cboxContent{overflow:hidden; background:#252525}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; bottom:0; right:0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}


/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(../images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

.text{color:#7d7d7d; font-size:11px; font-family:Verdana, Geneva, sans-serif; width:345px; margin:10px auto}
.box-popup{padding-top:190px;height:192px;background:url(../images/bg1.jpg) no-repeat}
.bg{background:url(../images/bg1.jpg) bottom no-repeat; position:absolute; top:10px; width:835px; height:382px}
