<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Confirmar Compra</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" media="screen" href="css/bootstrap.css" >
    <script type="text/javascript" src="/javascript/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/vendor/underscore.min.js"></script>
    <script type="text/javascript" src="/javascript/vendor/backbone.min.js"></script>
    <script type="text/javascript" src="/javascript/vendor/backbone-validations.js"></script>
    <script type="text/javascript" src="/javascript/vendor/hogan.js"></script>
    <!-- templates begin -->
    <script type="text/mustache" id="deal-detail-tpl">
      <img src="{{ img_url }}" alt="{{ title }}" class="deal-img" />
      <div class="overlay">{{ title }}</div>
    </script>
    <script type="text/html" id="buy-form-tpl">
      <div class="control-group">
        <label for="buy_amount">Cantidad</label>
        <input id="buy_amount" name="buy[amount]" type="text" value="{{ amount }}" />
      </div>
      <div class="control-group">
        <label for="buy_total">Total</label>
        <input id="buy_total" name="buy[total]" type="text" value="{{ total }}" disabled />
      </div>
      <button value="Buy" id="save" class="btn btn-primary">Pagar</button>
      <div class="disclamer-conditions">
        La informaci&oacute;n se enviar&aacute; por <span>conexi&oacute;n segura.</span>
      </div>
    </script>
    <script type="text/mustache" id="wallet-option-tpl">
      <a href="#">
        Su cuenta posee un saldo de <span>$30</span> 
      </a>
    </script>
    <script type="text/mustache" id="combined-summary-tpl">
        <h2>Abonar Differencia</h2>
        <h3>
          El monto a abonar supera el estado de su cuenta Club Cupón,
          debe pagar la diferencia mediante alguno de los medios de pago
          alternativos.
        </h3>
        <div class="container">
          <table>
            <tr> <td>Monto a abonar:</td> <td>${{ total }}</td> </tr>
            <tr> <td>Monto a pagar con cuenta Club Cupon:</td> <td>${{ wallet_amount }}</td> </tr>
            <tr> <td>Diferencia a pagar por medios de pago:</td> <td>${{ total - wallet_amount }}</td> </tr>
          </table>
          <div class="notes">Formas de pago para abonar la diferencia</div>
        </div>
    </script>
     <script type="text/mustache" id="payment-options-tpl">
        <ul>
          <li><a href="#" class="paymentoption american">American Express</a></li>
          <li><a href="#" class="paymentoption american">American Express</a></li>
          <li><a href="#" class="paymentoption american">American Express</a></li>
          <li><a href="#" class="paymentoption hasta-cuotas">American Express</a></li>
        </ul>
    </script>
    <!-- templates pages -->
    <script type="text/mustache" id="buy-page-tpl">
      <div id="deal-detail" class="container"></div>
      <form id="buy-form" action="#" class="well form-horizontal"></form>
    </script>
    <script type="text/mustache" id="payment-selection-page-tpl">
      <div id="wallet-option" class="container"></div>
      <div id="combined-conditions" class="container"></div>
      <div id="payment-options" class="container"></div>
    </script>
    <script type="text/mustache" id="dopaymentbac-page-tpl">
      Call to Bac with id
    </script>
    <script type="text/mustache" id="success-page-tpl">
      Success :)
    </script>
    <!-- templates end -->
    <!-- app -->
    <script type="text/javascript" src="/javascript/app.js"></script>
    <script type="text/javascript" src="/javascript/models/user.js"></script>
    <script type="text/javascript" src="/javascript/models/deal.js"></script>
    <script type="text/javascript" src="/javascript/models/buy.js"></script>
    <script type="text/javascript" src="/javascript/models/payment_option.js"></script>
    <script type="text/javascript" src="/javascript/views/buy_form.js"></script>
    <script type="text/javascript" src="/javascript/views/payment_selection.js"></script>
    <script type="text/javascript" src="/javascript/views/do_payment_bac.js"></script>
    <script type="text/javascript" src="/javascript/routers/buy.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <div id="buy-page" class="container"></div>
      <div id="payment-selection-page" class="container"></div>
      <div id="dopaymentbac-page" class="container"></div>
      <div id="success-page" class="container"></div>
      <a href="#/hello">hello</a>
  </div>
  </body>
</html>
