<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="javascript/vendor/jasmine-1.2.0/favicon.png">
    <link rel="stylesheet" type="text/css" href="javascript/vendor/jasmine-1.2.0/jasmine.css">
    <script type="text/javascript" src="javascript/vendor/jasmine-1.2.0/jasmine.js"></script>
    <script type="text/javascript" src="javascript/vendor/jasmine-1.2.0/jasmine-html.js"></script>

    <!-- vendor js -->
    <script type="text/javascript" src="javascript/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/vendor/underscore.min.js"></script>
    <script type="text/javascript" src="javascript/vendor/backbone.min.js"></script>
    <script type="text/javascript" src="javascript/vendor/backbone-validations.js"></script>
    <script type="text/javascript "src="javascript/vendor/hogan.js"></script>
    <script type="text/javascript" src="javascript/vendor/jasmine-jquery.js"></script>

    <!-- templates -->
    <script type="text/mustache" id="buy-form-tpl">
      <div class="control-group">
        <label for="buy_amount">Cantidad</label>
        <input id="buy_amount" name="buy[amount]" type="text" value="{{ amount }}" />
      </div>
      <div class="control-group">
        <label for="buy_total">Total</label>
        <input id="buy_total" name="buy[total]" type="text" value="{{ total }}" disabled />
      </div>
      <button value="Buy" id="save" class="btn btn-primary">Pagar</button>
      <div class="disclamer-conditions">
        La informaci&oacute;n se enviar&aacute; por <span>conexi&oacute;n segura.</span>
      </div>
    </script>


    <!-- app -->
    <script type="text/javascript" src="javascript/app.js"></script>
    <script type="text/javascript" src="javascript/models/user.js"></script>
    <script type="text/javascript" src="javascript/models/deal.js"></script>
    <script type="text/javascript" src="javascript/models/buy.js"></script>
    <script type="text/javascript" src="javascript/models/payment_option.js"></script>
    <script type="text/javascript" src="javascript/views/buy.js"></script>
    <script type="text/javascript" src="javascript/views/buy_form.js"></script>
    <script type="text/javascript" src="javascript/views/payment_selection.js"></script>
    <script type="text/javascript" src="javascript/views/do_payment_bac.js"></script>
    <script type="text/javascript" src="javascript/routers/buy.js"></script>


    <!-- specs -->
    <script type="text/javascript" src="javascript/spec/toolchain_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/app_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/models/user_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/models/deal_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/models/buy_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/models/payment_option_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/views/buy_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/views/buy_form_spec.js"></script>
    <script type="text/javascript" src="javascript/spec/views/payment_selection.js"></script>
    <script type="text/javascript" src="javascript/spec/views/do_payment_bac.js"></script>


    <script type="text/javascript">
      (function() {
       var jasmineEnv = jasmine.getEnv();
       jasmineEnv.updateInterval = 1000;

       var htmlReporter = new jasmine.HtmlReporter();

       jasmineEnv.addReporter(htmlReporter);

       jasmineEnv.specFilter = function(spec) {
       return htmlReporter.specFilter(spec);
       };

       var currentWindowOnload = window.onload;

       window.onload = function() {
       if (currentWindowOnload) {
       currentWindowOnload();
       }
       execJasmine();
       };

       function execJasmine() {
         jasmineEnv.execute();
       }

      })();
</script>
</head>

<body>
</body>
</html>
