<h1>Neighbourhoods (<?php echo count($neighbourhoods);?>)</h1>
<?php if(!empty($neighbourhoods)) { ?>
  <ul>
  <?php foreach($neighbourhoods as $neighbourhood) { ?>
    <li>
      <?php print_r($neighbourhood); ?>
    </li>
  <?php } ?>
  </ul>
<?php } ?>
