/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-color: #FFF;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

    /* new clearfix */
    .clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    * html .clearfix { zoom: 1; } /* IE6 */
    *:first-child+html .clearfix { zoom: 1; } /* IE7 */



body {
	background: transparent url(/img/web/clubcupon/new/images/bg_container.jpg) top center  repeat-x;
}

/* ------------------------------  HEADER ---------------------------------------- */
header {
	width: 100%;
	}

header > div{
	/*background-color: red;*/
	margin: 0 auto;
	width: 940px;
	height: 61px;
	padding: 15px 0;
	position: relative;
	}
header > div .pin {
	float: left;
	padding: 13px 0px;
	}

header .logo {
	display: inline-block;
	vertical-align: middle;
	}

header .logo h1 {
	background: url(/img/web/clubcupon/new/images/logo.png) no-repeat scroll center center transparent;
	display: block;
	width: 151px;
	height: 38px;
	padding: 13px 0;
	text-indent: -9999px;
	float: left;
	}

#buscador {
	display: inline-block;
	width: 560px;
	margin-left: 25px;
	vertical-align: middle;
	}

#buscador input {
	background: #FFFFFF url(/img/web/clubcupon/new/images/lupa.jpg) 335px 7px no-repeat;
	float: left;
	width: 350px;
	height: 20px;
	padding: 12px;
	font-size: 16px;
	color: #666666;
	border: 1px solid #bababa;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	}

.btn_desplegar {
	background: transparent url(/img/web/clubcupon/new/images/pick3.png) right 14px no-repeat;
	position: relative;
	float: right;
	height: 19px;
	line-height: 20px;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	cursor: pointer;
	padding: 12px 20px 0 0;
	}

#btn_desplegar.open {
  background: #FFFFFF url(http://www.clubcupon.com.ar/img/web/clubcupon/combo_open.png) right center no-repeat;
}

#btn_desplegar .pin {
  left: -10px;
  padding: 0;
  position: relative;
  top: 0;
}


ul#login {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	text-align: right;
	float: right;
	margin-top: 21px;
	}

ul#login li{
	display: inline-block;
	font-size: 14px;
	color: #6f6f6f;
	}

ul#login li a {
	font-family: 'Roboto Condensed',sans-serif;
	text-decoration: none;
	color: #6f6f6f;
	vertical-align: middle;
	}

ul#login li a:hover {
	color: #fb921f;
	}

/* #login.logged { */
/*  margin-top: 0; */
/* } */
ul#login.logged li {
  text-transform: none;
}
ul#login.logged li .loginEmail {
  display: inline-block;
  overflow: hidden;
  width: 180px;
  padding-right: 17px;
  text-align: right;
  line-height: 16px;
  vertical-align: middle;
}

#menu_top {
	clear: both;
	width: 100%;
	height: 58px;
	}

#menu_top > ul {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#menu_top > ul > li{
	display: inline-block;
	/*padding: 21px 18px;*/
	padding: 21px 18px\0/; /* ie8 hack */
	margin: 0 2px 0 0;
	font-weight: lighter;
	text-align: center;
	width: 230px;
	/*background-color: #d77021;*/
	background-color: red;
	cursor: pointer;
	}

#menu_top > ul > li:last-child {
	margin: 0;
	width: 196px;
	}

#menu_top > ul > .last_item {
  /*border-right: none;
  padding: 21px 0px 21px 10px;*/
}
#menu_top > ul > li > a {

  font-size: 15px;
  color: #f2f2f2;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  
   /*
   font-size: 20px;
    height: 33px;
    line-height: 29px;
    padding: 5px;
    position: absolute;
    right: 22px;
    top: 24px;
    */
    /*width: 194px;*/
    
    
}
.btn-naranja_menu_top{
 	background: linear-gradient(to bottom, #ec8300 0%, #d46c18 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    cursor: pointer;
   /* display: block;*/
    font-family: "Roboto",sans-serif;
    font-weight: lighter;
    margin-top: 0;
    /*padding: 10px;*/
    text-align: center;
    text-decoration: none;
   /* text-shadow: 1px 1px #9f6904;*/
    
    /*border: 1px solid blue;*/
    width: 205px;
    display:inline-block;
    height: 26px;
    padding: 20px 13px 12px;
}
.btn-naranja_menu_top_selected{
 	background: #2c2c2c;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
   /* display: block;*/
    font-family: "Roboto",sans-serif;
    font-weight: lighter;
    margin-top: 0;
    /*padding: 10px;*/
    text-align: center;
    text-decoration: none;
   /* text-shadow: 1px 1px #9f6904;*/
    
    /*border: 1px solid blue;*/
    width: 205px;
    display:inline-block;
    height: 26px;
    padding: 20px 13px 12px;
}
.btn-naranja_menu_top:hover{
  background: #2c2c2c;
  color: red;
  text-decoration: none;
}
.btn-naranja_menu_top:ACTIVE {
  background: #c6681e; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2NjgxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDdjMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #c6681e 0%, #dd7c13 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6681e), color-stop(100%,#dd7c13)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c6681e 0%,#dd7c13 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6681e', endColorstr='#dd7c13',GradientType=0 ); /* IE6-8 */
  color: #FFFFFF;
  text-decoration: none;
}
/*

#menu_top > ul > li a:hover,
#menu_top > ul > li a.select {
	color: #fb921f;
	background-color: #2c2c2c;
	
	}
#menu_top > ul > li:hover{
	background-color: #2c2c2c;
	}
*/
.menu_top_selected{
  background-color:black;
}
.menu_top_selected_first_item{
  margin-left:15px;
}
/* Desplegable */
.especiales {
/*  position: relative; */
  cursor: pointer;
}

.parent .flecha {
  position: absolute;
  display: none;
/*  top: -24px; */
  padding: 0;
  border: medium none;
}
.flecha.top {
  right: -3%;
  bottom: -4px;
  z-index: 10;
}
.flecha.menu {
  right: 70%;
  bottom: -2px;
  z-index: 8;
}

.desplegable {
  background-color: #FFF;
    position: absolute;
  display: none;
  width: 882px;
  height: auto;
  padding: 25px;
    margin-left: auto;
    margin-right: auto;
  cursor: default;
  border: 1px solid #c7c7c7;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.desplegable.top {
    right: -97%;
    top: 36px;
    z-index: 9;
  height: 215px;
}

.desplegable.menu {
  top: 59px;
  right: -2px;
  z-index: 7;
  height: 207px;
  text-align: left;
}

.desplegable .menu_final {
  margin-top: 22px;
}

.desplegable p {
  clear: both;
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 12px;
  color: #9b9b9b;
}
/* .desplegable ul { */
/*  border-right: 1px solid #c7c7c7; */
/* } */
.desplegable.top ul {
  float: left;  
  width: 650px;
}
.desplegable.menu ul {
  width: 50%; 
}

.desplegable ul li {
  display: block;
  float: left;
  width: 190px;
  padding: 2px 0;
}
.desplegable.top ul li {
  width: 180px; 
}

.desplegable ul li a {
  color: #454545;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 6px 15px;
}
.desplegable ul li a:hover {
  background-color: #cd7b20;
  color: #FFF;
}

.desplegable.menu .ad {
    float: right;
    margin-right: 10px;
}
.desplegable.menu .ad.right { padding: 0 0 0 10px; /*height: 207px;*/}
.desplegable.menu .ad.left { border-left: 1px solid #C7C7C7; padding: 0 0 0 20px; /*height: 207px;*/}

.desplegable.top .banner {
    border-left: 1px solid #C7C7C7;
    float: right;
    margin-right: 10px;
    padding: 0 0 0 20px;
}

.desplegable .cerrar {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #454545;
}


/* temp */
.desplegable.menu .ad img {
  /*width: 212px*/;
  /*height: 168px;*/  
}






/* Desplegable */

#desplegable {
	background-color: #FFF;
	width: 882px;
	height: 270px;
	border: 1px solid #c7c7c7;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
	padding: 28px;
	display: none;
    right: -201px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 67px;
    z-index: 1;
}

#desplegable ol li{
	padding: 4px 0;
}

#desplegable ol li a:hover{
	color: #FFF;
	background: transparent url(/img/web/clubcupon/new/images/bg_ver_mas_hover.png) repeat-x;
}


#desplegable ol li a{
	color: #454545;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 3px;
}


/*Suscripcion News*/
.boxSubscribeNewsletter {
	background-color: #ecebeb;
	padding: 18px 15px 16px;
	margin-bottom: 10px;
	height: auto;
	}
.boxSubscribeNewsletter input, .boxSubscribeNewsletter select {
	border: 1px solid #bababa;
	box-sizing: content-box;
	color: #666666;
	float: left;
	font-size: 15px;
	height: 18px;
	padding: 12px;
	width: 240px;
	margin-right: 18px;
	}
.boxSubscribeNewsletter button {
	background: linear-gradient(to bottom, #ec8300 0%, #d46c18 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-family: "Roboto",sans-serif;
	font-weight: lighter;
	margin-top: 0;
	padding: 12px 16px 13px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px #9f6904;
	float: left;
	}
.boxSubscribeNewsletterDesc {
	display: block;
	float: left;
	padding: 15px 3px 15px 24px;
	font-family: "Roboto Condensed",sans-serif;
	font-weight: normal;
	font-size: 16px;
	}
.pagewrap {
	display: none;
	width: 910px;
	overflow: hidden;
	}
.boxSubscribeNewsletter .closeSubscribeNewsletter {
	background: #666666;
	cursor: pointer;
	padding: 2px 5px;
	float: right;
	}


/*BTN recibir ofertas*/
#recibir_ofertas {
	position: absolute;
	top: 58px;
	right: 0;
	}
	#recibir_ofertas a {
		color: #000000;
		font-size: 16px;
		font-family: 'Roboto Condensed', sans-serif;
		text-decoration: none;
		font-weight: normal;
		}
	#recibir_ofertas a:hover {
		color: #cd782b;
		}
	#recibir_ofertas img {
		position: relative;
		top: 3px;
		}




/*desplegable login */
#desplegable_login {
  background-color: #FFF;
  width: 156px;
/*  height: 191px; */
  border: 1px solid #c7c7c7;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  padding: 0;
  display: none;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: -782px;
    z-index: 10;
}

#desplegable_login .cerrar {
    color: #454545;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;
    margin: -5px 6px 6px 135px;
    padding: 0;
    width: 20px;
}

#desplegable_login div {
  width: 157px;
  margin-top: -20px;
}

#desplegable_login div .str {
  margin-top: 0px;
  color: #DB7413;
    display: block;
    font-size: 14px;
    padding: 5px 10px;
    width: 135px;
}

#desplegable_login .menu_final {
/*  margin-top: 0px; */
/*  position: absolute; */
/*  top: 0; */
}

#desplegable_login div p {
  color: #9b9b9b;
  font-size: 12px;
  margin-bottom: 10px;
}

#desplegable_login ul li {
  padding: 4px 0;
}

#desplegable_login ul li a:hover {
  color: #FFF;
  background: transparent url(/img/web/clubcupon/bg_ver_mas_hover.png) repeat-x;
}

#desplegable_login ul li a {
  color: #454545;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

header #desplegable_login .flecha {
  position: relative;
  top: -24px;
  left: 55px;
  float: none;
}

.opciones_login {
  background: url(/img/web/clubcupon/combo_login.jpg) no-repeat right;
  cursor: pointer;
}

.opciones_login.open {
  background: url(/img/web/clubcupon/combo_login_open.png) no-repeat right;
}








/* ------------------------------  NAV  VERTICAL ------------------------------------------- */

.scrollpanel {
	float: left;
	width: 230px;
	height: 357px;
	}
.scrollpanel .sp-scrollbar {
	width: 10px;
	background-color: #ccc;
	cursor: pointer;
	}
.scrollpanel .sp-scrollbar .sp-thumb {
	background-color: #aaa;
	transition: height 0.2s ease-in-out;
	}
.scrollpanel .sp-scrollbar.active .sp-thumb {
	background-color: #999;
	}

.ccya_search_link{
	font-weight: bold;
	text-decoration: none;
	}

.ccya_search_link img{
	float: left;
	padding-right: 10px;
	}
.ccya_search_link h2{
	color: #f28b2d;
	font-family: 'Roboto',sans-serif;
	font-weight: normal;
	font-size: 15px;
	margin: 0 0 3px;
	width: 100%;
	}
.ccya_search_link p{
	color: #797979;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	width: 100%;
	}

.ccya_search_link_image {
	width: 35px;
	}

#menu_vertical {
	float: left;
	width: 230px;
	height: auto;
	margin-left: 10px;
	}
#menu_vertical li div {
	float: left;
	width: 175px;
	}
#menu_vertical li:last-child {
	margin-bottom: 15px;
	overflow: hidden;
	float:left;
	}

#menu_vertical li a {
	padding-top: 13px;
	display: block;
	}

.btn_descarga_app {
	background-color: red;
	display: block;
	text-decoration: none;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 18px;
	color: #f18725;
	font-weight: normal;
	}

.btn_descarga_app img {
	float: left;
	}

.btn_descarga_app span {
	display: block;
	float: right;
	padding: 17px 12px;
	width: 128px;
	line-height: 21px;
	}




















/* ------------------------------ ASIDE ----------------------------------------- */

aside{

}


/* ------------------------------ SECTION ----------------------------------------- */
#content {
  padding-top: 10px;
}
#content.noTop {
  padding-top: 0;
}
#content, 
#main.container_16.main_frt {
  width: 960px;
  min-height: 550px;
  margin: 0 auto;
  overflow: hidden;
}

/**** /pages compatibility styles ****/
#main #pages {
  overflow: hidden;
  visibility: hidden;
}

#main.container_16.main_frt {
  overflow: hidden;
  margin-top: 25px;
}
#main .grid_12 {
  float: left;
  width: 700px;
  min-height: 556px;
  margin: 0 20px 30px 10px;
}
#main .grid_4.col_derecha {
  float: right;
  margin-right: 10px;
  width: 220px;
}
#main .bloque-promo-ofertas.fmt-bloque {
  margin-left: 11px;
}

#main .bloque-promo.promo-firts {
  background-color: #ECEBEB;
    position: relative;
    width: 216px;
    height: 256px;
    margin: 15px 0 25px;
    border: 1px solid #E0DFDF;
}
#main .bloque-promo.promo-firts:FIRST-CHILD{
  margin-top: 0;
}

#main .bloque-promo.promo-firts img {
  width: 216px;
}
#main.container_16.main_frt .h1-format {
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #454545;
  font-size: 27px;
  border-bottom: 1px solid #d3d3d3;
}
#main.container_16.main_frt h2 {
  font-size: 20px;
  margin-bottom: 10px;  
}
#main.container_16.main_frt h3 {
  font-size: 18px;
  margin-bottom: 10px;  
}
#main.container_16.main_frt  p {
  line-height: 18px;
  font-size: 14px;
}

#main .div-modal {
  display: none;
}
#main a {
  text-decoration: none;
  color: #0098CA;
}

#main .imagen-js > a {
/*  display: none; */
  display: inline-block;
  width: 184px;
  padding: 8px 10px 0;
  text-decoration: none;
  line-height: 17px;
  font-size: 15px;
  color: #454545;
}

#main .imagen-js .nombre_oferta {
  display: inline-block;
  width: 184px;
  padding: 5px 10px 0;
  text-decoration: none;
/*  line-height: 19px; */
  font-size: 15px;
  color: #454545;
}

#main p.promo-precio {
  display: inline-block;
}

#main a.promo-precio {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#main .promo-precio .price {
  text-align: right;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
  color: #CD782B;
  
}

#main .promo-precio .oldPrice {
  margin-right: 10px;
  font-size: 18px;
  text-decoration: line-through;
  color: #535353;
}
/* --------------------- */


/* destacado */
.bg_destacado {
	background-color: #2c2c2c;
	overflow: hidden;
	}

.cont_destacado {
	overflow: hidden;
	width: 960px;
	margin: 24px auto 0;
	}

#destacado {
  float: right;
  margin: 0 10px -70px;
  height: 447px;
}
#destacado > img {
  display: block;
}
#destacado .content{
  width: 700px;
  background: transparent url(http://www.clubcupon.com.ar/img/web/clubcupon/bg_negro.png) repeat;
  color: #FFFFFF;
  height: 90px;
  position: relative;
  top: -90px;
}

#destacado .content h3 {
  overflow: hidden;
  width: 512px;
  padding: 8px 15px 5px;
  line-height: 25px;
  font-size: 23px;
  color: #FFF;
}

#destacado .content p {
  overflow: hidden;
  width: 510px;
  height: 32px;
  padding: 0 15px;
  font-size: 15px;
  color: #d6d6d6;
}

#destacado .content .precio {
  position: absolute;
  height: 23px;
  bottom: 4px;
  left: 0;
/*  padding-top: 7px; */
  color: #ff8f31;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#destacado .content .precio span {
  margin: 0 15px 0 0;
  color: #FFF;
  font-weight: lighter;
  text-decoration: line-through;
}

#destacado .content > a {
  font-size: 20px;
  height: 33px;
  width: 125px;
  line-height: 29px;
  padding: 5px;
  position: absolute;
  right: 22px;
  top: 24px;
}


#banner {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
  height: 329px;
  text-align: center;
}
#banner2 {
/*  margin-top: -50px; */
  background-color: #eeeeee;
  height: 120px;
  text-align: center;
}
#subtitulonow {
  color: #454545;
  font-size: 18px;
  margin: 0 5px 23px;
}

#filtro {
  width: 100%;
  height: 106px;
  background-color: #191919;
  color: #FFF;
  }
  #filtro p{
    font-size: 15px;
    font-weight: normal;
    margin: 0 auto;
    padding: 7px 10px;
    width: 940px;
    }
  #filtro .content{
    position: relative;
    width: 940px;
    background-color: #373737;
    float: none;
    margin: 0 auto;
    height: 65px;
    }
  #filtro .content label{
    color: #ccc;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 5px;
    }
  #filtro .content input[type="text"]{
    padding: 8px 15px 7px 30px;
    border: 1px solid #BDBDBD;
    margin-top: 14px;
    width: 180px;
    background: #f9f7f8 url(/img/web/clubcupon/pick2.png) 10px center no-repeat;
    color: #333;
    }
  #filtro .content select{
    padding: 7px 15px 6px 29px;
    border: 1px solid #BDBDBD;
    margin-top: 14px;
    width: 204px;
    background: #f9f7f8 url(/img/web/clubcupon/ticket.jpg) 10px center no-repeat;
    color: #8a898a;
    }
  #filtro .content .para_usar {
    background: #f9f7f8 url(/img/web/clubcupon/reloj_1.png) 10px center no-repeat;
    }
  #filtro .content .buscar {
    background: url(/img/web/clubcupon/button.jpg) center center no-repeat;
    width: 36px;
    height: 31px;
    margin-top: 14px;
    margin-left: 15px;
    text-indent: -9999px;
    border: none;
  }
  #filtro .content .buscar:HOVER {
    background: url(/img/web/clubcupon/button_hover.jpg) center center no-repeat;
  }
  #filtro .content .buscar[disabled] {
    background: url(/img/web/clubcupon/button.jpg) center center no-repeat;
  }
  
    
  #filtro .content #city-ops {
    background-color: white; 
    position: absolute;
    width: 225px;
    left: 34.4%;
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #e2e2e2;
    z-index: 4;
  }
  #filtro .content #city-ops li {
    display: block;
    padding: 3px 5px;
    font-size: 14px;
    color: #666666;
    cursor: pointer;
  
  }
  #filtro .content #city-ops li:HOVER {
    color: #222222;
  }
/*------------------------*/

#cupones {
  overflow: hidden;
  clear: both;
}


#cupones h2{
  width: 100%;
  clear: both;
  color: #454545;
  font-size: 24px;
  padding: 35px 10px 0;
}

#cupones h2 a{
  color: #4d7aa3;
  font-size: 18px;
  text-decoration: none;
}

#cupones article {
	background-color: #ecebeb;
	position: relative;
	float: left;
	width: 216px;
	height: 275px;
	margin: 11px 11px;
	cursor: pointer;
	border: 1px solid #e0dfdf;
	}

#cupones article h3{
	color: #454545;
	font-size: 16px;
	line-height: 19px;
	padding: 10px 10px 0;
	margin: 0;
	*font-weight: normal; /* ie7 */
	font-weight: lighter;
}

#cupones article:hover {
  background-color: #f7f5f5;  
}

.now-content #cupones article {
  width: 296px;
  height: 355px;
}

#cupones a {
  text-decoration: none;
}
#cupones a > img {
  display: block;
}
#cupones .title {
  display: inline-block;
  width: 210px;
  padding: 8px 5px 0;
  line-height: 15px;
  font-size: 15px;
  color: #454545;
  overflow: hidden;
}
#cupones .ver-todo{
  width: 100%;
  text-align:center;
}
#cupones .ver-todo > a{
  color: #cd782b;;
  font-size: 20px;
}


.now-content #cupones .title {
  width: 270px;
}


#cupones .ubicacion span {
  overflow: hidden;
  display: block;
  color: #868686;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-align: left;
  padding: 7px 10px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#cupones .ubicacion img {
  padding: 8px 0 0 0;
}

#cupones .price {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 7px 10px;
  text-align: right;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #CD782B;
}

#cupones .oldPrice {
  color: #535353;
  font-size: 18px;
  font-weight: lighter;
  margin-right: 10px;
  text-decoration: line-through;
}

/*** no deals ***/
.noDeals {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#cupones .destacados {
	background-color: #ecebeb;
	position: relative;
	float: left;
	width: 456px;
	height: 391px;
	margin: 11px 11px;
	cursor: pointer;
	border: 1px solid #e0dfdf;
	}

.destacados .content_oferta {
	background: url("http://www.clubcupon.com.ar/img/web/clubcupon/bg_negro.png") repeat scroll 0 0 transparent;
	color: #ffffff;
	height: 90px;
	position: relative;
	top: -90px;
	width: 436px;
	padding: 10px;
	}
.destacados a {
	text-decoration: none;
	}
.content_oferta .title {
	width: 100%;
	}
/* ------------------------------  FOOTER ----------------------------------------- */
footer {
  background-color: #343434;
  overflow: hidden;
  width: 100%;
/*  height: 60px; */
}

footer #negro{
  background-color: #0c0c0c;
  height: 113px;
}

footer #negro div {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

footer #negro div > img{
  left: 830px;
  position: relative;
  top: -21px;
}

footer #negro div a{
  position: absolute;
  display: inline-block;
  top: -21px;
  right: 0;
/*  float: right; */
}

footer #negro div a img{
  width: 45px;
  max-width: 45px !important;
}

footer #gris{
  background-color: #2c2c2c;
  height: 96px;
  border-top: 2px solid #d47820;
}

footer #gris div{
  width: 940px;
  margin: 0 auto; 
}

footer #gris div img{
  padding: 0px 0;
  float: left;
}

footer #gris div ul{
  padding: 30px 15px;
  float: left;
  width: auto;
}

footer #gris div .redes{
  padding: 6px 0;
  float: right;
}

footer #negro ul{
  position: relative;
  left: -10px;
  top: 3px;
}

footer p{
  width: 940px;
  margin: 3px auto;
  color: #545454;
  font-size: 12px;
}

footer ul{
  width: 940px;
  margin: 0 auto;
}

footer li{
  color: #a0a0a0;
  display: inline-block;
  margin: 7px 0;
  *width: auto; /* ie7 */
  *float: left; /* ie7 */
}

footer li a{
  color: #a0a0a0;
  font-size: 12px;
  margin: 8px;
  text-decoration: none;
}

footer li .first{
  margin-left: 0;
}

footer li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.icon_facebook { background: transparent url(/img/web/clubcupon/new/images/redes.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter { background: transparent url(/img/web/clubcupon/new/images/redes.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss { background: transparent url(/img/web/clubcupon/new/images/redes.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo { background: transparent url(/img/web/clubcupon/new/images/redes.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google { background: transparent url(/img/web/clubcupon/new/images/redes.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }

.icon_facebook:HOVER { background: transparent url(/img/web/clubcupon/new/images/redes_hover.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter:HOVER  { background: transparent url(/img/web/clubcupon/new/images/redes_hover.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss:HOVER  { background: transparent url(/img/web/clubcupon/new/images/redes_hover.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo:HOVER  { background: transparent url(/img/web/clubcupon/new/images/redes_hover.png) -99px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google:HOVER  { background: transparent url(/img/web/clubcupon/new/images/redes_hover.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }

.icon_facebook:ACTIVE { background: transparent url(/img/web/clubcupon/new/images/redes_pressed.png) -33px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_twitter:ACTIVE { background: transparent url(/img/web/clubcupon/new/images/redes_pressed.png) 0 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_rss:ACTIVE { background: transparent url(/img/web/clubcupon/new/images/redes_pressed.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_correo:ACTIVE { background: transparent url(/img/web/clubcupon/new/images/redes_pressed.png) -132px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }
.icon_google:ACTIVE { background: transparent url(/img/web/clubcupon/new/images/redes_pressed.png) -66px 0 no-repeat; text-indent: -9999px; width: 30px; height: 30px; display: block; }


/* ------------------------------  OFERTA ----------------------------------------- */

#suscripcion {
  background-color: #ededed;
  width: 940px;
  height: 125px;
  margin: 10px 10px 29px;
}

#suscripcion h3{
    color: #454545;
    float: left;
    font-size: 24px;
    margin: 21px;
    width: 285px;
    margin-bottom:0px;
}

#suscripcion h3 span{
  font-size: 12px;
  display: block;
  clear: both;
  padding: 5px 0;
}

#suscripcion form{
  padding-top: 24px;
}

#suscripcion form input[type="text"] {
  padding: 0 10px;
  width: 190px;
  height: 34px;
  background-color: #FFF;
  border: 1px solid #bdbdbd;
  margin-right: 10px;
  position: relative\0/; /* ie8 hack */
  top: -9px\0/; /* ie8 hack */
}

:root #suscripcion form input[type="text"] {
  position: none\9; /* ie9 hack */
  top: 0\9; /* ie9 hack */
}

#suscripcion form input[type="submit"] {
  background: #d3811e url(/img/web/clubcupon/bg_ver_mas.png) repeat-x;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    padding: 0 15px;
    height: 36px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

#suscripcion form select{
  background-color: #f5f5f5;
  border: 1px solid #BDBDBD;
  margin-right: 10px;
  padding: 8px 9px 8px 25px;
  width: 218px;
  background: #FFFFFF url(/img/web/clubcupon/pick2.png) 7px center no-repeat;
}

.divisor {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid;
  clear: both;
  color: #DADADA; 
  width: 940px;
}

#detalle_fichas {
  width: 700px;
  margin: 0 20px 30px 10px;
  overflow: hidden;
  float: left;
}

#detalle_fichas h3 {
  font-size: 20px;
  color: #454545;
  margin: 22px 0 15px;
}

#detalle_fichas h1 {
  font-size: 30px;
  color: #202020;
/*  margin: 0 0 20px!important; */
}

#detalle_fichas .subtitle {
  margin: 0 0 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d3d3d3;
}

#comprar {
  width: 220px;
  margin-right: 20px;
  float: left;
}


#comprar .precio {
  font-size: 12px;
  color: #868686;
  text-transform: uppercase;
}
#comprar h3 a {
  color: #3d729e;
  text-decoration: none;
  font-size: 11px;
}
#comprar .precio span {
  font-size: 48px;
  color: #202020;
  display: block;
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0;
}
#comprar > a {
	background: url("/img/web/clubcupon/new/images/bg_comprar.png") repeat-x scroll 0 0 transparent;
	color: #fff;
	display: block;
	font-size: 25px;
	height: 60px;
	/*line-height: 58px;*/
	padding:18px 0px;
	margin: 15px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
	}

#comprar .descuento_valor {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
  overflow: hidden;
}
#comprar .descuento_valor p {
  width: 50%;
  float: left;
  overflow: hidden;
  height: 40px;
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
}
#comprar .descuento_valor p span {
  display: block;
  clear: both;
  color: #343434;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 9px;
}
#comprar .descuento_valor .oldPrice span {
  text-decoration: line-through;
}
#comprar #finaliza {
  margin: 0 0 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}
#comprar #finaliza p {
  color: #868686;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
#comprar #finaliza span {
  color: #e45205;
  font-size: 21px;
}
.horas-num {
  display: none;
}
.clock {
  display: none;
}
#comprar #finaliza .countDownFull {
  /*color: #222222;*/
  color: #e45205;
}

#comprar #ubicacion {
  margin: 0 0 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 15px;
  color: #868686;
}
#comprar #ubicacion div {
  background: transparent url(/img/web/clubcupon/new/images/pick.png) 5px 4px no-repeat;
  float: left;
  height: 17px;
  margin-right: 5px;
  width: 14px;
  text-indent: -9999px;
}
#comprar #ubicacion span {
  font-size: 13px;
  font-weight: normal;
}
#comprar #ubicacion p {
  font-size: 13px;
  margin-top: 12px;
  line-height: 15px;
}
#comprar #pasos_compra p {
  margin: 10px 0;
  color: #868686;
  font-size: 13px;
  line-height: 15px;
}
#comprar #pasos_compra p span {
  font-weight: bold;
  color: #414141;
}
#comprar #pasos_compra p a{
  color: #3d729e;
  text-decoration: none;
}

#comprar .redes{
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 15px;
  margin: 0 0 15px;
}

#comprar .redes li{
  display: inline-block;
  margin-right: 10px;
}

#ficha {
  width: 460px;
  float: right; 
/*  margin: 12px 0; */
  color: #626262;
  font-size: 13px;
}

#ficha .mensaje{
  background: transparent url("/img/web/clubcupon/bg_negro.png") repeat;
  color: #FFFFFF;
  float: right;
  font-size: 40px;
  padding: 65px 10px;
  position: absolute;
  text-align: center;
  width: 440px;
}

#ficha .mensaje a{
  background: url("/img/web/clubcupon/tooltip.png") no-repeat center center transparent;
  display: block;
  left: 417px;
  position: relative;
  text-indent: -9999px;
  top: 60px;
  width: 30px;
  height: 30px;
}
#ficha .mensaje h2 {
  float: none;
}
#ficha .mensaje h3 {
  float: none;
  margin: 20px 0 0;
  width: auto;
  color: #ffffff;
}

#ficha a { 
  color: #3d729e;
  text-decoration: none;
}

#ficha h3 {
  width: 460px;
/*  float: right; */
  margin: 18px 0 12px;
}
#ficha p {
  font-size: 13px;
  color: #626262;
  margin: 12px 0;
  line-height: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
#ficha #txt_ver_mas { display: none; }
#ficha #despliega_ver_mas {
  font-size: 13px;
  color: #0098CA;
  text-decoration: none;
}

#ficha p a{ 
  color: #3d729e;
  text-decoration: none;
}

#ficha .container {
  width: 100%;
  overflow: hidden;
  height: 99px;
  line-height: 17px;
}
#ficha .container .adsGeneral {
  margin-top: 25px; 
}

#ficha .verMas,
#ficha .verMenos {
  display: block;
  padding: 10px 0;
  color: #3d729e; 
  font-size: 15px;  
  cursor: pointer; 
}


#ficha .vigencia {
  font-weight: bold;
}

.forma_pago img {
  float: left;
}
#ficha .forma_pago p {
  color: #6F6F6F;
  display: block;
  font-size: 12px;
  height: 21px;
  line-height: 19px;
  text-align: right;
  margin: 5px 0 10px;
}
.forma_pago p a {
  font-size: 11px;
  color: #3d729e;
  text-decoration: none;
}

/* deal view sidebar - banners - most viewed */
#sidebar {
  float: right;
  width: 230px;
  height: auto;
  margin-right: 0px;
}

#sidebar ul li {
  margin-bottom: 10px;
}


#sidebar .tiempo_libre {
  width: 220px;
/*  height: 200px; */
}

#sidebar .tiempo_libre ul li {
/*  border: 1px solid #ECEBEB; */
  margin-bottom: 15px;
}

#sidebar .tiempo_libre ul li p {
  background-color: #ECEBEB;
  color: #454545;
  display: block;
  font-size: 16px;
  font-weight: lighter;
  height: 65px;
  line-height: 20px;
  padding: 10px;
  text-align: left;
  width: 198px;
}


#sidebar .mas_vistas {
  background-color: #f3f3f3;
  height: auto;
  width:230px;
  /*overflow-y:scroll;*/ 
}

#sidebar .mas_vistas h2 {
  color: #333333;
  font-size: 20px;
  padding: 10px 10px 0;
}

#sidebar .mas_vistas li {
  /*padding: 0 10px;*/
  margin: 15px 0 6px;
  overflow: hidden;
}
#sidebar .mas_vistas li a {
  text-decoration: none;
  color: #000000;
}
#sidebar .mas_vistas li a:hover {
  color: #E45205;
}
#sidebar .mas_vistas li a img {
  float: left;
/*  cursor: pointer; */
}

#sidebar .mas_vistas li a .content {
  float: right;
  width: 95px;
  font-size: 13px;
/*  cursor: pointer; */
}
#sidebar .mas_vistas li a .content span {
  font-weight: bold;
}

#banners ul li {
	margin-bottom: 10px;
}

#banners #mas_vistas {
	background-color: #f3f3f3;
	overflow: hidden;
}

#banners #mas_vistas h2 {
	color: #333333;
	font-size: 20px;
	padding: 10px 10px 0;
}

#banners #mas_vistas li {
	padding: 0 10px;
	margin: 15px 0 6px;
	overflow: hidden;
}

#banners #mas_vistas li img {
	float: left;
	cursor: pointer;
}

#banners #mas_vistas li p {
	float: right;
	width: 95px;
	font-size: 12px;
	cursor: pointer;
}
#banners #mas_vistas li p:hover {
	color: #E45205;
}

#banners #mas_vistas li p span {
	font-weight: bold;
}
/* ------------------------------  CATEGORIAS ----------------------------------------- */

#ruta_filtro {
  overflow: hidden;
  margin-bottom: 15px;
}
#ruta_filtro ul{
  float: left;
}
#ruta_filtro ul li{
  display: inline-block;
  font: normal 13px Arial,Helvetica,sans-serif;
  color:#297ca8;
  margin: 9px 0;
}
#ruta_filtro ul li a{
  text-decoration:none;
  display: inline-block;
  font: normal 13px Arial,Helvetica,sans-serif;
  color:#297ca8;
  margin: 9px 0;
}
#ruta_filtro div p{
  float: right;
  font: normal 13px Arial,Helvetica,sans-serif;
  color:#666;
  margin: 9px;
}
#ruta_filtro div p span{
  font-weight: bold;
}
#ruta_filtro div select{
  background-color: #f2f2f2;
  float: right;
  border: 1px solid #CCC;
  color: #666;
  padding: 7px;
}
#sin_resultado {
  width: 100%;
  font-size: 24px;
  background-color: #ffe1ab;
  text-align: center;
  color: #666;
  padding:17px;
  margin-bottom: 15px;
}
#sin_resultado span {
  display: block;
  font-size: 13px;
  margin: 6px 0 4px;
}

#resultado_busqueda {
  position: absolute;
  width: 220px;
  height: 446px;
  margin-left: 10px;
  /*z-index: -1;*/
}

#resultado_busqueda ul li{
  margin: 8px 0px 6px 20px; 
}

.selected span {
    background-color: #C0C0C0;
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    margin-right: 20px !important;
    padding: 5px 2px 5px 8px;
    width: 155px;
}

#resultado_busqueda .itemU-class {
    left: 0px;
    position: relative;
    top: -26px;
}

#resultado_busqueda a{
  text-decoration: none;
  font-size: 12px;
  margin: 5px 0;
  color: #0088CC;
}

#resultado_busqueda .cant{
  font-size: 12px;
  margin: 5px 0;
  color: #666;
}

#resultado_busqueda input{
   background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: -3px;
    padding: 4px 6px;
    vertical-align: middle;
}

#resultado_busqueda .block-title{
  font-weight: bold;
  font-size:14px;
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #CCCCCC;
}

#resultado_busqueda .title_top{
  margin-top: 17px;
}


#resultado_busqueda .btn{
  position: relative;
  top: -5px;
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-top: 7px;
    padding: 3px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}


#menu_vertical_check {
  position: absolute;
  width: 220px;
  height: 446px;
  margin-left: 10px;
}

#menu_vertical_check p {
  font-size: 16px;
  color: #171717;
  font-weight: normal;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#menu_vertical_check ul{
  list-style: none;
  margin:0;
  padding:0;
  width:220px;
}
#menu_vertical_check ul li ul{
  width:240px;
}
#menu_vertical_check ul li{
  margin:0;
  width: 220px;
  /*padding:5px;*/
}
#menu_vertical_check ul li a{
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 10px;
  display: block;
  text-decoration: none;
  color :#171717;
  font: normal 14px Arial,Helvetica,sans-serif;
  background: #FFF url(/img/web/clubcupon/new/images/arrow.png) no-repeat center right;
  line-height: 1.3em;
}
#menu_vertical_check ul li ul a{
  margin-top:2px;
  padding-left: 20px;
  display:block;
  text-decoration: none;
  color:#171717;
  font-size:12px;
  height:25px;
  font-weight: normal;
  background: none;
}

#menu_vertical_check ul li ul a:hover{
  background: #ECEBEB;
}

#menu_vertical_check ul li ul{
  display:none;
}

#destacado-categoria {
  float: right;
  margin: 0 6px 20px 15px;
  width: 706px;
}

#destacado-categoria img{
  float: left;
}

#destacado-categoria div{
  float: right;
  padding: 15px 0 15px 15px;
  width: 225px;
}

#destacado-categoria div h3 {
  color: #626262;
  font-size: 16px;
  margin-bottom: 15px;
}

#destacado-categoria div p {
  color: #626262;
  font-size: 13px;
  margin-bottom: 15px;
  line-height: 16px;
}

#destacado-categoria div .precio {
  color: #CD782B;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 0 10px 0 0;
  margin-bottom: 30px;
}

#destacado-categoria div .precio span {
    color: #535353;
    font-size: 18px;
    font-weight: lighter;
    margin-right: 10px;
    text-decoration: line-through;
}


#destacado-categoria div a {
  background: url("/img/web/clubcupon/new/images/bg_ver_mas.png") repeat-x scroll 0 0 transparent;
  color: #eaeaea;
  display: block;
  font-size: 20px;
  height: 33px;
  line-height: 29px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 125px;
  float: right;
}

#destacado-categoria div a:hover {
  background: url("/img/web/clubcupon/new/images/bg_ver_mas_hover.png") repeat-x scroll 0 0 transparent;
  color: #FFF;
}

#destacado-categoria .ubicacion { padding: 0; }
#destacado-categoria .ubicacion p {
  color: #868686;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 0;
  text-align: left;
  line-height: 17px;
}

#content h1 {
  border-bottom: 1px solid #d3d3d3;
  color: #454545;
  font-size: 37px;
  margin: 10px 10px 23px;
  padding: 0 0 15px;
}
/*#content h3 {
    margin: 22px 0 15px;
}*/

.categorias {
  clear: both;
  float: right;
  height: auto;
  width: 724px;
}

#cupones {
    margin-bottom: 15px;
    /*overflow: hidden;*/
}

#cupones #item_categorias{
  background-color: #ECEBEB;
  border: 1px solid #E0DFDF;
  cursor: pointer;
  float: left;
  height: 265px;
  margin: 4px 4px 20px 11px;
  width: 224px;
  }
  #cupones #item_categorias > img {
    width: 100%;
    }
  #cupones #item_categorias:hover {
    background-color: #f7f5f5;
    }

#cupones #item_categorias h3{
  color: #454545;
  font-size: 15px;
  line-height: 19px;
  padding: 10px 10px 0;
  *font-weight: normal; /* ie7 */
}

#cupones #item_categorias .ubicacion p{
  color: #868686;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-align: left;
  padding: 10px;
}

#cupones #item_categorias .ubicacion img{
  padding: 8px 0 0 0;
}

/* ficha de listado contando el <a href...>
*/
#cupones #item_categorias a > img {
    width: 100%;
    }
  #cupones #item_categorias:hover {
    background-color: #f7f5f5;
    }

#cupones #item_categorias a h3{
  color: #454545;
  font-size: 15px;
  line-height: 19px;
  padding: 10px 10px 0;
  *font-weight: normal; /* ie7 */
}

#cupones #item_categorias a .ubicacion p{
  color: #868686;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-align: left;
  padding: 10px;
}

#cupones #item_categorias a .ubicacion img{
  padding: 8px 0 0 0;
}
/**/


.pagination {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 30px;
  float:right;
}

.pagination ul {
  margin-bottom: 30px;
  clear: both;
  padding-left: 12px;
  float: right;
}

.pagination ul li{
    line-height: 20px;
    padding: 4px 6px;
    text-decoration: none;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 5px 0 0;
    min-width: 14px;
    text-align: center;

}

.pagination ul li a{
  text-decoration: none;
  color: #0088CC;
  font-weight: lighter;
}

.pagination ul .active{
  text-decoration: none;
  color: #666;
  font-weight: normal;
}/**/


#resultado_busqueda {
/*  position: absolute; */
  width: 220px;
/*  height: 446px; */
/*  margin-left: 10px; */
}

#resultado_busqueda .filter-categories {
  margin-top: 15px;
}


#resultado_busqueda ul li{
  margin: 3px 0px 6px 20px; 
}

#resultado_busqueda .selected span {
    background-color: #C0C0C0;
/*     border-radius: 5px; */
    display: inline-block;
    font-size: 14px;
/*     margin-bottom: 4px; */
/*     margin-right: 20px !important; */
/*     padding: 5px 2px 5px 8px; */
    width: 155px;
}

#resultado_busqueda .itemU-class {
/*     left: 150px; */
    position: relative;
    top: -2px;
}

#resultado_busqueda a{
  text-decoration: none;
  font-size: 12px;
  margin: 5px 0;
  color: #0088CC;
}

#resultado_busqueda .cant{
  font-size: 12px;
  margin: 5px 0;
  color: #666;
}

#resultado_busqueda input {
    background-color: #FFFFFF;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    /*margin-bottom: 10px;*/
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
    color: #555555;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 0;
    
    -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#resultado_busqueda .block-title{
  font-weight: bold;
  font-size:14px;
  margin-bottom: 7px;
}

#resultado_busqueda .btn {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    display: inline-block;
  position: relative;
  top: -5px;
    margin-bottom: 0;
    padding: 3px 12px;
    vertical-align: middle;
}

#cupones p{
  color: #cd782b;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 20px;
  padding: 4px 10px 10px;
}

#cupones .precio{
  color: #cd782b;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 20px;
  padding: 4px 10px 10px;
  position: absolute;
  text-align: right;
  right: 0px;
  bottom: 0;
}


#cupones p span{
  color: #535353;
  font-size: 18px;
  font-weight: lighter;
  margin-right: 10px;
  text-decoration: line-through;
}


/* ------------------------------  LOGIN / REGISTRO ----------------------------------------- */

#content .registro {
  border-bottom: 1px solid #D3D3D3;
  color: #454545;
  font-size: 14px;
  margin: 0 10px 23px;
  padding: 0 0 15px;
  }
  #content .registro a {
    color: #4d7aa3;
    text-decoration: none;
    }
  #content .registro span {
    font-size: 32px;
    }

#content .modulo_registro,
#content .modulo_login {
  border-right: 1px solid #D3D3D3;
  width: 469px;
  float: left;
  margin-left: 10px;
  margin-bottom: 130px;
  }

#content .modulo_registro.last,
#content .modulo_login.last {
  border-right: none;
  width: 460px;
  text-align: center;
  }
  #content .modulo_registro.last p,
  #content .modulo_login.last p {
    font-size: 20px;
    color: #454545;
  }
  
  #facebookLoginButton {
    background: #3c5998 url(/img/web/clubcupon/facebook.jpg) 13px center no-repeat;
    display: block;
    width: 204px;
    height: 44px;
    margin: 40px auto;
    line-height: 43px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px;
  }
  #facebookLoginButton:ACTIVE {
    background: #2f477a url(/img/web/clubcupon/facebook.jpg) 13px center no-repeat;
  }
/* login */
.modulo_login form {
  color: #626262;
  font-size: 13px;
  padding: 0 30px;
}

.modulo_login form .email{
    width: 100%;
    }
  .modulo_login form .email input{
    width: 394px;
    }
.modulo_login form input[type="submit"] {
/*  background: url("/img/web/clubcupon/bg_ver_mas.png") repeat-x scroll 0 0 #D3811E; */

  background: #ec8300; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjODMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNDZjMTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ec8300 0%, #d46c18 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec8300), color-stop(100%,#d46c18)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ec8300 0%,#d46c18 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec8300', endColorstr='#d46c18',GradientType=0 ); /* IE6-8 */

  border: medium none;
  color: #FFFFFF;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  font-weight: lighter;
  height: 48px;
  padding: 0 40px;
  float: right;
  margin-top: 0;
  margin-right: 13px;
  cursor: pointer;
}
.modulo_login form input[type="submit"]:HOVER {
  background: #ff7a04;
}
.modulo_login form input[type="submit"]:ACTIVE {
  background: #c6681e; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2NjgxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDdjMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #c6681e 0%, #dd7c13 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6681e), color-stop(100%,#dd7c13)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c6681e 0%,#dd7c13 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6681e', endColorstr='#dd7c13',GradientType=0 ); /* IE6-8 */
}


.modulo_login form div {
/*  height: 80px; */
  margin: 10px 0;
  clear: both;
  }
  .modulo_login form div img {
    float: left;
  }
  .modulo_login form div label {
     display: block;
      margin: 2px 0 6px;
  }
  .modulo_login form div input {
    border: 1px solid #D3D3D3;
      display: block;
      height: 18px;
      padding: 8px 0;
      margin-bottom: 10px;
  }

.modulo_login form .login {
  text-decoration: none;
  font-size: 11px;
  color: #315d7f;
  padding: 0 0 15px;
  display: block;
}



.modulo_registro form {
  color: #626262;
  font-size: 13px;
  padding: 0 30px;
}

.modulo_registro form .input {
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 10px;
  }
  .modulo_registro form .input label{
    display: block;
    margin: 2px 0 6px;
    }
  .modulo_registro form .input input{
    border: 1px solid #D3D3D3;
    display: block;
    height: 34px;
    width: 93%;
    }
    
.modulo_registro form .email-container {
  clear: both;  
  overflow: hidden;
} 
.modulo_registro form .email-container .input {
  width: 100%;
}
.modulo_registro form .email-container .input input {
  width: 96.5%;
}
/*  .modulo_registro form .email{ */
/*    width: 100%; */
/*    } */
/*  .modulo_registro form .email input{ */
/*    width: 394px; */
/*    } */
.modulo_registro form input[type="submit"] {
  font-size: 18px;
  height: 48px;
  padding: 0 15px;
  float: right;
  margin-top: 30px;
  margin-right: 13px;
}

.modulo_registro form .captcha-container {
  overflow: hidden;
  clear: both;
  margin-bottom: 15px;
}
.modulo_registro form .captcha-container label {
  display: block;
}
.modulo_registro form .captcha-container .input #UserCaptcha {
  margin: 10px 0 0 0;
  height: 43px;
}

.modulo_registro form .captcha {
/*  display: inline-block; */
  float: left;
  height: 45px;
  margin: 10px 10px 0 0;
  border: 1px solid #D3D3D3;
}
  .modulo_registro form .captcha img {
    float: left;
    display: inline-block;
  }
  .modulo_registro form .captcha label {
    clear: both;
    display: block;
    float: left;
    margin: 8px 0 6px;
    width: 100%;
  }
  .modulo_registro form .captcha input {
    border: 1px solid #D3D3D3;
    float: right;
    height: 41px;
    margin-bottom: 10px;
    margin-right: 13px;
    width: 43%;
  }
  .modulo_registro form .captcha-right {
    display: inline-block;
  }
  .modulo_registro form .captcha .captcha-right .captcha-reload {
    display: inline-block;
  /*  margin-bottom: 4px; */
  }
  .modulo_registro form .captcha .captcha-right img {
    padding: 4px 0;
  }


.modulo_registro form .check,
.modulo_login form .check  {
  font-size: 13px;
  color: #868686;
  display: inline-block;
  margin: 4px 0;
}

.modulo_registro form .terms a {
  text-decoration: none;
  color: #3d729e;
}

.modulo_registro form .terms {
  clear: both;
}

.modulo_registro form .terms .input {
  float: none;
  width: auto;
  margin-bottom: 10px;
}

.modulo_registro form .terms .input input {
  display: inline-block;
  height: auto;
  width: auto;
  margin: 0 5px 0 0;
  vertical-align: middle;
  border: none;
}
.modulo_registro form .terms .input label {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}



/* extra login */
.errorMessage {
  margin: 0 0 10px;
  color: #dd0000;
}

.modulo_login form .sessionClose  * {
  display: inline-block;
  float: none;
  width: auto;
  height: auto;
  margin: 0 0 5px;
  vertical-align: middle;
}

/* extra registracion */
.error-message {
  color:red;
/*  text-align: right; */
  line-height: 16px;
}

/******* forgot pass y recupero pass *******/
#content .modulo_registro.forgot-pass {
  text-align: left;
}
#content .modulo_registro.forgot-pass p.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  white-space: nowrap;
}
#content .modulo_registro.forgot-pass .input {
  width: auto;
  float: none;
}
#content .modulo_registro.forgot-pass .input input {
  width: 386px;
}
/* ----------------------------------------- POPUP ----------------------------------------- */

/* #cc-popup { */
/*  width: 620px; */
/*  height: 460px; */
/*  background-color: #FFF; */
/* } */

/* #cc-popup img{ */
/*  border: 0; */
/* } */

/* #cc-popup form { */
/*  background-color: #E4E4E4; */
/*  height: 52px; */
/*  padding: 18px; */
/*  width: 584px; */
/*  position: relative; */
/*  top: -2px; */
/* } */

/* #cc-popup form a{ */
/*  width: 100%; */
/*  clear: both; */
/*  display: block; */
/*  color: #315D7F; */
/*  font-size: 11px; */
/*  padding: 8px 0; */
/*  text-decoration: none; */
/* } */

/* #cc-popup form input[type="submit"]{ */
/*  background-color: #3a3a3a; */
/*  background-image: none; */
/*  border: none; */
/*  width: 124px; */
/*  height: 37px; */
/*  font-family: 'Roboto', sans-serif; */
/*  font-size: 18px; */
/*  color: #FFF; */
/*  font-weight: lighter; */
/*  position: relative; */
/*  top: 2px; */
/* } */

/* #cc-popup form input[type="email"]{ */
/*  background-color: #FFFFFF; */
/*  border: 1px solid #BDBDBD; */
/*  height: 34px; */
/*  margin-right: 10px; */
/*  padding: 0 10px; */
/*  width: 190px; */
/* } */

/* #cc-popup form select { */
/*  background: url("/img/web/clubcupon/pick2.png") no-repeat scroll 7px center #FFFFFF; */
/*  border: 1px solid #BDBDBD; */
/*  margin-right: 10px; */
/*  padding: 8px 9px 8px 25px; */
/*  width: 218px; */
/* } */

/* #cc-popup article .suscribirme { */
/*  background: url("/img/web/clubcupon/facebook.jpg") no-repeat scroll 13px center #475995; */
/*  border-radius: 3px; */
/*  color: #FFFFFF; */
/*  display: block; */
/*  font-size: 14px; */
/*  font-weight: normal; */
/*  height: 41px; */
/*  line-height: 42px; */
/*  margin: 8px 0 0 10px; */
/*  text-decoration: none; */
/*  width: 183px; */
/*  padding: 0 0 0 45px; */
/*  float: left; */
/* } */

/* #cc-popup article p { */
/*  float: left; */
/*  line-height: 57px; */
/*  margin-left: 70px; */
/* } */

/* #cc-popup .redes{ */
/*  float: right; */
/*  margin-right: 20px; */
/*  } */
/*  #cc-popup .redes li{ */
/*    display: inline-block; */
/*    margin: 15px 2px 0; */
/*    } */

/* ------------------------------ PROCESO DE COMPRA ----------------------------------------- */

#content .compra {
  border-bottom: 1px solid #D3D3D3;
  color: #454545;
  font-size: 14px;
  margin: 0 10px 23px;
  padding: 0 0 15px;
  }
  #content .compra a {
    color: #4d7aa3;
    text-decoration: none;
    float: right;
    display: block;
    margin-top: 16px;
    }
  #content .compra span {
    font-size: 32px;
    }

/* .modulo_opciones_compra { */
/*  margin: 0 10px 30px;  */
/*  } */
/*  .modulo_opciones_compra img { */
/*    float: left; */
/*    } */
/*  .modulo_opciones_compra > p { */
/*    color: #666666; */
/*    float: right; */
/*    font-size: 18px; */
/*    height: 91px; */
/*    line-height: 21px; */
/*    width: 790px; */
/*    } */
/*  .modulo_opciones_compra h2 { */
/*    color: #202020; */
/*    font-size: 20px; */
/*    clear: both; */
/*    padding: 20px 0; */
/*    } */
/*  .modulo_opciones_compra h3 { */
/*    color: #414141; */
/*    font-size: 13px; */
/*    font-weight: bold; */
/*    padding: 0 0 5px; */
/*    border-bottom: 2px solid #888888; */
/*    } */
/*  .modulo_opciones_compra h3 span { */
/*    left: 400px; */
/*    position: relative; */
/*    } */

/* .modulo_opciones_compra li { */
/*  color: #202020; */
/*  font-size: 15px; */
/*  padding: 20px 0; */
/*  border-bottom: 1px solid #e4e4e4; */
/*  height: 30px; */
/*  } */
/*  .modulo_opciones_compra li p{ */
/*    width: 50%; */
/*    float: left; */
/*    line-height: 27px; */
/*    } */
/*  .modulo_opciones_compra li span{ */
/*    width: 20%; */
/*    display: block; */
/*    float: left; */
/*    line-height: 27px; */
/*    } */
/*  .modulo_opciones_compra li a{ */
/*    float: right; */
/*    } */

.btn_comprar {
  background: url("/img/web/clubcupon/bg_ver_mas.png") repeat-x scroll center 0 #D3811E;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  font-weight: lighter;
  height: 23px;
  width: 90px;
  padding-top: 7px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.modulo_compra {
  margin: 0 10px 23px; 
  }
  .modulo_compra h3 {
    color: #414141;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 5px;
    border-bottom: 2px solid #888888;
    }
  .modulo_compra h3 span {
    margin-left: 170px;
    }
  .modulo_compra h3 span:first-child {
    margin-right: 135px;
    margin-left: 0;
    }
  .modulo_compra ul {
    overflow: hidden;
    }
  .modulo_compra li {
    margin: 17px 0;
    }
  .modulo_compra li img {
    margin: 0 17px 0 0;
    float: left;
    }
  .modulo_compra li p {
    float: left;
    height: 51px;
    margin: 0 17px 0 0;
    width: 265px;
    color: #202020;
    font-size: 15px;
    line-height: 21px;
    }
  .modulo_compra li input {
    border: 1px solid #D3D3D3;
    display: block;
    height: 34px;
    margin-bottom: 10px;
    width: 70px;
    float: left;
    }
  .modulo_compra li .min_max {
    width: 125px;
    color: #868686;
    font-size: 12px;
    padding-left: 10px;
    line-height: 18px;
    }
  .modulo_compra .valor_cupon_real {
    float: left;
    color: #202020;
    font-size: 15px;
    font-weight: normal;
    line-height: 0;
    }
  .modulo_compra .valor_cupon {
    color: #202020;
    float: left;
    font-size: 20px;
    font-weight: normal;
    padding-left: 245px;
    line-height: 0;
    }
  .modulo_compra h2 {
    border-bottom: 1px solid #D3D3D3;
    color: #454545;
    font-size: 20px;
    margin: 40px 0 23px;
    padding: 0 0 15px;
    }
  .para_comprar {
    clear: both;
    color: #868686;
    display: block;
    font-size: 13px;
    margin-top: 5px;
    }

.modulo_registro #avanza_compra input[type="submit"] {
  background: url("/img/web/clubcupon/bg_ver_mas.png") repeat-x scroll 0 0 #D3811E;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  font-weight: lighter;
  height: 44px;
  margin-right: 13px;
  margin-top: 9px;
  padding: 0 15px;
}

#form_compra_3 {
  float: left;
  margin-bottom: 130px;
  margin-left: 10px;
  width: 469px;
}

#form_compra_3 input[type="submit"] {
  background: url("/img/web/clubcupon/bg_ver_mas.png") repeat-x scroll 0 0 #D3811E;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  font-weight: lighter;
  height: 44px;
  margin-right: 31px;
  margin-top: 30px;
  padding: 0 15px;
}

#form_compra_3 input[type="email"] {
  border: 1px solid #D3D3D3;
  display: block;
  height: 34px;
  margin-bottom: 10px;
  width: 93%;
}

#form_compra_3 h3 {
  color: #343434;
  font-size: 15px;
}

#form_compra_3 h3 a {
  padding: 15px;
}

#form_compra_3 label {
  color: #626262;
  font-size: 13px;
  padding: 15px 0 6px;
  display: block;
}

#form_compra_3 a {
  color: #315d7f;
  font-size: 11px;
  text-decoration: none;
  padding: 10px 0;
}

#proceso_compra_4 p {
  color: #868686;
  float: left;
  font-size: 13px;
  padding: 0 43px;
  text-align: center;
  width: 40%;
}
#proceso_compra_4 p span {
  font-weight: bold;
  margin: 15px 0;
  display: block;
}

/* #contentBackground { */
/*     padding-top: 20px; */
/* } */


/* jquery ui overrides */
.ui-autocomplete a {
  font-size: 13px;
  
}



@media (min-width:1200px){
  .span9.results {
    width: 700px;
  } 
}


/* super extra compatibilidad */
#cboxContent #cboxLoadedContent {
  margin-bottom: 0;
}
#cboxContent #cboxLoadedContent iframe {
  overflow: hidden !important;  
}

#cboxContent #cboxClose {
  background: none;
  width: 100px;
  bottom: -18px;
  right: 0;
  padding: 8px 0;
  font-size: 11px;
  color: #315D7F;
}


/* extra */

/* Carteles de aviso, error y exito que devuelve la plataforma */

#successMessage, #errorMessage, #authMessage, #flashMessage{
    height: 30px;
    padding: 4px 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color:#fff;
}

#errorMessage, #authMessage{background:#ff3300;}

#successMessage{background:#B6E026;}

#flashMessage{background:#057FA6;}


/*botones */





/* ------------------------------ CUBCUPON NOW ----------------------------------------- */

#dealnowmap{
  margin-top:10px;
}
#ccnow .modulo-colizq{
  margin: 0;
}

#ccnow .modulo-colizq .textouno{
    border-bottom: 1px solid #DDDDDD;
    float: left;
    margin: -100px 230px 0;
    padding: 0 0 5px;
    width: 240px;
}
#ccnow .modulo-colizq .textouno p{
    color: #B0B0B0;
    font: 13px/18px arial;
    margin: 0 0 10px;
    width: 228px;
}

#ccnow .modulo-colizq .textouno h4{
    font: 17px arial;
    margin: 0 0 10px;
}
#ccnow .modulo-colizq .texto{
    border-bottom: 1px solid #DDDDDD;
    float: left;
    margin: -165px 230px 0;
    padding: 0 0 5px;
    width: 240px;
}
#ccnow .logonewccnow{
  position:relative;
}

#ccnow .logonewccnow img.logoya{
    float: left;
    padding: 0px 34px;
}

#ccnow .logonewccnow h2.potencialesc{
    color: #DDDDDD;
    display: block;
    float: left;
    font: 22px arial;
    letter-spacing: 0.2px;
    padding: 30px 100px 30px 0;
    width: 600px;
}

#ccnow .modulo-colizq .texto p{
    color: #B0B0B0;
    font: 13px/18px arial;
    margin: 0 0 10px;
    width: 228px;
}

#ccnow .modulo-colizq .texto h4{
    font: 17px arial;
    margin: 0 0 10px;
}

#ccnow .modulo-colizq img{
    float: left;
    padding: 24px 0 0 20px;
}

.mb10px {
  margin: 0 0 30px 0;
}

.h150 {
  height: 156px;
}

.h100 {
  height: 100px;
}

.modulo-colder{
    background: none repeat scroll 0 0 #F0F0F0;
    margin: 100px 18px 18px 28px;
    padding: 20px 20px 35px;
    width: 320px;
}
.blq-conoce p.conocermas{
    font: 21px arial;
    margin: 9px auto 0;
    text-align: center;
    width: 210px;
}

.blq-conoce p.conocermas span{
    color:#168bb3;
}

.btn-naranja2{
    background: url("/img/theme_clean/bg-comprar.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #E3671A;
    color: white;
    cursor: pointer;
    display: block;
    font: bold 20px arial;
    padding: 7px 10px;
    text-align: center;
    text-shadow: 1px 1px #9F6904;
}
#colorbox .bloque-ccya-pop2 p.title{
    color: black;
    font: 23px arial;
    margin: 0 20px;
    }

#colorbox .bloque-ccya-pop2 img{
    margin: 0 20px 10px;
    }

#colorbox .bloque-ccya-pop2 p{
    font: 13px arial;
    margin: 5px 0 10px 20px;
    width: 450px;
    }

#colorbox .bloque-ccya-pop2{
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #BBBBBB;
    margin: 10px;
    padding: 10px;
    }

#colorbox .bloque-ccya-pop2 a{
    color: black;
    float: right;
    color: #666666;
    }

#colorbox .bloque-ccya-pop2 p.title span {
    color: #EF951A;
    }

#colorbox .bloque-ccya-pop2 .texto{
    border: 1px solid #C7C7C7;
    font: 12px arial;
    height: 340px;
    margin: 0 20px;
    max-height: 340px;
    max-width: 500px;
    min-height: 340px;
    min-width: 500px;
    padding: 5px;
    width: 500px;
  overflow: auto;
}

#colorbox .contenedor-popup-recib .conte-check{
    margin: 0 auto;
    width: 550px;
    }

#colorbox .contenedor-popup-recib label{
    font: 14px arial;
    margin: 0 5px;
    }

#colorbox .contenedor-popup-recib input.continuar{
    background: url("/img/theme_clean/bg-oferta.jpg") repeat scroll 0 33px transparent;
    border: medium none;
    display: block;
    font: bold 15px arial;
    margin: 10px auto;
    padding: 8px 20px;
    width: 140px;
}
/*************************************************/


/***** banners home *****/
#content .banner {
  text-align: center;
}

#destacado .banner {
  position: relative;
  top: -95px;
}

.homeBanners {
  margin: 10px 10px;
/*  height: 140px; */
  text-align: center;
}

.homeBanners1 .banner {
  display: inline-block;
  margin-left: 11px;  
}
.homeBanners1 .banner:first-child {
  margin-left: 0;
}
.homeBottom950x100 {
  margin: auto;
  /*float:left;*/
  text-align: center;
}


/***** bloque social *****/ 
.homeBottom {
  margin: 0 10px 20px;
}

/***compatibilidad ***/
#content .bloque-h-social {
    float: left;
    margin-left: 18px;
  
}
#content .bloque-h-social:FIRST-CHILD {
  margin-left: 0;
} 
  
#content .bloque-h-social a {
  text-decoration: none;
  color: #0098CA;
}

#content  .social-tw{
    background: none repeat scroll 0 0 #E0E0E0;
    border: 1px solid #7FDDF9;
    border-radius:0;
    float: left;
    padding: 5px;
    width: 290px;
}

#content img.logocctw{
  margin: 9px;
}

#content  .social-tw .tw-head{
    background: none repeat scroll 0 0 #1D93BB;
    border-radius: 5px 5px 0 0;
    height: 55px;
}

#content  .social-tw h3 a{
    color: #303030 !important;
    font: bold 13px arial;
}

#content  .social-tw h4 a{
    color: #0098CA !important;
    font: bold 11px arial;
}

#content  .twtr-hd {
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
}

#content  .twtr-tweet-text p{
  font: 11px arial;
}

#content  .twtr-tweet-text a{
  font: 11px arial;
}

#content .twtr-ft div{
    background: url("/img/theme_clean/tw-logomini.jpg") no-repeat scroll 240px 7px #303030;
  padding: 7px;
}


#content .twtr-ft a{
    float: right;
    height: 20px;
    margin: 0 15px 0 0;
    text-indent: -999px;
    width: 30px;
}

#content .twtr-ft span a{
    display: none;
    height: 10px;
    text-indent: -9999px;
    width: 20px;
}

#content .twtr-ft a img{
  display:none;
}

#content .twtr-ft div {
    background: url("/img/theme_clean/tw-logomini.jpg") no-repeat scroll 240px 7px #303030;
}

#content .twtr-widget {
    border: 1px solid #82bcd0;
    border-radius: 0px 0px 5px 5px;
    font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif !important;
    font-size: 12px !important;
    position: relative;
}

#content .bloque-h-social .centroatencion,#content .bloque-h-social .agregarcc,#content .bloque-h-social .bannerccya{
    border: 1px solid #e2e1e1;
    display: block;
/*     padding: 2px; */
    width: 301px;
/*  margin: 0 0 10px; */
}

#content .bloque-h-social .centroatencion .centroat-contenido,#content .bloque-h-social .centroatencion .agregarcc-contenido{
/*     background: none repeat scroll 0 0 #E9E9E9; */
    padding: 10px;
}


#content .bloque-h-social .centroatencion .centroat-contenido {
    background: url("/img/web/clubcupon/banner_home_atencion_cliente.jpg") no-repeat 0 0;
    height: 169px;
}
#content .bloque-h-social .centroatencion .centroat-contenido h2 {
/*     background: none repeat scroll 0 0 transparent; */
  width: 175px;
    color: #da6d12;
  font-family: "Roboto";
    font-weight: 300;
    font-size: 21px;
    margin: 0 0 5px;
    padding: 15px 0 15px;
    text-align: left;
}
#content .bloque-h-social .centroatencion .centroat-contenido h3 {
    width: 175px;
    padding: 0 0 15px;
    font-size: 12px;
    color: #666666;
    white-space: nowrap;
}
#content .bloque-h-social .centroatencion .centroat-contenido a {
    background: url("/img/theme_clean/btn-bg-blue.jpg") repeat scroll 0 0;
    display: block;
    float: left;
    width: 87px;
    margin: 10px 0 0;
    padding: 10px 15px;
  font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    opacity: 1;
}
#content .bloque-h-social .centroatencion .centroat-contenido a:HOVER {
  opacity: 0.9; 
}

#content .bloque-h-social .agregarcc {
  margin-top: 20px;
}
#content .bloque-h-social .agregarcc-contenido {
  padding: 25px 10px;
}

#content .bloque-h-social .agregarcc .agregarcc-contenido a {
    background: url("/img/web/clubcupon/banner_empresa_refresh.png") no-repeat 0 0;
    display: block;
  font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
/*     margin: 10px 0; */
    padding: 5px 0 10px 50px;
}
#content .bloque-h-social .bannerccya {
  width: 299px;
}


#content .bloque-h-social iframe{
  width: 300px !important;
  height: 292px !important;
  border-bottom: 1px solid #aaaaaa !important;
}
/*******/


/*** ccya popup TYC ***/
#cboxContent #cboxClose.cerrarPopupTyC {
    position: absolute;
    width: 45px;
    height: 20px;
    top: -10px;
    left: auto;
    right: 6px;
    font-size: 15px;
    font-weight: bold;
}

/* banner link */
#banner_link {
    color: #148caf;
    text-decoration:none;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    display: block;
/*     box-sizing: border-box; */
/*     padding-left: 20px; */
    height: 2em;
    width: 586px;  
}
#con_banner_link {
   position: relative;
   width: 960px;
   margin: 0 auto;
   top: -122px;
   left: 20px;
   text-align: left;
/*    margin-left: 20%\9; Only IE8 */
   /* display: inline-block; */
}
#con_banner_link #banner_link {
    padding-left: 0px;
}

@media all and (max-width:1600px) and (min-width:1400px) {
   #con_banner_link {
     margin-left: 20%;
   }
} 
@media all and (max-width:1400px) and (min-width:1200px) {
   #con_banner_link {
     margin-left: 15%;
   }
} 
@media all and (max-width:1200px) and (min-width:1150px) {
   #con_banner_link {
     margin-left: 10%;
   }
} 

.title_principal {
    border-bottom: 1px solid #CCCCCC;
    color: #454545;
    font-size: 37px;
    margin: 10px;
    padding: 0 0 18px;
    width: 940px;
}

.title_principal_bg {
    background-color: #DFDFDF;
    color: #454545;
    font-size: 24px;
    margin: 0 10px 10px;
    padding: 18px 0;
    width: 940px;
    text-align: center;
}

.title_principal_bg a {
    color: #315d7f;
    font-size: 11px;
    text-decoration: none;
}


#content_interna {
    background-color: #DFDFDF;
    height: 600px;
    margin: 0 10px;
    width: 940px;
    margin: 0 10px 45px;
}

#title_naranja {
    float: left;
    width: 550px;
    height: 310px;
    text-align: center;
    margin: 100px 0 100px; 
}

#title_naranja p {
    color: #da6d12;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 40px;
}

#title_naranja p span {
    font-weight: lighter;
    display: block;
    clear: both;
    margin: 10px 0;
}

#title_naranja .redes {
    line-height: 28px;
    margin-top: 40px;
}
#title_naranja .redes .first {
    margin-right: 8px;
}
#title_naranja .redes li {
    display: inline-block;
}

#title_naranja input {
    background: #666 url(/img/web/clubcupon/bg_btn_lightbox.jpg) repeat-x;
    font-weight: lighter;
    color: #FFF;
    border: none;
    padding: 6px 32px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.noDealsResult {
    background-color: #FFE1AB;
    color: #535652;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 11px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.noDealsTryDeals {
    background-color: #FFE1AB;
    color: #535652;
    font-size: 14px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    text-align: center;
}

.noDealsTryDeals a {
    font-size: 14px;
    color: #7096A9;
    text-decoration: none;
    font-weight: bolder;
}

.noDealsTryDeals a:hover{
    color: #000;    
}

div#ubicacion .pin {
    background: url("/img/web/clubcupon/pick.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    float: left;
    height: 12px;
    margin-right: 2px;
    text-indent: -9999px;
    width: 8px;
}

.desplegable div ol {
  margin: 15px 0 0;;
  padding: 0;
}

.desplegable.top div ol li {
  line-height: 14px;
  margin: 0;
  padding: 0;
}

* html div ol li {
    position: relative;
}

.desplegable div ol li.column1 { margin-left: 0px; }
.desplegable div ol li.column2 { margin-left: 200px; }
.desplegable div ol li.column3 { margin-left: 400px; }
.desplegable div ol li.column4 { margin-left: 600px; }

.desplegable div ol li.reset { margin-top: -181px; }

.desplegable div ol li a {
  display: block;
  width: 180px;
  text-decoration: none;
  color: #454545;
  font-size: 14px;
  padding: 8px 15px;
}
.desplegable div ol li a:hover {
  color: #FFF !important;
  background-color: #E77E05 !important;
}
.desplegable.top div { /*width: 300px;*/}

.desplegable.top.TresColumnas { width: 852px; }
.desplegable.top.DosColumnas { width: 652px; }
.desplegable.top.UnaColumna { width: 452px; }
.desplegable.top.CuatroColumnas { width: 1052px; }

.desplegable.menu.TresColumnasSP { width: 1070px; }
.desplegable.menu.DosColumnasSP { width: 880px; }
.desplegable.menu.UnaColumnaSP { width: 680px; }
.desplegable.menu.CuatroColumnasSP { width: 1052px; }

#condVerMas{
  margin-top:10px;
  font-size: 13px;
  color: #3D729E;
  text-decoration: none;
}
#condVerMenos{
  margin-top:-5px;
  font-size: 13px;
  color: #3D729E;
  text-decoration: none;
}

#descVerMas{
  margin-top:10px;
  font-size: 13px;
  color: #3D729E;
  text-decoration: none;
}

#descVerMenos{
  margin-top:-5px;
  font-size: 13px;
  color: #3D729E;
  text-decoration: none;
}

#logout-eplanning{
  margin-top:-20px;
  margin-left:10px;
}

.logout-links{
  color: #454545;
  font-size: 14px;
  margin-top: -11px;
  left: 50%;
  margin-left: 10px;
}

.logout-links a{
  color: #4d7aa3;
  text-decoration: none;
}


#mobileAd{
        display:none;
        position:absolute;
        z-index:99;
        top:50px;
        width:560px;
    margin-left:0px;
}
        
#mobileAd .ad{
        height:90px;
        width:560px;
        padding:14px 20px;
        background: #fffde3;
        border-radius: 20px;
        border:2px solid #e3c624;
        position: relative;
}
            
#mobileAd .ad .close{
        position: absolute;
        right: -8px;
        width: 36px;
        height: 34px;
        background: #fff;
        top: -8px;
        border-radius: 46px;
}
            
#mobileAd .ad .logoIcon{
        width: 46px;
        height: 48px;
        float: left;
        margin: 20px 0;
}
#mobileAd .ad .text {
        width: 305px;
        margin: 5px 215px 5px 65px;
        padding-top: 10px;
}
#mobileAd .ad .text, #mobileAd .ad .text a{
        font-size: 17px!important;
        color:#395596;                    
}
#mobileAd .ad .text a{
     font-weight: bold;
}
                
#mobileAd .ad .downloadLink {
         float:right;
         width:170px;
         margin-top:15px;
}
#mobileAd .ad .downloadLink a{
         height:15px;
         border-radius: 15px;
         display:block;
         width:126px;
         color:#fff;
         font-weight: bold;
         padding: 15px 22px 22px 22px;
         font-size: 18px;
         text-align: center;
                   
         background: #45494f; /* Old browsers */
         background: -moz-linear-gradient(top, #45494f 0%, #020203 100%); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45494f), color-stop(100%,#020203)); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top, #45494f 0%,#020203 100%); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top, #45494f 0%,#020203 100%); /* Opera 11.10+ */
         background: -ms-linear-gradient(top, #45494f 0%,#020203 100%); /* IE10+ */
         background: linear-gradient(to bottom, #45494f 0%,#020203 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45494f', endColorstr='#020203',GradientType=0 ); /* IE6-9 */
                   
}

/* facebook suscripccion */
/* .detailFBSuscrip { */
/*     margin: 15px 0 15px 10px !important; */
/*     width: 950px !important; */
/* } */

#labelFBAcount {
    position:absolute; 
    margin-top: 25px; 
    margin-left:200px;
}

#fbBtnDealDetailCont {
    margin-left: 695px;
    margin-top: 5px;
    position: absolute;
}

.fbBtnDealDetail {
    margin: 0px !important;
    cursor: pointer; 
    padding-left: 20px;
}

/**** ccya nueva landing usuarios ***/
#banner-us {
  width: 100%;
  background-color: #e8e8e8;
  height: 128px;
  text-align: center;
}

#como_funciona {
    margin: 0 auto;
    padding: 7px 10px;
    width: 940px;
    }
    #como_funciona p{
      font-size: 15px;
      margin: 20px 0 70px;
      line-height: 19px;
      }
    #como_funciona span {
      font-weight: 500;
      }
    #como_funciona h1 {
      border-bottom: 1px solid #d3d3d3;
      font-size: 32px;
      color: #454545;
      padding: 0 0 8px;
      }

#pasos_comprar {
  margin-top: 30px;
  }
  #pasos_comprar ul{
    float: left;
    margin-right: 85px;
    width: 338px;
    }
  #pasos_comprar ul li h2{
    color: #4782ab;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    }
  #pasos_comprar ul li h3{
    color: #292929;
    font-size: 22px;
    margin: 12px 0 0;
    }
  #pasos_comprar ul li p{
    color: #1c1b1b;
    font-size: 14px;
    margin: 5px 0 30px;
    }

#listado_zonas  .sector_title {
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 500; 
}
#listado_zonas  .last_item {
  margin-bottom: 30px;
}

#listado_zonas {
  overflow: hidden;
  padding: 30px 0;
  }
  #listado_zonas ul{
    float: left;
    margin: 5px 60px 5px 0;
    }
  #listado_zonas ul li{
    margin: 5px 0;
    color: #2f2f2f;
    font-size: 14px; 
    }
  #listado_zonas img{
    float: right;
    margin-right: 20px;
    }

#descarga_app {
  background-color: #f0efef;
  overflow: hidden;
  padding: 20px;
  }
  #descarga_app div{
    width: 940px;
    margin: 0 auto;
    }
  #descarga_app div h3{
    float: left;
    color: #454545;
    font-size: 32px;
    padding: 7px 0;
    }
  #descarga_app div ul{
    float: right;
    }
  #descarga_app div ul li{
    display: inline-block;
    margin-left: 5px;
    }


/* esto se deja para que el boton naranja de esta landing tenga estilo nuevo antes de mergear con rediseÃ±o branch d9617
  eliminar despues y en el html del boton usar "btn-naranja" como class */  
.btn-naranja-landingus {
  background: #ec8300; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjODMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNDZjMTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ec8300 0%, #d46c18 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec8300), color-stop(100%,#d46c18)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ec8300 0%,#d46c18 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec8300', endColorstr='#d46c18',GradientType=0 ); /* IE6-8 */
    display: block;
  margin-top: 0;
  padding: 10px;
  font-family: 'Roboto',sans-serif;
  font-weight: lighter;
  text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #9F6904;
  color: #FFFFFF;
  cursor: pointer;
  border: medium none;  
}
.btn-naranja-landingus:HOVER {
  background: #ff7a04;
  color: #FFFFFF;
  text-decoration: none;
}
.btn-naranja-landingus:ACTIVE {
  background: #c6681e; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2NjgxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDdjMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #c6681e 0%, #dd7c13 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6681e), color-stop(100%,#dd7c13)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c6681e 0%,#dd7c13 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6681e', endColorstr='#dd7c13',GradientType=0 ); /* IE6-8 */
  color: #FFFFFF;
  text-decoration: none;
}
/* fin compatibilidad */

.btn_fix {
  width: 160px;
  margin: 40px auto;
  font-size: 23px;
  padding: 15px 10px 18px;
}

/*BANNER*/
#banner_ccya {
  background: rgba(0,0,0,.5) url(/img/web/clubcupon/baner_seccion_ccya.jpg) center center no-repeat;
  width: 940px;
  height: 212px;
}
#banner_ccya ul {
    float: right;
    margin-right: 25px;
    margin-top: 180px;
}
#banner_ccya ul li {
    display: inline-block;
    color: #4782AB;
    margin: 0 3px;
}
#banner_ccya ul li a {
    color: #4782AB;
    font-size: 16px;
    text-decoration: none;
}
#banner_ccya ul li a:hover {
    color: #333;
}

/* extras */
.adsGeneral {
  margin: 10px 0;
  text-align: center;
}

.btn-naranja {
  background: #ec8300; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjODMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNDZjMTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ec8300 0%, #d46c18 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec8300), color-stop(100%,#d46c18)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ec8300 0%,#d46c18 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ec8300 0%,#d46c18 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec8300', endColorstr='#d46c18',GradientType=0 ); /* IE6-8 */
    display: block;
  margin-top: 0;
  padding: 10px;
  font-family: 'Roboto',sans-serif;
  font-weight: lighter;
  text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #9F6904;
  color: #FFFFFF;
  cursor: pointer;
  border: medium none;  
}
.btn-naranja:HOVER {
  background: #ff7a04;
  color: #FFFFFF;
  text-decoration: none;
}
.btn-naranja:ACTIVE {
  background: #c6681e; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2NjgxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDdjMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #c6681e 0%, #dd7c13 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6681e), color-stop(100%,#dd7c13)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c6681e 0%,#dd7c13 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c6681e 0%,#dd7c13 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6681e', endColorstr='#dd7c13',GradientType=0 ); /* IE6-8 */
  color: #FFFFFF;
  text-decoration: none;
}

/* compatibilidad extraÃ±a con /pages */
.pages-container > p {
	font: 14px arial;
	}

.pages-container strong {
	font-weight: bold;
	}
