<table width = "768"  height = "224"  style = "background-image: url('<?php echo $this->webroot; ?>img/popup_circa/back.jpg'); background-repeat: no-repeat; background-position: center; font-size: 12px; font-family: Arial, Helvetica, sans-serif;"  align = "center"  border = "0"  cellpadding = "0"  cellspacing = "0">
  <tr>
    <td valign = "top">
      <form action = "<?php echo Router::url(array ('controller' => 'firsts', 'action' => 'circa', $deal_id)); ?>"  method = "post"  target = "_top">
        <div style = "float: left; margin-top: 120px; margin-left: 30px;">
          <b>Para ingresar aqu&iacute; necesitamos que completes el nombre de la empresa y el c&oacute;digo de acceso:</b>
        </div>
        <div style = "width: 300px; height: 80px; margin-top: 15px; float: left;">
          <span style = "margin-left: 30px;"><b>Compa&ntilde;&iacute;a:</b></span>
          <select name = "data[CIRCA][company]"  id = "select"  style = "width: 250px; height: 30px; margin-left: 30px; line-height: 30px; margin-top: 15px; padding-bottom: 3px; padding-top: 5px; border: 1px solid #CC6600; margin-top: 5px;">
            <?php
              $circa = array_keys (Configure::read ('CIRCA'));
              foreach ($circa as $company) {
                echo '<option value = "' . $company . '">' . $company . '</option>';
              }
            ?>
          </select>
        </div>
        <div style = "width: 300px; height: 80px; margin-top: 15px; float: left;">
          <span style = "padding-bottom: 10px;"><b>Ingres&aacute; tu c&oacute;digo:</b></span>
          <input style = "width: 280px; height: 25px; margin-top: 5px; border: 1px solid #CC6600;"  name = "data[CIRCA][code]"  type = "text" />
        </div>
        <input type = "image"  src = "<?php echo $this->webroot; ?>img/popup_circa/boton.jpg"  style = "background: none !important; border: 0; float: left; margin-top: 28px;" />
        <input type = "hidden"  name = "data[Deal][deal_id]"  value = "<?php echo $deal_id; ?>" />
      </form>
    </td>
  </tr>
</table>