<!--
    -- PopUp Cordoba Septiembre 2011
    --
  -->

<style>
input, select {
	border:1px solid #9E9CA1;
	padding:5px;
}
input.boton {
	background:url(http://static.clubcupon.com.ar/img/cordoba-09-2011/bg_boton.jpg) no-repeat;
	width:145px;
	height:35px;
	display:block;
	text-indent:-999em;
	cursor:pointer;
	border:none;
}
</style>
<form target="_top" method="post" action="/subscribeadd">
<br />
<table bgcolor="#fff" width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top" bgcolor="#fff"><table width="645" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" align="center"><img src="http://static.clubcupon.com.ar/img/cordoba-09-2011/top.jpg" width="645" height="132"></td>
        </tr>
        <tr>
          <td valign="top" align="center"><img src="http://static.clubcupon.com.ar/img/cordoba-09-2011/content.jpg" width="645" height="111"></td>
        </tr>
        <tr>
          <td><table style="background:url(http://static.clubcupon.com.ar/img/cordoba-09-2011/bg_select.jpg) no-repeat" width="100%" height="95" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="36%" align="right">
                    <input  name = "data[Subscription][email]" style="width:180px; float:none;" type = "text"  value = "Ingres&aacute; tu mail"  onclick = "this.value == 'Ingres&aacute; tu mail' ? this.value = '' : '';"  onblur = "this.value == '' ? this.value = 'Ingres&aacute; tu mail' : '';" />
                </td>
                <td width="35%" align="right">
                    <select name = "data[Subscription][city_id]"  style="margin-right:19px; float:none;" >
                    <?php foreach ($clubcupon->activeCitiesWithDeals () as $city):?>
                        <option
                            <?php if ($city ['City']['id'] == Configure::read ('Actual.city_id')): ?>
                                selected = "selected"
                            <?php endif; ?>
                            value = "<?php echo $city ['City']['id']; ?>"><?php echo $city ['City']['name']; ?>
                        </option>
                    <?php endforeach; ?>
                    </select>
                </td>
                <td width="29%">
                    <input src="http://static.clubcupon.com.ar/img/cordoba-09-2011/bg_boton.jpg" type="image" value="" style="width:145px; height:35px; display:block; padding:0; text-indent:-999em; cursor:pointer; border:none; ">
                    <!--<input class="boton" name="" type="button" value="SUMAME!">-->
                </td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="http://static.clubcupon.com.ar/img/cordoba-09-2011/footer.jpg" width="461" height="52"></td>
                <td><a href="http://www.facebook.com/clubcuponcba" target="_blank"><img src="http://static.clubcupon.com.ar/img/cordoba-09-2011/btn_facebook.jpg" width="47" height="52" border="0"></a></td>
                <td><a href="http://www.twitter.com/clubcuponcba"  target="_blank"><img src="http://static.clubcupon.com.ar/img/cordoba-09-2011/btn_twitter.jpg" width="137" height="52" border="0"></a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</form>
