<div class="bloque-pop clearfix" style="float:left;">
	
            <h2>La oferta est&aacute; agotada</h2>
            <p>En este momento La oferta est&aacute; agotada y no es posible recomendarla.</p>
            
</div>

<div style="float:right;">
                <img src="/img/popup_recommend/tag.png" />
            </div>
