<!--
  -- PopUp Estopa
  --
  -->
<!--
<div class = "box preBox prePopup">
    <table width = "625"  cellpadding = "0"  cellspacing = "0"  border = "0"  align = "center"  style = "font-family: Arial; font-size: 12px;">
        <tr valign = "top">
            <td>
                <table cellpadding = "0"  cellspacing = "0"  border = "0"  width = "644"  height = "389"  style = "background-image: url('<?php echo $this->webroot; ?>img/Estopa/back.png'); background-repeat: no-repeat">
                    <tr>
                        <td valign = "bottom">
                            <table width = "625"  height = "90"  style = "margin-top: 200px; background-image: url('<?php echo $this->webroot; ?>img/Estopa/cuestionario.png'); background-repeat: no-repeat; background-position: center"  align = "center">
                                <tr>
                                    <td valign = "top">
                                        <form action = "/subscribeadd"  method = "post"  target = "_top">
                                            <input type = "hidden"  name = "data[Subscription][city_id]"  type = "text"  value = "<?php echo Configure::read ('Actual.city_id'); ?>">
                                            <div align = "center"  style = "margin-top: 5px; margin-left: 34px; float: left;">
                                                <input style = "width: 325px; height: 35px; color: #999; font-size: 22px; font-family: Arial;"  name = "data[Subscription][email]"  type = "text"  value = "Ingres&aacute; tu dirección de mail"  onclick = "this.value == 'Ingres&aacute; tu dirección de mail' ? this.value = '' : '';"  onblur = "this.value == '' ? this.value = 'Ingres&aacute; tu dirección de mail' : '';" />
                                            </div>
                                            <div style = "float: right; margin-top: 5px; margin-right: 34px;">
                                                <input type = "image"  src = "<?php echo $this->webroot; ?>img/Estopa/participa2.png"  name = "Image4"  border = "0"  id = "Image4"  style = "background: none !important; border: none !important"/>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <div style = "margin-left: 15px; margin-top: 30px;">
                                <?php echo $html->link ('* Bases y Condiciones', array ('controller' => 'pages', 'action' => 'estopa'), array ('style' => 'color: #fff; text-decoration: none', 'target' => '_top')); ?>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
-->
<!--
  -- Fin de popUp Estopa
  --
  -->
<div class = "box preBox prePopup">
    <table id="Table_01" width=625 height=372 border=0 cellpadding=0 cellspacing=0 align="center">
        <tr>
            <td width=625 height=150>
                <img src="/img/promo_mil/promo_01.jpg" width=625 height=150 />
            </td>
        </tr>
        <tr>
            <td width=625 height=92>
                <img src="/img/promo_mil/promo_02.jpg" width=625 height=92 />
            </td>
        </tr>
        <tr>
            <td width=625 height=37>
                <img src="/img/promo_mil/promo_03.jpg" width=625 height=37 />
            </td>
        </tr>
        <tr>
            <td height=56>
                <form action = "/subscribeadd"  method = "post"  target = "_top">
                    <input type = "hidden"  name = "data[Subscription][city_id]"  type = "text"  value = "42550"></input>
                    <div style = "width: 380px; height: 56px; margin-top: 0px; float: left; background:url( /img/promo_mil/promo_04.jpg) no-repeat;">

                        <input style = "margin-left: 35px; margin-top: 15px; width: 330px; height: 23px; color: #999; font-size: 20px; font-family: Arial; background:none; border: none;"  name = "data[Subscription][email]"  type = "text"  value = "Ingres&aacute; tu dirección de mail"  onclick = "this.value == 'Ingres&aacute; tu dirección de mail' ? this.value = '' : '';"  onblur = "this.value == '' ? this.value = 'Ingres&aacute; tu dirección de mail' : '';" />
                    </div>
                    <div style = "float: right;">
                        <input type = "image"  src = "/img/promo_mil/promo_05.jpg"  name = "Image4"  border = "0"  id = "Image4"  style = "width: 238px; height: 56px; border: none !important; padding: 0"/>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td width=625 height=37>
                <div style = "margin-left: 30px; margin-top: 30px;"> <?php echo $html->link ('* Bases y Condiciones', array ('controller' => 'pages', 'action' => 'promo_mil'), array ('style' => 'color: #f25607 !important; text-decoration: none', 'target' => '_top')); ?> </div>
            </td>
        </tr>
    </table>
</div>