<div id="popup_recommend">

  <div class="left">
    <?php echo $html->image('popup_recommend/txt_mas_ofertas.png', array('class' => 'title')); ?><br /><br />
    <small>
      Busc&aacute; a tus amigos en tu cuenta de mail y compart&iacute; los beneficios de CLUB CUP&Oacute;N
    </small>
    <?php echo $form->create('Option2', array('url' => array('controller' => 'firsts', 'action' => 'option2'))); ?>
      <label>Proveedor:</label>
      <select class='thSelect' name='provider'>
        <option value="gmail">GMail</option>
        <option value="hotmail">Live/Hotmail</option>
        <option value="yahoo">Yahoo!</option>
        <?php
//              foreach ($oiServices['email'] as $provider=>$details) {
//                echo "<option value='{$provider}'>{$details['name']}</option>";
//              }
        ?>
      </select>
      <label>Email:</label>
      <input type="text" name="email"  autocomplete="off" />
      <label>Password:</label>
      <input type="password" name="password"  />
      <?php echo $form->submit(' ', array('class' => 'submit')); ?>
    <?php echo $form->end(); ?>
  </div>

  <div style=" margin: 10px 0 0 80px;  width: 370px; float:left;">
    <?php echo $html->image('popup_recommend/txt_comparti.png', array('class' => 'title')); ?>
    <small>
      Ingres&aacute; las direcciones de tus amigos manualmente
    </small>
    <?php echo $form->create('Option1', array('url' => array('controller' => 'firsts', 'action' => 'option1'))); ?>
      <label>Ingres&aacute; tu nombre</label>
      <input type="text" name="name"  autocomplete="off" />
      <label>Ingres&aacute; las direcciones separadas por una coma (,)</label>
      <textarea cols="" rows="" name="emails"></textarea>
      <?php echo $form->submit(' ', array('class' => 'submit')); ?>
    <?php echo $form->end(); ?>
  </div>
<div class="clear"></div>
  <?php echo $html->image('popup_recommend/banner_footer.jpg'); ?>

  
</div>